<div appBsModal #MeterAppStatusModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="estimateListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Meter Application Ready Status</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box mt-0">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>Meter Agreement Given To:</strong></label>
                                <div>
                                    <input type="text" class="form-control" [(ngModel)]="meterConnect.meterAgreementGivenTo">
                                    <span class="icon-box" style="top: 49px;"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>Meter Agreement No :</strong></label>
                                <div>
                                    <input type="text" class="form-control" [(ngModel)]="meterConnect.meterAgreementNo">
                                    <span class="icon-box" style="top: 49px;"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>Meter Agreement Sent Date :</strong></label>
                                <div>
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="agreementsentdDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                    <span class="icon-box" style="top: 49px;"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box mt-0">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3 form-group">
                                <label class="col-form-label"><strong>Meter Application Ready Status </strong></label>
                                <div>
                                    <select class="form-control" [(ngModel)]="meterConnect.meterApplicationReadyStatus" (change)="chnagestatus($event)">
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                        <option value="3">Submitted</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" [hidden]="!isMeterStatus">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>Meter Submissin Date *:</strong></label>
                                <div>
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="meterSubmittedDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                    <span class="icon-box" style="top: 49px;"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()"><i class="las la-times-circle"></i> {{
                    'Close' }}</button>
                <button type="button" class="btn btn-primary" (click)="submit();"><i
                        class="las la-save"></i> Update</button>
            </div>
        </div>
    </div>
</div>