<style>
    .modal-xl {
        max-width: 1030px !important;
    }
</style>
<div bsModal #selfCertificateTemplateModel="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="pdfTemplateModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog  modal-dialog-scrollable modal-xl pdfTemplateModel">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                    <div class="d-flex align-items-center">
                        <h4 class="modal-title me-3">
                            <span>Self Certificate</span>
                        </h4>
                        <button type="button" class="btn btn-primary" (click)="generatePdf()"><i class="las la-file-download"></i> DownLoad</button>
                        <!-- <a href="javascript:;" class="btn btn-primary" (click)="addActivityModal.show(62,1,0,37)">
                            <i class="las la-Email"></i>Send Quote
                        </a>                         -->
                    </div>
                    <button type="button" class="btn-close" (click)="close()"></button>
                </div>
            </div>
            <!-- <iframe id="fred" width="100%" height="750" [innerHtml]="htmlContentbidy"></iframe> -->
            <div class="modal-body modal-bg-gray py-0" style="max-height:85vh;">
                <div>
                    <div class="modal-white-box" [innerHtml]="htmlContentbidy"></div>
                </div>
            </div>
        </div>
    </div>
</div>