<div [@routerTransition]>
    <div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal"
        aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form #rejectReasonForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>{{l("RejectReason")}}</span>
                        </h4>
                        <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                            [disabled]="saving">
                        </button>
                    </div>
                    <div class="modal-body modal-bg-gray">
                        <div class="modal-white-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-form__group mb-4">
                                        <label for="rejectReasonId" class="form-label col-md-4">{{l("RejectReason")}}
                                            *</label>
                                        <div class="col-md-8">
                                            <select name="rejectReasonId" [(ngModel)]="RejectReasonId" required
                                                class="form-control">
                                                <option value="0">{{l("SelectARejectReason")}}</option>
                                                <option *ngFor="let item of allRejectReasons" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Notes" class="form-label">{{l("Notes")}} *</label>
                                        <textarea #rejectReason="ngModel" name="rejectReason" class="form-control "
                                            [(ngModel)]="RejectReason" required maxlength="4096"
                                            style="height:150px;"></textarea>
                                        <validation-messages [formCtrl]="rejectReason"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()"><i
                                class="las la-times-circle"></i> {{("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!rejectReasonForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                            <span>{{l("Save")}}</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>