<div appBsModal #DeliveryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Delivery</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>

            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box my-0">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label">
                                    <strong>Select Option:</strong>
                                </label>
                                <div>
                                    <select formcontrolname="replytype" class="form-control" [(ngModel)]="DeliveryPayment.paymentDeliveryOption">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>                                    
                                    </select>
                                    <span style="top:49px;" class="icon-box"><i class="las la-user-check"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.DeliverPaymentAddorEdit')" class="btn btn-primary" (click)="savePaymentDeliveryOption()">
                    <i class="las la-save"></i>
                    {{ 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>