<div appBsModal #DispatchStatusModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Dispatch Status</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>

            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box my-0">
                    <div class="row">
                        <label class="col-lg-12 col-form-label pt-0"><strong>Dispatch Cycle Status</strong></label>
                        <div class="col-lg-12">
                            <select class="form-control">
                                <option>Active</option>
                                <option>Dispatch Done</option>
                                <option>Pick List Done</option>
                                <option>De Active</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary">
                    <i class="las la-save"></i>
                    {{ 'Update' }}
                </button>
            </div>
        </div>
    </div>
</div>