<style>
    .lead-container {
        max-height: 63vh;
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Payment Issued' | localize" [count]="recordCount" [description]="'PaymentIssued' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" id="btnRefresh" #btnRefresh class="float-end refresh" (click)="getPaymentIssueList()"></button>
                            </div>
                            <div class="me-1" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.ExportToExcel')">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <div *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.ChangeOrganization')">
                                    <div class="me-2" *ngIf="organizationUnitlength > 0">
                                        <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getPaymentIssueList()">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="me-2">
                                <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="me-2">
                                <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Application Status" [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getPaymentIssueList()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getPaymentIssueList()"><i
                                            class="fas fa-times-circle"></i></a>
                                    <button (click)="getPaymentIssueList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>

                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>

                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <div class="content-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter" class="form-control" (change)="changeDiscom()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allCircleData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Circle" [(ngModel)]="CircleIdFilter" name="CircleIdFilter" class="form-control" (change)="changeCircle()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Division" (change)="changeDivision()" [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSubDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter" name="SubDivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" (change)="chaneSolarType()" bindValue="id" placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allEmployeeList" [multiple]="true" bindLabel="name" [(ngModel)]="employeeIdFilter" [closeOnSelect]="false" bindValue="id" placeholder="All Employee & CPName" name="EmployeeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.name}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="BillTypeFilter">
                                                        <option value="">Select Bill</option>
                                                        <option value="ss">SS</option>
                                                        <option value="stc">STC</option>
                                                        <option value="none">None</option>
                                                        <option value="both">Both</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allPaymentModeData" [multiple]="true" bindLabel="name" [(ngModel)]="PaymentModeIdFilter" [closeOnSelect]="false" bindValue="id" placeholder="All Payment Mode" name="PaymentModeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allPaymentTypeData" [multiple]="true" bindLabel="name" [(ngModel)]="PaymentTypeIdFilter" [closeOnSelect]="false" bindValue="id" placeholder="All Payment Type" name="PaymentTypeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control" [(ngModel)]="OwingAmountFromFilter" placeholder="Owing amount from"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control" [(ngModel)]="OwingAmountToFilter" placeholder="Owing amount to">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="FilterbyDate">
                                                        <option value="">Filter by Date</option>
                                                        <option value="depositereceived">Deposite Received</option>
                                                        <option value="billingdate">Billing Date</option>
                                                        <option value="installationcompleted">Installation Completed
                                                        </option>
                                                        <option value="lastpayment">Last Payment</option>
                                                        <!-- <option>Invoice Date</option>
                                                        <option>Installtion Completed</option> -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control me-2" bsDatepicker datePickerLuxonModifier [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="d-flex mt-3 justify-content-end">
                                                <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                        class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                <button type="submit" class="btn btn-primary" (click)="getPaymentIssueList()" ng-reflect-busy-text="Saving..."><i
                                                        class="fas fa-search"></i>
                                                    Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" [hidden]="FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total<span>{{paymentIssueSummaryCount.total}}</span>
                    </h2>
                </div>

                <div class="box-item job-type">
                    <h2>
                        Total Payment Recvied<span>{{paymentIssueSummaryCount.receivedAmount}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Balance Owing<span>{{paymentIssueSummaryCount.totalOwingAmount}}</span>
                    </h2>
                </div>

                <div class="box-item job-type">
                    <h2>
                        Feasiblity Approved<span>{{paymentIssueSummaryCount.feasiblityApproved}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Eastimate Paid (No. projects)<span>{{paymentIssueSummaryCount.eastimatePaid}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Kilowatt<span>{{paymentIssueSummaryCount.totalKilowatt}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Number of Panel<span>{{paymentIssueSummaryCount.totalPanel}}</span>
                    </h2>
                </div>
            </div>
        </div>
        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <div class="primeng-datatable-container">
                                            <div class="p-datatable">
                                                <div class="p-datatable-wrapper">
                                                    <p-table #dataTable sortMode="multiple" (onLazyLoad)="getPaymentIssueList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="false" [scrollable]="true"
                                                        ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th pFrozenColumn style="width:90px !important; border-right:0 !important;">
                                                                    Action</th>
                                                                <th pFrozenColumn style="width: 165px" pSortableColumn="projectNumber">
                                                                    {{ 'Project Number' | localize }}
                                                                    <p-sortIcon field="projectNumber"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 165px" [hidden]="!ExpandedView" pSortableColumn="leadStatus">
                                                                    Lead Status
                                                                    <p-sortIcon field="leadStatus"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="ApplicationStatus">Application Status
                                                                </th>
                                                                <th style="width: 220px" [hidden]="!ExpandedView" pSortableColumn="customerName">
                                                                    Customer Name
                                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 130px" [hidden]="!ExpandedView" pSortableColumn="mobileNumber">Mobile
                                                                    <p-sortIcon field="mobile"></p-sortIcon>
                                                                </th>
                                                                <th [hidden]="!ExpandedView" style="width: 150px">Total Project Cost</th>
                                                                <th [hidden]="!ExpandedView" style="width: 150px">Owing Amount
                                                                </th>
                                                                <th [hidden]="!ExpandedView" style="width: 150px">Last Payment Date</th>
                                                                <th [hidden]="!ExpandedView" style="width: 150px">
                                                                    Advance Payment</th>
                                                                <th [hidden]="!ExpandedView" style="width: 100px">SS
                                                                </th>
                                                                <th [hidden]="!ExpandedView" style="width: 100px">STC
                                                                </th>
                                                                <th [hidden]="!ExpandedView" style="width: 100px">
                                                                    Delivery</th>
                                                                <th [hidden]="!ExpandedView" style="width: 160px">Next Followup Date</th>
                                                                <th [hidden]="!ExpandedView" style="width: 250px">
                                                                    Followup Description</th>
                                                                <th [hidden]="!ExpandedView" style="width: 250px">
                                                                    Comment</th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-record="$implicit">
                                                            <tr id="selectcustomer" [pSelectableRow]="record">
                                                                <td pFrozenColumn style="width:90px !important; border-right:0 !important;">
                                                                    <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                                        <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                                            <i class="las la-ellipsis-v"></i>
                                                                        </button>
                                                                        <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                                            <li role="menuitem">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="invoiceIssuedDetailModal.GetPaymentQuickViewmodelOpen(record.paymentIssue)">
                                                                                    <i class="las la-eye"></i>Quick View
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.Reminder')">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentIssue.leaddata.id,3,0,37)">
                                                                                    <i class="las la-bell"></i>Reminder
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.Notify')">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentIssue.leaddata.id,4,0,37)">
                                                                                    <i class="las la-comment"></i>Notify
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.Comment')">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentIssue.leaddata.id,5,0,37)">
                                                                                    <i class="las la-comment"></i>Comment
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.ToDoList')">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentIssue.leaddata.id,6,0,37)">
                                                                                    <i class="las la-tasks"></i>To Do List
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.STCBillPaymentPDFView')">
                                                                                <a href="javascript:;" *ngIf="record.paymentIssue.is_STC_payment" class="dropdown-item" (click)="paymentBillTemplateModel.show(record.paymentIssue.leaddata, 'STC' )">
                                                                                    <i class="las la-file-pdf"></i>STC
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.SSBillPaymentPDFView')">
                                                                                <a href="javascript:;" *ngIf="record.paymentIssue.is_SS_payment" class="dropdown-item" (click)="paymentBillTemplateModel.show(record.paymentIssue.leaddata , 'SS')">
                                                                                    <i class="las la-file-pdf"></i>SS
                                                                                </a>
                                                                            </li>

                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.RemoveBillSSorSTC') && record.paymentIssue.is_STC_payment || record.paymentIssue.is_SS_payment">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="RemoveBillDoModal.GetPaymentBillRemovemodelOpen(record.paymentIssue)">
                                                                                    <i class="las la-trash"></i>Remove Bill
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.DispatchStatus')">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="DispatchStatusModal.GetPaymentDispatchStatusmodelOpen(record.paymentIssue)">
                                                                                    <i class="las la-dolly-flatbed"></i>Dispatch Status
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td pFrozenColumn style="width: 165px" class="gridleadimage" id="selectcustomer" (click)="navigateToLeadDetail(record);">{{ record.paymentIssue.projectNumber }}
                                                                </td>

                                                                <td [hidden]="!ExpandedView" style="width:165px;">
                                                                    <span class="badge badge-pill {{record.paymentIssue.leadStatusColorClass}}">{{record.paymentIssue.leadStatusName}}</span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="text-align:center; width:200px;">
                                                                    <span *ngIf="record.paymentIssue.applicationStatusdata != null" class="badge badge-pill {{record.paymentIssue.applicationStatusdata.applicationStatusLabelColor}}">{{record.paymentIssue.applicationStatusdata.applicationStatusName}}</span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 220px">
                                                                    <span style="text-transform: capitalize;">{{record.paymentIssue.customerName
                                                                        }}</span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 130px">
                                                                    <span class="badge badge-secondary">{{record.paymentIssue.mobile
                                                                        }}</span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 150px">
                                                                    <span class="badge badge-info"><i
                                                                            class="fas fa-rupee-sign fs-6 me-1"></i>
                                                                        {{record.paymentIssue.totalProjectCost | number
                                                                        : '1.2' }}</span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 150px">
                                                                    <span class="badge badge-danger"><i
                                                                            class="fas fa-rupee-sign fs-6 me-1 text-white"></i>
                                                                        {{record.paymentIssue.balanceOwing | number :
                                                                        '1.2' }}</span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 150px">
                                                                    {{record.paymentIssue.lastPaymentDate | date: 'dd-MM-YYYY'}}
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 150px">
                                                                    <span class="badge badge-success"><i
                                                                            class="fas fa-rupee-sign fs-6 me-1 text-white"></i>
                                                                        {{record.paymentIssue.advancePayment | number :
                                                                        '1.2' }}</span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="text-align:center; width:100px;">
                                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.SSBillPaymentView'); else SSelseBlock" (click)="SSModal.GetSSmodelOpen(record.paymentIssue)"><i
                                                                            [ngClass]="[ record.paymentIssue.is_SS_payment == true ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"></i>
                                                                    </a>
                                                                    <ng-template #SSelseBlock>
                                                                        <i [ngClass]="[ record.paymentIssue.is_SS_payment == true ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"></i>
                                                                    </ng-template>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="text-align:center; width:100px;">
                                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.STCBillPaymentView'); else STCelseBlock" (click)="STCModal.GetSTCmodelOpen(record.paymentIssue)">
                                                                        <i [ngClass]="[ record.paymentIssue.is_STC_payment == true ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"></i>
                                                                    </a>
                                                                    <ng-template #STCelseBlock>
                                                                        <i [ngClass]="[ record.paymentIssue.is_STC_payment == true ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"></i>
                                                                    </ng-template>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="text-align:center; width:100px;">
                                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.DeliveryPaymentView'); else DeliveryelseBlock" (click)="DeliveryModal.GetDeliverymodelOpen(record.paymentIssue)"><i
                                                                            [ngClass]="[ record.paymentIssue.paymentDeliveryOption == true ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"></i>
                                                                    </a>
                                                                    <ng-template #DeliveryelseBlock>
                                                                        <i [ngClass]="[ record.paymentIssue.paymentDeliveryOption == true ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"></i>
                                                                    </ng-template>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 160px">
                                                                    <span class="badge badge-pill badge-secondary lg-font" *ngIf="record.paymentIssue.follwDate > 0">
                                                                        <i class="las la-calendar fs-2 me-1"></i>
                                                                        {{record.paymentIssue.follwDate | date:
                                                                        'dd-MM-YYYY'}}
                                                                    </span>
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width: 250px">
                                                                    {{record.paymentIssue.followDescription}}</td>
                                                                <td [hidden]="!ExpandedView" style="width:250px;">
                                                                    <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.paymentIssue.comment}}" style="text-transform: capitalize;">
                                                                        {{record.paymentIssue.comment}}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                        {{ 'NoData' | localize }}
                                                    </div>
                                                    <div class="primeng-paging-container">
                                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPaymentIssueList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                                        </p-paginator>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<addActivityModal #addActivityModal></addActivityModal>
<invoiceIssuedDetailModal #invoiceIssuedDetailModal></invoiceIssuedDetailModal>
<RemoveBillDoModal #RemoveBillDoModal></RemoveBillDoModal>
<DispatchStatusModal #DispatchStatusModal></DispatchStatusModal>
<DeliveryModal #DeliveryModal></DeliveryModal>
<STCModal #STCModal></STCModal>
<SSModal #SSModal></SSModal>
<paymentBillTemplateModel #paymentBillTemplateModel></paymentBillTemplateModel>