<div appBsModal #RemoveBillDoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Remove Bill</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>

            <div class="modal-body">
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-check form-switch form-check-custom form-check-solid">
                            <input type="checkbox" id="SS" class="form-check-input" [(ngModel)]="IS_SS_Payment">
                            <label for="SS" class="form-check-label"> SS Bill</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-switch form-check-custom form-check-solid">
                            <input type="checkbox" id="STC" class="form-check-input" [(ngModel)]="IS_STS_Payment">
                            <label for="STC" class="form-check-label"> STC Bill</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="RemoveSSorSTCPayment()">
                    <i class="las la-trash"></i>
                    {{ 'Remove' }}
                </button>
            </div>
        </div>
    </div>
</div>