<div appBsModal #STCModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>STC</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>

            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box my-0">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label">Enter Date:</label>
                                <div>
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" [(ngModel)]="stcpaymentDate" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="STCPayment.stcDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                    />
                                    <span style="top:49px;" class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label">
                                    <strong>Approved By:</strong>
                                </label>
                                <div>
                                    <select class="form-control" [(ngModel)]="STCPayment.stcPaymentApprovedById">
                                        <option [ngValue]="undefined">Select Manager</option>
                                        <option *ngFor="let item of allUsers" value="{{item.value}}">{{item.displayName}}
                                        </option>
                                    </select>
                                    <span style="top:49px;" class="icon-box"><i class="las la-user-check"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 row align-items-center">
                                <label class="col-lg-12 col-form-label">
                                    <strong>Notes:</strong>
                                </label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" [(ngModel)]="STCPayment.stcNotes" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" *ngIf="permission.isGranted('Pages.Tenant.Accounts.PaymentIssued.STCBillAddorEdit')" class="btn btn-primary" (click)="saveSTCPayment()" [disabled]="STCPayment.stcDate == undefined || STCPayment.stcDate == null"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>