<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <sub-header [title]="'DispatchType' | localize" [count]="recordCount"
                [description]="'DispatchTypeHeaderInfo' | localize"></sub-header>
            <div class="form" style="margin-left: auto;">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getDispatchType()">
                                </button>
                            </div>
                            <div class="me-3" *ngIf="'Pages.Tenant.DataVaults.DispatchType.ExportToExcel'">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                                        class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"
                                        aria-controls="dropdownMenuExcelOperations">
                                        {{ 'ExcelOperations' | localize }}
                                    </button>
                                    <ul id="dropdownMenuExcelOperations"
                                        class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu"
                                        *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportProjectTypeToExcelButton"
                                                (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i>
                                                {{ 'ExportToExcel' | localize }}
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button (click)="createDispatchType()"
                                    *ngIf="'Pages.Tenant.DataVaults.DispatchType.Create' | permission"
                                    class="btn btn-primary">
                                    <span class="me-2">{{ 'New' | localize }} </span><i class="las la-plus-circle"></i>                                   
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                    type="text" />
                                                <a class="btnclearsearch" *ngIf="filterText"
                                                    (click)="filterText='';getDispatchType()"><i
                                                        class="fas fa-times-circle"></i></a>
                                                <button (click)="getDispatchType()" class="btn search-btn"
                                                    type="submit">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getDispatchType($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both"
                            [scrollable]="true" styleClass="p-mt-3"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center actionwidth" style="width:90px;" [hidden]="
                                            !(
                                                [
                                                    'Pages.Tenant.DataVaults.DispatchType.Edit',
                                                    'Pages.Tenant.DataVaults.DispatchType.Delete'
                                                ] | permissionAny
                                            )
                                        ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 300px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 350px" pSortableColumn="creationTime">
                                        {{ 'CreatedDate' | localize }}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width:90px;" [hidden]="!(
                                                [
                                                    'Pages.Tenant.DataVaults.DispatchType.Edit',
                                                    'Pages.Tenant.DataVaults.DispatchType.Delete'
                                                ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left"
                                            container="body">
                                            <button id="dropdownButton" type="button"
                                                class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle
                                                aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                            </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu
                                                aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.DispatchType.Edit' | permission"
                                                    role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item"
                                                        (click)="createOrEditDispatchTypeModal.show(record.dispatchType.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.DispatchType.Delete' | permission"
                                                    role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item"
                                                        (click)="deleteDispatchType(record.dispatchType)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 40%">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{
                                        record.dispatchType.name }}
                                    </td>
                                    <td style="width: 350px">
                                        <span class="p-column-title">{{ 'createdDate' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.dispatchType.createdDate |
                                            luxonFormat: 'F' }}</span>
                                    </td>

                                    <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.dispatchType.isActive">
                                            {{ 'Yes' | localize }}
                                        </span>
                                        <span class="badge badge-dark" *ngIf="!record.dispatchType.isActive">
                                            {{ 'No' | localize }}
                                        </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getDispatchType($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
        <createOrEditDispatchTypeModal #createOrEditDispatchTypeModal (modalSave)="getDispatchType()">
        </createOrEditDispatchTypeModal>
    </div>
</div>