<div appBsModal #editModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #tenantEditForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()" *ngIf="tenant && active">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'EditTenant' | localize }}: {{ tenant.tenancyName }}</span>
                    </h5>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>

                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    <label for="Name">{{ 'TenantName' | localize }} *</label>
                                    <input id="Name" #nameInput="ngModel" type="text" name="Name" class="form-control" [ngClass]="{ edited: tenant.name }" [(ngModel)]="tenant.name" required maxlength="128" />
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="currentConnectionString">
                                <div class="">
                                    <label for="DatabaseConnectionString">{{ 'DatabaseConnectionString' | localize }} *</label>
                                    <input id="DatabaseConnectionString" #connectionStringInput="ngModel" type="text" name="ConnectionString" class="form-control" [(ngModel)]="tenant.connectionString" required maxlength="1024" />
                                    <validation-messages [formCtrl]="connectionStringInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 mb-3">
                                <div class="">
                                    <label for="edition">{{ 'Edition' | localize }}</label>
                                    <select id="edition" name="edition" class="form-control" [(ngModel)]="tenant.editionId" (change)="onEditionChange()">
                                        <option *ngFor="let edition of editions" [value]="edition.value">
                                            {{ edition.displayText }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div *ngIf="currentConnectionString" class="col-md-12">
                                <div class="alert alert-warning mt-3">
                                    <span class="help-block">
                                        {{ 'TenantDatabaseConnectionStringChangeWarningMessage' | localize }}
                                    </span>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="modal-white-box">
                        <label class="form-check form-check-custom form-check-solid py-1" [hidden]="!isSubscriptionFieldsVisible">
                            <input
                                id="CreateTenant_IsUnlimited"
                                type="checkbox"
                                name="IsUnlimited"
                                [(ngModel)]="isUnlimited"
                                class="form-check-input"
                                (ngModelChange)="onUnlimitedChange()"
                            />
                            <span class="form-check-label">
                                {{ 'UnlimitedTimeSubscription' | localize }}
                            </span>
                        </label>

                        <div [hidden]="isUnlimited || !isSubscriptionFieldsVisible" class="mb-5 mt-2" [ngClass]="{ 'has-error': !subscriptionEndDateUtcIsValid }">
                            <label for="SubscriptionEndDateUtc">{{ 'SubscriptionEndDateUtc' | localize }}</label>
                            <input id="SubscriptionEndDateUtc" type="datetime" #SubscriptionEndDateUtc name="SubscriptionEndDateUtc" class="form-control" bsDatepicker datePickerLuxonModifier (dateChange)="subscriptionEndDateChange($event)" [(date)]="tenant.subscriptionEndDateUtc"
                                [bsConfig]="{ adaptivePosition: true }" [required]="!isUnlimited" style="max-width:300px;" />
                        </div>

                        <label class="form-check form-check-custom form-check-solid py-1" [hidden]="isUnlimited || !isSubscriptionFieldsVisible">
                            <input
                                id="CreateTenant_IsInTrialPeriod"
                                type="checkbox"
                                name="IsInTrialPeriod"
                                [disabled]="selectedEditionIsFree()"
                                [(ngModel)]="tenant.isInTrialPeriod"
                                class="form-check-input"
                            />
                            <span class="form-check-label">
                                {{ 'IsInTrialPeriod' | localize }}
                            </span>
                        </label>
                        <label class="form-check form-check-custom form-check-solid py-1">
                            <input
                                id="EditTenant_IsActive"
                                type="checkbox"
                                name="IsActive"
                                [(ngModel)]="tenant.isActive"
                                class="form-check-input"
                            />
                            <span class="form-check-label">
                                {{ 'Active' | localize }}
                            </span>
                        </label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary" [disabled]="!tenantEditForm.form.valid || saving || !subscriptionEndDateUtcIsValid">
                    <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>