<div appBsModal #tenantFeaturesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tenantFeaturesModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editTenantFeaturesForm="ngForm" name="editTenantFeaturesForm" role="form" novalidate class="form-validation" (submit)="save()" *ngIf="active">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ 'Features' | localize }} - {{ tenantName }}</span>
                    </h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="close()">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <feature-tree #featureTree></feature-tree>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" [buttonBusy]="resettingFeatures" [busyText]="l('SavingWithThreeDot')" class="btn btn-light-primary pull-left" (click)="resetFeatures()" [tooltipHtml]="l('ResetFeaturesTooltip')" placement="top">
                        <i class="las la-bars"></i>
                        <span>{{ 'ResetSpecialFeatures' | localize }}</span>
                    </button>
                    <button type="button" [disabled]="saving || resettingFeatures" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i> 
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" [disabled]="resettingFeatures" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>