<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <sub-header [title]="'Tenants' | localize" [count]="recordCount" [description]="'TenantsHeaderInfo' | localize">
            </sub-header>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="refresh float-end">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <div class="me-2">
                                <button *ngIf="'Pages.Tenants.Create' | permission" class="btn btn-primary btn-sm" (click)="createTenant()">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                    <!-- {{ 'CreateNewTenant' | localize }} -->
                                </button>
                            </div>
                            <div class="me-2 searchclearbox">
                                <div class="input-group">
                                    <!-- <input id="TenantNameOrTenancyCode" [(ngModel)]="filters.filterText" name="filterText" class="form-control m-input" [attr.placeholder]="l('SearchWithThreeDot')" type="text" /> -->
                                    <input [(ngModel)]="filterText" #Searchme id="TenantNameOrTenancyCode" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getTenants()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getTenants()" class="btn search-btn" type="submit">
                                            <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                        </button>

                                </div>
                            </div>


                            <div class="me-0">
                                <div class="kt-advfilterbox">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                            <i class="las la-filter"></i>
                                        </button>
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <form class="form" autocomplete="new-password">
                                        <div class="content-block">
                                            <div class="row">
                                                <div class="col-xl-12 mb-4">
                                                    <label for="EditionDropdown" class="form-check-solid form-label py-1 mb-1 ng-tns-c243-7">{{ 'Edition' | localize }}</label>
                                                    <edition-combo class="my-2" [(selectedEdition)]="filters.selectedEditionId"></edition-combo>
                                                </div>
                                                <div class="col-xl-6">
                                                    <label class="form-check form-check-solid form-label py-1 mb-3">
                                                            <input
                                                                id="TenantsTable_SubscriptionEndDateRangeActive"
                                                                type="checkbox"
                                                                name="SubscriptionEndDateRangeActive"
                                                                [(ngModel)]="filters.subscriptionEndDateRangeActive"
                                                                class="form-check-input"
                                                                value="true"
                                                            />
                                                            <span class="form-check-label">
                                                                {{ 'SubscriptionEndDate' | localize }}
                                                            </span>
                                                        </label>
                                                    <input class="form-control" name="SubscriptionEndDateRange" [attr.disabled]="
                                                                !filters.subscriptionEndDateRangeActive ? 'disabled' : null
                                                            " #drpSubscriptionEndDateRange="bsDaterangepicker" bsDaterangepicker dateRangePickerLuxonModifier [(date)]="subscriptionDateRange" />
                                                </div>
                                                <div class="col-xl-6">
                                                    <label class="form-check form-check-solid form-label py-1 mb-3">
                                                            <input
                                                                id="TenantsTable_CreationDateRangeActive"
                                                                type="checkbox"
                                                                name="CreationDateRangeActive"
                                                                [(ngModel)]="filters.creationDateRangeActive"
                                                                class="form-check-input"
                                                                value="true"
                                                            />
                                                            <span class="form-check-label">
                                                                {{ 'CreationTime' | localize }}
                                                            </span>
                                                        </label>
                                                    <input class="form-control" name="CreationDateRange" [attr.disabled]="!filters.creationDateRangeActive ? 'disabled' : null" #drpCreationDateRange="bsDaterangepicker" bsDaterangepicker dateRangePickerLuxonModifier [(date)]="creationDateRange" />
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getTenants($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive" scrollDirection="both"
                            [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">


                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:95px;" class="text-center actionwidth">{{ 'Actions' | localize }}</th>
                                    <th style="width:200px;" pSortableColumn="TenancyCodeName">
                                        {{ 'TenancyCodeName' | localize }}
                                        <p-sortIcon field="tenancyName"></p-sortIcon>
                                    </th>
                                    <th style="width:200px;" pSortableColumn="name">
                                        {{ 'TenantName' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width:150px;" pSortableColumn="edition">{{ 'Edition' | localize }}
                                        <p-sortIcon field="edition"></p-sortIcon>
                                    </th>
                                    <th style="width:300px;" pSortableColumn="subscriptionEndDateUtc">
                                        {{ 'SubscriptionEndDateUtc' | localize }}
                                        <p-sortIcon field="subscriptionEndDateUtc"></p-sortIcon>
                                    </th>
                                    <th style="width:100px;" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                    <th style="width:250px;" pSortableColumn="creationTime">
                                        {{ 'CreationTime' | localize }}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width:95px;" class="text-center actionwidth" class="text-center">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                <!--<span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                            </button>

                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenants.Impersonation' | permission" [class.disabled]="!record.isActive" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" [class.disabled]="!record.isActive" (click)="record.isActive && showUserImpersonateLookUpModal(record)">
                                                        <i class="las la-sign-in-alt"></i>{{ 'LoginAsThisTenant' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="'Pages.Tenants.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="editTenantModal.show(record.id)">
                                                        <i class="las la-edit"></i> {{ 'Edit' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="'Pages.Tenants.ChangeFeatures' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="tenantFeaturesModal.show(record.id, record.name)">
                                                        <i class="las la-indent"></i> {{ 'Features' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="'Pages.Tenants.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteTenant(record)">
                                                        <i class="las la-trash"></i> {{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="unlockUser(record)">
                                                        <i class="las la-unlock"></i> {{ 'Unlock' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="entityHistoryEnabled" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="showHistory(record)">
                                                        <i class="las la-history"></i> {{ 'History' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:200px;">
                                        <span class="p-column-title">{{ 'TenancyCodeName' | localize }}</span>
                                        <span class="d-flex align-items-center">
                                            <i *ngIf="record.connectionString" class="fa fa-database fs-2 me-3 text-primary" title="{{ 'HasOwnDatabase' | localize }}"></i> {{ record.tenancyName }}
                                        </span>
                                    </td>
                                    <td style="width:200px;">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.name }}
                                    </td>
                                    <td style="width:150px;">
                                        <span class="p-column-title">{{ 'Edition' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.editionDisplayName }}</span>
                                    </td>
                                    <td style="width:300px;">
                                        <span class="p-column-title">
                                                    {{ 'SubscriptionEndDateUtc' | localize }}
                                                </span> {{ record.subscriptionEndDateUtc ? (record.subscriptionEndDateUtc | luxonFormat: 'F') : '-' }}
                                    </td>
                                    <td style="width:100px;">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span *ngIf="record.isActive" class="badge badge-success badge-inline">
                                                    {{ 'Yes' | localize }}
                                                </span>
                                        <span *ngIf="!record.isActive" class="badge badge-dark badge-inline">
                                                    {{ 'No' | localize }}
                                                </span>
                                    </td>
                                    <td style="width:250px;">
                                        <span class="p-column-title">{{ 'CreationTime' | localize }}</span> {{ record.creationTime | luxonFormat: 'F' }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getTenants($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>

                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>


            </div>
        </div>


        <createTenantModal #createTenantModal (modalSave)="getTenants()"></createTenantModal>
        <editTenantModal #editTenantModal (modalSave)="getTenants()"></editTenantModal>
        <tenantFeaturesModal #tenantFeaturesModal></tenantFeaturesModal>
        <commonLookupModal #impersonateUserLookupModal (itemSelected)="impersonateUser($event)"></commonLookupModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>