<style>
    .lead-container {
        max-height: 63vh;
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Subsidy Claim' | localize" [count]="recordCount" [description]="'SubsidyClaim' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>

            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getSubsidyClaimList()"></button>
                            </div>
                            <div class="me-2" *ngIf="permission.isGranted('Pages.Tenant.Tracker.SubsidyDetail.ExportToExcel')">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <div class="me-2" *ngIf="organizationUnitlength > 0">
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getSubsidyClaimList()">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="me-2">
                                <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="me-2">
                                <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Application Status" [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>

                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text" placeholder="project, cheque, voucher, customer no, mobile" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getSubsidyClaimList()"><i
                                            class="fas fa-times-circle"></i></a>
                                    <button (click)="getSubsidyClaimList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text" [(ngModel)]="filterText" placeholder="project number,customer name, mobile number" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getSubsidyClaimList()"><i
                                            class="fas fa-times-circle"></i></a>
                                    <button (click)="getSubsidyClaimList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                <div class="content-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter" class="form-control" (change)="changeDiscom()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allCircleData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Circle" [(ngModel)]="CircleIdFilter" name="CircleIdFilter" class="form-control" (change)="changeCircle()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Division" (change)="changeDivision()" [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="0">Select OC Copy</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Subcidy Received</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Subcidy File Verified</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" (change)="changeSolarType()" bindValue="id" placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allTenderData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Tender" [(ngModel)]="TenderIdFilter" name="TenderIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-12"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">Filter with Date</option>
                                                    <option value="subsidyclaimdate">Subsidy Claim Date</option>
                                                    <option value="subsidypaiddate">Subsidy Paid Date</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-3 justify-content-end">
                                            <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                    class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                            <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..." (click)="getSubsidyClaimList()"><i
                                                    class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div class="container-fluid" [hidden]="FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total Subsidy Received<span>{{subsidySummaryCount.totalSubsidyReceived}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Subsidy In Process<span>{{subsidySummaryCount.totalSubsidyInProcess}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Projects Claimed<span>{{subsidySummaryCount.totalProjectsClaimed}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Kilowatt<span>{{subsidySummaryCount.totalKilowatt}}</span>
                    </h2>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getSubsidyClaimList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="false" [scrollable]="true"
                                            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pFrozenColumn style="width:80px; border-right:0 !important;">
                                                        Action
                                                    </th>
                                                    <th pFrozenColumn style="width: 220px" pSortableColumn="ClaimNumber">
                                                        {{ 'Claim Number' | localize }}
                                                        <p-sortIcon field="claimNumber"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" pSortableColumn="division" [hidden]="!ExpandedView">
                                                        {{ 'Division' | localize }}
                                                        <p-sortIcon field="division"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 175px" pSortableColumn="totalApplications" [hidden]="!ExpandedView">
                                                        {{ 'TotalApplications' | localize }}
                                                        <p-sortIcon field="totalApplications"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 175px" pSortableColumn="TotalProjectCost" [hidden]="!ExpandedView">
                                                        {{ 'Total Project Cost' | localize }}
                                                        <p-sortIcon field="TotalProjectCost"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 160px" pSortableColumn="SubsidyAmount" [hidden]="!ExpandedView">
                                                        {{ 'Subsidy Amount' | localize }}
                                                        <p-sortIcon field="SubsidyAmount"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 160px" pSortableColumn="PGBDeduction" [hidden]="!ExpandedView">
                                                        {{ 'PGB Deduction' | localize }}
                                                        <p-sortIcon field="PGBDeduction"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 175px" pSortableColumn="PenaltyDeduction" [hidden]="!ExpandedView">
                                                        {{ 'Penalty Deduction' | localize }}
                                                        <p-sortIcon field="PenaltyDeduction"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 220px" pSortableColumn="Anyotherduesdeduction" [hidden]="!ExpandedView">
                                                        {{ 'Any other dues deduction' | localize }}
                                                        <p-sortIcon field="Anyotherduesdeduction"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 220px" pSortableColumn="NetSubsidyPayable" [hidden]="!ExpandedView">
                                                        {{ 'Net Subsidy Payable (Rs.)' | localize }}
                                                        <p-sortIcon field="NetSubsidyPayable"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 140px" pSortableColumn="ClaimStatus" [hidden]="!ExpandedView">
                                                        {{ 'Claim Status' | localize }}
                                                        <p-sortIcon field="ClaimStatus"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 155px" pSortableColumn="VerifiedOrNot" [hidden]="!ExpandedView">
                                                        {{ 'Verified Or Not' | localize }}
                                                        <p-sortIcon field="VerifiedOrNot"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 190px" pSortableColumn="VerifiedOrNot" [hidden]="!ExpandedView">
                                                        {{ 'Claim Hand Over Person' | localize }}
                                                    </th>
                                                    <th style="width: 165px" pSortableColumn="filesubmitdate" [hidden]="!ExpandedView">
                                                        {{ 'File Submit Date' | localize }}
                                                        <p-sortIcon field="filesubmitdate"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr id="selectcustomer" [pSelectableRow]="record">
                                                    <td pFrozenColumn style="width:80px; border-right:0 !important;">
                                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                                <i class="las la-ellipsis-v"></i>
                                                            </button>
                                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                                <!-- *ngIf="permission.isGranted('Pages.Tenant.Tracker.SubsidyDetail.EditSubsidy')" -->
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td pFrozenColumn style="width: 220px" class="gridleadimage" id="selectcustomer" (click)="navigateToLeadDetail(record);">
                                                        <span class="p-column-title">{{ 'ClaimNumber' |
                                                            localize}}</span> {{record.subsidyClaim.subsidyClaimNumber }}
                                                    </td>
                                                    <td [hidden]="!ExpandedView" style="width: 200px">
                                                        {{record.subsidyClaim.divisionName}}
                                                    </td>
                                                    <td [hidden]="!ExpandedView" style="width: 175px"><span class="badge badge-primary">{{record.subsidyClaim.claimTotalApplications}}</span>
                                                    </td>
                                                    <td [hidden]="!ExpandedView" style="width: 175px"><span class="badge badge-primary">{{record.subsidyClaim.claimTotalProjectCost}}</span>
                                                    </td>
                                                    <td style="width: 160px" [hidden]="!ExpandedView"><span class="badge badge-success">{{record.subsidyClaim.claimTotalSubsidyAmount}}</span>
                                                    </td>
                                                    <td style="width:175px" [hidden]="!ExpandedView"><span class="badge badge-secondary">{{record.subsidyClaim.claimPBGDeduction}}</span>
                                                    </td>
                                                    <td style="width: 220px" [hidden]="!ExpandedView"><span class="badge badge-warning text-dark">{{record.subsidyClaim.claimPenaltyDeduction}}</span>
                                                    </td>
                                                    <td style="width: 220px" [hidden]="!ExpandedView">{{record.subsidyClaim.claimAnyotherduesdeduction}}</td>
                                                    <td style="width: 140px" [hidden]="!ExpandedView">{{record.subsidyClaim.claimNetSubsidyPayable}}</td>
                                                    <td style="width: 155px" [hidden]="!ExpandedView">{{record.subsidyClaim.claimStatus}}</td>
                                                    <td style="width: 165px" [hidden]="!ExpandedView">{{record.subsidyClaim.claimVerifiedORnot}}</td>
                                                    <td style="width: 190px" [hidden]="!ExpandedView">{{record.subsidyClaim.claimHandOverPerson}}</td>
                                                    <td style="width: 165px" [hidden]="!ExpandedView">{{record.subsidyClaim.fileSubmitDate}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ 'NoData' | localize }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getSubsidyClaimList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                            </p-paginator>
                                        </div>
                                    </div>
                                </div>

                                <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<VerifySubsidyModal #VerifySubsidyModal></VerifySubsidyModal>
<UploadOCDocumentModal #UploadOCDocumentModal></UploadOCDocumentModal>
<EditSubsidyModal #EditSubsidyModal></EditSubsidyModal>