<div #paymentDetails id="paymentDetailsModel" [@routerTransition]>
    <div class="sections">
        <h3 class="align-items-center d-flex justify-content-between">
            <div class="align-items-center d-flex"><i class="fas fa-solar-panel fs-3"></i>System Details</div>
            <!-- <div *ngIf="'Pages.Tenant.Jobs.Payment.Create' | permission">
                <button type="submit" class="btn btn-primary" *ngIf="!NewPayment" (click)="NewPayment = !NewPayment">
                    <i class="las la-plus-circle"></i> Add New Payment
                </button>
            </div> -->
        </h3>
        <div>
            <div class="grid-container secondary-grid">
                <div class="p-datatable">
                    <table class="p-datatable-table">
                        <tr>
                            <th style="width:250px;">Product Type</th>
                            <th>Name</th>
                            <th>Modal Number</th>
                            <th style="text-align:center; width:100px;">Qty</th>
                        </tr>
                        <tr *ngFor="let item of JobProducts; let i = index">
                            <td style="width:250px;">{{item.productTypeName}}</td>
                            <td>{{item.productItemName}}</td>
                            <td>({{item.model}})</td>
                            <td style="text-align:center; width:100px;">{{item.quantity}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" style="display:none;">
                <div class="col-md-12">
                    <div class="mb-2 fs-6"><strong>System Details:</strong></div>
                    <div class="align-items-center d-flex mb-6">
                        <div *ngFor="let item of JobProducts" style="margin-right:10px;">
                            <span class="align-items-center d-flex badge badge-pill badge-secondary fs-5"><i
                                    class="fas fa-solar-panel fs-2 me-2"></i> {{item.quantity}} X
                                {{item.productItemName}}
                                ({{item.model}})</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="align-items-center d-flex mb-4">
                        <span class="me-2 fs-6"><strong>Invoice Number:</strong></span>
                        <span class="align-items-center d-flex badge badge-pill badge-secondary fs-5"><i
                                class="las la-file-invoice fs-2 me-2"></i> {{PaymentDetails.jobNumber}}</span>
                    </div>
                    <div>
                        <strong>Notes for Account Department:</strong>
                        <textarea class="form-control" rows="9" [(ngModel)]="PaymentDetails.paymentAccountInvoiceNotes"></textarea>
                    </div>
                </div>
                <div class="col-md-6" style="display:none;">
                    <div class="variation-box">
                        <div class="row justify-content-between">
                            <div class="col-md-12" style="padding-right:0">
                                <div class="tota-cost-box">
                                    <ul>
                                        <li class="heading">
                                            <label>Totas System Cost</label>
                                            <span class="d-flex align-items-cente">
                                                <i
                                                    class="las la-rupee-sign fs-3 text-white"></i>{{PaymentDetails.totalSystemCost}}
                                            </span>
                                        </li>
                                        <li class="bg-light-red">
                                            <label class="text-danger">Less Subsidy</label>
                                            <span class="d-flex align-items-center bold">
                                                <i
                                                    class="las la-rupee-sign fs-3 text-danger text-dark"></i>{{PaymentDetails.lessSubsidy}}
                                            </span>
                                        </li>
                                        <li><label>Net Amount</label>
                                            <span class="d-flex align-items-center bold">
                                                <i class="las la-rupee-sign fs-3 text-danger text-dark"></i>
                                                {{PaymentDetails.netAmount}}</span>
                                        </li>
                                        <li><label>Paid Till Date</label>
                                            <span class="d-flex align-items-center bold">
                                                <i
                                                    class="las la-rupee-sign fs-3 text-danger text-dark"></i>{{PaymentDetails.paidTillDate}}</span>
                                        </li>

                                        <li class="footer"><label>Balance
                                                Owing</label><span class="d-flex align-items-center bold">
                                                <i
                                                    class="las la-rupee-sign fs-3 text-danger text-dark"></i>{{PaymentDetails.balanceOwing}}</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sections">
        <h3 class="d-flex align-items-center justify-content-between title-row">
            <div class="align-items-center d-flex"><i class="las la-file-invoice"></i> Invoice</div>
            <button *ngIf="'Pages.Tenant.Jobs.Payment.Create' | permission" type="button" class="btn btn-secondary" (click)="showPayment()">
                <i class="las la-plus-circle fs-2 me-0"></i> Invoice
            </button>
        </h3>

        <div class="invoice-detail-box">
            <div class="box-block">
                <h2>
                    <i class="las la-wallet"></i>
                    <div>
                        Total Cost<span><i class="las la-rupee-sign fs-3"></i>{{PaymentDetails.totalSystemCost | number
                            : '1.2'}}</span>
                    </div>
                </h2>
            </div>
            <div class="box-block">
                <h2>
                    <i class="las la-piggy-bank"></i>
                    <div>
                        Less Subsidy<span class="text-danger"><i
                                class="las la-rupee-sign fs-3 text-danger"></i>{{PaymentDetails.lessSubsidy | number :
                            '1.2'}}</span>
                    </div>
                </h2>
            </div>
            <div class="box-block">
                <h2>
                    <i class="las la-file-invoice"></i>
                    <div>
                        Net Amount<span><i class="las la-rupee-sign fs-3"></i>{{PaymentDetails.netAmount | number :
                            '1.2'}}</span>
                    </div>
                </h2>
            </div>
            <div class="box-block">
                <h2>
                    <i class="las la-receipt"></i>
                    <div>
                        Paid Till Date<span><i class="las la-rupee-sign fs-3"></i>{{PaymentDetails.paidTillDate | number
                            : '1.2'}}</span>
                    </div>
                </h2>
            </div>
            <div class="box-block">
                <h2>
                    <i class="las la-coins"></i>
                    <div>
                        Balance Owing<span class="text-danger"><i
                                class="las la-rupee-sign fs-3 text-danger"></i>{{PaymentDetails.balanceOwing | number :
                            '1.2'}}</span>
                    </div>
                </h2>
            </div>
        </div>

        <div class="grid-container secondary-grid">
            <div class="p-datatable">
                <table class="p-datatable-table">
                    <thead class="p-datatable-thead">
                        <tr>
                            <th style="width:220px;">Entered Date</th>
                            <th style="width:250px;">Total Paid</th>
                            <th style="width:160px;">RefNo</th>
                            <th style="width:160px;">Type</th>
                            <th style="width:160px;">Mode</th>
                            <th style="width:200px;">Upload Document</th>
                            <th style="width:150px;">Added By</th>
                            <th style="width:100px; ">Verified</th>
                            <th style="width:150px; ">Verified By</th>
                            <th style="width:90px;">Action</th>
                        </tr>
                    </thead>

                    <tr *ngFor="let item of paymentReceiptList; let i = index">
                        <td style="width:220px;">{{item.paymentRecEnterDate | date: 'dd-MM-YYYY'}}</td>
                        <td style="width:250px;">
                            <span class="bold text-primary"><i
                                    class="las la-rupee-sign fs-4 text-dark"></i>{{item.paymentRecTotalPaid | number :
                                '1.2'}}</span>
                        </td>
                        <td style="width:160px;">{{item.paymentRecRefNo}}</td>
                        <td style="width:160px;">{{item.paymentRecType}}</td>
                        <td style="width:160px;">{{item.paymentRecMode}}</td>
                        <td style="width:200px;">
                            <div *ngIf="item.paymentReceiptPath != ''" style="white-space: nowrap;                         
                            overflow: hidden;
                            text-overflow: ellipsis;">
                                <!-- {{item.paymentReceiptName}} -->
                                <a href="javascript:;" (click)="downfile(item.paymentReceiptPath)"><i
                                        class="las la-file-pdf fs-1 text-primary"></i></a>
                            </div>
                        </td>
                        <td style="width:150px;">{{item.paymentRecAddedByName}}</td>
                        <td style="width:100px; text-align: center;;">
                            <i [ngClass]="[ item.isPaymentRecVerified == true ? 'fas fa-check-circle text-success fs-2': 'fas fa-check-circle fs-2' ]"></i>
                        </td>
                        <td style="width:150px;">{{item.paymentVerifiedByName}}</td>
                        <td style="width:90px; text-align: right;">
                            <div class="me-0 action-btn align-items-center d-flex" *ngIf="!item.isPaymentRecVerified" style="justify-content: end;">
                                <a class="me-2" (click)="removeItem(item);"><i class="las la-trash text-danger"></i></a>
                                <!-- <a (click)="addItem()" *ngIf="i == items.length - 1"><i
                                        class="las la-plus-circle text-primary"></i></a> -->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div appBsModal #addPaymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addPaymentModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="documentGrp" (ngSubmit)="OnSubmit(documentGrp)" #uploadDocumentsForm="ngForm" ngNativeValidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Add Payment</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()"></button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box my-0">
                        <div class="row ">
                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Enter Date: *</strong>
                                    </label>
                                    <div>
                                        <input type="hidden" formControlName="Id">
                                        <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EnterDate" required [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                        <span style="top:49px;" class="icon-box"><i class="las la-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Total Paid: *</strong>
                                    </label>
                                    <div>
                                        <input type="text" class="form-control" placeholder="" required="" formControlName="PaymentRecTotalPaid" (keypress)="keyPressNumbersWithDecimal($event)">
                                        <span style="top:49px;" class="icon-box"><i
                                                class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Payment Rec Ref No :*</strong>
                                    </label>
                                    <div>
                                        <input type="text" class="form-control" placeholder="" required formControlName="PaymentRecRefNo">
                                        <span style="top:49px;" class="icon-box"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Payment Type:*</strong>
                                    </label>
                                    <div>
                                        <select class="form-control" required formControlName="PaymentRecTypeId">
                                            <option [ngValue]="0">Payment Type</option>
                                            <option *ngFor="let ptitem of PaymentType" value="{{ptitem.id}}">
                                                {{ptitem.displayName}}
                                            </option>
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i class="las la-wallet"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Payment Mode: *</strong>
                                    </label>
                                    <div>
                                        <select class="form-control" required formControlName="PaymentRecModeId">
                                            <option [ngValue]="0">Payment Mode</option>
                                            <option *ngFor="let ptitem of PaymentMode" value="{{ptitem.id}}">
                                                {{ptitem.displayName}}
                                            </option>
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i class="las la-wallet"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-form-label">
                                    <strong>Upload Document:</strong>
                                </label>
                                <div class="custom-upload fix-height mt-0">
                                    <label>
                                        <div class="custom-file custom-upload mt-0">
                                            <input type="hidden" formControlName="PaymentReceiptName">
                                            <input type="file" id="" (change)="singlefileSelectionEvent($event)">
                                            <label for="fileupload" class="custom-file-label"></label>
                                    <label for="uploadPicture" class="custom-file-label"></label>
                                </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label">
                                        <strong>Added By:</strong>
                                    </label>
                                <div>
                                    <select [attr.disabled]="true" class="form-control" formControlName="PaymentRecAddedById">
                                            <option [ngValue]="undefined">Select User</option>
                                            <option *ngFor="let ptitem of UserList" value="{{ptitem.id}}">
                                                {{ptitem.userName}}
                                            </option>
                                        </select>
                                    <span style="top:49px;" class="icon-box"><i
                                                class="las la-user-check"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Close' }}
                    </button>
                <button type="submit" *ngIf="'Pages.Tenant.Jobs.Payment.Create' || 'Pages.Tenant.Jobs.Payment.Edit' | permission" [disabled]="!documentGrp.valid" class="btn btn-primary ms-2"><i class="las la-save"></i>
                        Save </button>
            </div>
    </div>
    </form>
</div>
</div>

<!-- <addPaymentModal #addPaymentModal></addPaymentModal> -->