<div [@routerTransition]>
    <div appBsModal #jobTypeDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="jobTypeDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Details - Nilesh Dhimar (SB501589)</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()"></button>
                </div>
                <div class="modal-body sidepaddingzero bg-gray">
    
                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3>
                                Product Details
                            </h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>System size:</strong></label>
                                        <div class="col-lg-8">
                                            <span>120</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>No. Panel:</strong></label>
                                        <div class="col-lg-8">
                                            <span>18</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Pannel:</strong></label>
                                        <div class="col-lg-8">
                                            <span>-</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Pannel Model:</strong></label>
                                        <div class="col-lg-8">
                                            <span>LR4-60HIH-370M</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>No. Invter:</strong></label>
                                        <div class="col-lg-8">
                                            <span>2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Inveter Brand:</strong></label>
                                        <div class="col-lg-8">
                                            <span>Solis 5Kw-1Ph (S5-GR1P5K (AS4777-2 2020))</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-0 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Inveter Model:</strong></label>
                                        <div class="col-lg-8">
                                            <span>S5-GR1P5K (AS4777-2 2020)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3>Application Details</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Appliaciton Number:</strong></label>
                                        <div class="col-lg-8">
                                            <span>SB501589</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Application Submitted:</strong></label>
                                        <div class="col-lg-8">
                                            <span>25/05/2022</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Eastimate due date:</strong></label>
                                        <div class="col-lg-8">
                                            <span>25/05/2022</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Eastimate paid status:</strong></label>
                                        <div class="col-lg-8">
                                            <span>Deposite Received</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-0 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Panalty Days:</strong></label>
                                        <div class="col-lg-8">
                                            <span>20</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3>Dispatch Details</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Structure Height:</strong></label>
                                        <div class="col-lg-8">
                                            <span>15</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Dispatch Type:</strong></label>
                                        <div class="col-lg-8">
                                            <span>-</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Dispatch date:</strong></label>
                                        <div class="col-lg-8">
                                            <span>29/05/2022</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Vehical no:</strong></label>
                                        <div class="col-lg-8">
                                            <span>GJ-01-AB-9999</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Delivery Date:</strong></label>
                                        <div class="col-lg-8">
                                            <span>20</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-4 col-form-label"><strong>Download pickuplist:</strong></label>
                                        <div class="col-lg-8">
                                            <span>-</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3>Notes</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-11 col-form-label"><strong>Project Notes:</strong></label>
                                        <div class="col-lg-12">
                                            <span>Please Try To Give The Installation As Soon As Possible 2-Phase Meter Senior Citizen Discount Given</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-11 col-form-label"><strong>Installtion notes:</strong></label>
                                        <div class="col-lg-12">
                                            <span>Please Try To Give The Installation As Soon As Possible 2-Phase Meter Senior Citizen Discount Given</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3 class="mb-4">Downloads</h3>
                            <div class="d-flex align-items-center">
                                <a href="" class="download-doc me-3">
                                    <i class="las la-cloud-download-alt"></i> <span>SS</span>
                                </a>
                                <a href="" class="download-doc me-3">
                                    <i class="las la-cloud-download-alt"></i> <span>STC</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Close' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
