<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <div class="py-2 py-lg-4 subheader subheader-solid">
                    <div
                        class="align-items-center container-fluid d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="d-flex align-items-center flex-wrap me-2">
                            <h1 class="font-weight-bold mb-2 me-2 mt-2 text-dark ng-star-inserted">Job Type</h1>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4"
                    style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
            <div class="form mobile-filter" style="margin-left: auto;" role="actions"
                [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getJobType()"></button>
                            </div>
                            <div class="me-2"
                                *ngIf="permission.isGranted('Pages.Tenant.Jobs.JobType.ExportToExcel')">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                                        class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"
                                        aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations"
                                        class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu"
                                        *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton"
                                                (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <div *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                    <div *ngIf="organizationUnitlength > 0">
                                        <select name="OrganizationUnits" class="form-control"
                                            [(ngModel)]="organizationUnit" (change)="getJobType()">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="me-2">
                                <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName"
                                    [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus"
                                    [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                            name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="me-2">
                                <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName"
                                    [closeOnSelect]="false" bindValue="id" placeholder="All Application Status"
                                    [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID"
                                    class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                            name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus
                                        class="form-control m-input" (keydown.enter)="getJobType()"
                                        [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')"
                                        type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobType()"><i
                                            class="fas fa-times-circle"></i></a>
                                    <button (click)="getJobType()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="me-2">
                                <div class="kt-advfilterbox">
                                    <button class="clickable-item btn btn-primary outline"
                                        (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline"
                                        (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>

                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}"
                                    class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <div class="content-block">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="allDiscom" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Discom" [(ngModel)]="DiscomIdFilter"
                                                        name="DiscomIdFilter" class="form-control"
                                                        (change)="changeDiscom()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="allCircleData" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Circle" [(ngModel)]="CircleIdFilter"
                                                        name="CircleIdFilter" class="form-control"
                                                        (change)="changeCircle()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="allDivision" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Division" (change)="changeDivision()"
                                                        [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter"
                                                        class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="allSubDivision" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter"
                                                        name="SubDivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="allSolarType" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false"
                                                        (change)="chaneSolarType()" bindValue="id"
                                                        placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter"
                                                        name="solarTypeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="allTenderData" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Tender" [(ngModel)]="TenderIdFilter"
                                                        name="TenderIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="allEmployeeList" [multiple]="true"
                                                        bindLabel="name" [(ngModel)]="employeeIdFilter"
                                                        [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Employee & CPName" name="EmployeeIdFilter"
                                                        class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.name}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="drpdistrict" [multiple]="true"
                                                        bindLabel="displayName" [(ngModel)]="districtIdFilter"
                                                        [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All District" (change)="gettaluka()"
                                                        name="TenderIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <ng-select [items]="drptaluka" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Taluka" name="TenderIdFilter"
                                                        class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="City">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control"
                                                        placeholder="Installer Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option value="">Date Filter</option>
                                                        <option value="projectopened">Project Opened</option>
                                                        <option value="quoteaccepted">Quote Accepted</option>
                                                        <option value="depositreceived">Dep.Received</option>
                                                        <option value="installbookingdate">Install. Booking Date</option>
                                                        <option value="installcompletedate">Install Comp Date</option>
                                                        <option value="dispatchdate">Dispatch Date</option>
                                                        <option value="applicaitonsubmitdate">Applicaiton Sub. Date
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker
                                                        name="SampleDatePicker" class="form-control" bsDatepicker
                                                        datePickerLuxonModifier [(date)]="StartDate"
                                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="StartDate"
                                                        (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker
                                                        name="SampleDatePicker" class="form-control" bsDatepicker
                                                        datePickerLuxonModifier [(date)]="EndDate"
                                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="EndDate"
                                                        (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>

                                            <div class="d-flex mt-3 justify-content-end">
                                                <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                        class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                                <button type="submit" class="btn btn-primary"
                                                    ng-reflect-busy-text="Saving..." (click)="getJobType()"><i
                                                        class="fas fa-search"></i>Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
            class="kt-advancefilterbox-overlay"></div>

        <div class="container-fluid" [hidden]="!FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total<span>{{jobTypeSummaryCount.totalJob}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Kilowat<span>{{jobTypeSummaryCount.kilowatt}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        No. of panel<span>{{jobTypeSummaryCount.totalPanel}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Avg.Structure amount<span>{{jobTypeSummaryCount.avgStructureamount}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Avg.price Per kilowatt<span>{{jobTypeSummaryCount.avgPricePerkilowatt}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Document Received<span>{{jobTypeSummaryCount.documentReceived}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Deposite Received<span>{{jobTypeSummaryCount.depositeReceived}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Ready to dispatch<span>{{jobTypeSummaryCount.readyDispatch}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Installtion booked<span>{{jobTypeSummaryCount.installtionBooked}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Installtion complete<span>{{jobTypeSummaryCount.installtionCompleted}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Subcidy Claimed<span>{{jobTypeSummaryCount.subcidyClaimed}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Subcidy Received<span>{{jobTypeSummaryCount.subcidyReceived}}</span>
                    </h2>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa"
                            data-scroll="true" [busyIf]="primengTableHelper.isLoading"
                            [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <div class="primeng-datatable-container">
                                            <div class="p-datatable">
                                                <div class="p-datatable-wrapper">
                                                    <p-table #dataTable sortMode="multiple"
                                                        (onLazyLoad)="getJobType($event)"
                                                        [value]="primengTableHelper.records" selectionMode="single"
                                                        rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                                        [paginator]="false" [lazy]="true" [scrollable]="true"
                                                        ScrollWidth="100%"
                                                        [responsive]="primengTableHelper.isResponsive"
                                                        [resizableColumns]="primengTableHelper.resizableColumns"
                                                        [scrollHeight]="screenHeight - testHeight +'px'">
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th pFrozenColumn
                                                                    style="width:90px; border-right:0 !important;">
                                                                    Action</th>
                                                                <th pFrozenColumn style="width: 165px"
                                                                    pSortableColumn="projectNumber">
                                                                    {{ 'Project Number' | localize }}
                                                                    <p-sortIcon field="projectNumber"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 165px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="leadStatus">
                                                                    {{ 'Lead Status' | localize }}
                                                                    <p-sortIcon field="leadStatus"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 200px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="ApplicationStatus">
                                                                    {{ 'Application Status' | localize }}
                                                                </th>

                                                                <th style="width: 220px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="customerName">
                                                                    {{ 'Customer Name' | localize }}
                                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 250px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="address">
                                                                    {{ 'Address' | localize }}
                                                                    <p-sortIcon field="address"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 120px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="mobileNumber">
                                                                    {{ 'Mobile' | localize }}
                                                                    <p-sortIcon field="mobile"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 230px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="subdivision">
                                                                    {{ 'Sub Division' | localize }}
                                                                    <p-sortIcon field="subdivision"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 250px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="projectowner">
                                                                    {{ 'Assign To' | localize }}
                                                                    <p-sortIcon field="projectowner"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 155px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="projectowner">
                                                                    {{ 'Panelty Days' | localize }}
                                                                    <p-sortIcon field="projectowner"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 250px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="FollowDiscription">
                                                                    {{ 'Follow up Discription' | localize }}
                                                                    <p-sortIcon field="leadsource"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 185px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="FollowDate">
                                                                    {{ 'Next follw up date' | localize }}
                                                                    <p-sortIcon field="cityName"></p-sortIcon>
                                                                </th>
                                                                <th style="width: 250px" [hidden]="!ExpandedView"
                                                                    pSortableColumn="comment">
                                                                    {{ 'Comment' | localize }}
                                                                    <p-sortIcon field="comment"></p-sortIcon>
                                                                </th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-record="$implicit">
                                                            <tr id="selectcustomer" [pSelectableRow]="record">
                                                                <td pFrozenColumn
                                                                    style="width:90px; border-right:0 !important;">
                                                                    <div class="btn-group grid-actions" dropdown
                                                                        placement="bottom left" container="body">
                                                                        <button id="dropdownButton" type="button"
                                                                            class="btn btn-primary btn-sm dropdown-toggle"
                                                                            dropdownToggle aria-controls="dropdownMenu">
                                                                            <i class="las la-ellipsis-v"></i>
                                                                        </button>
                                                                        <ul id="dropdownMenu"
                                                                            class="dropdown-menu custom" role="menu"
                                                                            *dropdownMenu
                                                                            aria-labelledby="dropdownButton">
                                                                            <li role="menuitem"
                                                                                *ngIf="permission.isGranted('Pages.Tenant.Jobs.JobType.JobViewDetails')">
                                                                                <a href="javascript:;"
                                                                                    class="dropdown-item"
                                                                                    (click)="showJobTypeDetails()">
                                                                                    <i class="las la-eye"></i>Job
                                                                                    Details
                                                                                </a>
                                                                            </li>

                                                                            <li role="menuitem"
                                                                                *ngIf="permission.isGranted('Pages.Tenant.Jobs.JobType.Reminder')">
                                                                                <a href="javascript:;"
                                                                                    class="dropdown-item"
                                                                                    (click)="addActivityModal.show(record.job.leadId,3,0,sectionId)">
                                                                                    <i class="las la-bell"></i>Reminder
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem"
                                                                                *ngIf="permission.isGranted('Pages.Tenant.Jobs.JobType.SMS')">
                                                                                <a href="javascript:;"
                                                                                    class="dropdown-item"
                                                                                    (click)="addActivityModal.show(record.job.leadId,1,0,sectionId)">
                                                                                    <i class="las la-comment"></i>SMS
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem"
                                                                                *ngIf="permission.isGranted('Pages.Tenant.Jobs.JobType.ToDoList')">
                                                                                <a href="javascript:;"
                                                                                    class="dropdown-item"
                                                                                    (click)="addActivityModal.show(record.job.leadId,6,0,sectionId)">
                                                                                    <i class="las la-tasks"></i>To Do
                                                                                    List
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem"
                                                                                *ngIf="permission.isGranted('Pages.Tenant.Jobs.JobType.Comment')">
                                                                                <a href="javascript:;"
                                                                                    class="dropdown-item"
                                                                                    (click)="addActivityModal.show(record.job.leadId,5,0,sectionId)">
                                                                                    <i
                                                                                        class="las la-comment"></i>Comment
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td pFrozenColumn style="width: 165px"
                                                                    class="gridleadimage" id="selectcustomer"
                                                                    (click)="navigateToLeadDetail(record);">
                                                                    <span class="p-column-title">{{ 'ProjectNumber' |
                                                                        localize}}</span> {{ record.job.projectNumber }}
                                                                </td>
                                                                <td [hidden]="!ExpandedView" style="width:165px;"><span
                                                                        class="badge badge-pill {{record.job.leadStatusColorClass}}">
                                                                        {{record.job.leadStatus}}</span></td>
                                                                <td [hidden]="!ExpandedView" style="width:200px;">
                                                                    <span
                                                                        *ngIf="record.job.applicationStatusdata != null"
                                                                        class="badge badge-pill {{record.job.applicationStatusdata.applicationStatusLabelColor}}">{{record.job.applicationStatusdata.applicationStatusName}}</span>
                                                                </td>
                                                                <td style="width: 220px" [hidden]="!ExpandedView">
                                                                    <span
                                                                        style="text-transform: capitalize;">{{record.job.customerName
                                                                        }}</span>
                                                                </td>
                                                                <td style="width: 250px" [hidden]="!ExpandedView">
                                                                    <span style="text-transform: capitalize;"
                                                                        *ngIf="record.job.address != 0"
                                                                        class="tooltipcnt" tooltipPosition="top"
                                                                        pTooltip="{{ record.job.address }}">
                                                                        {{ record.job.address }}
                                                                    </span>
                                                                    <!-- <div class="set_warp_toltrip">
                                                                        <span [tooltip]="record.job">{{ record.job.address }}</span>
                                                                    </div> -->
                                                                </td>
                                                                <td style="width: 120px" [hidden]="!ExpandedView">
                                                                    <span class="badge badge-secondary">{{
                                                                        record.job.mobile }}</span>
                                                                </td>
                                                                <td style="width: 230px" [hidden]="!ExpandedView">
                                                                    {{ record.job.subDivision }}
                                                                </td>

                                                                <td style="width: 250px" [hidden]="!ExpandedView">
                                                                    {{ record.job.assignUserName }}
                                                                </td>

                                                                <td style="width: 155px;" [hidden]="!ExpandedView">
                                                                    {{ record.job.panelyDays }}
                                                                </td>
                                                                <td style="width: 250px" [hidden]="!ExpandedView">
                                                                    <span *ngIf="record.job.followDiscription != 0"
                                                                        class="tooltipcnt" tooltipPosition="top"
                                                                        pTooltip="{{ record.job.followDiscription }}">
                                                                        {{ record.job.followDiscription }}
                                                                    </span>
                                                                </td>
                                                                <td style="width: 185px" [hidden]="!ExpandedView">
                                                                    <span
                                                                        class="badge badge-secondary d-flex align-items-center"
                                                                        *ngIf="record.job.followDate > 0">
                                                                        <i class="las la-calendar fs-2 me-1"></i>
                                                                        {{record.job.followDate | date: 'dd-MM-YYYY' }}
                                                                    </span>
                                                                </td>
                                                                <td style="width: 250px" [hidden]="!ExpandedView">
                                                                    <span *ngIf="record.job.comment != 0"
                                                                        class="tooltipcnt" tooltipPosition="top"
                                                                        pTooltip="{{ record.job.comment }}">
                                                                        {{ record.job.comment | titlecase }}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div class="primeng-no-data"
                                                        *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                        {{ 'NoData' | localize }}
                                                    </div>
                                                    <div class="primeng-paging-container">
                                                        <p-paginator
                                                            [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                            #paginator (onPageChange)="getJobType($event)"
                                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                                            [showCurrentPageReport]="true"
                                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                                        </p-paginator>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="leadedetailleftpart right_side_scrool scrool_red"
                                    [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"
                                        SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<addActivityModal #addActivityModal></addActivityModal>
<jobTypeDetailModal #jobTypeDetailModal></jobTypeDetailModal>
<!-- <addPaymentModal #addPaymentModal></addPaymentModal> -->