<div [@routerTransition]>
    <!-- Add JOB SECTION STARTS -->
    <form *ngIf="active1" #createOrEditLeadJob="ngForm" novalidate (ngSubmit)="saveJob()" autocomplete="off">
        <div class="white-form-block job-container jobs mt-0">
            <div class="form-container p-0">
                <div class="sections mb-0">
                    <div *ngIf="jobid == 0 && active1">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class=""><i class="las la-toolbox"></i> Add New Job</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="jobType" class="form-label">Type:</label>
                                    <select name="jobTypeId" #jobTypeInput1="ngModel" [(ngModel)]="jobDetails.jobType"
                                        required class="form-control" [disabled]="true">
                                        <option [ngValue]="undefined" selected>Select Type</option>
                                        <option *ngFor="let item of solarTypeList" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="fas fa-solar-panel"
                                            style="font-size: 1.3rem;"></i></span>
                                    <validation-messages [formCtrl]="jobTypeInput1"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-12 mt-6">
                                <h3><i class="las la-map-marked-alt"></i> Site Address</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="Lead_AddressLine1" class="form-label">Address1</label>
                                    <input type="text" id="Lead_AddressLine1" class="form-control"
                                        [(ngModel)]="jobDetails.addressLine1" name="Address1" [disabled]="true" />
                                    <span class="icon-box"><i class="las la-address-card"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="Lead_AddressLine2" class="form-label">Address2</label>
                                    <input type="text" id="Lead_AddressLine2" class="form-control"
                                        [(ngModel)]="jobDetails.addressLine2" name="Address2" [disabled]="true" />
                                    <span class="icon-box"><i class="las la-address-card"></i></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="CityName" class="form-label">City</label>
                                    <input type="text" id="CityName" class="form-control" name="CityName"
                                        [(ngModel)]="jobDetails.city" [disabled]="true" />
                                    <span class="icon-box"><i class="las la-city"></i></span>
                                    <!-- <validation-messages [formCtrl]="suburbInput"></validation-messages> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="TalukaName" class="form-label">Taluka</label>
                                    <input type="text" id="TalukaName" class="form-control" name="TalukaName"
                                        [(ngModel)]="jobDetails.taluka" [disabled]="true" />
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                    <!-- <select name="TalukaName" class="form-select" id="selectTalukaId">
                                        <option selected>Select Taluka</option>
                                        <option *ngFor="let itemltaluka of drptaluka" value="{{itemltaluka.id}}">
                                            {{itemltaluka.displayName}}
                                        </option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="DistrictName" class="form-label">District</label>
                                    <input type="text" id="DistrictName" class="form-control" name="DistrictName"
                                        [(ngModel)]="jobDetails.district" [disabled]="true" />
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                    <!-- <select name="DistrictName" class="form-select" id="selectDistrictId">
                                            <option [ngValue]="undefined" selected>Select District</option>
                                            <option *ngFor="let itemldistrict of drpdistrict"
                                                value="{{itemldistrict.id}}">
                                                {{itemldistrict.displayName}}
                                            </option>
                                        </select> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="StateName" class="form-label">State</label>
                                    <input type="text" id="StateName" class="form-control" name="StateName"
                                        [(ngModel)]="jobDetails.state" [disabled]="true" />
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                    <!-- <select name="StateName" class="form-select " id="selectStateId">
                                            <option selected>Select State</option>
                                            <option *ngFor="let itemlstate of drpstate" value="{{itemlstate.id}}">
                                                {{itemlstate.displayName}}
                                            </option>
                                        </select> -->
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-group form-icon">
                                    <label for="postcode" class="form-label">{{l("Postcode")}} </label>
                                    <input type="text" id="Lead_pincode" class="form-control" name="pincode"
                                        [(ngModel)]="jobDetails.pincode" [disabled]="true" />
                                    <span class="icon-box"><i class="las la-parking"></i></span>
                                </div>
                            </div>

                            <div class="col-md-12 my-3">
                                <!-- <button type="submit" class="btn btn-primary btn-lg"><i class="las la-save"></i>Add</button> -->
                                <button type="submit" *ngIf="active1" class="btn btn-primary" [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')">
                                    <i class="las la-save"></i> Save
                                </button>
                            </div>

                            <!-- <div class="col-md-12 mt-5">
                                <h3>Notes</h3>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Lead_AddressLine1" class="form-label">Project</label>
                                    <textarea class="form-control" rows="3">Project Notes</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Lead_AddressLine1" class="form-label">Installer</label>
                                    <textarea class="form-control" rows="3">Installer Notes</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Lead_AddressLine1" class="form-label">Installation Department</label>
                                    <textarea class="form-control" rows="3">notes for installation Department</textarea>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-12 my-3">
                                <button type="submit" class="btn btn-primary btn-lg"><i class="las la-save"></i>Add</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Add JOB SECTION Ends -->

    <!-- JOB DETAILS SECTION STARTS -->
    <div *ngIf="job.id > 0">
        <!-- JOB INFORMATION STARTS -->
        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between leaddtltitle"
            style="display:none !important;">
            <div class="align-items-center d-flex flex-sm-nowrap flex-wrap">
                <h3 class="align-items-center d-flex"><i class="las la-info-circle fs-1 me-2 text-dark"></i> Job
                    Information - {{jobDetails.job.jobNumber}}</h3>
                <!-- <span class="job-status">Project Status</span> -->
                <span class="job-status badge {{jobDetails.leadStatusColorClass}}">
                    {{jobDetails.leadStatus}}
                </span>
            </div>
            <div>
                <select class="form-control">
                    <option>Job Status</option>
                    <option>Planned</option>
                    <option>Deposite Received</option>
                    <option>Cancel</option>
                </select>
            </div>
        </div>

        <!-- TABS START HERE -->
        <div class="subtabpanel">
            <tabset class="mb-5">
                <tab heading="{{'Sales' | localize}}" [active]="activeTabIndex == 0"
                    *ngIf="'Pages.Tenant.Jobs.Sales' | permission">
                    <!-- SLAES TAB FORM STARTS -->
                    <form #createOrEditJob="ngForm" novalidate (ngSubmit)="editJob()" autocomplete="off">
                        <!-- <div class="leaddtltitle align-items-center d-flex flex-sm-nowrap flex-wrap">
                        <h3 class="align-items-center d-flex"><i class="lar la-file-alt me-1 fs-2 text-dark"></i> Job Details</h3>
                    </div> -->
                        <div class="white-form-block job-container jobs">
                            <div class="form-container" style="padding:0;">

                                <div class="sections">
                                    <!-- JOB TYPE / DETAILS STARTS -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><i class="las la-toolbox"></i>Job Details</h3>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-icon">
                                                <label for="jobType" class="form-label">Job Type:</label>
                                                <select name="jobTypeId" #jobTypeInput="ngModel"
                                                    (change)="changeJobType($event)" [(ngModel)]="jobDetails.jobType"
                                                    class="form-control">
                                                    <option [ngValue]="undefined" selected>Select Type</option>
                                                    <option *ngFor="let item of solarTypeList" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                <span class="icon-box"><i class="fas fa-solar-panel"
                                                        style="font-size: 1.3rem;"></i></span>
                                                <!-- <validation-messages [formCtrl]="jobTypeInput"></validation-messages> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- JOB TYPE / DETAILS ENDS -->

                                    <!-- ADDRESS DETAILS STARTS -->
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="col-md-12 mt-4">
                                                <h3><i class="las la-map-marked-alt"></i>Address Details</h3>
                                            </div>
                                            <div class="row"
                                                style="margin-left:calc(var(--bs-gutter-x) * -0.5) !important;">
                                                <div class="col-md-6">
                                                    <div class="form-group form-icon">
                                                        <label for="Lead_AddressLine1"
                                                            class="form-label">Address1</label>
                                                        <input type="text" id="Lead_AddressLine1" class="form-control"
                                                            name="Address1" placeholder='Address1'
                                                            [(ngModel)]="jobDetails.addressLine1" [disabled]="true" />
                                                        <span class="icon-box"><i
                                                                class="las la-address-card"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-icon">
                                                        <label for="Lead_AddressLine2"
                                                            class="form-label">Address2</label>
                                                        <input type="text" id="Lead_AddressLine2" class="form-control"
                                                            name="Address2" placeholder='Address2'
                                                            [(ngModel)]="jobDetails.addressLine2" [disabled]="true" />
                                                        <span class="icon-box"><i
                                                                class="las la-address-card"></i></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-icon">
                                                        <label for="CityName" class="form-label">City</label>
                                                        <input type="text" id="CityName" class="form-control"
                                                            name="CityName" [(ngModel)]="jobDetails.city"
                                                            [disabled]="true" />
                                                        <!-- <validation-messages [formCtrl]="suburbInput"></validation-messages> -->
                                                        <span class="icon-box"><i class="las la-city"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-icon">
                                                        <label for="TalukaName" class="form-label">Taluka</label>
                                                        <input type="text" id="TalukaName" class="form-control"
                                                            name="TalukaName" [(ngModel)]="jobDetails.taluka"
                                                            [disabled]="true" />
                                                        <span class="icon-box"><i class="las la-map-marked"></i></span>

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-icon">
                                                        <label for="DistrictName" class="form-label">District</label>
                                                        <input type="text" id="District" class="form-control"
                                                            name="District" [(ngModel)]="jobDetails.district"
                                                            [disabled]="true" />
                                                        <span class="icon-box"><i class="las la-map-marked"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-icon">
                                                        <label for="StateName" class="form-label">State</label>
                                                        <input type="text" id="StateName" class="form-control"
                                                            name="StateName" [(ngModel)]="jobDetails.state"
                                                            [disabled]="true" />
                                                        <span class="icon-box"><i class="las la-map-marked"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-icon">
                                                        <label for="postcode" class="form-label">{{l("Postcode")}}
                                                        </label>
                                                        <input type="text" id="Lead_Postcode" class="form-control"
                                                            name="Postcode" [(ngModel)]="jobDetails.pincode"
                                                            [disabled]="true" />
                                                        <span class="icon-box"><i class="las la-parking"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 notes-sec">
                                            <div class="col-md-12 mt-4 ps-2">
                                                <h3><i class="las la-sticky-note"></i>Notes</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Job_Note" class="form-label">Job Notes</label>
                                                    <textarea class="form-control" rows="5" name="JobNotes"
                                                        [(ngModel)]="jobDetails.job.jobNotes"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Job_InstallerNote" class="form-label">Installer
                                                        Notes</label>
                                                    <textarea class="form-control" rows="5" name="InstallerNotes"
                                                        [(ngModel)]="jobDetails.job.installerNotes"></textarea>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Lead_AddressLine1" class="form-label">Installation
                                                    Department Notes</label>
                                                    <textarea class="form-control" rows="3" name="InstallationDepartmentNotes" [(ngModel)]="jobDetails.job.notesForInstallationDepartment"></textarea>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- ADDRESS DETAILS ENDS -->
                                </div>

                                <div class="sections">
                                    <!-- SALES2 DETAILS STARTS -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><i class="las la-tag"></i>Site Details</h3>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="ConsumerNo" class="form-label">{{l("Consumer No.")}}
                                                    *</label>
                                                <input type="text" id="Lead_ConsumerNo" class="form-control"
                                                    name="ConsumerNo" [disabled]="true"
                                                    [(ngModel)]="jobDetails.consumerNumber" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <!-- <validation-messages [formCtrl]="ConsumerNoInput"></validation-messages> -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="SubDivision" class="form-label">{{l("Sub Division")}}
                                                    *</label>
                                                <input type="text" id="Lead_SubDivision" class="form-control"
                                                    name="SubDivision" [disabled]="true"
                                                    [(ngModel)]="jobDetails.subDivision" />
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Division" class="form-label">{{l("Division")}} *</label>
                                                <input type="text" id="Lead_Division" class="form-control"
                                                    name="Division" [disabled]="true"
                                                    [(ngModel)]="jobDetails.division" />
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Discom" class="form-label">{{l("Discom")}} *</label>
                                                <input type="text" id="Lead_Discom" class="form-control" name="Discom"
                                                    [disabled]="true" [(ngModel)]="jobDetails.discom" />
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Circle" class="form-label">Circle *</label>
                                                <input type="text" id="Circle" class="form-control" name="Circle"
                                                    [disabled]="true" [(ngModel)]="jobDetails.circle" />
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                <!-- <validation-messages [formCtrl]="ConsumerNoInput"></validation-messages> -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="SanctionedLoad" class="form-label">Sanctioned Load (in
                                                    KW)</label>
                                                <input type="number" id="SanctionedLoad" class="form-control"
                                                    name="requiredCapacity" [disabled]="true"
                                                    [(ngModel)]="jobDetails.job.sanctionedContractLoad" />
                                                <span class="icon-box"><i class="las la-plug"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Phase_Inverter" class="form-label">Meter Phase</label>
                                                <select class="form-control" id="Phase_Inverter" #DiscomNameInput
                                                    name="Phase_Inverter" [(ngModel)]="jobDetails.job.phaseOfInverter">
                                                    <option [ngValue]="null">Select Phase</option>
                                                    <option value="Single Phase">Single Phase</option>
                                                    <option value="Three Phase">Three Phase</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-tachometer-alt"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="PVCapicuty" class="form-label">Pv Cap. (DC) to be installed
                                                    (in KW)</label>
                                                <input type="number" id="PVCapicuty" class="form-control"
                                                    name="PVCapicuty" [(ngModel)]="jobDetails.job.pvCapacityKw" />
                                                <span class="icon-box"><i class="las la-plug"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- SALES2 DETAILS ENDS -->
                                </div>

                                <div class="sections">
                                    <!-- PRODUCTS SECTION STARTS -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="d-flex align-items-center"><i class="las la-box"></i>
                                                <span class="me-2">Products</span> <span
                                                    class="badge badge-pill badge-dark d-flex align-items-center"
                                                    style="font-size:1rem !important"><i
                                                        class="fas fa-bolt fs-3 me-2"></i>
                                                    {{ panelsize }} KW</span>
                                                <span class="me-2">Inverter</span> <span
                                                    class="badge badge-pill badge-dark d-flex align-items-center"
                                                    style="font-size:1rem !important"><i
                                                        class="fas fa-bolt fs-3 me-2"></i>
                                                    {{ invertersize }} KW</span>
                                            </h3>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-row">

                                                <div class="d-flex align-items-center mb-3"
                                                    *ngFor="let item of JobProducts; let i = index">
                                                    <div class="me-5 w-275px">
                                                        <select class="form-control" [(ngModel)]="item.productTypeId"
                                                            required #productType="ngModel" name="productType{{i}}"
                                                            (change)="filterProductItem(item,i);calculateSystemCapacity();">
                                                            <option [ngValue]="0">Select Product Type</option>
                                                            <option *ngFor="let ptitem of productTypes; let t = index"
                                                                value="{{ptitem.id}}">
                                                                {{ptitem.displayName}}

                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="me-5 w-500px">
                                                        <p-autoComplete [(ngModel)]="item.productItemName"
                                                            id="SuburbInput" name="jp{{i}}" #jp="ngModel" required
                                                            [suggestions]="productItemSuggestions"
                                                            (completeMethod)="filterProductIteams($event , i)"
                                                            (onSelect)="getProductTypeId(i); calculateSystemCapacity();"
                                                            aria-placeholder="Search Product Item Name" [minLength]="2"
                                                            inputStyleClass="form-control"
                                                            styleClass="width-percent-100">
                                                        </p-autoComplete>
                                                    </div>
                                                    <div class="me-5 w-250px">
                                                        <input type="text" placeholder="Product Model Number"
                                                            class="form-control" name="jpmodel{{i}}" #jpmodel="ngModel"
                                                            [(ngModel)]="item.model" [disbled]="true" />
                                                    </div>
                                                    <div class="m
                                                    e-5 w-225px">
                                                        <input type="number" class="form-control"
                                                            placeholder="Product quantity" name="jpsize{{i}}"
                                                            #jpmodel="ngModel" [(ngModel)]="item.quantity"
                                                            (change)="calculateSystemCapacity()" />
                                                    </div>
                                                    <div class="me-0 action-btn w-125px">
                                                        <a class="me-2"
                                                            (click)="removeJobProduct(item);calculateSystemCapacity();"
                                                            *ngIf="JobProducts.length != 1"><i
                                                                class="las la-trash text-danger"></i></a>
                                                        <a (click)="addJobProduct()"
                                                            *ngIf="i == JobProducts.length - 1"><i
                                                                class="las la-plus-circle text-primary"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- PRODUCTS SECTION ENDS -->
                                </div>

                                <!-- Variation  SECTION STARTS -->
                                <div class="sections">
                                    <!-- Price / Variation  SECTION STARTS -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><i class="las la-rupee-sign"></i>Price</h3>
                                        </div>
                                        <div class="col-md-6 row">
                                            <div class="col-md-6 mb-6">
                                                <div class="form-group form-icon">
                                                    <div class="mb-2">
                                                        <label for="" class="form-label">System Rate</label>
                                                        <input type="number" id="SystemRate" class="form-control w-250px"
                                                            name="SystemRate" required name="SystemRate"
                                                            [(ngModel)]="SystemRate" (change)="calculateRates()" />
                                                        <span class="icon-box" style="top:33px;"><i
                                                                class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="" class="form-label">13.80% GST</label>
                                                        <input type="number" id="SystemGST" class="form-control w-250px"
                                                            name="SystemGST" required name="SystemGST"
                                                            [(ngModel)]="SystemGST" (change)="calculateRates()" />
                                                        <span class="icon-box" style="top:112px;"><i
                                                                class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="" class="form-label">Actual System Cost</label>
                                                        <input type="number" id="actualSystemCost" class="form-control w-250px"
                                                            name="actualSystemCost" required name="ActualSystemCost"
                                                            [(ngModel)]="jobDetails.job.actualSystemCost"
                                                            (change)="calculateRates()" />
                                                        <span class="icon-box" style="top:191px;"><i
                                                                class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-6">
                                                <div class="form-group form-icon">
                                                    <label for="" class="form-label">Job Loan Option</label>
                                                    <select class="form-control" id="Job_Loan" #LoanOptionInput
                                                        name="Job_Loan" [(ngModel)]="jobDetails.job.jobLoanOption">

                                                        <option value="0">With Loan</option>
                                                        <option value="1">Without Loan</option>
                                                    </select>
                                                    <span class="icon-box" style="top:33px;"><i
                                                            class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                <h3><i class="las la-cogs"></i>Variation</h3>
                                            </div>
                                            <div class="col-md-12" style="padding-left:0;">
                                                <div class="d-flex align-items-center mb-3"
                                                    *ngFor="let item of JobVariations; let i = index">
                                                    <div class="me-5 w-250px">
                                                        <!-- <p-autoComplete [(ngModel)]="item.variationId"
                                                            id="SuburbInputs" name="jpg{{i}}" #jpg="ngModel" required
                                                            [suggestions]="variationItemSuggestions"
                                                            (completeMethod)="filterVariationIteams($event , i)"
                                                            (onSelect)="getVariationId(i);"
                                                            aria-placeholder="Search Variation Item Name" [minLength]="2"
                                                            inputStyleClass="form-control"
                                                            styleClass="width-percent-100">
                                                        </p-autoComplete> -->

                                                        <select class="form-control" [(ngModel)]="item.variationId"
                                                            required #productType="ngModel" name="variation{{i}}">
                                                            <option [ngValue]="0">Select</option>
                                                            <option *ngFor="let item of variations" value="{{item.id}}">
                                                                {{item.displayName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="me-5 w-150px form-icon">
                                                        <input type="number" name="variationCost{{i}}"
                                                            #variationCost="ngModel" [(ngModel)]="item.cost"
                                                            class="form-control w-150px" (change)="calculateRates()" />
                                                        <span class="icon-box" style="top:3px;"><i
                                                                class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                    </div>
                                                    <div class="me-0 action-btn w-125px">
                                                        <a class="me-2" (click)="removeJobVariation(item)"
                                                            *ngIf="JobVariations.length != 1"><i
                                                                class="las la-trash text-danger"></i></a>
                                                        <a (click)="addJobVariation()"
                                                            *ngIf="i == JobVariations.length - 1"><i
                                                                class="las la-plus-circle text-primary"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="variation-box">
                                                <div class="row justify-content-between">
                                                    <!-- Right side calculation box starts -->
                                                    <div class="col-md-12" style="padding-right:0;">
                                                        <div class="tota-cost-box">
                                                            <ul>
                                                                <li class="heading">
                                                                    <label>Total Cost</label>
                                                                    <!-- <span>200000.00</span> -->
                                                                    <span class="d-flex align-items-center"><i
                                                                            class="las la-rupee-sign fs-3 text-white"></i>{{
                                                                        jobDetails.job.netSystemCost | number : '1.2'
                                                                        }}</span>
                                                                </li>
                                                                <li class="bg-light-red">
                                                                    <label>40% Subsidy</label>
                                                                    <!-- <span>10000.00</span> -->
                                                                    <!-- <span>{{Subcidy40}}</span> -->
                                                                    <span class="form-icon">
                                                                        <!-- <span class="d-flex align-items-center bold"><i
                                                                                class="las la-rupee-sign fs-3 text-danger text-dark"></i>{{
                                                                            Subcidy40 | number : '1.2' }}</span> -->
                                                                        <input type="number" class="form-control"
                                                                            style="padding-left:45px; width:200px !important;"
                                                                            name="Subcidy40Amount"
                                                                            [(ngModel)]="jobDetails.job.jobSubsidy40"
                                                                            #Subcidy40Amount="ngModel"
                                                                            [disabled]="!IsManualPriceSubcidy"
                                                                            (change)="calculateRates()">
                                                                        <span class="icon-box" style="top:2px;"><i
                                                                                class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                                    </span>
                                                                </li>
                                                                <li class="bg-light-red">
                                                                    <label>20% Subcidy</label>
                                                                    <!-- <span>{{ Subcidy20 }}</span> -->
                                                                    <span class="form-icon">
                                                                        <!-- <span class="d-flex align-items-center bold"><i
                                                                                class="las la-rupee-sign fs-3 text-dark"></i>{{
                                                                            Subcidy20 | number : '1.2' }}</span> -->
                                                                        <input type="number" class="form-control"
                                                                            style="padding-left:45px; width:200px !important;"
                                                                            name="Subcidy20Amount"
                                                                            [(ngModel)]="jobDetails.job.jobSubsidy20"
                                                                            #Subcidy20Amount="ngModel"
                                                                            [disabled]="!IsManualPriceSubcidy"
                                                                            (change)="calculateRates()">
                                                                        <span class="icon-box" style="top:2px;"><i
                                                                                class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                                    </span>
                                                                    <!-- <span>8000.00</span> -->
                                                                </li>
                                                                <li>
                                                                    <label>Deposite Required</label>
                                                                    <!-- <span><input type="text" class="form-control" value="10000"></span> -->
                                                                    <span class="form-icon">
                                                                        <input type="number" class="form-control"
                                                                            style="padding-left:45px; width:150px !important;"
                                                                            name="DepositeAmount"
                                                                            [(ngModel)]="jobDetails.job.depositeAmount"
                                                                            #depositeAmount="ngModel"
                                                                            (change)="calculateRates()">
                                                                        <span class="icon-box" style="top:2px;"><i
                                                                                class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                                                    </span>
                                                                </li>
                                                                <li class="footer">
                                                                    <label>Bill To Pay</label>
                                                                    <span class="d-flex align-items-center"><i
                                                                            class="las la-rupee-sign fs-3 text-dark"></i>{{
                                                                        jobDetails.job.totalJobCost | number : '1.2'
                                                                        }}</span>
                                                                    <!-- <span>172000.00</span> -->
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- Right side calculation box Ends -->
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">40% subsidy</label>
                                            <input type="number" id="" class="form-control" name="" required name="subcidy40" [(ngModel)]="jobDetails.job.subcidy40" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">20% subcidy</label>
                                            <input type="number" id="" class="form-control" name="" required name="subcidy20" [(ngModel)]="jobDetails.job.subcidy20" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Total Subcidy Amount</label>
                                            <input type="number" id="" class="form-control" name="" required name="totalSubcidyAmount" [(ngModel)]="jobDetails.job.totalSubcidyAmount" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Net System Cost</label>
                                            <input type="text" id="" class="form-control" name="" required name="netSystemCost" [(ngModel)]="jobDetails.job.netSystemCost" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Diposite Amout</label>
                                            <input type="text" id="" class="form-control" name="" required name="depositeAmount" [(ngModel)]="jobDetails.job.depositeAmount" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Structure Amount</label>
                                            <input type="text" id="" class="form-control" name="" required name="strctureAmmount" [(ngModel)]="jobDetails.strctureAmmount" [disabled]="true" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Net Meter Charges</label>
                                            <input type="text" id="" class="form-control" name="" required name="netMeterCharges" [(ngModel)]="jobDetails.job.netMeterCharges" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Agreement Charges</label>
                                            <input type="text" id="" class="form-control" name="" required name="agreementCharges" [(ngModel)]="jobDetails.job.agreementCharges" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Geda charges</label>
                                            <input type="text" id="" class="form-control" name="" required name="gedaCharges" [(ngModel)]="jobDetails.job.gedaCharges" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="" class="form-label">Total Job Cost</label>
                                            <input type="text" id="" class="form-control" name="" required name="totalJobCost" [(ngModel)]="jobDetails.job.totalJobCost" />
                                        </div>
                                    </div> -->
                                    </div>
                                    <!-- SALES 4 / Variation SECTION ENDS -->
                                </div>
                            </div>

                            <div class="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                                            *ngIf="'Pages.Tenant.Jobs.Sales.Create' || 'Pages.Tenant.Jobs.Sales.Edit' | permission"
                                            [busyText]="l('SavingWithThreeDot')">
                                            <i class="las la-save"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- SLAES TAB FORM ENDS -->
                </tab>

                <tab heading="{{'Quotation' | localize}}" [active]="activeTabIndex == 1"
                    *ngIf="'Pages.Tenant.Jobs.Quotation' | permission">
                    <div class="white-form-block job-container jobs ng-tns-c315-11">
                        <div class="">
                            <createOrEditJobQuotationModal #createOrEditJobQuotationModal SelectedJobId={{jobid}}
                                selectedJobNo={{jobNumber}} [JobProducts]="JobProducts" [JobVariations]="JobVariations"
                                Subcidy20="{{jobDetails.job.jobSubsidy20}}" Subcidy40="{{jobDetails.job.jobSubsidy40}}"
                                SelectedLeadId={{leadId}} [jobItem]="jobDetails"
                                SelectedLoanOption="{{jobDetails.job.jobLoanOption}}">
                            </createOrEditJobQuotationModal>
                        </div>
                    </div>
                </tab>

                <tab heading="{{'Payment' | localize}}" [active]="activeTabIndex == 2"
                    *ngIf="'Pages.Tenant.Jobs.Payment' | permission">
                    <div class="white-form-block job-container jobs">
                        <div class="white-form-block job-container">
                            <div class="">
                                <createOrEditPaymentModal #createOrEditPaymentModal SelectedJobId={{jobid}}
                                    SelectedLeadId={{leadId}}></createOrEditPaymentModal>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="{{'Installation' | localize}}" [active]="activeTabIndex == 3"
                    *ngIf="'Pages.Tenant.Jobs.Payment' | permission">
                    <div class="white-form-block job-container jobs">
                        <div class="white-form-block job-container">
                            <div class="">
                                <createOrEditJobInstallerModal #createOrEditJobInstallerModal SelectedJobId={{jobid}}
                                    SelectedLeadId={{leadId}} jobproductItem="{{JobProducts}}">
                                </createOrEditJobInstallerModal>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="{{'Refund' | localize}}" [active]="activeTabIndex == 4"
                    *ngIf="'Pages.Tenant.Jobs.Payment' | permission">
                    <div class="white-form-block job-container jobs">
                        <div class="white-form-block job-container">
                            <div class="sections">
                                <createOrEditJobRefundModal #createOrEditJobRefundModal SelectedJobId={{jobid}}
                                    SelectedLeadId={{leadId}}></createOrEditJobRefundModal>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>

        <!-- TABS ENDS HERE -->

        <!-- JOB INFORMATION ENDSS -->


    </div>

    <!-- JOB DETAILS SECTION ENDS -->

</div>


<addActivityModal #addActivityModal></addActivityModal>