<div [@routerTransition]>
    <div bsModal #pdfTemplateModel="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="pdfTemplateModel" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog  modal-dialog-scrollable modal-lg largemodel pdfTemplateModel">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                        <div class="d-flex align-items-center">
                            <h4 class="modal-title me-5">
                                <span>Quotation</span>
                            </h4>
                            <button type="button" class="btn btn-primary" (click)="generatePdf()"><i class="las la-file-pdf"></i> DownLoad</button>
                        </div>
                        <button type="button" class="btn-close" (click)="close()"></button>
                    </div>
                </div>
                <div class="modal-body bg-gray" style="max-height:inherit;">
                    <div class="jobinfo-box">
                        <div style="margin-top:10px; height:85vh; overflow-y: auto;" [innerHtml]="htmlContentbody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<addActivityModal #addActivityModal selectedactionId="{{actionId}}" selectedsectionId="{{sectionId}}"></addActivityModal>