<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #variationForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="variation.id">{{ 'EditVariation' | localize }}</span>
                        <span *ngIf="!variation.id">{{ 'CreateNewVariation' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label" for="Name">{{ 'Name' | localize }} *</label>
                                    <input id="Name" [(ngModel)]="variation.name" type="text" name="Name" class="form-control" required maxlength="256" />
                                    <span class="icon-box" style="top:33px;"><i class="las la-tag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label">{{ 'Action' | localize }}</label>
                                    <select name="Action" #actionIdInput="ngModel" [(ngModel)]="variation.action" required class="form-control" id="selectAction">
                                            <option value="" selected>Select Category</option>
                                            <option value="Plus">Plus</option>
                                            <option value="Minus">Minus</option>
                                    </select>
                                    <span class="icon-box" style="top:33px;"><i class="las la-calculator"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-check form-check-custom form-check-solid py-1">
                                    <input id="EditVariation_IsActive" type="checkbox" name="locationIsActive" [(ngModel)]="variation.isActive" class="form-check-input" />
                                    <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!variationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                    <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
                </div>
            </form>
        </div>
    </div>