<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Variation' | localize" [count]="recordCount" [description]="'VariationHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="float-end refresh" (click)="getVariation()"></button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.Variation.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="las la-file-excel"></i> -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportVariationToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> {{ 'ExportToExcel' | localize }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button (click)="createVariation()" *ngIf="'Pages.Tenant.DataVaults.Variation.Create' | permission" class="btn btn-primary">
                                    <!-- {{ 'CreateNewLocations' | localize }} -->
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                </button>
                            </div>

                            <div class="">
                                <form class="form searchclearbox" autocomplete="new-password" style="position: relative;">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getVariation()"><i class="fas fa-times-circle"></i></a>
                                        <button (click)="getVariation()" class="btn search-btn" type="submit">
                                            <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">

                <form class="form" autocomplete="new-password" style="display: none;">
                    <div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="mb-5 m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                        <button (click)="getVariation()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">

                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getVariation($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive"
                            scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center actionwidth" style="width:90px;" [hidden]="
                                                !(
                                                    [
                                                        'Pages.Tenant.DataVaults.Variation.Edit',
                                                        'Pages.Tenant.DataVaults.Variation.Delete'
                                                    ] | permissionAny
                                                )
                                            ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 60%" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 250px" pSortableColumn="action">
                                        {{ 'Action' | localize }}
                                        <p-sortIcon field="action"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width:90px;" [hidden]="!(
                                                    [
                                                        'Pages.Tenant.DataVaults.Variation.Edit',
                                                        'Pages.Tenant.DataVaults.Variation.Delete'
                                                    ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                                </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.Variation.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditVariationModal.show(record.variation.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.Variation.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteVariation(record.variation)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 60%">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.variation.name }}
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Action' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.variation.action == 'Plus' ">{{ record.variation.action }}</span>
                                        <span class="badge badge-danger" *ngIf="record.variation.action == 'Minus' ">{{ record.variation.action }}</span>
                                    </td>

                                    <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.variation.isActive">
                                                {{ 'Yes' | localize }}
                                            </span>
                                        <span class="badge badge-dark" *ngIf="!record.variation.isActive">
                                                {{ 'No' | localize }}
                                            </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">

                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getVariation($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>

            </div>
        </div>
        <createOrEditVariationModal #createOrEditVariationModal (modalSave)="getVariation()"></createOrEditVariationModal>
    </div>
</div>