<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Refund</title>


<style>
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    body {
        background: #fff;
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        color: #000;
        font-size: 13px;
        font-weight: 400;
    }
    
    .pdf_wrapper {
        width: 100%;
        padding: 0 !important;
    }
    
    .container_pdf {
        width: 920px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .content {
        padding: 0 !important;
    }
    
    .header_pdf {
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }
    
    .logo {
        width: 220px;
    }
    
    .logo img {
        max-width: 210px;
    }
    
    .header-details {
        text-align: right;
    }
    
    .title {
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .details {
        text-align: right;
        color: #019EE3;
        font-weight: 400;
        line-height: 22px;
    }
    
    .customer-details {
        background: #f8f7fe;
        border: 1px solid #bfd6e1;
        display: flex;
        justify-content: space-between;
        margin: 5px 0 10px;
        align-items: center;
        padding: 12px 20px;
        border-radius: 10px;
    }
    
    .panel-left {
        width: 60%;
        margin: 5px 40px 5px 0;
        overflow: hidden;
        border-right: 4px solid #019EE3;
        padding-right: 40px;
    }
    
    .panel-left .address:last-child {
        margin-bottom: 0;
    }
    
    .panel-right {
        margin: 5px 0 0 10px;
        overflow: hidden;
        width: 30%;
    }
    
    .cus-title {
        font-weight: 600;
        color: #000;
        font-size: 22px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #019EE3;
    }
    
    .cus-sub-title {
        font-weight: 600;
        color: #000;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .address {
        font-weight: 500;
        color: #333;
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 22px;
        display: flex;
        align-items: flex-start;
    }
    
    .address img {
        max-height: 18px;
        margin-right: 8px;
    }
    
    .right-content {
        font-weight: 500;
        color: #333;
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 26px;
        text-align: left;
    }
    
    .additional-details {
        margin: 15px 0 0;
    }
    
    .add-title {
        font-weight: 700;
        color: #000;
        font-size: 18px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 2px solid #019EE3;
        width: 40%;
    }
    
    .add-details {
        display: flex;
        justify-content: space-between;
        margin: 0;
        align-items: center;
    }
    
    .add-panel {
        width: 100%;
        margin: 5px 0;
        overflow: hidden;
    }
    
    .add-panel-content {
        color: #333;
        font-weight: 400;
        padding: 5px 0;
        font-size: 14px;
        text-align: left;
        line-height: 20px;
    }
    
    .payment-block {
        padding: 10px 15px;
        background: #1DA7E4 url('http://solarcrm.co.in/assets/common/images/test/bottom-frame.png') bottom right no-repeat;
    }
    
    .payment-title {
        color: #fff;
        font-weight: 700;
        padding: 0 0 5px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .payment-container {
        display: flex;
        justify-content: space-between;
        margin: 0;
        align-items: center;
    }
    
    .payment-panel {
        width: 100%;
        margin: 0 0;
        overflow: hidden;
    }
    
    .payment-panel-code {
        width: 40%;
        margin: 0 0;
        overflow: hidden;
    }
    
    .pay-content {
        color: #fff;
        font-weight: 400;
        padding: 2px 0;
        font-size: 13px;
        text-align: left;
        line-height: 20px;
    }
    
    .bk-cheq {
        color: #fff;
        font-weight: 400;
        padding: 2px 0;
        font-size: 13px;
        text-align: center;
    }
    
    .notes {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
        margin: 0 0 10px;
        height: 80px;
        font-size: 12px;
    }
    
    .primary-table table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
    }
    
    .primary-table table td,
    .primary-table table th {
        padding: 12px 20px;
        text-align: left;
    }
    
    .primary-table table td:last-child,
    .primary-table table th:last-child {
        text-align: right;
        border-right: 0 !important;
    }
    
    .primary-table table th {
        color: #fff;
        font-weight: 700;
        background: #30343A;
        border: 0;
        font-size: 15px;
    }
    
    .primary-table table td {
        border: 1px solid #f2f2f2;
        border-width: 0 1px 0 0;
    }
    
    .primary-table table tr:nth-child(odd) {
        background-color: #E1E3E6;
    }
    
    .primary-table table tr.highlight-row td {
        background-color: #fff !important;
        padding: 15px 20px;
    }
    
    .primary-table table tr:last-child td {
        border-bottom: 4px solid #1DA7E4;
    }
    
    .text-right {
        text-align: right !important;
    }
    
    .bolder {
        font-weight: 900 !important;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .medium {
        font-weight: 500 !important;
    }
    
    .dflex {
        display: flex;
    }
    
    .align-item-center {
        align-items: Center;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }
    
    .total-row {
        background: #fff !important;
        border-top: 1px solid #E1E3E6;
        font-size: 14px;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .mb10 {
        margin-bottom: 10px !important;
    }
    
    .mb20 {
        margin-bottom: 20px !important;
    }
    
    .panel-header {
        font-weight: 700;
        color: #000;
        font-size: 18px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 2px solid #019EE3;
    }
    
    .panel-container {
        font-size: 12px;
    }
    
    .bottom-part-sign {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px -15px 0;
        text-align: center;
    }
    
    .bottom-part-sign .steps {
        margin: 0 15px;
        flex: 1;
    }
    
    .bottom-part-sign .steps .sign {
        min-height: 120px;
    }
    
    .bottom-part-sign .tag {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 10px;
    }
    
    .bottom-part-sign {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px -15px 0;
        text-align: center;
    }
    
    .bottom-part-sign .steps {
        margin: 0 15px;
        flex: 1;
        font-size: 13px !important;
    }
    
    .bottom-part-sign .steps .sign {
        min-height: 80px;
    }
    
    .bottom-part-sign .tag {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 10px;
        font-weight: 700;
        text-align: left;
    }
    
    .tc-block {
        margin-bottom: 10px;
    }
    
    .tc-block .tc-title {
        color: #1DA7E4;
        font-weight: 700;
        font-size: 10px;
    }
    
    .tc-block .tc-content {
        padding-left: 15px;
        font-weight: normal;
        font-size: 8px;
        line-height: 9px;
    }
    
    .tc-block .tc-content p {
        margin: 3px 0;
        padding: 0;
    }
    
    .tc-block .tc-content p span {
        font-weight: 600;
        margin-right: 3px;
    }
    
    .extra-details td {
        font-size: 12px;
        padding: 5px 2px;
    }
    
    .pdf-panel {
        display: block;
        border-radius: 10px;
        overflow: hidden;
        margin: 25px 0;
        border: 1px solid #bfd6e1;
    }
    
    .pdf-panel-header {
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        border-bottom: 2px solid #bfd6e1;
        background: #F8F7FE;
    }
    
    .pdf-panel-container {
        padding: 20px;
        border-top: 0;
        font-size: 0.9rem;
    }
</style>



<div class="pdf_wrapper">
    <div class="container_pdf">
        <!-- HEADER STARTS -->
        <div class="header_pdf">
            <div class="logo">
                <img src="{{Organization.orgLogo}}">
            </div>
            <div class="header-details">
                <div class="content">
                    <div class="title">REFUND FORM</div>
                    <div class="details">
                        <strong>T:</strong> {{Organization.orgMobile}} &nbsp;&nbsp;&nbsp;&nbsp; <strong>E:</strong> {{Organization.orgEmail}}<br>
                        <strong>W:</strong> {{Organization.orgWebsite}}
                    </div>
                </div>
            </div>
        </div>
        <!-- HEADER ENDS -->
        <!-- CUSTOMER DETAILS SECTION STARTS -->
        <div class='customer-details'>
            <div class='panel-left'>
                <div class='cus-title'>Customer Details</div>
                <div class='dflex justify-space-between'>
                    <div style='padding:10px; background:#fff; border-radius: 10px; width: 100%;'>
                        <div class='address bold mb10'>{{Customer.Name}}</div>
                        <div class='address mb5'><b>A :</b> <span style="margin-left:10px;">{{Customer.Address}}</span></div>
                        <div class='address'><b>M :</b> <span style="margin-left:10px;">+91 {{Customer.Mobile}}</span></div>
                        <div class='address'><b>E :</b> <span style="margin-left:10px;">+91 {{Customer.Email}}</span></div>
                    </div>
                </div>
            </div>

            <div class='panel-right'>
                <div class='right-content'>
                    <table style='border:0; width:100%; border-collapse: collapse;' class='extra-details'>
                        <tr>
                            <td>Project No:</td>
                            <td>:
                                <sapn class='bolder'>SB021556</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>:
                                <sapn class='bolder'>Canel</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Sales Person</td>
                            <td>:
                                <sapn class='bolder'>Sumit</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Deposit Date</td>
                            <td>:
                                <sapn class='bolder'>December 20, 2022</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Created Date</td>
                            <td>:
                                <sapn class='bolder'>December 15, 2022</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Manager Name</td>
                            <td>:
                                <sapn class='bolder'>Nilesh Dhimar</sapn>
                            </td>
                        </tr>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- CUSTOMER DETAILS SECTION ENDS -->

        <div class="pdf-panel">
            <div class="pdf-panel-header">Reasons</div>
            <div class="pdf-panel-container">Job has been cancelled, as customer had dissatisfaction with Sales Representative.</div>
        </div>

        <!-- Office Use STARTS -->
        <div class='customer-details'>
            <div class='panel-left'>
                <div class='cus-title'>Office Use Only</div>
                <div class='dflex justify-space-between'>
                    <div style='padding:10px; background:#fff; border-radius: 10px; width: 100%;'>
                        <div class='address bold mb10'>Ravindra Gohel</div>
                        <div class='address'><b>M :</b> <span style="margin-left:10px;">+91 9898989898</span></div>
                        <div class='address'><b>E :</b> <span style="margin-left:10px;">ravindra@aps.com</span></div>
                    </div>
                </div>
            </div>

            <div class='panel-right'>
                <div class='right-content'>
                    <table style='border:0; width:100%; border-collapse: collapse;' class='extra-details'>
                        <tr>
                            <td>Project No:</td>
                            <td>:
                                <sapn class='bolder'>SB021556</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Bank Name</td>
                            <td>:
                                <sapn class='bolder'>State Bank Of India</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>:
                                <sapn class='bolder'>0000242424</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>:
                                <sapn class='bolder'>Mahendra Patel</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>:
                                <sapn class='bolder'>10,000.00</sapn>
                            </td>
                        </tr>
                        <tr>
                            <td>Refund Date</td>
                            <td>:
                                <sapn class='bolder'>-</sapn>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Office Use Ends -->

        <div class="pdf-panel">
            <div class="pdf-panel-header">Reason for not Refund</div>
            <div class="pdf-panel-container"></div>
        </div>


    </div>
</div>