<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>
</head>

<style>
    body {
        font-size: 13px !important;
    }

    .form-control-chk {
        font-family: system-ui, sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 1.2em;
    }

    .form-control-chk+.form-control-chk {
        margin-top: 1em;
    }

    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.50em;
        height: 1.50em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }

    input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);
        color: var(--form-control-disabled);
        cursor: not-allowed;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .data-container {
        width: 900px;
        padding: 0 20px;
        margin: 0 auto;
    }

    /*************** Common Classes ******************/

    .medium {
        font-weight: 500 !important;
    }

    .bold {
        font-weight: 700 !important;
    }

    .bolder {
        font-weight: 900 !important;
    }

    .f12 {
        font-size: 12px !important;
    }

    .f14 {
        font-size: 14px !important;
    }

    .f16 {
        font-size: 16px !important;
    }

    .f18 {
        font-size: 18px !important;
    }

    .f20 {
        font-size: 20px !important;
    }

    .mt15 {
        margin-top: 15px !important
    }

    .mt20 {
        margin-top: 20px !important
    }

    .mb10 {
        margin-bottom: 10px !important;
    }

    .mb15 {
        margin-bottom: 15px !important;
    }

    .mb5 {
        margin-bottom: 5px !important;
    }

    .mt10 {
        margin-top: 10px !important;
    }

    /*************** Common Ends ******************/

    .pdf_header {
        width: 880px;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
    }

    .pdf_header_line {
        display: flex;
        height: 4px;
        width: 100%;
    }

    .pdf_header_line .yellow_line {
        height: 4px;
        width: 450px;
        background: #FEC95E;
    }

    .pdf_header_line .blue_line {
        height: 4px;
        width: 450px;
        background: #078BCC;
    }

    .header_abn {
        border-radius: 20px;
        background: #078BCC;
        border: 1px solid #078BCC;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        padding-left: 15px;
    }

    .header_abn span {
        background: #fff;
        color: #000;
        border-radius: 0 20px 20px 0;
        margin-left: 15px;
        padding: 8px 12px;
    }

    .pdf_address_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pdf_address_box .sign_items {
        margin: 0 5px;
        width: 100%;
    }

    .pdf_address_box .sign_items .sign_box {
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
        height: 70px;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: 600;
    }

    .pdf_address_box .sign_items .box_label {
        text-align: center;
        padding: 5px 0;
        font-weight: 600;
    }

    .pdf_footer_box {
        display: flex;
        padding: 25px;
        align-items: center;
        justify-content: space-between;
        background: #078BCC;
        color: #fff;
        margin-top: 25px;
    }

    .pdf_footer_box .pdf_address_box {
        text-align: center;
        margin: 0 5px;
        display: block;
    }

    .pdf_footer_box .pdf_address_box h3 {
        display: block;
        font-size: 0.8rem;
        margin: 0 0 5px;
        padding: 0;
    }

    .pdf_footer_box .pdf_address_box p {
        line-height: 20px;
        padding: 0;
        margin: 0;
    }

    .pdf_main_data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pdf_main_data .pdf_left_box {
        width: 70%;
    }

    .pdf_main_data .pdf_right_table {
        width: 27%;
    }

    .logo_img {
        width: 320px;
    }

    .pdf_banner_img {
        width: 100%;
        margin: 30px 0 0;
    }

    .chart_img {
        border-radius: 10px;
        width: 870px;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 0 10px #00000040;
    }

    .pdf_bottom_tags {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        font-size: 0.7rem;
        font-weight: 600;
    }

    .tags {
        background: #e1e1ef;
    }

    @media (max-width: 768px) {

        html,
        body {
            overflow-x: hidden;
        }

        section {
            padding: 15px;
        }

        .data-container {
            width: auto;
            padding: 0;
        }

        .pdf_header {
            width: 100%;
            flex-direction: column;
            padding: 10px 0;
        }

        .logo_img {
            width: 250px;
        }

        .header_abn {
            margin-top: 15px;
        }

        .pdf_header_line .blue_line,
        .pdf_header_line .yellow_line {
            width: 50%;
        }

        .pdf_main_data {
            flex-direction: column;
        }

        .pdf_main_data .pdf_left_box,
        .pdf_main_data .pdf_right_table {
            width: 100%;
        }

        .pdf_main_data .pdf_right_table {
            margin-top: 15px
        }

        .chart_img {
            width: 95%;
        }

        .pdf_address_box,
        .pdf_footer_box {
            flex-direction: column;
        }

        .pdf_address_box .sign_items,
        .pdf_footer_box .pdf_address_box {
            width: 95%;
            margin: 10px;
        }

        .pdf_bottom_tags {
            flex-direction: column;
        }
    }

    @media (min-width: 768px) {
        body {
            background: #fff;
            color: #000;
            font-size: 13px !important;
        }
    }

    .kt-login.kt-login--v1 .kt-login__wrapper {
        background: #fff !important;
    }
</style>

<div style="max-width:600px; background: rgb(211,151,250);
background: linear-gradient(321deg, rgba(211,151,250,1) 0%, rgba(89,80,185,1) 59%); height:100%;">

    <div style="max-width:100%;" *ngIf="!documentData.isSubmitted && !documentData.expiry">
        <div style="display:flex; flex-direction: column; align-items: center; padding:25px 0 65px;">
            <img [src]="appRootUrl() + 'assets/common/images/logo-icon.png'"
                style="max-width:60px; margin-bottom:20px;">
            <img [src]="appRootUrl() + 'assets/common/images/uploading.png'" style="width:140px;">
            <p style="text-align:center; margin:5px 0 0; font-size:1.1rem; font-weight:normal; color:#fff;">You need to
                Upload your</p>
            <p style="text-align:center; margin:5px 0 10px; font-size:2rem; font-weight:500; color:#fff;">{{
                documentData.documnetType }}</p>
            <p
                style="text-align:center; margin:0 0 10px; padding:0 10px; font-size:1rem; font-weight:normal; color:#fff; opacity:0.8;">
                Request by {{ documentData.requestedBy }}
            </p>
        </div>
    </div>
    <div style="width:96%; margin:0 auto; background:#fff; position:relative; top:-28px; border-radius: 20px; padding:20px;">

        <div class="upload-btn-wrapper" *ngIf="!documentData.isSubmitted && !documentData.expiry !saveDoc">
            <button class="btn"><i class="las la-camera" style="font-size:28px !important;"></i> Upload File</button>
            <input type="file" name="myfile" accept=".jpg,.png" (change)="onFileChange($event);" />
        </div>

        <div style="margin:-10px -10px 15px; height:37vh; overflow-y:auto;" *ngIf="!saveDoc">
            <div style="display:flex; align-items: center; padding:10px; justify-content: space-between; border-radius:8px; background:#f4f3ff; box-shadow: 0 0 2px #4c577d75;
                    width: 97%; margin: 8px auto;" *ngFor='let url of images; let i = index'>
                <div style="display:flex; align-items: center;">
                    <span
                        style="width:90px; background:#efedff; border-radius:8px; overflow:hidden; margin-right:10px;">
                        <!-- <img [src]="appRootUrl() + 'assets/common/images/img_person1.png'" style="object-fit: cover; width:100%; max-height:50px;"> -->
                        <img [src]="url" style="object-fit: cover; width:100%; max-height:50px;">
                    </span>
                    <span style="font-size:16px; font-weight:500;">{{ fileName }}_{{i}}</span>
                </div>
                <a (click)="removeImage(i)"><i class="las la-trash"
                        style="font-size:26px; opacity:0.5; color:red;"></i></a>
            </div>

            <!-- <div style="display:flex; align-items: center; padding:10px; justify-content: space-between; border-radius:8px; background:#f4f3ff; box-shadow: 0 0 2px #4c577d75;
                    width: 97%;
                    margin: 8px auto;">
                        <div style="display:flex; align-items: center;">
                            <span style="width:90px; background:#efedff; border-radius:8px; overflow:hidden; margin-right:10px;">
                                <img [src]="appRootUrl() + 'assets/common/images/img_person1.png'" style="object-fit: cover; width:100%; max-height:50px;">
                            </span>
                            <span style="font-size:16px; font-weight:500;">Electric Pole Image</span>
                        </div>
                        <a href=""><i class="las la-trash" style="font-size:26px; opacity:0.5; color:red;"></i></a>
                    </div> -->
        </div>

        <div style="display:flex; flex-direction: column; align-items: center;"
            *ngIf="!documentData.isSubmitted && !documentData.expiry && !saveDoc">
            <button type="button" class="btn btn-primary"
                style="background: rgb(211,151,250); background: linear-gradient(321deg, rgba(211,151,250,1) 0%, rgba(89,80,185,1) 59%) !important;"
                (click)="save()">Submit</button>
        </div>

        <!-- THANKS MESSAGE STARTS -->
        <div *ngIf="saveDoc">
            <div style="display:flex; flex-direction: column; align-items: center; padding:25px 0;">
                <img [src]="appRootUrl() + 'assets/common/images/check-mark.png'"
                    style="max-width:60px; margin-bottom:20px;">
                <p>Documents have been uploaded succesfully.</p>
            </div>
        </div>
        <!-- THANKS MESSAGE ENDS -->

        <!-- ALREADY SIGNED STARTS -->
        <section class="white-bg" style="padding:60px 0; display:flex; flex-direction:column; align-items: center;"
            *ngIf="documentData.isSubmitted">
            <div style="text-align:center; margin:0 0;">
                <img src="https://thesolarproduct.com/assets/common/images/banner-img.png" style="max-width:200px;">
            </div>
            <div style="text-align:center; font-size:24px; margin:40px 0 0; font-weight:bold;">You have Already Uploaded
                the Document.</div>
        </section>
        <!-- ALREADY SIGNED ENDS -->

        <!-- EXPIRE MESSAGE STARTS -->
        <section class="white-bg" style="padding:30px 0;" *ngIf="documentData.expiry">
            <div style="text-align:center; margin:0 0;">
                <img src="https://thesolarproduct.com/assets/common/images/link-expired.jpg" style="max-width:250px;">
            </div>
            <div style="text-align:center; font-size:18px; margin:40px 0 0; font-weight:bold;">Sorry, Your Link Has
                Expired Please Request New Link Again.</div>
        </section>
        <!-- EXPIRE MESSAGE ENDS -->

    </div>
</div>