<style>
    .lead-container {
        max-height: 63vh;
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">

            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Payment Paid' | localize" [count]="recordCount" [description]="'PaymentPaid' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" id="btnRefresh" #btnRefresh class="float-end refresh" (click)="getPaymentPaidList()"></button>
                            </div>
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="javascript:;" *ngIf="'Pages.Tenant.Accounts.PaymentPaid.ImportToExcel' | permission" class="dropdown-item text-dark import-sheet">
                                                <span class="">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <div *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                    <div class="me-2" *ngIf="organizationUnitlength > 0">
                                        <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getPaymentPaidList()">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="me-2">
                                <div class="form-group">
                                    <select class="form-control" (change)="getPaymentPaidList()" [(ngModel)]="PaymentStatusFilter">
                                        <option value="">All</option>
                                        <option value="1">Verified</option>
                                        <option value="0">Not Verified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getPaymentPaidList()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getPaymentPaidList()"><i
                                            class="fas fa-times-circle"></i></a>
                                    <button (click)="getPaymentPaidList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>

                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <div class="content-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Application Status" [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter" class="form-control" (change)="changeDiscom()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allCircleData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Circle" [(ngModel)]="CircleIdFilter" name="CircleIdFilter" class="form-control" (change)="changeCircle()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Division" (change)="changeDivision()" [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSubDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter" name="SubDivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" (change)="chaneSolarType()" bindValue="id" placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allEmployeeList" [multiple]="true" bindLabel="name" [(ngModel)]="employeeIdFilter" [closeOnSelect]="false" bindValue="id" placeholder="All Employee & CPName" name="EmployeeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.name}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="BillFilter">
                                                        <option value="">Select Bill</option>
                                                        <option value="ss">SS</option>
                                                        <option value="stc">STC</option>
                                                        <option value="none">None</option>
                                                        <option value="both">Both</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allPaymentModeData" [multiple]="true" bindLabel="name" [(ngModel)]="PaymentModeIdFilter" [closeOnSelect]="false" bindValue="id" placeholder="All Payment Mode" name="PaymentModeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.dispalyName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="FilterbyDate">
                                                        <option value="">Filter by Date</option>
                                                        <option value="billingdate">Billing Date</option>
                                                        <option value="verificationdate">Verification Date</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control me-2" bsDatepicker datePickerLuxonModifier [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="d-flex mt-3 justify-content-end">
                                                <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                        class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..." (click)="getPaymentPaidList()"><i
                                                        class="fas fa-search"></i>
                                                    Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" [hidden]="FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total<span>{{paymentPaidSummaryCount.total}}</span>
                    </h2>
                </div>

                <div class="box-item job-type">
                    <h2>
                        Total Payment Recvied<span>{{paymentPaidSummaryCount.receivedAmount}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Balance Owing<span>{{paymentPaidSummaryCount.totalOwingAmount}}</span>
                    </h2>
                </div>

                <div class="box-item job-type">
                    <h2>
                        Feasiblity Approved<span>{{paymentPaidSummaryCount.feasiblityApproved}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Eastimate Paid (No. projects)<span>{{paymentPaidSummaryCount.eastimatePaid}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Killo Watt<span>{{paymentPaidSummaryCount.totalKilowatt}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Number of Panel<span>{{paymentPaidSummaryCount.totalPanel}}</span>
                    </h2>
                </div>
            </div>
        </div>

        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getPaymentPaidList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="false" [scrollable]="true"
                                            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pFrozenColumn style="width:90px !important; border-right:0 !important;">Action
                                                    </th>
                                                    <th pFrozenColumn style="width: 165px" pSortableColumn="projectNumber">
                                                        {{ 'Project Number' | localize }}
                                                        <p-sortIcon field="projectNumber"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView">Customer Name</th>
                                                    <th style="width: 160px" [hidden]="!ExpandedView">Payment Enter Date
                                                    </th>
                                                    <th style="width: 150px" [hidden]="!ExpandedView">Payment Paid Date
                                                    </th>
                                                    <!-- <th style="width: 150px" [hidden]="!ExpandedView">Payment Total</th>
                                                    <th style="width: 150px" [hidden]="!ExpandedView">Total Project Cost</th> -->
                                                    <th style="width: 150px" [hidden]="!ExpandedView">Paid Amount</th>
                                                    <th style="width: 150px" [hidden]="!ExpandedView">Payment Ref.No.
                                                    </th>
                                                    <th style="width: 150px" [hidden]="!ExpandedView">Mode of Payment
                                                    </th>
                                                    <th style="width: 150px" [hidden]="!ExpandedView">Payment Type</th>
                                                    <th style="width: 150px; justify-content: center;" [hidden]="!ExpandedView">Cheque Status</th>
                                                    <th style="width: 100px; justify-content: center;" [hidden]="!ExpandedView">Varified</th>
                                                    <th style="width: 100px" [hidden]="!ExpandedView">VerifiedBy</th>
                                                    <!-- <th style="width: 100px; justify-content: center;"
                                                        [hidden]="!ExpandedView">Refund</th> -->
                                                    <th style="width: 250px" [hidden]="!ExpandedView">Invoice Notes</th>
                                                    <th style="width: 250px" [hidden]="!ExpandedView">Payment Notes</th>
                                                    <th style="width: 250px" [hidden]="!ExpandedView">Comment</th>
                                                    <th style="width: 165px" [hidden]="!ExpandedView">Next Followup Date
                                                    </th>
                                                    <th style="width: 165px" [hidden]="!ExpandedView">Followup Description
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr>
                                                    <td pFrozenColumn style="width:90px !important; border-right:0 !important;">
                                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                                <i class="las la-ellipsis-v"></i>
                                                            </button>
                                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                                <li role="menuitem">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="PaymentPaidDetailModal.GetPaymentQuickViewmodelOpen(record.paymentPaid)">
                                                                        <i class="las la-eye"></i>Quick View
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Reminder')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentPaid.leaddata.id,3,0,37)">
                                                                        <i class="las la-bell"></i>Reminder
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Comment')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentPaid.leaddata.id,4,0,37)">
                                                                        <i class="las la-comment"></i>Notify
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Comment')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentPaid.leaddata.id,5,0,37)">
                                                                        <i class="las la-comment"></i>Comment
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ToDoList')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.paymentPaid.leaddata.id,6,0,37)">
                                                                        <i class="las la-tasks"></i>To Do List
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td pFrozenColumn style="width: 165px" class="gridleadimage" id="selectcustomer" (click)="navigateToLeadDetail(record);">{{ record.paymentPaid.projectNumber }}
                                                    </td>

                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        <span style="text-transform: capitalize;">{{record.paymentPaid.customerName
                                                            }}</span>
                                                    </td>
                                                    <td [hidden]="!ExpandedView" style="width: 160px">
                                                        {{record.paymentPaid.paymentRecEnterDate |date: 'dd-MM-YYYY' }}
                                                    </td>
                                                    <td style="width: 150px" [hidden]="!ExpandedView">
                                                        {{record.paymentPaid.paymentRecPaidDate |date: 'dd-MM-YYYY' }}
                                                    </td>
                                                    <td style="width: 150px" [hidden]="!ExpandedView">
                                                        <span class="badge badge-info"><i
                                                                class="fas fa-rupee-sign fs-6 me-1"></i>
                                                            {{record.paymentPaid.paymentRecTotalPaid | number : '1.2'
                                                            }}</span>
                                                    </td>
                                                    <td style="width: 150px" [hidden]="!ExpandedView">
                                                        {{record.paymentPaid.paymentRefferenceNo }}
                                                    </td>
                                                    <td style="width: 150px" [hidden]="!ExpandedView">
                                                        {{record.paymentPaid.paymentMode }}</td>
                                                    <td style="width: 150px" [hidden]="!ExpandedView">
                                                        {{record.paymentPaid.paymentType }}</td>
                                                    <td style="width: 150px; justify-content: center;" [hidden]="!ExpandedView">
                                                        {{record.paymentPaid.paymentChequeStatus }}</td>

                                                    <td style="width: 100px; justify-content: center;" [hidden]="!ExpandedView">
                                                        <a href="javascript:;" (click)="PaymentVerifiedModal.GetPaymentVerifiedOpen(record.paymentPaid)">
                                                            <i [ngClass]="[ record.paymentPaid.isPaymentRecVerified == 1 ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"></i>
                                                        </a>
                                                        <!-- [ngClass]="[ record.paymentPaid.paymentRecModeId == 3 ? 'fas fa-check-circle text-success fs-1': 'fas fa-check-circle fs-1' ]"> -->
                                                    </td>
                                                    <td style="width: 100px" [hidden]="!ExpandedView">
                                                        {{record.paymentPaid.PaymentRecVerifiedBy }}</td>
                                                    <td style="width: 250px" [hidden]="!ExpandedView">
                                                        <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.paymentPaid.paymentAccountInvoiceNotes }}" style="text-transform: capitalize;">
                                                            {{record.paymentPaid.paymentAccountInvoiceNotes }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 250px" [hidden]="!ExpandedView">
                                                        <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.paymentPaid.paymentRecNotes }}" style="text-transform: capitalize;">
                                                            {{record.paymentPaid.paymentRecNotes }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 250px" [hidden]="!ExpandedView">
                                                        <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.paymentPaid.comment }}" style="text-transform: capitalize;">
                                                            {{record.paymentPaid.comment }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 165px" [hidden]="!ExpandedView">
                                                        <span class="d-flex align-items-center badge badge-pill badge-secondary lg-font" *ngIf="record.paymentPaid.followDate > 0">
                                                            <i
                                                                class="las la-calendar fs-2 me-1"></i>{{record.paymentPaid.followDate
                                                            |date: 'dd-MM-YYYY' }}</span>
                                                    </td>
                                                    <td style="width: 165px" [hidden]="!ExpandedView">
                                                        <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.paymentPaid.followDiscription }}" style="text-transform: capitalize;">
                                                            {{record.paymentPaid.followDiscription }}
                                                        </span>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ 'NoData' | localize }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPaymentPaidList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                            </p-paginator>
                                        </div>
                                    </div>
                                </div>

                                <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<addActivityModal #addActivityModal></addActivityModal>
<PaymentVerifiedModal #PaymentVerifiedModal></PaymentVerifiedModal>
<PaymentRefundModal #PaymentRefundModal></PaymentRefundModal>
<PaymentPaidDetailModal #PaymentPaidDetailModal></PaymentPaidDetailModal>