<div appBsModal #PaymentRefundModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Payment Refund</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>

            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box my-0">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label">
                                    <strong>Payment Paid Date:</strong>
                                </label>
                                <div>
                                    <input type="hidden" [(ngModel)]="PaymentVerified.paymentRecChequeStatus">
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker"
                                        [(ngModel)]="paymentpaidDate" class="form-control" bsDatepicker
                                        datePickerLuxonModifier [(date)]="PaymentVerified.paymentRecPaidDate"
                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                    <span style="top:49px;" class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label">
                                <strong>Total Paid</strong>
                            </label>
                            <div>
                                <input type="text" disabled [(ngModel)]="PaymentVerified.paymentRecTotalPaid">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label">
                                    <strong>Payment Refund Status:</strong>
                                </label>
                                <div>
                                    <select class="form-control" [(ngModel)]="PaymentVerified.paymentRecModeId">
                                        <option [ngValue]="0">Payment Type</option>
                                        <option *ngFor="let ptitem of PaymentMode" value="{{ptitem.id}}">
                                            {{ptitem.displayName}}
                                        </option>
                                    </select>
                                    <span style="top:49px;" class="icon-box"><i class="las la-money-check"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <label class="col-form-label">
                                <strong>Is cancel Project?</strong>
                            </label>
                            <div>
                                <input type="checkbox" [(ngModel)]="PaymentVerified.isPaymentRecVerified">
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="mb-3 row align-items-center">
                                <label class="col-lg-12 col-form-label">
                                    <strong>Payment Notes:</strong>
                                </label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" [(ngModel)]="PaymentVerified.paymentRecNotes"
                                        rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="savePaymentVerified()"
                    [disabled]="PaymentVerified.paymentRecPaidDate == undefined || PaymentVerified.paymentRecPaidDate == null"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>