<div appBsModal #PaymentPaidDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Details - {{customertitle}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body sidepaddingzero bg-gray" *ngIf="IsInitPage">

                <!-- CUSTOMER SECTION DETAILS STARTS -->
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3>
                            <i class="las la-user"></i> Customer Details
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Customer Name</strong></label>
                                    <div class="col-lg-7">
                                        <span class="">{{PaymentPaidQuickView.customerName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Customer Mobile No.</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary">{{PaymentPaidQuickView.mobile}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Customer Email.</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.email}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Address</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.email}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Solar Type</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.email}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-0 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Chenal Partner Name</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.email}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-0 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Chenal Partner
                                            Mobile</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.email}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CUSTOMER SECTION DETAILS ENDS -->

                <!-- PRODUCT SECTION DETAILS STARTS -->
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-boxes"></i> Product Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Panel Brand</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[0]['productItemName']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Panel No.</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[0]['quantity']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Panel Modal No.</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[0]['model']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>System Capicity</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[0]['size']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Inverter Brand</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[1]['productItemName']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Inverter Number</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[1]['quantity']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Inverter Modal
                                            Number</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[1]['model']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Inverter Capicity</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{JobProducts[1]['size']}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Meter Phase</strong></label>
                                    <div class="col-lg-7">
                                        <span>Three</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRODUCT SECTION DETAILS ENDS -->

                <!-- PRICE SECTION DETAILS STARTS -->
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-rupee-sign"></i> Price Section</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Actual Cost</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-success"><i
                                                class="las la-rupee-sign fs-5 text-white"></i>
                                            {{jobDetails.job.actualSystemCost | number : '1.2'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>40% Subsidy</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i
                                                class="las la-rupee-sign fs-5 text-dark"></i>{{Subcidy40 | number :
                                            '1.2'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>20% Subsidy</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i
                                                class="las la-rupee-sign fs-5 text-dark"></i> {{Subcidy20 | number :
                                            '1.2'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Actual Subsidy
                                            Amount</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i
                                                class="las la-rupee-sign fs-5 text-dark"></i> {{ActualSubcidy | number :
                                            '1.2'| number : '1.2'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Total Payable Amount</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i
                                                class="las la-rupee-sign fs-5 text-dark"></i>{{jobDetails.job.totalJobCost
                                            | number : '1.2'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Deposite Amount</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-pill badge-danger"><i
                                                class="las la-rupee-sign fs-5 text-white"></i>
                                            {{jobDetails.job.depositeAmount | number : '1.2'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>System Strengthening
                                            Cost</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i
                                                class="las la-rupee-sign fs-5 text-dark"></i> 500.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngFor="let item of variations; let i = index">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>{{item.displayName}}</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i
                                                class="las la-rupee-sign fs-5 text-dark"></i> {{item.actionName | number
                                            : '1.2'}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Net Total</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-pill badge-dark"><i
                                                class="las la-rupee-sign fs-5 text-white"></i>
                                            {{jobDetails.job.netSystemCost | number : '1.2'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Net Meter Charges</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i class="las la-rupee-sign fs-5 text-dark"></i> 200.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Agreement Charges</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i class="las la-rupee-sign fs-5 text-dark"></i> 500.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Geda Charges</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary"><i class="las la-rupee-sign fs-5 text-dark"></i> 1,200.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Net Total</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-pill badge-dark"><i class="las la-rupee-sign fs-5 text-white"></i> 10,02,200.00</span>
                                    </div>
                                </div>
                            </div> -->
                    </div>
                </div>

                <!-- DATE SECTION DETAILS STARTS -->
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-calendar"></i> Date</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Quataion Sign Date</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.quataionSignDate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Eastimate Paid Status</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-pill badge-success">{{PaymentPaidQuickView.eastimatePaidStatus}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Eastimate Paid Date</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.eastimatePaidDate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Payment Refference No.</strong></label>
                                    <div class="col-lg-7">
                                        <span>{{PaymentPaidQuickView.paymentRefferenceNo}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- DATE SECTION DETAILS ENDS -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
            </div>

        </div>

    </div>
</div>