<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #DocumentLibraryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="documentLibrary.id">{{l("EditDocument")}}</span>
                        <span *ngIf="!documentLibrary.id">{{l("CreateNewDocumentLibrary")}}</span>
                    </h4>
                    <!-- <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving"></button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group form-icon">
                                    <label for="DocumentType_Name" class="mb-2">{{l("Name")}} *</label>
                                    <input type="text" id="Department_Name" class="form-control" (change)="changeurl()" [(ngModel)]="documentLibrary.title" name="Name" minlength="1" maxlength="200" required />
                                    <span class="icon-box" style="top:32px;"><i class="las la-file-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="custom-upload" style="margin-top: 33px;">
                                    <label>
                                        <p-fileUpload id="DefaultFileUploadFileInput" name="DefaultFileUploadFileInput[]"
                                            [url]="uploadUrl" accept="application/pdf" maxFileSize="1000000"
                                            (onUpload)="onUpload($event)" (onBeforeSend)="onBeforeSend($event)" [disabled]="!DocumentLibraryForm.form.valid">
    
                                            <ng-template pTemplate="content">
                                                <ul *ngIf="uploadedFiles.length">
                                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}}
                                                        bytes</li>
                                                </ul>
                                            </ng-template>
                                        </p-fileUpload>
                                    </label>
                                </div>
                                <div class="form-group" *ngIf="this.documentLibrary.id != 0 && this.documentLibrary.id != null">
                                    <!-- <label for="DocumentType_Name">{{l("File")}} </label> :  -->
                                    <span class="badge badge-secondary d-flex align-items-center mt-2 fs-14"><i class="las la-file-pdf fs-1 me-2 text-dark"></i> {{documentLibrary.fileName}}</span>
                                    <a (click)="downfile()" class="btndownloaddocument"><img [src]="appRootUrl() + 'assets/common/images/down-arrow.svg'" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!DocumentLibraryForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>{{l("Save")}}</button>
                </div>
            </form>
        </div>
    </div>

</div>