<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'DocumentLibrary' | localize" [count]="recordCount" [description]="'DocumentLibraryHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getDocumentLibrary()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.DocumentLibrary.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        aria-controls="dropdownMenuExcelOperations">
                                    <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportDocumentLibraryToExcelButton" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                                <!-- {{ 'ExportToExcel' | localize }} -->
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="me-3">
                                <button (click)="createDocumentLibrary()" *ngIf="'Pages.Tenant.DataVaults.DocumentLibrary.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                    <!-- {{ 'CreateNewSolarType' | localize }} -->
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getDocumentLibrary()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getDocumentLibrary()" class="btn search-btn" type="submit">
                                                    <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getDocumentLibrary($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                            scrollDirection="horizontal" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="actionwidth text-center" style="width:90px;" [hidden]="
                                            !(
                                                [
                                                    'Pages.Tenant.DataVaults.DocumentLibrary.Edit',
                                                    'Pages.Tenant.DataVaults.DocumentLibrary.Delete'
                                                ] | permissionAny
                                            )
                                        ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 250px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 300px; justify-content: start;" pSortableColumn="name">
                                        {{ 'FileName' | localize }}
                                        <p-sortIcon field="fileName"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="createdDate">
                                        {{ 'CreatedDate' | localize }}
                                        <p-sortIcon field="createdDate"></p-sortIcon>
                                    </th> -->
                                    <th style="width:120px; text-align: right; justify-content: end;">
                                        Action
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="actionwidth text-center" style="width:90px;" [hidden]="!(
                                                [
                                                    'Pages.Tenant.DataVaults.DocumentLibrary.Edit',
                                                    'Pages.Tenant.DataVaults.DocumentLibrary.Delete'
                                                ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                            </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.DocumentLibrary.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditDocumentLibraryModal.show(record.documentLibrary.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.DocumentLibrary.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteDocumentLibrary(record.documentLibrary)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.documentLibrary.title }}
                                    </td>
                                    <td style="width: 300px; text-align:left; justify-content: start;">
                                        <span class="p-column-title">{{ 'FileName' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.documentLibrary.fileName }}</span>
                                    </td>
                                    <!-- <td style="width: 150px">
                                        <span class="p-column-title">{{ 'createdDate' | localize }}</span>
                                        {{ record.dcumentLibrary.createdDate | luxonFormat: 'F' }}
                                    </td> -->
                                    <td style="width:120px; justify-content: end;">
                                        <!-- <a (click)="downfile(record.documentLibrary.filePath)" class="btndownloaddocument"><img [src]="appRootUrl() + 'assets/common/images/down-arrow.svg'" alt="" />Open</a> -->
                                        <a (click)="downfile(record.documentLibrary.filePath)" class="btndownloaddocument align-items-center d-flex"><i class="me-1 las la-file-pdf fs-2 "></i> Open</a>
                                    </td>
                                    <!-- <td style="width: 100px ">
                                        <span class="p-column-title ">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success " *ngIf="record.documentLibrary.isActive ">
                                            {{ 'Yes' | localize }}
                                        </span>
                                        <span class="badge badge-dark " *ngIf="!record.documentLibrary.isActive ">
                                            {{ 'No' | localize }}
                                        </span>
                                    </td> -->

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data " *ngIf="primengTableHelper.totalRecordsCount==0 ">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container ">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage " #paginator (onPageChange)="getDocumentLibrary($event) " [totalRecords]="primengTableHelper.totalRecordsCount " [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage
                                            " [showCurrentPageReport]="true " currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records "></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>


        <!-- 
        <editUserPermissionsModal #editUserPermissionsModal></editUserPermissionsModal>
        <dynamic-entity-property-manager #dynamicEntityPropertyManager></dynamic-entity-property-manager> -->
        <createOrEditDocumentLibraryModal #createOrEditDocumentLibraryModal (modalSave)="getDocumentLibrary() "></createOrEditDocumentLibraryModal>
    </div>
</div>