<style>
    .tab-new.tab_design .tab-content {
        padding: 0 !important;
    }
    
    .tab-content .tab-filter {
        top: -58px !important;
    }
</style>
<div [@routerTransition] (window:resize)="onResize($event)">
    <div class="content d-flex flex-column flex-column-fluid org-header">
        <sub-header [title]="'Maintenance' | localize"></sub-header>
        <div [class]="containerClass">
            <div class="tab_design tab-new">
                <div class="whitebox">
                    <tabset class="tab-container tabbable-line">
                        <tab heading=" {{ 'Caches' | localize }}">
                            <div class="row m-3">
                                <div class="col-xl-6">
                                    <p class="mt-5">{{ 'CachesHeaderInfo' | localize }}</p>
                                </div>
                                <div class="col-xl-6 text-end">
                                    <button class="btn btn-primary float-end" (click)="clearAllCaches()">
                                        <i class="las la-recycle"></i>
                                            {{ 'ClearAll' | localize }}
                                        </button>
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col-xl-12">
                                    <div class="table-responsive" style="max-height:65vh; overflow:auto;">
                                        <table class="table table-striped table-hover table-bordered">
                                            <tbody>
                                                <tr *ngFor="let cache of caches">
                                                    <td>
                                                        <span>{{ cache.name }}</span>
                                                        <button class="btn btn-primary outline btn-sm pull-right" (click)="clearCache(cache.name)">
                                                                {{ 'Clear' | localize }}
                                                            </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{ 'WebSiteLogs' | localize }}">
                            <div class="row m-3">
                                <div class="col-xl-6">
                                    <p class="mt-5">{{ 'WebSiteLogsHeaderInfo' | localize }}</p>
                                </div>
                                <div class="col-xl-6 text-end">
                                    <button class="btn btn-primary outline me-2" (click)="downloadWebLogs()">
                                        <i class="las la-file-download"></i>
                                            {{ 'DownloadAll' | localize }}
                                        </button>
                                    <button class="btn btn-primary outline" (click)="getWebLogs()">
                                        <i class="las la-sync"></i>
                                            {{ 'Refresh' | localize }}
                                        </button>
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col-xl-12">
                                    <div class="web-log-view full-height">
                                        <span class="log-line" *ngFor="let log of logs">
                                                <span [class]="getLogClass(log)">{{ getLogType(log) }}</span> {{ getRawLogContent(log) }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>

        </div>
    </div>
</div>