<style>
    .ng-select {
        padding-top: 7px !important;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #priceForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="prices.id">{{ 'EditPrice' | localize }}</span>
                        <span *ngIf="!prices.id">{{ 'Create New Price' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label for="Tender" class="form-label">{{l("Tender")}}*</label>
                                    <select class="form-control" id="tenderId" name="tenderId" [(ngModel)]="prices.tenderId" required>
                                        <option [ngValue]="undefined" selected>Select Tender</option>
                                        <option *ngFor="let item of drptenderList" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-tag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label for="SystemPrice" class="form-label">{{ 'SystemSize' | localize }} *</label>
                                    <input id="SystemPrice" [(ngModel)]="prices.systemSize" type="text" name="SystemPrice" class="form-control" required maxlength="50" />
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label for="CentralRate" class="form-label">{{ 'CentralRate' | localize }} *</label>
                                    <input id="CentralRate" [(ngModel)]="prices.centralRate" type="text" name="CentralRate" class="form-control" required maxlength="50" />
                                    <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label for="StateRate" class="form-label">{{ 'StateRate' | localize }} *</label>
                                    <input id="StateRate" [(ngModel)]="prices.stateRate" type="text" name="StateRate" class="form-control" required maxlength="50" />
                                    <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="form-group mb-3 form-icon">
                                    <label for="ActualPrice" class="form-label">{{ 'ActualPrice' | localize }} *</label>
                                    <input id="ActualPrice" [(ngModel)]="prices.actualPrice" type="text" name="ActualPrice" class="form-control" required maxlength="50" />
                                    <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3 form-icon">
                                    <label for="Subcidy40" class="form-label">{{ 'Subcidy40' | localize }} *</label>
                                    <input id="Subcidy40" [(ngModel)]="prices.subcidy40" type="text" name="Subcidy40" class="form-control" required maxlength="50" />
                                    <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3 form-icon">
                                    <label for="Subcidy20" class="form-label">{{ 'Subcidy20' | localize }} *</label>
                                    <input id="Subcidy20" [(ngModel)]="prices.subcidy20" type="text" name="Subcidy20" class="form-control" required maxlength="50" />
                                    <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                </div>
                            </div> -->
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label for="AreaType" class="form-label">{{ 'AreaType' | localize }} *</label>

                                    <ng-select class="form-control selectble" [items]="areaTypeList" [multiple]="true" bindLabel="name" required [closeOnSelect]="false" bindValue="id" placeholder="Select AreaType " [(ngModel)]="prices.areaTypeList" name="areaTypeList">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.name}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3 form-icon">
                                    <label for="MeterType" class="form-label">{{ 'MeterType' | localize }} *</label>
                                    <select class="form-control" id="MeterType" name="MeterType" [(ngModel)]="prices.meterType" required>
                                        <option [ngValue]="undefined" selected>Select MeterType</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-tachometer-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-check form-check-custom form-check-solid mt-3">
                                        <input id="Editprices_IsActive" type="checkbox" name="pricesIsActive"
                                            [(ngModel)]="prices.isActive" class="form-check-input" />
                                        <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!priceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>