<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Price' | localize" [count]="recordCount" [description]="'PricesHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getPrice()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.Prices.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportpriceToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button (click)="createPrice()" *ngIf="'Pages.Tenant.DataVaults.Prices.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>                                    
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getPrice()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getPrice()" class="btn search-btn" type="submit"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getPrice($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal" scrollDirection="both"
                            [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" style="width:90px;" [hidden]="
                                                    !(
                                                        [
                                                            'Pages.Tenant.DataVaults.Prices.Edit',
                                                            'Pages.Tenant.DataVaults.Prices.Delete'
                                                        ] | permissionAny
                                                    )
                                                ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 200px" pSortableColumn="tenderId">
                                        {{ 'TenderName' | localize }}
                                        <p-sortIcon field="tenderId"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="systemPrice">
                                        {{ 'SystemSize' | localize }}
                                        <p-sortIcon field="systemSize"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="centralRate">
                                        {{ 'CentralRate' | localize }}
                                        <p-sortIcon field="centralRate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="stateRate">
                                        {{ 'StateRate' | localize }}
                                        <p-sortIcon field="stateRate"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="actualPrice">
                                        {{ 'ActualPrice' | localize }}
                                        <p-sortIcon field="actualPrice"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="subcidy40">
                                        {{ 'Subcidy40' | localize }}
                                        <p-sortIcon field="subcidy40"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="subcidy20">
                                        {{ 'Subcidy20' | localize }}
                                        <p-sortIcon field="subcidy20"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 150px" pSortableColumn="areaType">
                                        {{ 'AreaType' | localize }}
                                        <!-- <p-sortIcon field="areaType"></p-sortIcon> -->
                                    </th>
                                    <th style="width: 150px" pSortableColumn="meterType">
                                        {{ 'MeterType' | localize }}
                                        <p-sortIcon field="meterType"></p-sortIcon>
                                    </th>

                                    <th style="width: 100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width:90px;" class="text-center" [hidden]="!(
                                                        [
                                                            'Pages.Tenant.DataVaults.Prices.Edit',
                                                            'Pages.Tenant.DataVaults.Prices.Delete'
                                                        ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                        <i class="las la-ellipsis-v"></i>
                                                            <!-- <span class="caret"></span>
                                                            {{ 'Actions' | localize }} -->
                                                        </button>

                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.Prices.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditPriceModal.show(record.price.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.Prices.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deletePrice(record.price)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="p-column-title">{{ 'TenderName' | localize }}</span> {{ record.price.tenderName }}
                                    </td>

                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'SystemSize' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.price.systemSize }}</span>
                                    </td>

                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'CentralRate' | localize }}</span>
                                        <span class="d-flex align-items-center"><i class="las la-rupee-sign fs-3"></i> {{ record.price.centralRate | number : '1.2' }}</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'StateRate' | localize }}</span>
                                        <span class="d-flex align-items-center"><i class="las la-rupee-sign fs-3"></i> {{ record.price.stateRate | number : '1.2' }}</span>
                                    </td>
                                    <!-- <td style="width: 150px">
                                        <span class="p-column-title">{{ 'ActualPrice' | localize }}</span>
                                        <span class="d-flex align-items-center"><i class="las la-rupee-sign fs-3"></i>{{ record.price.actualPrice | number : '1.2'  }}</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'Subcidy40' | localize }}</span>
                                        <span class="d-flex align-items-center"><i class="las la-rupee-sign fs-3"></i>{{ record.price.subcidy40 | number : '1.2'  }}</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'Subcidy20' | localize }}</span>
                                        <span class="d-flex align-items-center"><i class="las la-rupee-sign fs-3"></i>{{ record.price.subcidy20 | number : '1.2'  }}</span>
                                    </td> -->
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'AreaType' | localize }}</span>
                                        <div *ngFor="let items of record.price.areaTypeName">
                                            <span class="badge badge-pill badge-secondary me-1">
                                                {{items}}
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'MeterType' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.price.meterType == 1">
                                                    {{ 'Yes' | localize }}
                                                </span>
                                        <span class="badge badge-dark" *ngIf="record.price.meterType == 2">
                                                    {{ 'No' | localize }}
                                                </span>
                                    </td>

                                    <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.price.isActive">
                                                    {{ 'Yes' | localize }}
                                                </span>
                                        <span class="badge badge-dark" *ngIf="!record.price.isActive">
                                                    {{ 'No' | localize }}
                                                </span>
                                    </td>


                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPrice($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
        <createOrEditPriceModal #createOrEditPriceModal (modalSave)="getPrice()"></createOrEditPriceModal>
    </div>
</div>