<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <sub-header [title]="'Editions' | localize" [count]="recordCount" [description]="'EditionsHeaderInfo' | localize">
                <!-- <div role="actions">
                    <button *ngIf="'Pages.Editions.Create' | permission" class="btn btn-primary" (click)="createEdition()">
                        <i class="fa fa-plus"></i>
                        {{ 'CreateNewEdition' | localize }}
                    </button>
                </div> -->
            </sub-header>
            <div class="form me-7" style="margin-left: auto;">
                <div class="form-body filter-options">
                    <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="me-3 mr-2" role="actions">
                            <button *ngIf="'Pages.Editions.Create' | permission" class="btn btn-primary" (click)="createEdition()">
                                <!-- <span class="me-2">{{ 'CreateNewEdition' | localize }}</span> -->
                                <span class="me-2">New</span><i class="las la-plus-circle"></i>                        
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getEditions()" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive" scrollDirection="both" [scrollable]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:95px;" class="text-center actionwidth" [hidden]="
                                            !(['Pages.Editions.Edit', 'Pages.Editions.Delete'] | permissionAny)
                                        ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width:200px;" pSortableColumn="EditionName">
                                        {{ 'EditionName' | localize }}
                                        <p-sortIcon field="EditionName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Price" style="width:150px;">
                                        {{ 'Price' | localize }}
                                        <p-sortIcon field="Price"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="IsTrialActive" style="width:100px;">
                                        {{ 'IsTrialActive' | localize }}
                                        <p-sortIcon field="isTrialActive"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="WaitingDayAfterExpire" style="width:150px;">
                                        {{ 'WaitingDayAfterExpire' | localize }}
                                        <p-sortIcon field="waitingDayAfterExpire"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="IsTrialActive" style="width:150px;">
                                        {{ 'ExpiringEdition' | localize }}
                                        <p-sortIcon field="expiringEdition"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width:95px;">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                <!-- <span class="caret"></span>
                                                {{ 'Actions' | localize }} -->
                                            </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Editions.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="editEditionModal.show(record.id)">
                                                        <i class="las la-edit"></i> {{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Editions.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteEdition(record)">
                                                        <i class="las la-trash"></i> {{ 'Delete' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="
                                                        'Pages.Editions.MoveTenantsToAnotherEdition' | permission
                                                    " role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="moveTenantsToAnotherEditionModal.show(record.id)">
                                                        <i class="las la-exchange-alt"></i> {{ 'MoveTenantsToAnotherEdition' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:200px;">
                                        <span class="p-column-title">{{ 'EditionName' | localize }}</span> {{ record.displayName }}
                                    </td>
                                    <td style="width:150px;">
                                        <span class="p-column-title">{{ 'Price' | localize }}</span>
                                        <span class="badge badge-primary" *ngIf="
                                                record.dailyPrice ||
                                                record.weeklyPrice ||
                                                record.monthlyPrice ||
                                                record.annualPrice
                                            ">
                                            {{ appSession.application.currencySign }}{{ record.dailyPrice }}
                                            {{ 'Daily' | localize }}
                                            /
                                            {{ appSession.application.currencySign }}{{ record.weeklyPrice }}
                                            {{ 'Weekly' | localize }}
                                            /
                                            {{ appSession.application.currencySign }}{{ record.monthlyPrice }}
                                            {{ 'Monthly' | localize }}
                                            /
                                            {{ appSession.application.currencySign }}{{ record.annualPrice }}
                                            {{ 'Annual' | localize }}
                                        </span>
                                        <span class="badge badge-secondary" *ngIf="
                                                !record.dailyPrice &&
                                                !record.weeklyPrice &&
                                                !record.monthlyPrice &&
                                                !record.annualPrice
                                            ">
                                            {{ 'Free' | localize }}
                                        </span>
                                    </td>
                                    <td style="width:100px;">
                                        <span class="p-column-title">{{ 'IsTrialActive' | localize }}</span>
                                        <span *ngIf="record.trialDayCount" class="badge badge-success">
                                            {{ 'Yes' | localize }}, {{ record.trialDayCount }} - {{ 'Days' | localize }}
                                        </span>
                                        <span *ngIf="!record.trialDayCount" class="badge badge-danger">
                                            {{ 'No' | localize }}
                                        </span>
                                    </td>
                                    <td style="width:150px;">
                                        <span class="p-column-title">{{ 'WaitingDayAfterExpire' | localize }}</span> {{ record.waitingDayAfterExpire }}
                                    </td>
                                    <td style="width:150px;">
                                        <span class="p-column-title">{{ 'ExpiringEdition' | localize }}</span> {{ record.expiringEditionDisplayName }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="ui-table-footer"></div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getEditions()" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>

                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createEditionModal #createEditionModal (modalSave)="getEditions()"></createEditionModal>
    <editEditionModal #editEditionModal (modalSave)="getEditions()"></editEditionModal>
    <moveTenantsToAnotherEditionModal #moveTenantsToAnotherEditionModal></moveTenantsToAnotherEditionModal>
</div>