<style>
    h3 {
        border-bottom: 1px solid #EFF2F5;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
    }

    .form-icon .icon-box {
        left: 10px !important;
    }
</style>

<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade create-or-edit-user-modal"
    tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="user.id">{{ 'EditUser' | localize }}: {{ user.userName }}</span>
                        <span *ngIf="!user.id">{{ 'CreateNewUser' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                        <tabset class="tab-container tabbable-line">
                            <tab class="p-6" heading="{{ 'UserInformations' | localize }}">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h3 class="d-flex align-items-center mb-3"><i
                                                class="las la-user fs-1 me-2"></i>User Details</h3>
                                        <div class="row">
                                            <div class="form-group col-md-4 mb-3 form-icon">
                                                <label class="form-label" for="UserType">{{ 'UserType' | localize }}
                                                    *</label>
                                                <select name="userType" #userType="ngModel"
                                                    [(ngModel)]="userDetails.userType" required class="form-control"
                                                    id="userTypeId" (change)="changeUserType($event.target.value)">
                                                    <option value="null">Select User Type</option>
                                                    <option *ngFor="let item of userTypeList" value="{{item.id}}">
                                                        {{item.displayName}} </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-user-tie"></i></span>
                                                <validation-messages [formCtrl]="userType"></validation-messages>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon">
                                                <label class="form-label" for="Name">{{ 'FirstName' | localize }}
                                                    *</label>
                                                <input id="Name" #nameInput="ngModel" class="form-control" type="text"
                                                    name="Name" [(ngModel)]="user.name" required maxlength="64" />
                                                <span class="icon-box"><i class="las la-user-alt"></i></span>
                                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon">
                                                <label class="form-label" for="MiddleName">{{ 'MiddleName' | localize
                                                    }}</label>
                                                <input id="MiddleName" #middleNameInput="ngModel" class="form-control"
                                                    type="text" name="MiddleName" [(ngModel)]="userDetails.middleName"
                                                    maxlength="64" />
                                                <span class="icon-box"><i class="las la-user-alt"></i></span>
                                                <!-- <validation-messages [formCtrl]="nameInput"></validation-messages> -->
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon">
                                                <label class="form-label" for="Surname">{{ 'Surname' | localize }}
                                                    *</label>
                                                <input id="Surname" #surnameInput="ngModel" type="text" name="Surname"
                                                    class="form-control" [(ngModel)]="user.surname" required
                                                    maxlength="64" />
                                                <span class="icon-box"><i class="las la-user-alt"></i></span>
                                                <validation-messages [formCtrl]="surnameInput"></validation-messages>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon">
                                                <label class="form-label" for="EmailAddress">{{ 'EmailAddress' |
                                                    localize }} *</label>
                                                <input id="EmailAddress" #emailAddressInput="ngModel" type="email"
                                                    name="EmailAddress" class="form-control"
                                                    [(ngModel)]="user.emailAddress" required maxlength="256" email />
                                                <span class="icon-box"><i class="las la-envelope"></i></span>
                                                <validation-messages
                                                    [formCtrl]="emailAddressInput"></validation-messages>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon">
                                                <label class="form-label" for="PhoneNumber">{{ 'PhoneNumber' | localize
                                                    }}</label>
                                                <input id="PhoneNumber" type="text" name="PhoneNumber"
                                                    class="form-control" [(ngModel)]="user.phoneNumber"
                                                    maxlength="32" />
                                                <span class="icon-box"><i class="las la-phone"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon" *ngIf="isEmployee">
                                                <label class="form-label" for="CompanyMobileNumber">{{ 'CompanyMobileNo'
                                                    | localize }}</label>
                                                <input id="CompanyMobileNumber" type="text" name="CompanyMobileNumber"
                                                    class="form-control" [(ngModel)]="userDetails.companyMobileNo"
                                                    maxlength="10" />
                                                <span class="icon-box"><i class="las la-mobile"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="EmergancyContactNumber">{{
                                                    'EmergancyContactNo' | localize }}</label>
                                                <input id="EmergancyContactNumber" type="text"
                                                    name="EmergancyContactNumber" class="form-control"
                                                    [(ngModel)]="userDetails.emergancyContactNo" maxlength="10" />
                                                <span class="icon-box"><i class="las la-phone"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="EmergancyContactName">{{
                                                    'EmergancyContactName' | localize }}</label>
                                                <input id="EmergancyContactName" type="text" name="EmergancyContactName"
                                                    class="form-control" [(ngModel)]="userDetails.emergancyContactName"
                                                    maxlength="64" />
                                                <span class="icon-box"><i class="las la-user-alt"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon" *ngIf="isEmployee">
                                                <label class="form-label" for="BloodGroup">{{ 'BloodGroup' | localize
                                                    }}</label>
                                                <input id="BloodGroup" type="text" name="BloodGroup"
                                                    class="form-control" [(ngModel)]="userDetails.bloodGroup"
                                                    maxlength="5" />
                                                <span class="icon-box"><i class="las la-heartbeat"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon" *ngIf="isEmployee">
                                                <label class="form-label" for="Gender">{{ 'Gender' | localize }}</label>
                                                <select name="Gender" #userType="ngModel"
                                                    [(ngModel)]="userDetails.gender" class="form-control"
                                                    aria-placeholder="Gender">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-user"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2" *ngIf="isEmployee">
                                                <label class="form-label" for="DateOfBirth">{{ 'DateOfBirth' | localize
                                                    }}</label>
                                                <input id="DateOfBirth" type="date" name="DateOfBirth"
                                                    class="form-control" [(ngModel)]="userDetails.dateOfBirth" />
                                            </div>
                                        </div>

                                        <!-- Address Details Starts -->
                                        <h3 class="d-flex align-items-center mt-5 mb-3"
                                            *ngIf="isEmployee || isChannelPartner || isInstaller"><i
                                                class="las la-map-marker fs-1 me-2"></i>Address Details</h3>
                                        <div class="row">
                                            <div class="form-group col-md-6 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="AddressLine1">{{ 'AddressLine1' |
                                                    localize }}</label>
                                                <input id="AddressLine1" type="text" name="AddressLine1"
                                                    class="form-control" [(ngModel)]="userDetails.addressLine1"
                                                    maxlength="100" />
                                                <span class="icon-box"><i class="las la-address-card"></i></span>
                                            </div>
                                            <div class="form-group col-md-6 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="AddressLine2">{{ 'AddressLine2' |
                                                    localize }}</label>
                                                <input id="AddressLine2" type="text" name="AddressLine2"
                                                    class="form-control" [(ngModel)]="userDetails.addressLine2"
                                                    maxlength="100" />
                                                <span class="icon-box"><i class="las la-address-card"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="State">{{ 'State' | localize }}</label>
                                                <select name="State" [(ngModel)]="userDetails.state"
                                                    class="form-control" (change)="BindDistrict($event.target.value)">
                                                    <option value="null">Select State</option>
                                                    <option *ngFor="let item of stateList" value="{{item.id}}">
                                                        {{item.displayName}} </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-map-marked"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="District">{{ 'District' | localize
                                                    }}</label>
                                                <select name="District" [(ngModel)]="userDetails.district"
                                                    class="form-control" (change)="BindTaluka($event.target.value)">
                                                    <option value="null">Select District</option>
                                                    <option *ngFor="let item of districtList" value="{{item.id}}">
                                                        {{item.displayName}} </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-map-marked"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="Taluko">{{ 'Taluka' | localize }}</label>
                                                <select name="Taluko" [(ngModel)]="userDetails.taluko"
                                                    class="form-control" (change)="BindCity($event.target.value)">
                                                    <option value="null">Select Taluka</option>
                                                    <option *ngFor="let item of talukaList" value="{{item.id}}">
                                                        {{item.displayName}} </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-map-marked"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="City">{{ 'City' | localize }}</label>
                                                <select name="City" [(ngModel)]="userDetails.city" class="form-control">
                                                    <option value="null">Select City</option>
                                                    <option *ngFor="let item of cityList" value="{{item.id}}">
                                                        {{item.displayName}} </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-city"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="Pincode">{{ 'Pincode' | localize
                                                    }}</label>
                                                <input id="Pincode" type="text" name="Pincode" class="form-control"
                                                    [(ngModel)]="userDetails.pincode" maxlength="6" minlength="6" />
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                            </div>

                                        </div>

                                        <!-- Bank Details Starts -->
                                        <h3 class="d-flex align-items-center mt-5 mb-3"
                                            *ngIf="isEmployee || isChannelPartner || isInstaller"><i
                                                class="las la-university fs-1 me-2"></i>Bank Details</h3>
                                        <div class="row">
                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="TypeOfAccount">{{ 'TypeOfAccount' |
                                                    localize }}</label>
                                                <input id="TypeOfAccount" type="text" name="TypeOfAccount"
                                                    class="form-control" [(ngModel)]="userDetails.typeOfAccount"
                                                    maxlength="50" />
                                                <span class="icon-box"><i class="las la-university"></i></span>
                                            </div>

                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="BankName">{{ 'BankName' | localize
                                                    }}</label>
                                                <input id="BankName" type="text" name="BankName" class="form-control"
                                                    [(ngModel)]="userDetails.bankName" maxlength="100" />
                                                <span class="icon-box"><i class="las la-university"></i></span>
                                            </div>

                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="AccountNo">{{ 'AccountNo' | localize
                                                    }}</label>
                                                <input id="AccountNo" type="text" name="AccountNo" class="form-control"
                                                    [(ngModel)]="userDetails.accountNo" maxlength="50" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>

                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="IFSCCode">{{ 'IFSCCode' | localize
                                                    }}</label>
                                                <input id="IFSCCode" type="text" name="IFSCCode" class="form-control"
                                                    [(ngModel)]="userDetails.ifscCode" maxlength="50" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon" *ngIf="isEmployee">
                                                <label class="form-label" for="UANNo">{{ 'UANNo' | localize }}</label>
                                                <input id="UANNo" type="text" name="UANNo" class="form-control"
                                                    [(ngModel)]="userDetails.uanNo" maxlength="50" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="PancardNo">{{ 'PancardNo' | localize
                                                    }}</label>
                                                <input id="PancardNo" type="text" name="PancardNo" class="form-control"
                                                    [(ngModel)]="userDetails.pancardNo" maxlength="50" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                        </div>

                                        <!-- Other CP / Employee Details Starts -->
                                        <h3 class="d-flex align-items-center mt-5 mb-3"
                                            *ngIf="isEmployee || isChannelPartner || isInstaller"><i
                                                class="las la-info-circle fs-1 me-2"></i>General Details</h3>
                                        <div class="row">
                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isEmployee || isChannelPartner || isInstaller">
                                                <label class="form-label" for="Department">{{ 'Department' | localize
                                                    }}</label>
                                                <div class="form-control">
                                                    <ng-select [items]="departmentList" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        [(ngModel)]="departmentIds" name="DepartmentIds">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                    <span class="icon-box"><i class="las la-briefcase"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon" *ngIf="isEmployee">
                                                <label class="form-label" for="Designation">{{ 'Designation' | localize
                                                    }}</label>
                                                <input id="Designation" type="text" name="Designation"
                                                    class="form-control" [(ngModel)]="userDetails.designation"
                                                    maxlength="100" />
                                                <span class="icon-box"><i class="las la-address-card"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2" *ngIf="isEmployee">
                                                <label class="form-label" for="JoiningDate">{{ 'JoiningDate' | localize
                                                    }}</label>
                                                <input id="JoiningDate" type="date" name="JoiningDate"
                                                    class="form-control" [(ngModel)]="userDetails.joiningDate" />
                                            </div>

                                            <div class="form-group col-md-4 mb-2" *ngIf="isEmployee">
                                                <label class="form-label" for="ShiftStartAt">{{ 'ShiftStartAt' |
                                                    localize }}</label>
                                                <input id="ShiftStartAt" type="time" name="ShiftStartAt"
                                                    class="form-control" [(ngModel)]="userDetails.shiftStartAt" />
                                            </div>
                                            <div class="form-group col-md-4 mb-2" *ngIf="isEmployee">
                                                <label class="form-label" for="ShiftEndAt">{{ 'ShiftEndAt' | localize
                                                    }}</label>
                                                <input id="ShiftEndAt" type="time" name="ShiftEndAt"
                                                    class="form-control" [(ngModel)]="userDetails.shiftEndAt" />
                                            </div>

                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isChannelPartner || isInstaller">
                                                <label class="form-label" for="AdharNo">{{ 'AdharNo' | localize
                                                    }}</label>
                                                <input id="AdharNo" type="text" name="AdharNo" class="form-control"
                                                    [(ngModel)]="userDetails.adharNo" maxlength="100" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-2 form-icon"
                                                *ngIf="isChannelPartner || isInstaller">
                                                <label class="form-label" for="GSTNo">{{ 'GSTNo' | localize }}</label>
                                                <input id="GSTNo" type="text" name="GSTNo" class="form-control"
                                                    [(ngModel)]="userDetails.gstNo" maxlength="100" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon" *ngIf="isChannelPartner">
                                                <label class="form-label" for="Discom">{{ 'Discom' | localize }}</label>
                                                <select name="Discom" [(ngModel)]="userDetails.discom"
                                                    class="form-control">
                                                    <option value="null" selected>Select</option>
                                                    <option *ngFor="let item of discomList" value="{{item.id}}">
                                                        {{item.displayName}} </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                            </div>

                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isChannelPartner || isInstaller">
                                                <label class="form-label" for="TypeOfCompany">{{ 'TypeOfCompany' |
                                                    localize }}</label>
                                                <select name="TypeOfCompany" [(ngModel)]="userDetails.typeOfCompany"
                                                    class="form-control">
                                                    <option value="null" selected>Select Company</option>
                                                    <option value="Private">Private</option>
                                                    <option value="Public">Public</option>
                                                    <option value="Proprietorship">Proprietorship</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-building"></i></span>
                                            </div>
                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isChannelPartner || isInstaller">
                                                <label class="form-label" for="BelongsTo">{{ 'BelongsTo' | localize
                                                    }}</label>
                                                <select name="BelongsTo" [(ngModel)]="userDetails.belongsTo"
                                                    class="form-control">
                                                    <option value="null">Select Company</option>
                                                    <option value="Propritor">Propritor</option>
                                                    <option value="Partners">Partners</option>
                                                    <option value="Directors">Directors</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-building"></i></span>
                                            </div>

                                            <div class="form-group col-md-4 mb-3 form-icon"
                                                *ngIf="isChannelPartner || isInstaller || isEmployee">
                                                <label class="form-label" for="ManageBy">{{ 'ManageBy' | localize
                                                    }}</label>
                                                <select name="ManageBy" [(ngModel)]="userDetails.manageBy"
                                                    class="form-control">
                                                    <option value="null" selected>Select</option>
                                                    <option *ngFor="let item of employeeList" value="{{item.id}}">
                                                        {{item.displayName}} </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-user-tie"></i></span>
                                            </div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="form-group col-md-12 mb-3 form-icon">
                                                <label class="form-label" for="UserName">{{ 'UserName' | localize }}
                                                    *</label>
                                                <input id="UserName" #userNameInput="ngModel" type="text"
                                                    [disabled]="!canChangeUserName" name="UserName" class="form-control"
                                                    [(ngModel)]="user.userName" required maxlength="256" />
                                                <span class="icon-box"><i class="las la-user"></i></span>
                                                <span class="form-text text-muted" *ngIf="!canChangeUserName">
                                                    {{ 'CanNotChangeAdminUserName' | localize }}
                                                </span>
                                                <validation-messages [formCtrl]="userNameInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-2">
                                                <label class="form-check form-check-custom form-check-solid py-1">
                                                    <input id="EditUser_SetRandomPassword" type="checkbox"
                                                        name="SetRandomPassword" [(ngModel)]="setRandomPassword"
                                                        class="form-check-input" />
                                                    <span class="form-check-label">
                                                        {{ 'SetRandomPassword' | localize }}
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="mb-3" *ngIf="!setRandomPassword">
                                                <div class="row">
                                                    <div class="col-md-6 mb-2">
                                                        <label class="form-label" for="Password">{{ 'Password' |
                                                            localize }}</label>
                                                        <input id="Password" type="password" name="Password"
                                                            #Password="ngModel" id="Password" class="form-control"
                                                            [(ngModel)]="user.password"
                                                            [required]="!user.id && !setRandomPassword" maxlength="32"
                                                            [requireDigit]="passwordComplexitySetting.requireDigit"
                                                            [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                            [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                            [requiredLength]="passwordComplexitySetting.requiredLength"
                                                            validateEqual="PasswordRepeat" reverse="true"
                                                            autocomplete="new-password" />
                                                        <div
                                                            [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                                            <ul class="help-block text-danger"
                                                                *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                                                                <li
                                                                    [hidden]="!userForm.controls['Password'].errors.requireDigit">
                                                                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize
                                                                    }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['Password'].errors.requireLowercase">
                                                                    {{ 'PasswordComplexity_RequireLowercase_Hint' |
                                                                    localize }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['Password'].errors.requireUppercase">
                                                                    {{ 'PasswordComplexity_RequireUppercase_Hint' |
                                                                    localize }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">
                                                                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint'
                                                                    | localize }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['Password'].errors.requiredLength">
                                                                    {{ 'PasswordComplexity_RequiredLength_Hint' |
                                                                    localize: passwordComplexitySetting.requiredLength
                                                                    }}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-2">
                                                        <div class="mb-5" *ngIf="!setRandomPassword">
                                                            <div class="right">
                                                                <label class="form-label" for="PasswordRepeat">{{
                                                                    'PasswordRepeat' | localize }}</label>
                                                                <input id="PasswordRepeat" type="password"
                                                                    name="PasswordRepeat" #PasswordRepeat="ngModel"
                                                                    class="form-control"
                                                                    [(ngModel)]="userPasswordRepeat"
                                                                    [required]="!user.id && !setRandomPassword"
                                                                    maxlength="32"
                                                                    [requireDigit]="passwordComplexitySetting.requireDigit"
                                                                    [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                                    [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                                    [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                                    [requiredLength]="passwordComplexitySetting.requiredLength"
                                                                    validateEqual="Password" reverse="false"
                                                                    autocomplete="new-password" />
                                                            </div>
                                                        </div>
                                                        <div
                                                            [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                                            <ul class="help-block text-danger" *ngIf="
                                                                    userForm.controls['PasswordRepeat'] &&
                                                                    userForm.controls['PasswordRepeat'].errors
                                                                ">
                                                                <li
                                                                    [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">
                                                                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize
                                                                    }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">
                                                                    {{ 'PasswordComplexity_RequireLowercase_Hint' |
                                                                    localize }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">
                                                                    {{ 'PasswordComplexity_RequireUppercase_Hint' |
                                                                    localize }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                                                                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint'
                                                                    | localize }}
                                                                </li>
                                                                <li
                                                                    [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">
                                                                    {{ 'PasswordComplexity_RequiredLength_Hint' |
                                                                    localize: passwordComplexitySetting.requiredLength
                                                                    }}
                                                                </li>
                                                                <li
                                                                    [hidden]="userForm.controls['PasswordRepeat'].valid">
                                                                    {{ 'PasswordsDontMatch' | localize }}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-2">
                                                <label class="form-check form-check-custom form-check-solid py-1">
                                                    <input id="EditUser_ShouldChangePasswordOnNextLogin" type="checkbox"
                                                        name="ShouldChangePasswordOnNextLogin"
                                                        [(ngModel)]="user.shouldChangePasswordOnNextLogin"
                                                        class="form-check-input" />
                                                    <span class="form-check-label">
                                                        {{ 'ShouldChangePasswordOnNextLogin' | localize }}
                                                    </span>
                                                </label>
                                                <span class="form-text text-muted" *ngIf="!isSMTPSettingsProvided()">
                                                    {{ 'SMTPSettingsNotProvidedWarningText' | localize }}
                                                </span>
                                            </div>
                                            <div class="col-md-12 mb-2">
                                                <label class="form-check form-check-custom form-check-solid py-1"
                                                    [class.checkbox-disabled]="!isSMTPSettingsProvided()">
                                                    <input id="EditUser_SendActivationEmail" type="checkbox"
                                                        name="SendActivationEmail" [(ngModel)]="sendActivationEmail"
                                                        class="form-check-input"
                                                        [disabled]="!isSMTPSettingsProvided()" />
                                                    <span class="form-check-label">
                                                        {{ 'SendActivationEmail' | localize }}
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="col-md-12 mb-2">
                                                <label class="form-check form-check-custom form-check-solid py-1">
                                                    <input id="EditUser_IsActive" type="checkbox" name="IsActive"
                                                        [(ngModel)]="user.isActive" class="form-check-input" />
                                                    <span class="form-check-label">
                                                        {{ 'Active' | localize }}
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="col-md-12 mb-2">
                                                <label class="form-check form-check-custom form-check-solid py-1"
                                                    *ngIf="isLockoutEnabled">
                                                    <input id="EditUser_IsLockoutEnabled" type="checkbox"
                                                        name="IsLockoutEnabled" [(ngModel)]="user.isLockoutEnabled"
                                                        class="form-check-input" />
                                                    <span class="form-check-label">
                                                        {{ 'IsLockoutEnabled' | localize }}
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="col-md-12 mb-2">
                                                <label class="form-check form-check-custom form-check-solid py-1"
                                                    *ngIf="isTwoFactorEnabled">
                                                    <input id="EditUser_IsTwoFactorEnabled" type="checkbox"
                                                        name="IsTwoFactorEnabled" [(ngModel)]="user.isTwoFactorEnabled"
                                                        class="form-check-input" />
                                                    <span class="form-check-label">
                                                        {{ 'IsTwoFactorEnabled' | localize }}
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-3 text-center mb-5 mt-5">
                                        <img src="{{ profilePicture }}" width="128" height="128" class="img-thumbnail img-rounded" />
                                    </div> -->
                                    <!-- <div class="col-sm-9">
                                        
                                        <div>
                                            
                                        </div>
                                    </div> -->
                                </div>
                            </tab>
                            <tab class="p-6" heading="{{ 'Roles' | localize }}">
                                <ng-template tabHeading>
                                    <span class="badge badge-success assigned-role-count ms-2">
                                        {{ getAssignedRoleCount() }}
                                    </span>
                                </ng-template>
                                <div class="row">
                                    <div *ngFor="let role of roles" class="col-4">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input id="EditUser_{{ role.roleName }}" type="checkbox"
                                                name="{{ role.roleName }}" [(ngModel)]="role.isAssigned"
                                                [disabled]="role.inheritedFromOrganizationUnit"
                                                class="form-check-input" />
                                            <span class="form-check-label">
                                                {{ role.roleDisplayName }}
                                                <small *ngIf="role.inheritedFromOrganizationUnit">
                                                    ({{ 'RoleIsInheritedFromOrganizationUnit' | localize }})
                                                </small>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </tab>
                            <tab class="p-6" heading="{{ 'OrganizationUnits' | localize }}">
                                <organization-unit-tree [cascadeSelectEnabled]="false"
                                    #organizationUnitTree></organization-unit-tree>
                            </tab>
                        </tabset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>