<div appBsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>
                            {{ 'Permissions' | localize }}
                            <span *ngIf="userName">- {{ userName }}</span>
                        </span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box my-0">
                        <permission-tree #permissionTree></permission-tree>
                    </div>

                    <div class="alert alert-warning d-flex align-items-center" style="margin-bottom: 0; margin-top: 15px">
                        <i class="las la-info-circle me-3" style="font-size:3rem;"></i> {{ 'Note_RefreshPageForPermissionChanges' | localize }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" [buttonBusy]="resettingPermissions" [busyText]="l('SavingWithThreeDot')" type="button" class="btn btn-primary" (click)="resetPermissions()" [tooltip]="l('ResetPermissionsTooltip')" placement="top"><i class="las la-save"></i>
                        <span>{{ 'ResetSpecialPermissions' | localize }}</span>
                    </button>
                    <button [disabled]="saving || resettingPermissions" type="button" class="btn btn-danger font-weight-bold" (click)="close()"><i class="las la-circle-times"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!userForm.form.valid || resettingPermissions" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>