<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <sub-header [title]="'Users' | localize" [count]="recordCount" [description]="'UsersHeaderInfo' | localize"></sub-header>
                <div>
                    <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getUsers()" [disableCascade]="true"></permission-tree-modal>
                </div>
            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button class="float-end refresh" (click)="getUsers()"></button>
                            </div>
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                                <!-- {{ 'ExportToExcel' | localize }} -->
                                            </a>
                                        </li>
                                        <li *ngIf="'Pages.Administration.Users.Create' | permission" role="menuitem">
                                            <a href="javascript:;" class="no-padding dropdown-item">
                                                <span class="fileinput-button">
                                                    <p-fileUpload
                                                        customUpload="true"
                                                        name="ExcelFileUpload"
                                                        #ExcelFileUpload
                                                        maxFileSize="10000000"
                                                        auto="auto"
                                                        accept=".csv,.xls,.xlsx"
                                                        (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="Import"
                                                    ></p-fileUpload>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-dark" href="/assets/sampleFiles/ImportUsersSampleFile.xlsx" target="_blank">
                                                <i class="lar la-file-excel"></i> Sample
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="me-2">
                                <button (click)="createUser()" *ngIf="'Pages.Administration.Users.Create' | permission" class="btn btn-primary">
                                    New <i class="las la-plus-circle"></i>                                    
                                </button>
                            </div>


                            <div class="me-0">
                                <div class="kt-advfilterbox">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <form class="form" autocomplete="new-password">
                                        <div class="content-block">
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <div class="input-group searchclearbox">
                                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getUsers()"><i class="fas fa-times-circle"></i></a>
                                                            <button (click)="getUsers()" class="search-btn" type="submit" style="height:auto !important; border:1px solid #a3adbd !important; border-width:0 0 1px !important; border-radius:0 !important;">
                                                                <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3" *ngIf="'Pages.Administration.Roles' | permission">
                                                    <div class="form-group">
                                                        <role-combo name="roleFilter" [(ngModel)]="role"></role-combo>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <div class="form-group">
                                                        <label class="form-check form-check-custom form-check-solid form-switch py-1">
                                                        <input
                                                            id="UsersTable_OnlyLockedUsers"
                                                            type="checkbox"
                                                            name="OnlyLockedUsers"
                                                            [(ngModel)]="onlyLockedUsers"
                                                            class="form-check-input"
                                                        />
                                                        <span class="form-check-label">
                                                            {{ 'OnlyLockedUsers' | localize }}
                                                        </span>
                                                    </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div [class]="containerClass">
            <div class="grid-container">

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getUsers($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both" [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" style="width:65px !important;" [hidden]="
                                                !(
                                                    [
                                                        'Pages.Administration.Users.Impersonation',
                                                        'Pages.Administration.Users.Edit',
                                                        'Pages.Administration.Users.ChangePermissions',
                                                        'Pages.Administration.Users.Delete'
                                                    ] | permissionAny
                                                )
                                            ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="username">
                                        {{ 'UserName' | localize }}
                                        <p-sortIcon field="username"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 130px" pSortableColumn="surname">
                                        {{ 'Surname' | localize }}
                                        <p-sortIcon field="surname"></p-sortIcon>
                                    </th>
                                    <th style="width: 250px">
                                        {{ 'Roles' | localize }}
                                    </th>
                                    <th style="width: 300px" pSortableColumn="emailAddress">
                                        {{ 'EmailAddress' | localize }}
                                        <p-sortIcon field="emailAddress"></p-sortIcon>
                                    </th>
                                    <th style="width: 120px; justify-content: center;" pSortableColumn="isEmailConfirmed">
                                        {{ 'EmailConfirm' | localize }}
                                        <p-sortIcon field="isEmailConfirmed"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px; justify-content: center;" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                    <th style="width: 185px" pSortableColumn="creationTime">
                                        {{ 'CreationTime' | localize }}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width:65px !important;" class="text-center" [hidden]="
                                                !(
                                                    [
                                                        'Pages.Administration.Users.Impersonation',
                                                        'Pages.Administration.Users.Edit',
                                                        'Pages.Administration.Users.ChangePermissions',
                                                        'Pages.Administration.Users.Delete'
                                                    ] | permissionAny
                                                )
                                            ">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                    <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                                </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="
                                                            ('Pages.Administration.Users.Impersonation' | permission) &&
                                                            record.id !== appSession.userId
                                                        " role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="
                                                                _impersonationService.impersonateUser(
                                                                    record.id,
                                                                    appSession.tenantId
                                                                )
                                                            ">
                                                        <i class="las la-sign-in-alt"></i>{{ 'LoginAsThisUser' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="'Pages.Administration.Users.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditUserModal.show(record.id)">
                                                        <i class="las la-edit"></i> {{ 'Edit' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="
                                                            'Pages.Administration.Users.ChangePermissions' | permission
                                                        " role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="
                                                                editUserPermissionsModal.show(
                                                                    record.id,
                                                                    record.userName
                                                                )
                                                            ">
                                                        <i class="las la-key"></i>{{ 'Permissions' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="'Pages.Administration.Users.Unlock' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="unlockUser(record)">
                                                        <i class="las la-unlock"></i>{{ 'Unlock' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="
                                                            dynamicEntityPropertyManager.canShow(
                                                                'solarcrm.Authorization.Users.User'
                                                            )
                                                        " role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="showDynamicProperties(record)">
                                                            {{ 'DynamicProperties' | localize }}
                                                        </a>
                                                </li>
                                                <li *ngIf="'Pages.Administration.Users.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteUser(record)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'UserName' | localize }}</span>
                                        <span>
                                                <a [href]="record.profilePictureUrl" target="_blank" class="float-left">
                                                    <img class="img-circle" [src]="record.profilePictureUrl" />
                                                </a>
                                                {{ record.userName }}
                                            </span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'FirstName' | localize }}</span> {{ record.name }}
                                    </td>
                                    <td style="width: 130px">
                                        <span class="p-column-title">{{ 'Surname' | localize }}</span> {{ record.surname }}
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Roles' | localize }}</span>
                                        <span class="badge badge-secondary">{{ getRolesAsString(record.roles) }}</span>
                                    </td>
                                    <td style="width: 300px">
                                        <span class="p-column-title">{{ 'EmailAddress' | localize }}</span> {{ record.emailAddress }}
                                    </td>
                                    <td style="width: 120px; justify-content: center;">
                                        <span class="p-column-title">{{ 'EmailConfirm' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.isEmailConfirmed">
                                                {{ 'Yes' | localize }}
                                            </span>
                                        <span class="badge badge-danger" *ngIf="!record.isEmailConfirmed">
                                                {{ 'No' | localize }}
                                            </span>
                                    </td>
                                    <td style="width: 100px; justify-content: center;">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.isActive">
                                                {{ 'Yes' | localize }}
                                            </span>
                                        <span class="badge badge-danger" *ngIf="!record.isActive">
                                                {{ 'No' | localize }}
                                            </span>
                                    </td>
                                    <td style="width: 185px">
                                        <span class="p-column-title">{{ 'CreationTime' | localize }}</span>
                                        <span class="d-flex align-items-center badge badge-secondary"><i class="las la-calendar fs-1 me-1"></i>{{ record.creationTime | luxonFormat: 'F' }}</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getUsers($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>

            </div>
        </div>

        <createOrEditUserModal #createOrEditUserModal (modalSave)="getUsers()"></createOrEditUserModal>
        <editUserPermissionsModal #editUserPermissionsModal></editUserPermissionsModal>
        <dynamic-entity-property-manager #dynamicEntityPropertyManager></dynamic-entity-property-manager>
    </div>
</div>