<div appBsModal #auditLogDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="auditLogDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roleForm="ngForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="auditLog.userId">{{ 'AuditLogDetail' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"></button>
                </div>
                <div class="modal-body sidepaddingzero bg-gray">

                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3>
                                <i class="las la-user fs-1 me-2"></i> {{ 'UserInformations' | localize }}
                            </h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-5 row align-items-center">
                                        <label class="col-lg-3 col-form-label">{{ 'UserName' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span class="badge badge-secondary">{{ auditLog.userName }}</span>
                                        </div>
                                    </div>

                                    <div class="mb-5 row align-items-center">
                                        <label class="col-lg-3 col-form-label">{{ 'IpAddress' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span>{{ auditLog.clientIpAddress }}</span>
                                        </div>
                                    </div>

                                    <div class="mb-5 row align-items-center">
                                        <label class="col-lg-3 col-form-label">{{ 'Client' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span>{{ auditLog.clientName }}</span>
                                        </div>
                                    </div>

                                    <div class="mb-5 row">
                                        <label class="col-lg-3 col-form-label">{{ 'Browser' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span>{{ auditLog.browserInfo }}</span>
                                        </div>
                                    </div>

                                    <div class="mb-5 row align-items-center" *ngIf="auditLog.impersonatorUserId">
                                        <label class="col-lg-3 col-form-label"></label>
                                        <div class="col-lg-9 text-warning">
                                            <span>{{ 'AuditLogImpersonatedOperationInfo' | localize }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3><i class="las la-info-circle fs-1 me-2"></i> {{ 'ActionInformations' | localize }}</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-5 row align-items-center ">
                                        <label class="col-lg-3 col-form-label">{{ 'Service' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span>{{ auditLog.serviceName }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-5 row align-items-center">
                                        <label class="col-lg-3 col-form-label">{{ 'Action' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span>{{ auditLog.methodName }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-5 row align-items-center">
                                        <label class="col-lg-3 col-form-label">{{ 'Time' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span>{{ getExecutionTime() }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-5 row align-items-center">
                                        <label class="col-lg-3 col-form-label">{{ 'Duration' | localize }}:</label>
                                        <div class="col-lg-9">
                                            <span>{{ getDurationAsMs() }}</span>
                                        </div>
                                    </div>
                                    <div class="mb-5 row">
                                        <label class="col-lg-3 col-form-label">{{ 'Parameters' | localize }}:</label>
                                        <div class="col-lg-9 alert alert-light">
                                            <pre lang="js">{{ getFormattedParameters() }}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3><i class="las la-database fs-1 me-2"></i> {{ 'CustomData' | localize }}</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-5 row align-items-center">
                                        <label class="col-lg-3 col-form-label">{{ 'None' | localize }}:</label>
                                        <div *ngIf="auditLog.customData" class="col-lg-9 alert alert-light">
                                            <pre>{{ auditLog.customData }}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box">
                            <h3><i class="las la-exclamation-triangle fs-1 me-2"></i> {{ 'ErrorState' | localize }}</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-5 row align-items-center">
                                        <span *ngIf="!auditLog.exception" class="badge badge-success">
                                            <i class="fas fa-check-circle text-white fs-1 me-2"></i>
                                            {{ 'Success' | localize }}
                                        </span>
                                        <div *ngIf="auditLog.exception" class="col-lg-12 alert alert-light mt-2">
                                            <pre>{{ auditLog.exception }}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Close' | localize }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>