<style>
    .tab-new.tab_design .tab-content {
        padding: 0 !important;
    }
    
    .tab-content .tab-filter {
        top: -58px !important;
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <sub-header [title]="'AuditLogs' | localize" [count]="recordCount"></sub-header>
            <div class="me-10" style="margin-left: auto;">
                <div class="form-body filter-options"></div>
            </div>
        </div>

        <div [class]="containerClass">
            <div class="tab_design tab-new">
                <tabset class="tab-container tabbable-line">
                    <tab heading="{{ 'OperationLogs' | localize }}">
                        <div class="tab-filter">
                            <span class="clickable-item btn btn-primary outline" (click)="advancedFiltersAreShown = !advancedFiltersAreShown; testHeightSize();">
                                <i class="las la-filter p-0"></i>
                                <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                            </span>
                        </div>

                        <div class="form" [hidden]="!advancedFiltersAreShown">
                            <form #auditFilterForm="ngForm" (ngSubmit)="getAuditLogs()">
                                <div class="filter-optionrow m-0 my-5">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <div class="mb-5">
                                                <label class="form-label" for="UsernameAuditLog">{{ 'UserName' |
                                                    localize }}</label>
                                                <input id="UsernameAuditLog" type="text" name="UsernameAuditLog" class="form-control" [(ngModel)]="usernameAuditLog" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-5">
                                                <label class="form-label" for="ServiceName">{{ 'Service' | localize
                                                    }}</label>
                                                <input id="ServiceName" name="ServiceName" type="text" class="form-control" [(ngModel)]="serviceName" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-5">
                                                <label class="form-label">{{ 'Duration' | localize }}</label>
                                                <div class="input-group" style="width: 250px !important">
                                                    <input type="text" name="MinExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8" [(ngModel)]="minExecutionDuration" />
                                                    <!-- <span class="input-group-text">---</span> -->
                                                    <span class="w-2"></span>
                                                    <input type="text" name="MaxExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8" [(ngModel)]="maxExecutionDuration" style="border-right: 1px solid #019EE3 !important;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-5">
                                                <label class="form-label" for="StartEndRange">{{ 'DateRange' | localize
                                                    }}</label>
                                                <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker" readonly="readonly" bsDaterangepicker dateRangePickerLuxonModifier [(date)]="dateRange" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="MethodName">{{ 'Action' | localize
                                                    }}</label>
                                                <input id="MethodName" type="text" name="MethodName" class="form-control" [(ngModel)]="methodName" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="HasException">{{ 'ErrorState' | localize
                                                    }}</label>
                                                <select id="HasException" name="HasException" class="form-control" [(ngModel)]="hasException">
                                                    <option value="">{{ 'All' | localize }}</option>
                                                    <option value="false">{{ 'Success' | localize }}</option>
                                                    <option value="true">{{ 'HasError' | localize }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="BrowserInfo">{{ 'Browser' | localize
                                                    }}</label>
                                                <input id="BrowserInfo" type="text" name="BrowserInfo" class="form-control" [(ngModel)]="browserInfo" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-5 d-flex align-items-center">
                                            <button type="button" class="btn btn-primary outline me-4" (click)="exportToExcelAuditLogs()">
                                                <i class="las la-file-excel"></i>
                                                {{ 'ExportToExcel' | localize }}
                                            </button><button type="button" class="refresh outline" (click)="getAuditLogs()" style="height: 41px;">
                                                <!-- <i class="las la-redo-alt"></i> -->
                                                <!-- {{ 'Refresh' | localize }} -->
                                            </button>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="grid-container mt-3">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelperAuditLogs.isLoading">

                                <p-table #dataTableAuditLogs sortMode="multiple" (onLazyLoad)="getAuditLogs($event)" [value]="primengTableHelperAuditLogs.records" rows="{{ primengTableHelperAuditLogs.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" responsive="primengTableHelperAuditLogs.isResponsive"
                                    resizableColumns="primengTableHelperAuditLogs.resizableColumns" scrollDirection="both" [scrollable]="true" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    selectionMode="single" ScrollWidth="100%" [scrollHeight]="screenHeight - testHeight +'px'">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 60px">&nbsp;</th>
                                            <th style="width: 60px" class="no-bdr">&nbsp;</th>
                                            <th style="width: 145px" pSortableColumn="userName">
                                                {{ 'UserName' | localize }}
                                                <p-sortIcon field="userName"></p-sortIcon>
                                            </th>
                                            <th style="width: 250px">
                                                {{ 'Service' | localize }}
                                            </th>
                                            <th style="width: 250px">
                                                {{ 'Action' | localize }}
                                            </th>
                                            <th style="width: 120px" pSortableColumn="executionDuration">
                                                {{ 'Duration' | localize }}
                                                <p-sortIcon field="executionDuration"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px">
                                                {{ 'IpAddress' | localize }}
                                            </th>
                                            <th style="width: 120px">
                                                {{ 'Client' | localize }}
                                            </th>
                                            <th style="width: 250px">
                                                {{ 'Browser' | localize }}
                                            </th>
                                            <th style="width: 200px" pSortableColumn="executionTime">
                                                {{ 'Time' | localize }}
                                                <p-sortIcon field="executionTime"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record">
                                            <td style="width: 60px">
                                                <div class="text-center">
                                                    <button class="btn btn-outline-primary btn-sm btn-icon" (click)="showAuditLogDetails(record)">
                                                        <i class="las la-search text-primary"
                                                            [attr.aria-label]="l('Search')"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width: 60px" class="no-bdr">
                                                <div class="text-center">
                                                    <i *ngIf="record.exception" class="las la-exclamation-triangle text-warning"></i>
                                                    <i *ngIf="!record.exception" class="fas fa-check-circle fs-1 text-primary"></i>
                                                </div>
                                            </td>
                                            <td style="width: 145px">
                                                <span class="p-column-title">{{ 'UserName' | localize }}</span>
                                                <span class="badge badge-secondary">{{ record.userName }}</span>
                                            </td>
                                            <td style="width: 250px">
                                                <span class="p-column-title">{{ 'Service' | localize }}</span> {{ record.serviceName }}
                                            </td>
                                            <td style="width: 250px">
                                                <span class="p-column-title">{{ 'Action' | localize }}</span> {{ record.methodName }}
                                            </td>
                                            <td style="width: 120px">
                                                {{ record.executionDuration }}ms
                                                <span class="p-column-title">{{ 'Duration' | localize }}</span>
                                            </td>
                                            <td style="width: 150px">
                                                <span class="p-column-title">{{ 'IpAddress' | localize }}</span> {{ record.clientIpAddress }}
                                            </td>
                                            <td style="width: 130px">
                                                <span class="p-column-title">{{ 'Client' | localize }}</span> {{ record.clientName }}
                                            </td>
                                            <td style="width: 250px">
                                                <span class="p-column-title">{{ 'Browser' | localize }}</span>
                                                <span title="{{ record.browserInfo }}">
                                                    {{ truncateStringWithPostfix(record.browserInfo, 20) }}
                                                </span>
                                            </td>
                                            <td style="width: 200px">
                                                <span class="p-column-title">{{ 'Time' | localize }}</span>
                                                <span class="badge badge-secondary d-flex align-items-center"><i
                                                        class="las la-calendar fs-1"></i> {{ record.executionTime |
                                                    luxonFormat: 'F' }}</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelperAuditLogs.totalRecordsCount == 0">
                                    {{ 'NoData' | localize }}
                                </div>
                                <div class="primeng-paging-container">

                                    <p-paginator [rows]="primengTableHelperAuditLogs.defaultRecordsCountPerPage" #paginatorAuditLogs (onPageChange)="getAuditLogs($event)" [totalRecords]="primengTableHelperAuditLogs.totalRecordsCount" [rowsPerPageOptions]="primengTableHelperAuditLogs.predefinedRecordsCountPerPage"
                                        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                    </p-paginator>
                                </div>
                            </div>
                            <!--<Primeng-TurboTable-End>-->
                        </div>
                    </tab>

                    <tab heading="{{ 'ChangeLogs' | localize }}">
                        <div class="tab-filter">
                            <span class="clickable-item btn btn-primary outline" (click)="advancedFiltersAreShown = !advancedFiltersAreShown; testHeightSize1();">
                                <i class="las la-filter p-0"></i>
                                <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                            </span>
                        </div>

                        <div class="form" [hidden]="!advancedFiltersAreShown">
                            <div class="filter-optionrow m-0 my-5">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="StartEndRangeEntityChange">
                                                {{ 'DateRange' | localize }}
                                            </label>
                                            <input class="form-control" id="StartEndRangeEntityChange" name="StartEndRangeEntityChange" readonly="readonly" #drp="bsDaterangepicker" bsDaterangepicker dateRangePickerLuxonModifier [(date)]="dateRange" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="UserNameEntityChange">{{ 'UserName' |
                                                localize }}</label>
                                            <input id="UserNameEntityChange" type="text" name="UserNameEntityChange" class="form-control" [(ngModel)]="usernameEntityChange" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="EntityTypeFullName">{{ 'Object' | localize
                                                }}</label>
                                            <select id="EntityTypeFullName" name="EntityTypeFullName" class="form-control" [(ngModel)]="entityTypeFullName">
                                                <option value="undefined" selected="selected">
                                                    {{ 'All' | localize }}
                                                </option>
                                                <option *ngFor="let objectType of objectTypes"
                                                    [value]="objectType.value">
                                                    {{ objectType.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-5 d-flex align-items-center">
                                        <button type="button" class="btn btn-success outline me-4" (click)="exportToExcelEntityChanges()">
                                            <i class="las la-file-excel"></i>
                                            {{ 'ExportToExcel' | localize }}
                                        </button>
                                        <button type="button" class="refresh outline" (click)="getEntityChanges()" style="height: 41px;">
                                            <!-- <i class="las la-redo-alt"></i> -->
                                            <!-- {{ 'Refresh' | localize }} -->
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-container mt-3">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="primeng-datatable-container " [busyIf]="primengTableHelperEntityChanges.isLoading ">
                                <p-table #dataTableEntityChanges sortMode="multiple " (onLazyLoad)="getEntityChanges($event) " [value]="primengTableHelperEntityChanges.records " rows="{{ primengTableHelperEntityChanges.defaultRecordsCountPerPage
                        }} " [paginator]="false " [lazy]="true " scrollable="true " ScrollWidth="100% " responsive="primengTableHelperEntityChanges.isResponsive " resizableColumns="primengTableHelperEntityChanges.resizableColumns " scrollDirection="both"
                                    [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [scrollHeight]="screenHeight - testHeight +'px'">
                                    <ng-template pTemplate="header ">
                                        <tr>
                                            <th style="width: 70px ">&nbsp;</th>
                                            <th style="width: 150px ">
                                                {{ 'Action' | localize }}
                                            </th>
                                            <th style="width: 250px ">
                                                {{ 'Object' | localize }}
                                            </th>
                                            <th style="width: 150px " pSortableColumn="userName ">
                                                {{ 'UserName' | localize }}
                                                <p-sortIcon field="userName "></p-sortIcon>
                                            </th>
                                            <th style="width: 150px " pSortableColumn="changeTime ">
                                                {{ 'Time' | localize }}
                                                <p-sortIcon field="changeTime "></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body " let-record="$implicit ">
                                        <tr>
                                            <td style="width: 70px ">
                                                <div class="text-center ">
                                                    <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm " (click)="showEntityChangeDetails(record) ">
                                                        <i class="la la-search " [attr.aria-label]="l( 'Search') "></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width: 150px ">
                                                <span class="p-column-title ">{{ 'Action' | localize }}</span>
                                                <span title="{{ record.changeTypeName }} ">
                                                    {{ l(record.changeTypeName) }}
                                                </span>
                                            </td>
                                            <td style="width: 250px ">
                                                <span class="p-column-title ">{{ 'Object' | localize }}</span> {{ record.entityTypeFullName }}
                                            </td>
                                            <td style="width: 150px ">
                                                <span class="p-column-title ">{{ 'UserName' | localize }}</span> {{ record.userName }}
                                            </td>
                                            <td style="width: 150px ">
                                                <span class="p-column-title ">{{ 'Time' | localize }}</span> {{ record.changeTime | luxonFormat: 'yyyy-LL-dd HH:mm:ss' }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data " *ngIf="primengTableHelperEntityChanges.totalRecordsCount==0 ">
                                    {{ 'NoData' | localize }}
                                </div>
                                <div class="primeng-paging-container ">
                                    <p-paginator [rows]="primengTableHelperEntityChanges.defaultRecordsCountPerPage " #paginatorEntityChanges (onPageChange)="getEntityChanges($event) " [totalRecords]="primengTableHelperEntityChanges.totalRecordsCount
                        " [rowsPerPageOptions]=" primengTableHelperEntityChanges.predefinedRecordsCountPerPage " [showCurrentPageReport]="true " currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                    </p-paginator>
                                </div>
                            </div>
                            <!--<Primeng-TurboTable-End>-->

                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <auditLogDetailModal #auditLogDetailModal></auditLogDetailModal>
    <entityChangeDetailModal #entityChangeDetailModal></entityChangeDetailModal>
</div>