<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #customeTagForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="customeTag.id">{{ 'EditCustomeTag' | localize }}</span>
                        <span *ngIf="!customeTag.id">{{ 'CreateNewCustomeTag' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3 form-icon">
                                    <label class="form-label">{{ 'TableName' | localize }}</label>
                                    <select name="TableName" #TableNameInput="ngModel" [(ngModel)]="customeTag.tagTableName" required class="form-control" id="selectTableId" (change)="GetTableFieldNameDropdonw($event);">
                                        <option [ngValue]="undefined" selected>Select TableName</option>
                                        <option *ngFor="let item of TableNameList" value="{{item.labeldata}}">{{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box" style="top:32px;"><i class="las la-file-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3 form-icon">
                                    <label class="form-label">{{ 'TableFieldName' | localize }}</label>
                                    <select name="TableFieldName" #TableFieldNameInput="ngModel" [(ngModel)]="customeTag.tagTableFieldName" required class="form-control" id="selectTableFieldId">
                                        <option [ngValue]="undefined" selected>Select TableFieldName</option>
                                        <option *ngFor="let item of TableFieldNameList" value="{{item.displayName}}">{{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box" style="top:32px;"><i class="las la-file-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-check form-check-custom form-check-solid py-1">
                                    <input id="EditcustomeTag_IsActive" type="checkbox" name="customeTagIsActive"
                                        [(ngModel)]="customeTag.isActive" class="form-check-input" />
                                    <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                                </label>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!customeTagForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>