<style>
    .form-control.ng-select {
        line-height: 40px;
        min-width: 200px;
    }
</style>
<div class="container-fluid maxwidth80 emailtemplatebox"><br>
    <div id="bar" class="email_set_div">
        <h1></h1>
        <ul class="hd_right">
            <li><input class="form-control" type="text" [(ngModel)]="emailTemplate.subject" placeholder="Subject"></li>

            <li><input class="form-control" type="text" [disabled]="emailTemplate.id" [(ngModel)]="emailTemplate.templateName" placeholder="Title"></li>
            <li>
                <ng-select class="form-control selectble" [items]="organizationList" [multiple]="false" bindLabel="displayName" required [closeOnSelect]="false" bindValue="id" placeholder="Select Organization" [(ngModel)]="emailTemplate.organizationUnitId" name="OrgnazitionListData">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                    </ng-template>
                </ng-select>
            </li>
            <li><button (click)="saveDesign()" class="btn btn-primary min-width94 marginleft0"><i class="las la-save"></i>Save Design</button></li>
            <li><button (click)="cancel()" class="btn btn-danger marginleft0"><i class="las la-times-circle"></i>Cancel</button></li>
        </ul>
        <!--<button (click)="exportHtml()">Export HTML</button>-->
    </div>
    <div class="clear"></div>
    <email-editor (loaded)="editorLoaded($event)"></email-editor>
</div>