<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'EmailTemplates' | localize" [count]="recordCount" [description]="'EmailTemplatesHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getEmailTemplate()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <div class="me-3">
                                <button (click)="createEmailTemplate()" *ngIf="'Pages.Tenant.DataVaults.EmailTemplates.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                    <!-- {{ 'CreateNewEmailTemplates' | localize }} -->
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getEmailTemplate()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getEmailTemplate()" class="btn search-btn" type="submit">
                                                    <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">

                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getEmailTemplate($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">


                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="actionwidth text-center" style="width:95px;" [hidden]="
                                            !(
                                                [
                                                    'Pages.Tenant.DataVaults.EmailTemplates.Edit',
                                                    'Pages.Tenant.DataVaults.EmailTemplates.Delete'
                                                ] | permissionAny
                                            )
                                        ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 45%" pSortableColumn="templateName">
                                        {{ 'TemplateName' | localize }}
                                        <p-sortIcon field="templateName"></p-sortIcon>
                                    </th>
                                    <th style="width: 45%" pSortableColumn="subject">
                                        {{ 'Subject' | localize }}
                                        <p-sortIcon field="subject"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="actionwidth text-center" style="width:95px;" [hidden]="!(
                                                [
                                                    'Pages.Tenant.DataVaults.EmailTemplates.Edit',
                                                    'Pages.Tenant.DataVaults.EmailTemplates.Delete'
                                                ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                            </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.EmailTemplates.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createEmailTemplate(record.emailTemplates.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.EmailTemplates.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteEmailTemplate(record.emailTemplates)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 45%">
                                        <span class="p-column-title">{{ 'TemplateName' | localize }}</span> {{ record.emailTemplates.templateName }}
                                    </td>
                                    <td style="width: 45%">
                                        <span class="p-column-title">{{ 'Subject' | localize }}</span> {{ record.emailTemplates.subject }}
                                    </td>

                                    <!-- <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.states.isActive">
                                            {{ 'Yes' | localize }}
                                        </span>
                                        <span class="badge badge-dark" *ngIf="!record.states.isActive">
                                            {{ 'No' | localize }}
                                        </span>
                                    </td> -->

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getEmailTemplate($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>

    </div>
</div>