<div [@routerTransition]>
    <div id="paymentRefundDetailsModel">
        <h3 class="d-flex align-items-center justify-content-between title-row">
            <div class="align-items-center d-flex"><i class="las la-file-invoice"></i> Refund Invoice</div>
            <button *ngIf="'Pages.Tenant.Jobs.Payment.Create' | permission" type="button" class="btn btn-secondary"
                (click)="addRefundPayment()">
                <i class="las la-plus-circle fs-2 me-0"></i> Refund Payment
            </button>
        </h3>

        <div class="grid-container secondary-grid">
            <div class="p-datatable">
                <table class="p-datatable-table">
                    <thead class="p-datatable-thead">
                        <tr>
                            <th style="width:250px;">Refund Paid Amount</th>
                            <th style="width:160px;">RefNo</th>
                            <th style="width:160px;">Refund Type</th>
                            <th style="width:160px;">Refund Reason</th>
                            <th style="width:150px;">Bank Name</th>
                            <th style="width:150px;">Account Name</th>
                            <th style="width:150px;">Account Number</th>
                            <th style="width:220px;">Notes</th>
                            <th style="width:90px;">Action</th>
                        </tr>
                    </thead>

                    <tr *ngFor="let item of paymentRefundList; let i = index">
                        <td style="width:250px;">
                            <span class="bold text-primary"><i
                                    class="las la-rupee-sign fs-4 text-dark"></i>{{item.jobRefund.refundPaidAmount |
                                number
                                :
                                '1.2'}}</span>
                        </td>
                        <td style="width:160px;">{{item.jobRefund.receiptNo}}</td>
                        <td style="width:160px;">{{item.jobRefund.refundPaymentType}}</td>
                        <td style="width:160px;">{{item.jobRefund.refundReasonName}}</td>
                        <td style="width:150px;">{{item.jobRefund.bankName}}</td>
                        <td style="width:150px;">{{item.jobRefund.bankAccountHolderName}}</td>
                        <td style="width:150px;">{{item.jobRefund.bankAccountNumber}}</td>
                        <td style="width:220px;">{{item.jobRefund.refundPaidNotes}}</td>
                        <td style="width:90px; text-align: right;">
                            <div class="me-0 action-btn align-items-center d-flex" style="justify-content: end;">
                                <a class="me-2" *ngIf="item.jobRefund.refundPaidDate == null"
                                    (click)="deleteRefundItem(item.jobRefund);"><i
                                        class="las la-trash text-danger"></i></a>
                                <a class="me-2" (click)="editrefundPayment(item.jobRefund);"><i
                                        class="las la-edit text-primary"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div appBsModal #addRefundPaymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="addRefundPaymentModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
        <div class="modal-dialog modal-xl">
            <form [formGroup]="documentGrp" (ngSubmit)="OnSubmit(documentGrp)" #uploadDocumentsForm="ngForm"
                ngNativeValidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>Add Refund Payment</span>
                        </h4>
                        <button type="button" class="btn-close" (click)="close()"></button>
                    </div>
                    <div class="modal-body modal-bg-gray">
                        <div class="modal-white-box my-0">
                            <div class="row ">
                                <!-- <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Refund Date:</strong>
                                        </label>
                                        <div>
                                            <input type="hidden" formControlName="Id">
                                            <input id="SampleDatePicker" required type="text" #SampleDatePicker
                                                name="SampleDatePicker" formControlName="RefundPaidDate"
                                                class="form-control" bsDatepicker datePickerLuxonModifier
                                                [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                            <span style="top:49px;" class="icon-box"><i class="las la-calendar"></i></span>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Refund Reason: *</strong>
                                        </label>
                                        <div>
                                            <select class="form-control" formControlName="RefundReasonId" required>
                                                <option [ngValue]="0">Select Refund Reason</option>
                                                <option *ngFor="let ptitem of RefundReason" value="{{ptitem.id}}">
                                                    {{ptitem.displayName}}
                                                </option>
                                            </select>
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-wallet"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Total Paid: *</strong>
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Paid Amount" required
                                                formControlName="RefundPaidAmount"
                                                (keypress)="keyPressNumbersWithDecimal($event)">
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-rupee-sign"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Payment Rec Ref No: *</strong>
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Refund Ref No"
                                                formControlName="ReceiptNo">
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-hashtag"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Bank Name:</strong>
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Bank Name"
                                                formControlName="BankName">
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-hashtag"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Bank Brach Name:</strong>
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Bank Brach Name"
                                                formControlName="BankBrachName">
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-hashtag"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Bank Account Number:</strong>
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Bank Account Number"
                                            (keypress)="keyPressNumbers($event)"  formControlName="BankAccountNumber">
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-hashtag"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Bank Account Holder Name:</strong>
                                        </label>
                                        <div>
                                            <input type="text" class="form-control"
                                                placeholder="Bank Account Holder Name"
                                                formControlName="BankAccountHolderName">
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-hashtag"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>IFSC Code:</strong>
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" placeholder="IFSC Code"
                                                formControlName="IFSC_Code">
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-hashtag"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Refund Payment Type: *</strong>
                                        </label>
                                        <div>
                                            <select class="form-control" formControlName="PaymentTypeId" required>
                                                <option [ngValue]="0">Payment Type</option>
                                                <option *ngFor="let ptitem of RefundPaymentType" value="{{ptitem.id}}">
                                                    {{ptitem.displayName}}
                                                </option>
                                            </select>
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-wallet"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-md-4">
                                    <label class="col-form-label">
                                        <strong>Upload Document:</strong>
                                    </label>
                                    <div class="custom-upload fix-height mt-0">
                                        <label>
                                            <div class="custom-file custom-upload mt-0">
                                                <input type="hidden" formControlName="RefundRecPath">
                                                <input type="file" id="" (change)="singlefileSelectionEvent($event)"><label
                                                    for="" class="custom-file-label"></label>
                                                <label for="uploadPicture" class="custom-file-label"></label>
                                            </div>
                                        </label>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-4">
                                    <div class="mb-3 form-group form-icon">
                                        <label class="col-form-label">
                                            <strong>Added By:</strong>
                                        </label>
                                        <div>
                                            <select [attr.disabled]="true" class="form-control"
                                                formControlName="CreatorUserId">
                                                <option [ngValue]="undefined">Select User</option>
                                                <option *ngFor="let ptitem of UserList" value="{{ptitem.id}}">
                                                    {{ptitem.userName}}
                                                </option>
                                            </select>
                                            <span style="top:49px;" class="icon-box"><i
                                                    class="las la-user-check"></i></span>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <label class="col-form-label">
                                        <strong>Refund Notes:</strong>
                                    </label>
                                    <textarea type="text" class="form-control" formControlName="RefundPaidNotes"
                                        style="height:100px !important;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="close()">
                            <i class="las la-times-circle"></i>
                            {{ 'Close' }}
                        </button>
                        <button type="submit"
                            *ngIf="'Pages.Tenant.Jobs.Payment.Create' || 'Pages.Tenant.Jobs.Payment.Edit' | permission"
                            [disabled]="!documentGrp.valid" class="btn btn-primary ms-2"><i class="las la-save"></i>
                            Save </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>