<style>
    .tab-new.tab_design .tab-content>.active {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header class="org-header" [title]="'Settings' | localize" [description]="'SettingsHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-primary" (click)="saveAll()">
                    <i class="la la-floppy-o"></i>
                    {{ 'SaveAll' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">

            <div class="tab_design tab-new">
                <tabset *ngIf="hostSettings" class="tab-container tabbable-line">
                    <tab class="p-5" heading="{{ 'General' | localize }}" *ngIf="showTimezoneSelection">
                        <div class="modal-gray-box mt-3 mb-3">
                            <h5>{{ 'Timezone' | localize }}</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-5">
                                        <!-- <label class="mb-3" for="Timezone">{{ 'Timezone' | localize }}</label> -->
                                        <timezone-combo name="Timezone" [(ngModel)]="hostSettings.general.timezone" defaultTimezoneScope="{{ defaultTimezoneScope }}"></timezone-combo>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tab>
                    <tab class="p-5" heading="{{ 'TenantManagement' | localize }}" *ngIf="hostSettings.tenantManagement">
                        <div class="">
                            <h5 class="setting-title mt-5 mb-3">{{ 'FormBasedRegistration' | localize }}</h5>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="modal-gray-box" style="min-height:225px;">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="Setting_AllowSelfRegistration"
                                                type="checkbox"
                                                name="AllowSelfRegistration"
                                                [(ngModel)]="hostSettings.tenantManagement.allowSelfRegistration"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'AllowTenantsToRegisterThemselves' | localize }}
                                            </span>
                                        </label>
                                        <span class="d-flex form-text text-dark mb-5">
                                            {{ 'AllowTenantsToRegisterThemselves_Hint' | localize }}
                                        </span>

                                        <label class="form-check form-check-custom form-check-solid py-1" [hidden]="!hostSettings.tenantManagement.allowSelfRegistration">
                                            <input
                                                id="Setting_IsNewRegisteredTenantActiveByDefault"
                                                type="checkbox"
                                                name="IsNewRegisteredTenantActiveByDefault"
                                                [(ngModel)]="hostSettings.tenantManagement.isNewRegisteredTenantActiveByDefault"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'NewRegisteredTenantsIsActiveByDefault' | localize }}
                                            </span>
                                        </label>
                                        <span class="d-flex form-text text-dark mb-5" *ngIf="hostSettings.tenantManagement.allowSelfRegistration">
                                            {{ 'NewRegisteredTenantsIsActiveByDefault_Hint' | localize }}
                                        </span>

                                        <label class="form-check form-check-custom form-check-solid py-1" [hidden]="!hostSettings.tenantManagement.allowSelfRegistration">
                                            <input
                                                id="Setting_UseCaptchaOnRegistration"
                                                type="checkbox"
                                                name="UseCaptchaOnRegistration"
                                                [(ngModel)]="hostSettings.tenantManagement.useCaptchaOnRegistration"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'UseCaptchaOnRegistration' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="modal-gray-box" style="min-height:225px;">
                                        <label class="form-label" for="DefaultEditionId">{{ 'Edition' | localize }}</label>
                                        <select id="DefaultEditionId" class="form-control" [(ngModel)]="hostSettings.tenantManagement.defaultEditionId">
                                            <option *ngFor="let edition of editions" [value]="edition.value">
                                                {{ edition.displayText }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </tab>
                    <tab class="p-5" heading="{{ 'UserManagement' | localize }}" *ngIf="hostSettings.userManagement">
                        <div class="pb-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modal-gray-box" style="height:230px;">
                                        <h5>Form-Based Registration</h5>
                                        <label class="form-check form-check-custom form-check-solid py-1 mb-2">
                                            <input
                                                id="Settings_IsEmailConfirmationRequiredForLogin"
                                                type="checkbox"
                                                name="IsEmailConfirmationRequiredForLogin"
                                                [(ngModel)]="hostSettings.userManagement.isEmailConfirmationRequiredForLogin"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'EmailConfirmationRequiredForLogin' | localize }}
                                            </span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid py-1 mb-2">
                                                    <input
                                                        id="Settings_SmsVerificationEnabled"
                                                        type="checkbox"
                                                        name="SmsVerificationEnabled"
                                                        [(ngModel)]="hostSettings.userManagement.smsVerificationEnabled"
                                                        class="form-check-input"
                                                    />
                                                    <span class="form-check-label">
                                                        {{ 'SmsVerificationEnabled' | localize }}
                                                    </span>
                                                </label>
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                                    <input
                                                        id="Setting_UseCaptchaOnLogin"
                                                        type="checkbox"
                                                        name="UseCaptchaOnLogin"
                                                        [(ngModel)]="hostSettings.userManagement.useCaptchaOnLogin"
                                                        class="form-check-input"
                                                    />
                                                    <span class="form-check-label">
                                                        {{ 'UseCaptchaOnLogin' | localize }}
                                                    </span>
                                                </label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="modal-gray-box" style="height:230px;">
                                        <h5 class="">{{ 'SessionTimeOut' | localize }}</h5>
                                        <label class="form-check form-check-custom form-check-solid py-1 mb-1">
                                    <input
                                        id="Setting_IsSessionTimeOutEnabled"
                                        type="checkbox"
                                        name="IsEnabled" 
                                        [(ngModel)]="hostSettings.userManagement.sessionTimeOutSettings.isEnabled"
                                        class="form-check-input"
                                    />
                                    
                                    <span class="form-check-label">
                                        {{ 'IsSessionTimeOutEnabled' | localize }}
                                    </span>
                                    </label>
                                        <label class="form-check form-check-custom form-check-solid py-1 mb-2" *ngIf="hostSettings.userManagement.sessionTimeOutSettings.isEnabled">
                                    <input
                                        id="Setting_ShowLockScreenWhenTimedOut"
                                        type="checkbox"
                                        name="IsEnabled"
                                        [(ngModel)]="
                                            hostSettings.userManagement.sessionTimeOutSettings.showLockScreenWhenTimedOut
                                        "
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{ 'ShowLockScreenWhenTimedOut' | localize }}
                                    </span>
                                    </label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="pt-1" *ngIf="hostSettings.userManagement.sessionTimeOutSettings.isEnabled">
                                                    <label for="Setting_SessionTimeOutSecond">
                                    {{ 'SessionTimeOutSecond' | localize }}
                                </label>
                                                    <input id="Setting_SessionTimeOutSecond" type="number" name="TimeOutSecond" class="form-control" min="1" [ngClass]="{
                                        edited: hostSettings.userManagement.sessionTimeOutSettings.timeOutSecond
                                    }" [(ngModel)]="hostSettings.userManagement.sessionTimeOutSettings.timeOutSecond" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="" *ngIf="hostSettings.userManagement.sessionTimeOutSettings.isEnabled">
                                                    <label for="Setting_ShowTimeOutNotificationSecond">
                                    {{ 'ShowTimeOutNotificationSecond' | localize }}
                                </label>
                                                    <input id="Setting_ShowTimeOutNotificationSecond" type="number" name="TimeOutSecond" class="form-control" min="1" [ngClass]="{
                                        edited: hostSettings.userManagement.sessionTimeOutSettings
                                            .showTimeOutNotificationSecond
                                    }" [(ngModel)]="
                                        hostSettings.userManagement.sessionTimeOutSettings.showTimeOutNotificationSecond
                                    " />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="modal-gray-box" style="min-height:170px;">
                                        <h5 class="mt-5">{{ 'Password' | localize }}</h5>
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                                    <input
                                                        id="Setting_EnableCheckingLastXPasswordWhenPasswordChange"
                                                        type="checkbox"
                                                        name="EnableCheckingLastXPasswordWhenPasswordChange"
                                                        [(ngModel)]="hostSettings.userManagement.userPasswordSettings.enableCheckingLastXPasswordWhenPasswordChange"
                                                        class="form-check-input"
                                                    />
                                                    <span class="form-check-label">
                                                        {{ 'EnableCheckingLastXPasswordWhenPasswordChangeSettingLabel' | localize }}
                                                    </span>
                                                </label>
                                        <div class="mb-5 pt-1" *ngIf="hostSettings.userManagement.userPasswordSettings.enableCheckingLastXPasswordWhenPasswordChange">
                                            <label for="Setting_CheckingLastXPasswordCount">
                                                        {{ 'CheckingLastXPasswordCountSettingLabel' | localize }}
                                                    </label>
                                            <input id="Setting_CheckingLastXPasswordCount" type="number" name="CheckingLastXPasswordCount" class="form-control" min="1" [ngClass]="{
                                                            edited: hostSettings.userManagement.userPasswordSettings.checkingLastXPasswordCount
                                                        }" [(ngModel)]="hostSettings.userManagement.userPasswordSettings.checkingLastXPasswordCount" style="max-width:300px" />
                                        </div>
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                                    <input
                                                        id="Setting_EnablePasswordExpiration"
                                                        type="checkbox"
                                                        name="EnablePasswordExpiration"
                                                        [(ngModel)]="hostSettings.userManagement.userPasswordSettings.enablePasswordExpiration"
                                                        class="form-check-input"
                                                    />
                                                    <span class="form-check-label">
                                                        {{ 'EnablePasswordExpirationSettingLabel' | localize }}
                                                    </span>
                                                </label>
                                        <div class="mb-5 pt-1" *ngIf="hostSettings.userManagement.userPasswordSettings.enablePasswordExpiration">
                                            <label for="Setting_PasswordExpirationDayCount">
                                                        {{ 'PasswordExpirationDayCountSettingLabel' | localize }}
                                                    </label>
                                            <input id="Setting_PasswordExpirationDayCount" type="number" name="PasswordExpirationDayCount" class="form-control" min="1" [ngClass]="{
                                                            edited: hostSettings.userManagement.userPasswordSettings.passwordExpirationDayCount 
                                                        }" [(ngModel)]="hostSettings.userManagement.userPasswordSettings.passwordExpirationDayCount" style="max-width:300px" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="modal-gray-box" style="min-height:170px;">
                                        <h5 class="mt-5">{{ 'CookieConsent' | localize }}</h5>
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Settings_IsCookieConsentEnabled"
                                            type="checkbox"
                                            name="IsCookieConsentEnabled"
                                            [(ngModel)]="hostSettings.userManagement.isCookieConsentEnabled"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'IsCookieConsentEnabled' | localize }}
                                        </span>
                                    </label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="modal-gray-box" style="min-height:170px;">
                                        <h5 class="mt-5">{{ 'Profile' | localize }}</h5>
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Setting_AllowUsingGravatarProfilePicture"
                                            type="checkbox"
                                            name="AllowUsingGravatarProfilePicture"
                                            [(ngModel)]="hostSettings.userManagement.allowUsingGravatarProfilePicture"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'AllowUsingGravatarProfilePicture' | localize }}
                                        </span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </tab>
                    <tab class="p-5" heading="{{ 'Security' | localize }}" *ngIf="hostSettings.security">
                        <div class="pb-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modal-gray-box" style="height:355px;">
                                        <h5 class="">{{ 'PasswordComplexity' | localize }}</h5>
                                        <label class="form-check form-check-custom form-check-solid py-3">
                                            <input
                                                id="Setting_PasswordComplexity_UseDefaultSettings"
                                                type="checkbox"
                                                name="Setting_PasswordComplexity_UseDefaultSettings"
                                                [(ngModel)]="hostSettings.security.useDefaultPasswordComplexitySettings"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'UseDefaultSettings' | localize }}
                                            </span>
                                        </label>

                                        <div class="px-5">
                                            <label for="Setting_PasswordComplexity_RequireDigit" class="form-check form-check-custom form-check-solid py-1">
                                                <input
                                                    id="Setting_PasswordComplexity_RequireDigit"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireDigit"
                                                    [(ngModel)]="hostSettings.security.passwordComplexity.requireDigit"
                                                    *ngIf="!hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    class="form-check-input"
                                                />
                                                <input
                                                    id="Setting_PasswordComplexity_RequireDigit"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireDigit"
                                                    [(ngModel)]="hostSettings.security.defaultPasswordComplexity.requireDigit"
                                                    *ngIf="hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    disabled
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'PasswordComplexity_RequireDigit' | localize }}
                                                </span>
                                            </label>
                                            <label for="Setting_PasswordComplexity_RequireLowercase" class="form-check form-check-custom form-check-solid py-1">
                                                <input
                                                    id="Setting_PasswordComplexity_RequireLowercase"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireLowercase"
                                                    [(ngModel)]="hostSettings.security.passwordComplexity.requireLowercase"
                                                    *ngIf="!hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    class="form-check-input"
                                                />
                                                <input
                                                    id="Setting_PasswordComplexity_RequireLowercase"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireLowercase"
                                                    [(ngModel)]="
                                                        hostSettings.security.defaultPasswordComplexity.requireLowercase
                                                    "
                                                    *ngIf="hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    disabled
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'PasswordComplexity_RequireLowercase' | localize }}
                                                </span>
                                            </label>
                                            <label for="Setting_PasswordComplexity_RequireNonAlphanumeric" class="form-check form-check-custom form-check-solid py-1">
                                                <input
                                                    id="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                    [(ngModel)]="
                                                        hostSettings.security.passwordComplexity.requireNonAlphanumeric
                                                    "
                                                    *ngIf="!hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    class="form-check-input"
                                                />
                                                <input
                                                    id="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                    [(ngModel)]="
                                                        hostSettings.security.defaultPasswordComplexity.requireNonAlphanumeric
                                                    "
                                                    *ngIf="hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    disabled
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'PasswordComplexity_RequireNonAlphanumeric' | localize }}
                                                </span>
                                            </label>
                                            <label for="Setting_PasswordComplexity_RequireUppercase" class="form-check form-check-custom form-check-solid py-1">
                                                <input
                                                    id="Setting_PasswordComplexity_RequireUppercase"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireUppercase"
                                                    [(ngModel)]="hostSettings.security.passwordComplexity.requireUppercase"
                                                    *ngIf="!hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    class="form-check-input"
                                                />
                                                <input
                                                    id="Setting_PasswordComplexity_RequireUppercase"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireUppercase"
                                                    [(ngModel)]="
                                                        hostSettings.security.defaultPasswordComplexity.requireUppercase
                                                    "
                                                    *ngIf="hostSettings.security.useDefaultPasswordComplexitySettings"
                                                    disabled
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'PasswordComplexity_RequireUppercase' | localize }}
                                                </span>
                                            </label>
                                            <div class="mb-5">
                                                <label>{{ 'PasswordComplexity_RequiredLength' | localize }}</label>
                                                <input type="number" name="RequiredLength" class="form-control" [ngClass]="{
                                                        edited: hostSettings.security.passwordComplexity.requiredLength
                                                    }" [(ngModel)]="hostSettings.security.passwordComplexity.requiredLength" *ngIf="!hostSettings.security.useDefaultPasswordComplexitySettings" />
                                                <input type="number" name="RequiredLength" class="form-control" [ngClass]="{
                                                        edited: hostSettings.security.defaultPasswordComplexity.requiredLength
                                                    }" [(ngModel)]="hostSettings.security.defaultPasswordComplexity.requiredLength" *ngIf="hostSettings.security.useDefaultPasswordComplexitySettings" disabled style="max-width:300px;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="modal-gray-box" style="height:355px;">
                                        <h5 class="">{{ 'UserLockOut' | localize }}</h5>
                                        <div class="mb-5">
                                            <label for="Setting_UserLockOut_IsEnabled" class="form-check form-check-custom form-check-solid py-1">
                                                <input
                                                    id="Setting_UserLockOut_IsEnabled"
                                                    type="checkbox"
                                                    name="Setting_UserLockOut_IsEnabled"
                                                    [(ngModel)]="hostSettings.security.userLockOut.isEnabled"
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'EnableUserAccountLockingOnFailedLoginAttempts' | localize }}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-5" *ngIf="hostSettings.security.userLockOut.isEnabled">
                                                    <label class="form-label" for="MaxFailedAccessAttemptsBeforeLockout">
                                                        {{ 'MaxFailedAccessAttemptsBeforeLockout' | localize }}
                                                    </label>
                                                    <input id="MaxFailedAccessAttemptsBeforeLockout" type="number" name="MaxFailedAccessAttemptsBeforeLockout" class="form-control" [ngClass]="{
                                                            edited: hostSettings.security.userLockOut
                                                                .maxFailedAccessAttemptsBeforeLockout
                                                        }" [(ngModel)]="hostSettings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout" style="max-width:300px;" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-5" *ngIf="hostSettings.security.userLockOut.isEnabled">
                                                    <label class="form-label" for="DefaultAccountLockoutDurationAsSeconds">
                                                        {{ 'DefaultAccountLockoutDurationAsSeconds' | localize }}
                                                    </label>
                                                    <input id="DefaultAccountLockoutDurationAsSeconds" type="number" name="DefaultAccountLockoutSeconds" class="form-control" [ngClass]="{
                                                            edited: hostSettings.security.userLockOut.defaultAccountLockoutSeconds
                                                        }" [(ngModel)]="hostSettings.security.userLockOut.defaultAccountLockoutSeconds" style="max-width:300px;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pb-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modal-gray-box" style="min-height:150px;">
                                        <h5 class="mt-5">{{ 'TwoFactorLogin' | localize }}</h5>
                                        <label for="Setting_TwoFactorLogin_IsEnabled" class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Setting_TwoFactorLogin_IsEnabled"
                                            type="checkbox"
                                            name="Setting_TwoFactorLogin_IsEnabled"
                                            [(ngModel)]="hostSettings.security.twoFactorLogin.isEnabled"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'EnableTwoFactorLogin' | localize }}
                                        </span>
                                    </label>
                                        <label for="Setting_TwoFactorLogin_IsEmailProviderEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="hostSettings.security.twoFactorLogin.isEnabled">
                                        <input
                                            id="Setting_TwoFactorLogin_IsEmailProviderEnabled"
                                            type="checkbox"
                                            name="Setting_TwoFactorLogin_IsEmailProviderEnabled"
                                            [(ngModel)]="hostSettings.security.twoFactorLogin.isEmailProviderEnabled"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'IsEmailVerificationEnabled' | localize }}
                                        </span>
                                    </label>
                                        <label for="Setting_TwoFactorLogin_IsSmsProviderEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="hostSettings.security.twoFactorLogin.isEnabled">
                                        <input
                                            id="Setting_TwoFactorLogin_IsSmsProviderEnabled"
                                            type="checkbox"
                                            name="Setting_TwoFactorLogin_IsSmsProviderEnabled"
                                            [(ngModel)]="hostSettings.security.twoFactorLogin.isSmsProviderEnabled"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'IsSmsVerificationEnabled' | localize }}
                                        </span>
                                    </label>
                                        <label for="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="hostSettings.security.twoFactorLogin.isEnabled">
                                        <input
                                            id="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled"
                                            type="checkbox"
                                            name="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled"
                                            [(ngModel)]="hostSettings.security.twoFactorLogin.isGoogleAuthenticatorEnabled"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'IsGoogleAuthenticatorEnabled' | localize }}
                                        </span>
                                    </label>
                                        <label for="Setting_TwoFactorLogin_IsRememberBrowserEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="hostSettings.security.twoFactorLogin.isEnabled">
                                        <input
                                            id="Setting_TwoFactorLogin_IsRememberBrowserEnabled"
                                            type="checkbox"
                                            name="Setting_TwoFactorLogin_IsRememberBrowserEnabled"
                                            [(ngModel)]="hostSettings.security.twoFactorLogin.isRememberBrowserEnabled"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'AllowToRememberBrowserForTwoFactorLogin' | localize }}
                                        </span>
                                    </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="modal-gray-box" style="min-height:150px;">
                                        <h5 class="mt-5">{{ 'OneConcurrentLoginPerUser' | localize }}</h5>
                                        <label for="Setting_IsOneConcurrentLoginPerUserActive" class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Setting_IsOneConcurrentLoginPerUserActive"
                                            type="checkbox"
                                            name="Setting_IsOneConcurrentLoginPerUserActive"
                                            [(ngModel)]="hostSettings.security.allowOneConcurrentLoginPerUser"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'OneConcurrentLoginPerUserActive' | localize }}
                                        </span>
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </tab>
                    <tab class="p-5" heading="{{ 'EmailSmtp' | localize }}" *ngIf="hostSettings.email">
                        <form class="form" #emailSmtpSettingsForm="ngForm" method="post">
                            <div class="">
                                <div class="modal-gray-box">
                                    <h5>Default Email Settings</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-5">
                                                <label class="form-label" for="DefaultFromAddress">
                                                            {{ 'DefaultFromAddress' | localize }}
                                                        </label>
                                                <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" #defaultFromAddressInput="ngModel" class="form-control" [ngClass]="{ edited: hostSettings.email.defaultFromAddress }" [(ngModel)]="hostSettings.email.defaultFromAddress" maxlength="256"
                                                    email />
                                                <validation-messages [formCtrl]="defaultFromAddressInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-5">
                                                <label class="form-label" for="DefaultFromDisplayName">
                                                            {{ 'DefaultFromDisplayName' | localize }}
                                                        </label>
                                                <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control" [ngClass]="{ edited: hostSettings.email.defaultFromDisplayName }" [(ngModel)]="hostSettings.email.defaultFromDisplayName" maxlength="128" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-5">
                                                <label class="form-label" for="SmtpHost">{{ 'SmtpHost' | localize }}</label>
                                                <input id="SmtpHost" type="text" name="SmtpHost" class="form-control" [ngClass]="{ edited: hostSettings.email.smtpHost }" [(ngModel)]="hostSettings.email.smtpHost" maxlength="64" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-5">
                                                <label class="form-label" for="SmtpPort">{{ 'SmtpPort' | localize }}</label>
                                                <input id="SmtpPort" type="number" name="SmtpPort" class="form-control" [ngClass]="{ edited: hostSettings.email.smtpPort }" [(ngModel)]="hostSettings.email.smtpPort" maxlength="5" />
                                            </div>
                                        </div>



                                        <div class="col-md-12">
                                            <label for="Settings_SmtpEnableSsl" class="form-check form-check-custom form-check-solid py-1">
                                                <input
                                                    id="Settings_SmtpEnableSsl"
                                                    type="checkbox"
                                                    name="SmtpEnableSsl"
                                                    [(ngModel)]="hostSettings.email.smtpEnableSsl"
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'UseSsl' | localize }}
                                                </span>
                                            </label>
                                            <label for="Settings_SmtpUseDefaultCredentials" class="form-check form-check-custom form-check-solid py-1 mb-5">
                                                <input
                                                    id="Settings_SmtpUseDefaultCredentials"
                                                    type="checkbox"
                                                    name="SmtpUseDefaultCredentials"
                                                    [(ngModel)]="hostSettings.email.smtpUseDefaultCredentials"
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'UseDefaultCredentials' | localize }}
                                                </span>
                                            </label>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-5" [hidden]="hostSettings.email.smtpUseDefaultCredentials">
                                                        <label class="form-label" for="SmtpDomainName">{{ 'DomainName' | localize }}</label>
                                                        <input id="SmtpDomainName" type="text" name="SmtpDomainName" class="form-control" [ngClass]="{ edited: hostSettings.email.smtpDomain }" [(ngModel)]="hostSettings.email.smtpDomain" maxlength="128" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-5" [hidden]="hostSettings.email.smtpUseDefaultCredentials">
                                                        <label class="form-label" for="SmtpUserName">{{ 'UserName' | localize }}</label>
                                                        <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control" [ngClass]="{ edited: hostSettings.email.smtpUserName }" [(ngModel)]="hostSettings.email.smtpUserName" maxlength="128" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-5" [hidden]="hostSettings.email.smtpUseDefaultCredentials">
                                                        <label class="form-label" for="SmtpPassword">{{ 'Password' | localize }}</label>
                                                        <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control" [ngClass]="{ edited: hostSettings.email.smtpPassword }" [(ngModel)]="hostSettings.email.smtpPassword" maxlength="128" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="modal-gray-box">
                            <h5>{{ 'TestEmailSettingsHeader' | localize }}</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <form class="form" #emailSmtpSettingsTestForm="ngForm">
                                        <div class="mb-5">
                                            <input type="email" name="testEmailAddress" #testEmailAddressInput="ngModel" class="form-control" [ngClass]="{ edited: testEmailAddress }" [(ngModel)]="testEmailAddress" maxlength="256" email />
                                            <validation-messages [formCtrl]="testEmailAddressInput"></validation-messages>
                                        </div>
                                    </form>
                                </div>
                                <div class="mb-5 col-md-2">
                                    <button class="btn btn-primary" type="button" (click)="sendTestEmail()" [disabled]="!emailSmtpSettingsTestForm.form.valid">
                                                {{ 'SendTestEmail' | localize }}
                                            </button>
                                </div>
                            </div>
                        </div>

                    </tab>
                    <tab class="p-5" *ngIf="true" heading="{{ 'Invoice' | localize }}">
                        <!-- *ngIf="true" is a workaround for https://github.com/valor-software/ng2-bootstrap/issues/823 -->
                        <div class="modal-gray-box">
                            <h5>{{ 'InvoiceInformation' | localize }}</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-5">
                                        <label class="form-label" for="LegalName">{{ 'LegalName' | localize }}</label>
                                        <input id="LegalName" type="text" name="legalName" class="form-control" [ngClass]="{ edited: hostSettings.billing.legalName }" [(ngModel)]="hostSettings.billing.legalName" maxlength="64" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Address">{{ 'Address' | localize }}</label>
                                        <textarea id="Address" rows="5" name="address" class="form-control" [ngClass]="{ edited: hostSettings.billing.address }" [(ngModel)]="hostSettings.billing.address" maxlength="256"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tab>
                    <tab class="p-5" *ngIf="true" heading="{{ 'OtherSettings' | localize }}">
                        <div class="modal-gray-box">
                            <h5>{{ 'QuickThemeSelection' | localize }}</h5>
                            <label for="Settings_IsQuickThemeSelectEnabled" class="form-check form-check-custom form-check-solid py-1">
                                <input
                                    id="Settings_IsQuickThemeSelectEnabled"
                                    class="form-check-input"
                                    type="checkbox"
                                    name="IsQuickThemeSelectEnabled"
                                    [(ngModel)]="hostSettings.otherSettings.isQuickThemeSelectEnabled"
                                />
                                <span class="form-check-label">
                                    {{ 'IsQuickThemeSelectEnabled' | localize }}
                                </span>
                            </label>
                        </div>


                    </tab>
                    <tab class="p-5" *ngIf="enabledSocialLoginSettings && enabledSocialLoginSettings.length" heading="{{ 'ExternalLoginSettings' | localize }}">
                        <div *ngIf="isSocialLoginEnabled('Facebook')">
                            <h5 class="mt-5">Facebook</h5>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_Facebook_AppId">{{ 'AppId' | localize }}*</label>
                                <input id="Setting_Facebook_AppId" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.facebook.appId" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label">{{ 'AppSecret' | localize }}*</label>
                                <password-input-with-show-button [(data)]="hostSettings.externalLoginProviderSettings.facebook.appSecret"></password-input-with-show-button>
                            </div>
                        </div>
                        <div *ngIf="isSocialLoginEnabled('Google')">
                            <hr />
                            <h5 class="mt-5">Google</h5>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_Google_ClientId">{{ 'ClientId' | localize }}*</label>
                                <input id="Setting_Google_ClientId" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.google.clientId" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label">{{ 'ClientSecret' | localize }}*</label>
                                <password-input-with-show-button [(data)]="hostSettings.externalLoginProviderSettings.google.clientSecret"></password-input-with-show-button>
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_Google_UserInfoEndpoint">
                                            {{ 'UserInfoEndpoint' | localize }}*
                                        </label>
                                <input id="Setting_Google_UserInfoEndpoint" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.google.userInfoEndpoint" />
                            </div>
                        </div>
                        <div *ngIf="isSocialLoginEnabled('Microsoft')">
                            <hr />
                            <h5 class="mt-5">Microsoft</h5>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_Microsoft_ClientId">{{ 'ClientId' | localize }}*</label>
                                <input id="Setting_Microsoft_ClientId" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.microsoft.clientId" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label">{{ 'ClientSecret' | localize }}*</label>
                                <password-input-with-show-button [(data)]="hostSettings.externalLoginProviderSettings.microsoft.clientSecret"></password-input-with-show-button>
                            </div>
                        </div>

                        <div *ngIf="isSocialLoginEnabled('WsFederation')" class="mb-4">
                            <hr />
                            <h5 class="mt-5">WsFederation</h5>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_WsFederation_ClientId">{{ 'ClientId' | localize }}</label>
                                <input id="Setting_WsFederation_ClientId" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.wsFederation.clientId" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_WsFederation_Tenant">{{ 'Tenant' | localize }}</label>
                                <input id="Setting_WsFederation_Tenant" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.wsFederation.tenant" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_WsFederation_MetaDataAddress">
                                            {{ 'MetaDataAddress' | localize }}
                                        </label>
                                <input id="Setting_WsFederation_MetaDataAddress" type="text" class="form-control" [(ngModel)]="
                                                hostSettings.externalLoginProviderSettings.wsFederation.metaDataAddress
                                            " />
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_WsFederation_Wtrealm">{{ 'Wtrealm' | localize }}</label>
                                <input id="Setting_WsFederation_Wtrealm" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.wsFederation.wtrealm" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_WsFederation_Authority">{{ 'Authority' | localize }}</label>
                                <input id="Setting_WsFederation_Authority" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.wsFederation.authority" />
                            </div>
                            <key-value-list-manager #wsFederationClaimsMappingManager [header]="l('ClaimsMapping')" [keyPlaceHolder]="l('ClaimKey')" [valuePlaceHolder]="l('ClaimValue')" [items]="wsFederationClaimMappings"></key-value-list-manager>
                        </div>

                        <div *ngIf="isSocialLoginEnabled('OpenId')">
                            <hr />
                            <h5 class="mt-5">OpenIdConnect</h5>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_OpenIdConnect_ClientId">{{ 'ClientId' | localize }}</label>
                                <input id="Setting_OpenIdConnect_ClientId" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.openIdConnect.clientId" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_OpenIdConnect_ClientSecret">
                                            {{ 'ClientSecret' | localize }}
                                        </label>
                                <input id="Setting_OpenIdConnect_ClientSecret" type="text" class="form-control" [(ngModel)]="
                                                hostSettings.externalLoginProviderSettings.openIdConnect.clientSecret
                                            " />
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_OpenIdConnect_Authority">{{ 'Authority' | localize }}</label>
                                <input id="Setting_OpenIdConnect_Authority" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.openIdConnect.authority" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="Setting_OpenIdConnect_LoginUrl">{{ 'LoginUrl' | localize }}</label>
                                <input id="Setting_OpenIdConnect_LoginUrl" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.openIdConnect.loginUrl" />
                            </div>
                            <label for="Setting_OpenIdConnect_ValidateIssuer" class="checkbox mb-3" style="margin-bottom: 0">
                                        <input
                                            id="Setting_OpenIdConnect_ValidateIssuer"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="AllowSelfRegistration"
                                            [(ngModel)]="
                                                hostSettings.externalLoginProviderSettings.openIdConnect.validateIssuer
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'ValidateIssuer' | localize }}
                                        </span>
                                    </label>
                            <key-value-list-manager #openIdConnectClaimsMappingManager [header]="l('ClaimsMapping')" [keyPlaceHolder]="l('ClaimKey')" [valuePlaceHolder]="l('ClaimValue')" [items]="openIdConnectClaimMappings"></key-value-list-manager>
                        </div>

                        <div *ngIf="isSocialLoginEnabled('Twitter')">
                            <hr />
                            <h5 class="mt-5">Twitter</h5>
                            <div class="mb-5 mt-3">
                                <label class="form-label" for="Setting_Twitter_ConsumerKey">{{ 'ConsumerKey' | localize }}*</label>
                                <input id="Setting_Twitter_ConsumerKey" type="text" class="form-control" [(ngModel)]="hostSettings.externalLoginProviderSettings.twitter.consumerKey" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label">{{ 'ConsumerSecret' | localize }}*</label>
                                <password-input-with-show-button [(data)]="hostSettings.externalLoginProviderSettings.twitter.consumerSecret"></password-input-with-show-button>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>


        </div>
    </div>
</div>