<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid org-header">
        <sub-header [title]="'Settings' | localize" [description]="'SettingsHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-primary" (click)="saveAll()">
                    <i class="la la-floppy-o"></i>
                    {{ 'SaveAll' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="lg-tabs">
                <div class="tab_design tab-new">
                    <tabset *ngIf="settings">
                        <tab class="p-6" heading="{{ 'General' | localize }}" *ngIf="showTimezoneSelection" [active]="activeTabIndex == 0">
                            <div class="row">
                                <div class="col-md-5 col-xs-12">
                                    <div class="modal-gray-box mx-1">
                                        <div class="mb-5" *ngIf="showTimezoneSelection">
                                            <label for="Timezone" class="mb-3 form-label">{{ 'Timezone' | localize }}</label>
                                            <timezone-combo name="Timezone" [(ngModel)]="settings.general.timezone" defaultTimezoneScope="{{ defaultTimezoneScope }}"></timezone-combo>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <tab class="p-6" *ngIf="true" heading="{{ 'Appearance' | localize }}" [active]="activeTabIndex == 1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modal-gray-box mx-1" style="min-height:430px;">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-image fs-1 me-3 text-dark"></i> {{ 'ApplicationLogo' | localize }}</h3>
                                        <form #logoUploadForm>
                                            <div class="mb-5" *ngIf="appSession.tenant.logoId" style="
                                                    background: url(/assets/common/images/transparent_background.png);
                                                    width: 50%;
                                                    padding: 5px; text-align:center;
                                                ">
                                                <a [href]="
                                                        remoteServiceBaseUrl +
                                                        '/TenantCustomization/GetLogo?tenantId=' +
                                                        appSession.tenant.id
                                                    " target="_blank">
                                                    <img height="100" [src]=" remoteServiceBaseUrl + '/TenantCustomization/GetLogo?tenantId=' + appSession.tenant.id " />
                                                </a>
                                            </div>

                                            <div class="input-group mb-4">
                                                <div class="custom-file custom-upload">
                                                    <input type="file" class="custom-file-input" id="uploadLogoInput" ng2FileSelect [uploader]="logoUploader" (change)="onUploadLogoInputChange($event.target.files)" />
                                                    <label class="custom-file-label" #uploadLogoInputLabel for="uploadLogoInput">
                                                        {{ 'ChooseAFile' | localize }}
                                                    </label>
                                                </div>
                                                <span class="form-text text-muted col-lg-12 my-5 alert alert-warning text-dark" style="color:#000 !important">
                                                    {{ 'UploadLogo_Info' | localize }}
                                                </span>
                                            </div>

                                            <button class="btn btn-primary" type="button" (click)="uploadLogo()">
                                                <i class="las la-file-upload"></i> {{ 'Upload' | localize }}
                                            </button>
                                            <button class="btn btn-danger" type="button" (click)="clearLogo()">
                                                <i class="las la-times-circle"></i> {{ 'Clear' | localize }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="modal-gray-box mx-1" style="min-height:430px;">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-file-code fs-1 me-3 text-dark"></i> {{ 'CustomCSS' | localize }}</h3>
                                        <p *ngIf="appSession.tenant.customCssId">
                                            <a [href]="
                                                    remoteServiceBaseUrl +
                                                    '/TenantCustomization/GetCustomCss?tenantId=' +
                                                    appSession.tenant.id
                                                " target="_blank">
                                                {{ 'Download' | localize }}
                                            </a>
                                        </p>
                                        <form #cssUploadForm>
                                            <div class="input-group mb-4">
                                                <div class="custom-file custom-upload">
                                                    <input type="file" class="custom-file-input" id="uploadCustomCSSInput" ng2FileSelect [uploader]="customCssUploader" (change)="onUploadCustomCSSInputChange($event.target.files)" />
                                                    <label class="custom-file-label" #uploadCustomCSSInputLabel for="uploadCustomCSSInput">
                                                        {{ 'ChooseAFile' | localize }}
                                                    </label>
                                                </div>
                                                <span class="form-text text-muted col-lg-8 my-5 alert alert-warning text-dark" style="color:#000 !important">
                                                    {{ 'UploadCSS_Info' | localize }}
                                                </span>
                                            </div>

                                            <button class="btn btn-primary" type="button" (click)="uploadCustomCss()">
                                                <i class="las la-file-upload"></i> {{ 'Upload' | localize }}
                                            </button>
                                            <button class="btn btn-default" type="button" (click)="clearCustomCss()">
                                                <i class="las la-times-circle"></i> {{ 'Clear' | localize }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tab>

                        <tab class="p-6" *ngIf="true" heading="{{ 'UserManagement' | localize }}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modal-gray-box mx-1" style="height:330px;">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="lab la-wpforms fs-1 me-3 text-dark"></i> {{ 'FormBasedRegistration' | localize }}</h3>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-5">
                                                    <label for="Setting_AllowSelfRegistration" class="form-check form-check-custom form-check-solid py-1" style="margin-bottom: 0">
                                                    <input id="Setting_AllowSelfRegistration" class="form-check-input" type="checkbox" name="AllowSelfRegistration" [(ngModel)]="settings.userManagement.allowSelfRegistration"/>
                                                    <span class="form-check-label">
                                                        {{ 'AllowUsersToRegisterThemselves' | localize }}
                                                    </span>
                                                </label>
                                                    <span class="form-text text-muted">
                                                    {{ 'AllowUsersToRegisterThemselves_Hint' | localize }}
                                                </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-5" [hidden]="!settings.userManagement.allowSelfRegistration">
                                                    <label for="Setting_IsNewRegisteredUserActiveByDefault" class="form-check form-check-custom form-check-solid py-1" style="margin-bottom: 0">
                                                    <input
                                                        id="Setting_IsNewRegisteredUserActiveByDefault"
                                                        type="checkbox"
                                                        name="IsNewRegisteredUserActiveByDefault"
                                                        [(ngModel)]="settings.userManagement.isNewRegisteredUserActiveByDefault"
                                                        class="form-check-input"
                                                    />
                                                    <span class="form-check-label">
                                                        {{ 'NewRegisteredUsersIsActiveByDefault' | localize }}
                                                    </span>
                                                </label>
                                                    <span class="form-text text-muted">
                                                    {{ 'NewRegisteredUsersIsActiveByDefault_Hint' | localize }}
                                                </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-5" [hidden]="!settings.userManagement.allowSelfRegistration">
                                                    <label for="Setting_UseCaptchaOnRegistration" class="form-check form-check-custom form-check-solid py-1">
                                                    <input
                                                        id="Setting_UseCaptchaOnRegistration"
                                                        type="checkbox"
                                                        name="UseCaptchaOnRegistration"
                                                        [(ngModel)]="settings.userManagement.useCaptchaOnRegistration"
                                                        class="form-check-input"
                                                    />
                                                    <span class="form-check-label">
                                                        {{ 'UseCaptchaOnRegistration' | localize }}
                                                    </span>
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-0">
                                                    <label for="Setting_UseCaptchaOnLogin" class="form-check form-check-custom form-check-solid py-1">
                                                    <input
                                                        id="Setting_UseCaptchaOnLogin"
                                                        type="checkbox"
                                                        name="UseCaptchaOnLogin"
                                                        [(ngModel)]="settings.userManagement.useCaptchaOnLogin"
                                                        class="form-check-input"
                                                    />
                                                    <span class="form-check-label">
                                                        {{ 'UseCaptchaOnLogin' | localize }}
                                                    </span>
                                                </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="modal-gray-box mx-1" style="height:330px;">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-info-circle fs-1 me-3 text-dark"></i> {{ 'SessionTimeOut' | localize }}</h3>
                                        <label for="Setting_IsSessionTimeOutEnabled" class="form-check form-check-custom form-check-solid py-1 mb-4">
                                            <input
                                                id="Setting_IsSessionTimeOutEnabled" class="form-check-input"
                                                type="checkbox" name="IsEnabled"                                                
                                                [(ngModel)]="settings.userManagement.sessionTimeOutSettings.isEnabled"
                                            />
                                            <span class="form-check-label">
                                                {{ 'IsSessionTimeOutEnabled' | localize }}
                                            </span>
                                        </label>
                                        <label *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled" for="Setting_ShowLockScreenWhenTimedOut" class="form-check form-check-custom form-check-solid py-1 mb-4">
                                            <input id="Setting_ShowLockScreenWhenTimedOut" class="form-check-input" type="checkbox" name="IsEnabled"
                                                [(ngModel)]="
                                                    settings.userManagement.sessionTimeOutSettings
                                                        .showLockScreenWhenTimedOut
                                                "
                                            />
                                            <span class="form-check-label">
                                                {{ 'ShowLockScreenWhenTimedOut' | localize }}
                                            </span>
                                        </label>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-5 pt-1" *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                                    <label class="form-label mb-5" for="Setting_SessionTimeOutSecond">
                                                        {{ 'SessionTimeOutSecond' | localize }}
                                                    </label>
                                                    <input id="Setting_SessionTimeOutSecond" type="number" style="max-width:120px !important;" name="TimeOutSecond" class="form-control mb-5" min="1" [ngClass]="{
                                                            edited: settings.userManagement.sessionTimeOutSettings.timeOutSecond
                                                        }" [(ngModel)]="settings.userManagement.sessionTimeOutSettings.timeOutSecond" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-5" *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                                    <label class="form-label" for="Setting_ShowTimeOutNotificationSecond">
                                                        {{ 'ShowTimeOutNotificationSecond' | localize }}
                                                    </label>
                                                    <input id="Setting_ShowTimeOutNotificationSecond" type="number" style="max-width:120px !important;" name="ShowTimeOutNotificationSecond" class="form-control" min="1" [ngClass]="{
                                                            edited: settings.userManagement.sessionTimeOutSettings
                                                                .showTimeOutNotificationSecond
                                                        }" [(ngModel)]="
                                                            settings.userManagement.sessionTimeOutSettings
                                                                .showTimeOutNotificationSecond
                                                        " />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="modal-gray-box mx-1">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-info-circle fs-1 me-3 text-dark"></i> {{ 'CookieConsent' | localize }}</h3>
                                        <label for="Settings_IsCookieConsentEnabled" class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="Settings_IsCookieConsentEnabled"
                                                class="form-check-input" type="checkbox" name="IsCookieConsentEnabled"
                                                [(ngModel)]="settings.userManagement.isCookieConsentEnabled" />
                                                <span class="form-check-label">
                                                    {{ 'IsCookieConsentEnabled' | localize }}
                                                </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="modal-gray-box mx-1">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-info-circle fs-1 me-3 text-dark"></i> {{ 'OtherSettings' | localize }}</h3>
                                        <label for="Setting_IsEmailConfirmationRequiredForLogin" class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="Setting_IsEmailConfirmationRequiredForLogin"
                                                type="checkbox"
                                                name="IsEmailConfirmationRequiredForLogin"
                                                [(ngModel)]="settings.userManagement.isEmailConfirmationRequiredForLogin"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'EmailConfirmationRequiredForLogin' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="modal-gray-box mx-1">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-info-circle fs-1 me-3 text-dark"></i> {{ 'Profile' | localize }}</h3>
                                        <label for="Setting_AllowUsingGravatarProfilePicture" class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="Setting_AllowUsingGravatarProfilePicture"
                                                class="form-check-input"
                                                type="checkbox"
                                                name="AllowUsingGravatarProfilePicture"
                                                [(ngModel)]="settings.userManagement.allowUsingGravatarProfilePicture"
                                            />
                                            <span class="form-check-label">
                                                {{ 'AllowUsingGravatarProfilePicture' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>

                            </div>


                            <div *ngIf="settings.ldap.isModuleEnabled">
                                <h5 class="mt-4">{{ 'LdapSettings' | localize }}</h5>
                                <label for="Setting_LdapIsEnabled" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Setting_LdapIsEnabled"
                                        type="checkbox"
                                        name="LdapIsEnabled"
                                        [(ngModel)]="settings.ldap.isEnabled"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{ 'EnableLdapAuthentication' | localize }}
                                    </span>
                                </label>
                                <div class="mb-5" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapDomainName">{{ 'DomainName' | localize }}</label>
                                    <input id="LdapDomainName" type="text" name="LdapDomainName" class="form-control" [(ngModel)]="settings.ldap.domain" maxlength="128" />
                                </div>
                                <div class="mb-5" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapUserName">{{ 'UserName' | localize }}</label>
                                    <input id="LdapUserName" type="text" name="LdapUserName" class="form-control" [(ngModel)]="settings.ldap.userName" maxlength="128" />
                                </div>
                                <div class="mb-5" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapPassword">{{ 'Password' | localize }}</label>
                                    <input id="LdapPassword" type="password" name="LdapPassword" class="form-control" [(ngModel)]="settings.ldap.password" maxlength="128" />
                                </div>
                            </div>

                        </tab>
                        <tab class="p-6" *ngIf="true" heading="{{ 'Security' | localize }}">
                            <!-- *ngIf="true" is a workaround for https://github.com/valor-software/ng2-bootstrap/issues/823 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="modal-gray-box mx-1" style="height:390px;">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-lock fs-1 me-3 text-dark"></i> {{ 'PasswordComplexity' | localize }}</h3>
                                        <label for="Setting_PasswordComplexity_UseDefaultSettings" class="form-check form-check-custom form-check-solid py-1 mb-3">
                                                <input
                                                    id="Setting_PasswordComplexity_UseDefaultSettings"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_UseDefaultSettings"
                                                    [(ngModel)]="settings.security.useDefaultPasswordComplexitySettings"
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'UseDefaultSettings' | localize }}
                                                </span>
                                            </label>
                                        <div class="px-5">
                                            <label for="Setting_PasswordComplexity_RequireDigit" class="form-check form-check-custom form-check-solid py-2">
                                            <input
                                                id="Setting_PasswordComplexity_RequireDigit"
                                                type="checkbox"
                                                name="Setting_PasswordComplexity_RequireDigit"
                                                [(ngModel)]="settings.security.passwordComplexity.requireDigit"
                                                *ngIf="!settings.security.useDefaultPasswordComplexitySettings"
                                                class="form-check-input"
                                            />
                                            <input
                                                id="Setting_PasswordComplexity_RequireDigit"
                                                type="checkbox"
                                                name="Setting_PasswordComplexity_RequireDigit"
                                                [(ngModel)]="settings.security.defaultPasswordComplexity.requireDigit"
                                                *ngIf="settings.security.useDefaultPasswordComplexitySettings"
                                                disabled
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'PasswordComplexity_RequireDigit' | localize }}
                                            </span>
                                        </label>
                                            <label for="Setting_PasswordComplexity_RequireLowercase" class="form-check form-check-custom form-check-solid py-2">
                                            <input
                                                id="Setting_PasswordComplexity_RequireLowercase"
                                                type="checkbox"
                                                name="Setting_PasswordComplexity_RequireLowercase"
                                                [(ngModel)]="settings.security.passwordComplexity.requireLowercase"
                                                *ngIf="!settings.security.useDefaultPasswordComplexitySettings"
                                                class="form-check-input"
                                            />
                                            <input
                                                id="Setting_PasswordComplexity_RequireLowercase"
                                                type="checkbox"
                                                name="Setting_PasswordComplexity_RequireLowercase"
                                                [(ngModel)]="
                                                    settings.security.defaultPasswordComplexity.requireLowercase
                                                "
                                                *ngIf="settings.security.useDefaultPasswordComplexitySettings"
                                                disabled
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'PasswordComplexity_RequireLowercase' | localize }}
                                            </span>
                                        </label>
                                            <label for="Setting_PasswordComplexity_RequireNonAlphanumeric" class="form-check form-check-custom form-check-solid py-2">
                                            <input
                                                id="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                type="checkbox"
                                                name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                [(ngModel)]="
                                                    settings.security.passwordComplexity.requireNonAlphanumeric
                                                "
                                                *ngIf="!settings.security.useDefaultPasswordComplexitySettings"
                                                class="form-check-input"
                                            />
                                            <input
                                                id="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                type="checkbox"
                                                name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                [(ngModel)]="
                                                    settings.security.defaultPasswordComplexity.requireNonAlphanumeric
                                                "
                                                *ngIf="settings.security.useDefaultPasswordComplexitySettings"
                                                disabled
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'PasswordComplexity_RequireNonAlphanumeric' | localize }}
                                            </span>
                                        </label>
                                            <label for="Setting_PasswordComplexity_RequireUppercase" class="form-check form-check-custom form-check-solid py-2">
                                                <input
                                                    id="Setting_PasswordComplexity_RequireUppercase"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireUppercase"
                                                    [(ngModel)]="settings.security.passwordComplexity.requireUppercase"
                                                    *ngIf="!settings.security.useDefaultPasswordComplexitySettings"
                                                    class="form-check-input"
                                                />
                                                <input
                                                    id="Setting_PasswordComplexity_RequireUppercase"
                                                    type="checkbox"
                                                    name="Setting_PasswordComplexity_RequireUppercase"
                                                    [(ngModel)]="
                                                        settings.security.defaultPasswordComplexity.requireUppercase
                                                    "
                                                    *ngIf="settings.security.useDefaultPasswordComplexitySettings"
                                                    disabled
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'PasswordComplexity_RequireUppercase' | localize }}
                                                </span>
                                            </label>
                                            <div class="mb-2 mt-4">
                                                <label class="form-label">{{ 'PasswordComplexity_RequiredLength' | localize }}</label>
                                                <input type="number" name="RequiredLength" class="form-control" style="max-width:200px !important;" [ngClass]="{ edited: settings.security.passwordComplexity.requiredLength }" [(ngModel)]="settings.security.passwordComplexity.requiredLength" *ngIf="!settings.security.useDefaultPasswordComplexitySettings"
                                                />
                                                <input type="number" name="RequiredLength" class="form-control" style="max-width:200px !important;" [ngClass]="{
                                                    edited: settings.security.defaultPasswordComplexity.requiredLength
                                                }" [(ngModel)]="settings.security.defaultPasswordComplexity.requiredLength" *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="modal-gray-box mx-1" style="height:390px;">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-lock fs-1 me-3 text-dark"></i> {{ 'UserLockOut' | localize }}</h3>
                                        <label for="Setting_UserLockOut_IsEnabled" class="form-check form-check-custom form-check-solid py-1 mb-5">
                                                <input
                                                    id="Setting_UserLockOut_IsEnabled"
                                                    type="checkbox"
                                                    name="Setting_UserLockOut_IsEnabled"
                                                    [(ngModel)]="settings.security.userLockOut.isEnabled"
                                                    class="form-check-input"
                                                />
                                                <span class="form-check-label">
                                                    {{ 'EnableUserAccountLockingOnFailedLoginAttempts' | localize }}
                                                </span>
                                            </label>
                                        <div class="mb-5" *ngIf="settings.security.userLockOut.isEnabled">
                                            <label class="form-label" for="MaxFailedAccessAttemptsBeforeLockout">
                                            {{ 'MaxFailedAccessAttemptsBeforeLockout' | localize }}
                                        </label>
                                            <input id="MaxFailedAccessAttemptsBeforeLockout" style="max-width:200px !important;" type="number" name="MaxFailedAccessAttemptsBeforeLockout" class="form-control" [ngClass]="{
                                                edited: settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout
                                            }" [(ngModel)]="settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout" />
                                        </div>
                                        <div class="mb-5" *ngIf="settings.security.userLockOut.isEnabled">
                                            <label class="form-label" for="DefaultAccountLockoutSeconds">
                                            {{ 'DefaultAccountLockoutDurationAsSeconds' | localize }}
                                        </label>
                                            <input id="DefaultAccountLockoutSeconds" type="number" style="max-width:200px !important;" name="DefaultAccountLockoutSeconds" class="form-control" [ngClass]="{
                                                edited: settings.security.userLockOut.defaultAccountLockoutSeconds
                                            }" [(ngModel)]="settings.security.userLockOut.defaultAccountLockoutSeconds" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" *ngIf="!isMultiTenancyEnabled || settings.security.twoFactorLogin.isEnabledForApplication">
                                    <div class="modal-gray-box mx-1">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-lock fs-1 me-3 text-dark"></i> {{ 'TwoFactorLogin' | localize }}</h3>
                                        <label for="Setting_TwoFactorLogin_IsEnabled" class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="Setting_TwoFactorLogin_IsEnabled"
                                                type="checkbox"
                                                name="Setting_TwoFactorLogin_IsEnabled"
                                                [(ngModel)]="settings.security.twoFactorLogin.isEnabled"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'EnableTwoFactorLogin' | localize }}
                                            </span>
                                        </label>
                                        <label for="Setting_TwoFactorLogin_IsEmailProviderEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                            <input
                                                id="Setting_TwoFactorLogin_IsEmailProviderEnabled"
                                                type="checkbox"
                                                name="Setting_TwoFactorLogin_IsEmailProviderEnabled"
                                                [(ngModel)]="settings.security.twoFactorLogin.isEmailProviderEnabled"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'IsEmailVerificationEnabled' | localize }}
                                            </span>
                                        </label>
                                        <label for="Setting_TwoFactorLogin_IsSmsProviderEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                            <input
                                                id="Setting_TwoFactorLogin_IsSmsProviderEnabled"
                                                type="checkbox"
                                                name="Setting_TwoFactorLogin_IsSmsProviderEnabled"
                                                [(ngModel)]="settings.security.twoFactorLogin.isSmsProviderEnabled"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'IsSmsVerificationEnabled' | localize }}
                                            </span>
                                        </label>
                                        <label for="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                            <input
                                                id="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled"
                                                type="checkbox"
                                                name="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled"
                                                [(ngModel)]="settings.security.twoFactorLogin.isGoogleAuthenticatorEnabled"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'IsGoogleAuthenticatorEnabled' | localize }}
                                            </span>
                                        </label>
                                        <label for="Setting_TwoFactorLogin_IsRememberBrowserEnabled" class="form-check form-check-custom form-check-solid py-1" *ngIf="settings.security.twoFactorLogin.isEnabled">
                                            <input
                                                id="Setting_TwoFactorLogin_IsRememberBrowserEnabled"
                                                type="checkbox"
                                                name="Setting_TwoFactorLogin_IsRememberBrowserEnabled"
                                                [(ngModel)]="settings.security.twoFactorLogin.isRememberBrowserEnabled"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'AllowToRememberBrowserForTwoFactorLogin' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-6" *ngIf="!isMultiTenancyEnabled">
                                    <div class="modal-gray-box mx-1">
                                        <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-lock fs-1 me-3 text-dark"></i> {{ 'OneConcurrentLoginPerUser' | localize }}</h3>
                                        <label for="Setting_IsOneConcurrentLoginPerUserActive" class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="Setting_IsOneConcurrentLoginPerUserActive"
                                                type="checkbox"
                                                name="Setting_IsOneConcurrentLoginPerUserActive"
                                                [(ngModel)]="settings.security.allowOneConcurrentLoginPerUser"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'OneConcurrentLoginPerUserActive' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>

                            </div>


                        </tab>
                        <tab class="p-6" heading="{{ 'EmailSmtp' | localize }}" *ngIf="!isMultiTenancyEnabled || appSession.application.allowTenantsToChangeEmailSettings">
                            <div class="mb-5 m-form__group" *ngIf="isMultiTenancyEnabled">
                                <label for="Settings_UseHostDefaultEmailSettings" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_UseHostDefaultEmailSettings"
                                        type="checkbox" name="UseHostDefaultEmailSettings"
                                        [(ngModel)]="settings.email.useHostDefaultEmailSettings"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{ 'UseHostDefaultEmailSettings' | localize }}
                                    </span>
                                </label>
                            </div>
                            <div [hidden]="settings.email.useHostDefaultEmailSettings">
                                <form class="form" #emailSmtpSettingsForm="ngForm" method="post">
                                    <div class="mb-5">
                                        <label for="DefaultFromAddress">{{ 'DefaultFromAddress' | localize }}</label>
                                        <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" #defaultFromAddressInput="ngModel" class="form-control" [ngClass]="{ edited: settings.email.defaultFromAddress }" [(ngModel)]="settings.email.defaultFromAddress" maxlength="128" email
                                        />
                                        <validation-messages [formCtrl]="defaultFromAddressInput"></validation-messages>
                                    </div>
                                    <div class="mb-5">
                                        <label for="DefaultFromDisplayName">
                                            {{ 'DefaultFromDisplayName' | localize }}
                                        </label>
                                        <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control" [ngClass]="{ edited: settings.email.defaultFromDisplayName }" [(ngModel)]="settings.email.defaultFromDisplayName" maxlength="128" />
                                    </div>
                                    <div class="mb-5">
                                        <label for="SmtpHost">{{ 'SmtpHost' | localize }}</label>
                                        <input id="SmtpHost" type="text" name="SmtpHost" class="form-control" [ngClass]="{ edited: settings.email.smtpHost }" [(ngModel)]="settings.email.smtpHost" maxlength="64" />
                                    </div>
                                    <div class="mb-5">
                                        <label for="SmtpPort">{{ 'SmtpPort' | localize }}</label>
                                        <input id="SmtpPort" type="number" name="SmtpPort" class="form-control" [ngClass]="{ edited: settings.email.smtpPort }" [(ngModel)]="settings.email.smtpPort" maxlength="5" />
                                    </div>
                                </form>
                                <label for="Settings_SmtpEnableSsl" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_SmtpEnableSsl"
                                        type="checkbox"
                                        name="SmtpEnableSsl"
                                        [(ngModel)]="settings.email.smtpEnableSsl"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{ 'UseSsl' | localize }}
                                    </span>
                                </label>
                                <label for="Settings_SmtpUseDefaultCredentials" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_SmtpUseDefaultCredentials"
                                        type="checkbox"
                                        name="SmtpUseDefaultCredentials"
                                        [(ngModel)]="settings.email.smtpUseDefaultCredentials"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{ 'UseDefaultCredentials' | localize }}
                                    </span>
                                </label>
                                <div class="mb-5" [hidden]="settings.email.smtpUseDefaultCredentials">
                                    <label for="SmtpDomainName">{{ 'DomainName' | localize }}</label>
                                    <input id="SmtpDomainName" type="text" name="SmtpDomainName" class="form-control" [ngClass]="{ edited: settings.email.smtpDomain }" [(ngModel)]="settings.email.smtpDomain" maxlength="128" />
                                </div>
                                <div class="mb-5" [hidden]="settings.email.smtpUseDefaultCredentials">
                                    <label for="SmtpUserName">{{ 'UserName' | localize }}</label>
                                    <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control" [ngClass]="{ edited: settings.email.smtpUserName }" [(ngModel)]="settings.email.smtpUserName" maxlength="128" />
                                </div>
                                <div class="mb-5" *ngIf="!setRandomPassword" [hidden]="settings.email.smtpUseDefaultCredentials">
                                    <label for="SmtpPassword">{{ 'Password' | localize }}</label>
                                    <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control" [ngClass]="{ edited: settings.email.smtpPassword }" [(ngModel)]="settings.email.smtpPassword" maxlength="128" />
                                </div>
                            </div>
                            <hr />
                            <h5 class="mt-5">{{ 'TestEmailSettingsHeader' | localize }}</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <form class="form" #emailSmtpSettingsTestForm="ngForm">
                                        <div class="mb-5">
                                            <input type="email" name="testEmailAddress" #testEmailAddressInput="ngModel" class="form-control" [ngClass]="{ edited: testEmailAddress }" [(ngModel)]="testEmailAddress" maxlength="256" email />
                                            <validation-messages [formCtrl]="testEmailAddressInput"></validation-messages>
                                        </div>
                                    </form>
                                </div>
                                <div class="mb-5 col-md-2">
                                    <button class="btn btn-primary" type="button" (click)="sendTestEmail()" [disabled]="!emailSmtpSettingsTestForm.form.valid">
                                        {{ 'SendTestEmail' | localize }}
                                    </button>
                                </div>
                            </div>
                        </tab>
                        <tab class="p-6" *ngIf="true" heading="{{ 'Invoice' | localize }}">
                            <!-- *ngIf="true" is a workaround for https://github.com/valor-software/ng2-bootstrap/issues/823 -->
                            <div class="col-md-6">
                                <div class="modal-gray-box mx-1" style="height:390px;">
                                    <h3 class="bdr-title mt-2 mb-5 d-flex align-items-center"><i class="las la-file-invoice fs-1 me-3 text-dark"></i> {{ 'InvoiceInformation' | localize }}</h3>
                                    <div class="row">
                                        <div class="col-md-6 mb-6">
                                            <label class="form-label" for="LegalName">{{ 'LegalName' | localize }}</label>
                                            <input id="LegalName" type="text" name="legalName" class="form-control" [ngClass]="{ edited: settings.billing.legalName }" [(ngModel)]="settings.billing.legalName" maxlength="64" />
                                        </div>
                                        <div class="col-md-6 mb-6">
                                            <label class="form-label" for="taxVatNo">{{ 'Tax/VatNo' | localize }}</label>
                                            <input id="taxVatNo" type="text" name="taxVatNo" class="form-control" [ngClass]="{ edited: settings.billing.taxVatNo }" [(ngModel)]="settings.billing.taxVatNo" maxlength="32" />
                                        </div>
                                        <div class="col-md-12 mb-6">
                                            <label class="form-label" for="Address">{{ 'Address' | localize }}</label>
                                            <textarea id="Address" rows="5" name="address" class="form-control" [ngClass]="{ edited: settings.billing.address }" [(ngModel)]="settings.billing.address" maxlength="256"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab class="p-6" *ngIf="!isMultiTenancyEnabled" heading="{{ 'OtherSettings' | localize }}">
                            <h5 class="mt-5">{{ 'IsQuickThemeSelectEnabled' | localize }}</h5>
                            <label for="Settings_IsQuickThemeSelectEnabled" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_IsQuickThemeSelectEnabled"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="IsQuickThemeSelectEnabled"
                                        [(ngModel)]="settings.otherSettings.isQuickThemeSelectEnabled"
                                    />
                                    <span class="form-check-label">
                                        {{ 'IsQuickThemeSelectEnabled' | localize }}
                                    </span>
                                </label>
                        </tab>
                        <tab class="p-6" *ngIf="enabledSocialLoginSettings && enabledSocialLoginSettings.length" heading="{{ 'ExternalLoginSettings' | localize }}">
                            <div *ngIf="isSocialLoginEnabled('Facebook')">
                                <h5 class="mt-5">Facebook</h5>
                                <label for="Settings_Facebook_UseHostSettings" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_Facebook_UseHostSettings"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="Settings_Facebook_UseHostSettings"
                                        [(ngModel)]="useFacebookHostSettings"
                                        (change)="clearFacebookSettings()"
                                    />
                                    <span class="form-check-label">
                                        {{ 'UseHostSettings' | localize }}
                                    </span>
                                </label>
                                <div *ngIf="!useFacebookHostSettings" class="mt-3">
                                    <label for="Settings_Facebook_IsDeactivated" class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Settings_Facebook_IsDeactivated"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="Settings_Facebook_IsDeactivated"
                                            [(ngModel)]="
                                                this.settings.externalLoginProviderSettings.facebook_IsDeactivated
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'Deactivate' | localize }}
                                        </span>
                                    </label>
                                    <span class="form-text text-muted">
                                        {{ 'SocialLoginDeactivate_Description' | localize }}
                                    </span>
                                    <div class="mb-5 mt-3">
                                        <label class="form-label" for="Setting_Facebook_AppId">{{ 'AppId' | localize }}*</label>
                                        <input id="Setting_Facebook_AppId" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.facebook.appId" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label">{{ 'AppSecret' | localize }}*</label>
                                        <password-input-with-show-button [(data)]="settings.externalLoginProviderSettings.facebook.appSecret"></password-input-with-show-button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isSocialLoginEnabled('Google')">
                                <hr />
                                <h5 class="mt-5">Google</h5>
                                <label for="Settings_Google_UseHostSettings" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_Google_UseHostSettings"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="Settings_Google_UseHostSettings"
                                        [(ngModel)]="useGoogleHostSettings"
                                        (change)="clearGoogleSettings()"
                                    />
                                    <span class="form-check-label">
                                        {{ 'UseHostSettings' | localize }}
                                    </span>
                                </label>
                                <div *ngIf="!useGoogleHostSettings" class="mt-3">
                                    <label for="Settings_Google_IsDeactivated" class="form-check form-check-custom py-1">
                                        <input
                                            id="Settings_Google_IsDeactivated"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="Settings_Google_IsDeactivated"
                                            [(ngModel)]="
                                                this.settings.externalLoginProviderSettings.google_IsDeactivated
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'Deactivate' | localize }}
                                        </span>
                                    </label>
                                    <span class="form-text text-muted">
                                        {{ 'SocialLoginDeactivate_Description' | localize }}
                                    </span>
                                    <div class="mb-5 mt-3">
                                        <label class="form-label" for="Setting_Google_ClientId">{{ 'ClientId' | localize }}*</label>
                                        <input id="Setting_Google_ClientId" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.google.clientId" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label">{{ 'ClientSecret' | localize }}*</label>
                                        <password-input-with-show-button [(data)]="settings.externalLoginProviderSettings.google.clientSecret"></password-input-with-show-button>
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_Google_UserInfoEndpoint">
                                            {{ 'UserInfoEndpoint' | localize }} *
                                        </label>
                                        <input id="Setting_Google_UserInfoEndpoint" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.google.userInfoEndpoint" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isSocialLoginEnabled('Microsoft')">
                                <hr />
                                <h5 class="mt-5">Microsoft</h5>
                                <label for="Settings_Microsoft_UseHostSettings" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_Microsoft_UseHostSettings"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="Settings_Microsoft_UseHostSettings"
                                        [(ngModel)]="useMicrosoftHostSettings"
                                        (change)="clearMicrosoftSettings()"
                                    />
                                    <span class="form-check-label">
                                        {{ 'UseHostSettings' | localize }}
                                    </span>
                                </label>
                                <div *ngIf="!useMicrosoftHostSettings" class="mt-3">
                                    <label for="Settings_Microsoft_IsDeactivated" class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Settings_Microsoft_IsDeactivated"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="Settings_Microsoft_IsDeactivated"
                                            [(ngModel)]="
                                                this.settings.externalLoginProviderSettings.microsoft_IsDeactivated
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'Deactivate' | localize }}
                                        </span>
                                    </label>
                                    <span class="form-text text-muted">
                                        {{ 'SocialLoginDeactivate_Description' | localize }}
                                    </span>
                                    <div class="mb-5 mt-3">
                                        <label class="form-label" for="Setting_Microsoft_ClientId">{{ 'ClientId' | localize }}*</label>
                                        <input id="Setting_Microsoft_ClientId" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.microsoft.clientId" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label">{{ 'ClientSecret' | localize }}*</label>
                                        <password-input-with-show-button [(data)]="settings.externalLoginProviderSettings.microsoft.clientSecret"></password-input-with-show-button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isSocialLoginEnabled('WsFederation')" class="mb-4">
                                <hr />
                                <h5 class="mt-5">WsFederation</h5>
                                <label for="Settings_WsFederation_UseHostSettings" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_WsFederation_UseHostSettings"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="Settings_WsFederation_UseHostSettings"
                                        [(ngModel)]="useWsFederationHostSettings"
                                        (change)="clearWsFederationSettings()"
                                    />
                                    <span class="form-check-label">
                                        {{ 'UseHostSettings' | localize }}
                                    </span>
                                </label>
                                <div [class.d-none]="useWsFederationHostSettings" class="mt-3">
                                    <label for="Settings_WsFederation_IsDeactivated" class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Settings_WsFederation_IsDeactivated"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="Settings_WsFederation_IsDeactivated"
                                            [(ngModel)]="
                                                this.settings.externalLoginProviderSettings.wsFederation_IsDeactivated
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'Deactivate' | localize }}
                                        </span>
                                    </label>
                                    <span class="form-text text-muted">
                                        {{ 'SocialLoginDeactivate_Description' | localize }}
                                    </span>
                                    <div class="mb-5 mt-3">
                                        <label class="form-label" for="Setting_WsFederation_ClientId">{{ 'ClientId' | localize }}</label>
                                        <input id="Setting_WsFederation_ClientId" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.clientId" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_WsFederation_Tenant">{{ 'Tenant' | localize }}</label>
                                        <input id="Setting_WsFederation_Tenant" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.tenant" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_WsFederation_MetaDataAddress">
                                            {{ 'MetaDataAddress' | localize }}
                                        </label>
                                        <input id="Setting_WsFederation_MetaDataAddress" type="text" class="form-control" [(ngModel)]="
                                                settings.externalLoginProviderSettings.wsFederation.metaDataAddress
                                            " />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_WsFederation_Wtrealm">{{ 'Wtrealm' | localize }}</label>
                                        <input id="Setting_WsFederation_Wtrealm" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.wtrealm" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_WsFederation_Authority">{{ 'Authority' | localize }}</label>
                                        <input id="Setting_WsFederation_Authority" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.authority" />
                                    </div>
                                    <key-value-list-manager #wsFederationClaimsMappingManager [header]="l('ClaimsMapping')" [keyPlaceHolder]="l('ClaimKey')" [valuePlaceHolder]="l('ClaimValue')" [items]="wsFederationClaimMappings"></key-value-list-manager>
                                </div>
                            </div>

                            <div *ngIf="isSocialLoginEnabled('OpenId')">
                                <hr />
                                <h5 class="mt-5">OpenIdConnect</h5>
                                <label for="Settings_OpenIdConnect_UseHostSettings" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_OpenIdConnect_UseHostSettings"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="Settings_OpenIdConnect_UseHostSettings"
                                        [(ngModel)]="useOpenIdConnectHostSettings"
                                        (change)="clearOpenIdSettings()"
                                    />
                                    <span class="form-check-label">
                                            {{ 'UseHostSettings' | localize }}
                                    </span>
                                </label>
                                <div [class.d-none]="useOpenIdConnectHostSettings" class="mt-3">
                                    <label for="Settings_OpenIdConnect_IsDeactivated" class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Settings_OpenIdConnect_IsDeactivated"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="Settings_OpenIdConnect_IsDeactivated"
                                            [(ngModel)]="
                                                this.settings.externalLoginProviderSettings.openIdConnect_IsDeactivated
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'Deactivate' | localize }}
                                        </span>
                                    </label>
                                    <span class="form-text text-muted">
                                        {{ 'SocialLoginDeactivate_Description' | localize }}
                                    </span>
                                    <div class="mb-5 mt-3">
                                        <label class="form-label" for="Setting_OpenIdConnect_ClientId">{{ 'ClientId' | localize }}</label>
                                        <input id="Setting_OpenIdConnect_ClientId" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.clientId" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_OpenIdConnect_ClientSecret">
                                            {{ 'ClientSecret' | localize }}
                                        </label>
                                        <input id="Setting_OpenIdConnect_ClientSecret" type="text" class="form-control" [(ngModel)]="
                                                settings.externalLoginProviderSettings.openIdConnect.clientSecret
                                            " />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_OpenIdConnect_Authority">
                                            {{ 'Authority' | localize }}
                                        </label>
                                        <input id="Setting_OpenIdConnect_Authority" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.authority" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label" for="Setting_OpenIdConnect_LoginUrl">{{ 'LoginUrl' | localize }}</label>
                                        <input id="Setting_OpenIdConnect_LoginUrl" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.loginUrl" />
                                    </div>
                                    <label for="Setting_OpenIdConnect_ValidateIssuer" class="checkbox mb-3" style="margin-bottom: 0">
                                        <input
                                            id="Setting_OpenIdConnect_ValidateIssuer"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="AllowSelfRegistration"
                                            [(ngModel)]="
                                                settings.externalLoginProviderSettings.openIdConnect.validateIssuer
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'ValidateIssuer' | localize }}
                                        </span>
                                    </label>
                                    <key-value-list-manager #openIdConnectClaimsMappingManager [header]="l('ClaimsMapping')" [keyPlaceHolder]="l('ClaimKey')" [valuePlaceHolder]="l('ClaimValue')" [items]="openIdConnectClaimMappings"></key-value-list-manager>
                                </div>
                            </div>
                            <div *ngIf="isSocialLoginEnabled('Twitter')">
                                <hr />
                                <h5 class="mt-5">Twitter</h5>
                                <label for="Settings_Twitter_UseHostSettings" class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="Settings_Twitter_UseHostSettings"
                                        class="form-check-input"
                                        type="checkbox"
                                        name="Settings_Twitter_UseHostSettings"
                                        [(ngModel)]="useTwitterHostSettings"
                                        (change)="clearTwitterSettings()"
                                    />
                                    <span class="form-check-label">
                                            {{ 'UseHostSettings' | localize }}
                                        </span>
                                </label>
                                <div *ngIf="!useTwitterHostSettings" class="mt-3">
                                    <label for="Settings_Twitter_IsDeactivated" class="form-check form-check-custom form-check-solid py-1">
                                        <input
                                            id="Settings_Twitter_IsDeactivated"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="Settings_Twitter_IsDeactivated"
                                            [(ngModel)]="
                                                this.settings.externalLoginProviderSettings.twitter_IsDeactivated
                                            "
                                        />
                                        <span class="form-check-label">
                                            {{ 'Deactivate' | localize }}
                                        </span>
                                    </label>
                                    <span class="form-text text-muted">
                                        {{ 'SocialLoginDeactivate_Description' | localize }}
                                    </span>
                                    <div class="mb-5 mt-3">
                                        <label class="form-label" for="Setting_Twitter_ConsumerKey">{{ 'ConsumerKey' | localize }}*</label>
                                        <input id="Setting_Twitter_ConsumerKey" type="text" class="form-control" [(ngModel)]="settings.externalLoginProviderSettings.twitter.consumerKey" />
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label">{{ 'ConsumerSecret' | localize }}*</label>
                                        <password-input-with-show-button [(data)]="settings.externalLoginProviderSettings.twitter.consumerSecret"></password-input-with-show-button>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>