<div appBsModal #ExtraMaterialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="estimateListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Extra Material Dispatch - APS10025</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3>
                            <i class="las la-clipboard-list fs-1 me-2"></i> Added Material List
                        </h3>
                        <div class="alert alert-warning d-flex align-items-center my-1">
                            <i class="las la-exclamation-circle fs-1 me-1"></i> There are no data records to display.
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-plus-circle fs-1 me-2"></i> Add Extra Materials</h3>
                        <div class="row">

                            <div class="col-md-12 mt-2">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="me-5 w-325px">
                                        <select class="form-control">
                                            <option>Select Material</option>                                            
                                        </select>
                                    </div>
                                    <div class="me-5 w-150px">
                                        <input type="number" class="form-control w-150px" />
                                    </div>
                                    <div class="me-0 action-btn w-125px">
                                        <a class="me-2"><i class="las la-trash text-danger"></i></a>
                                        <a><i class="las la-plus-circle text-primary"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3 class="mb-4"><i class="las la-sticky-note fs-1 me-2"></i> Notes</h3>

                        <div>
                            <textarea class="form-control" rows="4">Notes</textarea>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!changeEstimated" (click)="submit();"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>