<div appBsModal #ReturnMaterialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="estimateListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Return Material List</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3>
                            <i class="las la-clipboard-list fs-1 me-2"></i> Material List
                        </h3>
                        <div class="grid-container secondary-grid" style="max-height:250px; overflow-y: auto;;">
                            <table class="table">
                                <tr>
                                    <th>Material</th>
                                    <th>Qty</th>
                                    <th>Actual Qty</th>
                                </tr>
                                <tr>
                                    <td>GI Pipes 50*50*6000</td>
                                    <td><input type="number" placeholder="Qty" disabled class="form-control" style="width:150px;"></td>
                                    <td><input type="number" placeholder="Act Qty" class="form-control" style="width:150px;"></td>
                                </tr>
                                <tr>
                                    <td>Mid Clamp (T) 25mm</td>
                                    <td><input type="number" placeholder="Qty" disabled class="form-control" style="width:150px;"></td>
                                    <td><input type="number" placeholder="Act Qty" class="form-control" style="width:150px;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3 class="mb-4"><i class="las la-sticky-note fs-1 me-2"></i> Notes</h3>
                        <div>
                            <textarea class="form-control" rows="4">Notes</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!changeEstimated" (click)="submit();"><i
                        class="las la-save"></i>Add</button>
            </div>
        </div>
    </div>
</div>