<div appBsModal #RevertDispatchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="estimateListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Revert Dispatch</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="form-group mb-5">
                        <label for="Name" class="mb-2">{{ 'Reason' | localize }} *</label>
                        <select class="form-control">
                            <option>Select</option>
                            <option>Transfer Stock</option>
                            <option>Transfer Stock (Cancle Application)</option>
                            <option>Cancelled</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="mb-2">{{ 'Notes' | localize }} *</label>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' }}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!changeEstimated" (click)="submit();"><i
                        class="las la-save"></i>Revert</button>
            </div>
        </div>
    </div>
</div>