<div appBsModal #TransportTrackerDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="estimateListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Details - {{customertitle}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3>
                            <i class="las la-user-alt fs-1 me-2"></i> Customer Details
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Project Number</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary">APS10025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Latitude</strong></label>
                                    <div class="col-lg-7">
                                        <span>-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Longitude</strong></label>
                                    <div class="col-lg-7">
                                        <span>-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Average Monthly Bill</strong></label>
                                    <div class="col-lg-7">
                                        <span>20000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-0 row align-items-center">
                                    <label class="col-lg-3 col-form-label"><strong>Average Monthly Unit Consumed</strong></label>
                                    <div class="col-lg-9">
                                        <span>500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-info-circle fs-1 me-2"></i> Site Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Discom Name</strong></label>
                                    <div class="col-lg-7">
                                        <span>Torrent Power Ahmedabad</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Consumer Number</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary">123456789</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Division</strong></label>
                                    <div class="col-lg-7">
                                        <span>Rander Division</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Sub Division</strong></label>
                                    <div class="col-lg-7">
                                        <span>Adajan S/Dn</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>System Size</strong></label>
                                    <div class="col-lg-7">
                                        <span class="badge badge-secondary d-flex align-items-center" style="max-width:100px;"><i class="fas fa-solar-panel me-3" style="font-size:1.2rem;"></i> 4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Meter Phase</strong></label>
                                    <div class="col-lg-7">
                                        <span>Single Phase</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Category</strong></label>
                                    <div class="col-lg-7">
                                        <span>-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Customer Email ID</strong></label>
                                    <div class="col-lg-7">
                                        <span>ravindratest@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Customer Mobile No</strong></label>
                                    <div class="col-lg-7">
                                        <span>98988878787</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Address Line 1</strong></label>
                                    <div class="col-lg-7">
                                        <span>-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Address Line 2</strong></label>
                                    <div class="col-lg-7">
                                        <span>-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Taluko</strong></label>
                                    <div class="col-lg-7">
                                        <span>Ahmedabad</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>District</strong></label>
                                    <div class="col-lg-7">
                                        <span>Ahmedabad</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>City</strong></label>
                                    <div class="col-lg-7">
                                        <span>Ahmedabad</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Pincode</strong></label>
                                    <div class="col-lg-7">
                                        <span>382484</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Common Meter</strong></label>
                                    <div class="col-lg-7">
                                        <span>-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Bank Account Number</strong></label>
                                    <div class="col-lg-7">
                                        <span>00700712</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Bank Account Holder Name</strong></label>
                                    <div class="col-lg-7">
                                        <span>Ravindra Gohel</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Bank Name</strong></label>
                                    <div class="col-lg-7">
                                        <span>Kotak Bank</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-0 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Branch Name</strong></label>
                                    <div class="col-lg-7">
                                        <span>Navarangpura Branch</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-0 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>IFSC Code</strong></label>
                                    <div class="col-lg-7">
                                        <span>KKBK0000812</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box" style="display:none;">
                    <div class="jobinfo-box shadow-box">
                        <h3 class="mb-4">Application Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>OTP Verified</strong></label>
                                    <div class="col-lg-7">
                                        <select class="form-control">
                                            <option (change)="navigateToAppDetail();">Yes</option>
                                            <option (change)="expandApp();">No</option>
                                            <option (change)="expandApp();">Pending</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" [hidden]="!ExpandedViewApp">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Applicaiton Number</strong></label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" [hidden]="!ExpandedViewApp">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>GUVNL Number</strong></label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" [hidden]="!ExpandedViewApp">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Upload Sign Application</strong></label>
                                    <div class="col-lg-7">
                                        <div class="custom-file custom-upload mt-0">
                                            <input type="file" id="uploadPicture">
                                            <label for="uploadPicture" class="custom-file-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center py-4 my-4" style="border-top:1px solid #ddd;">
                            <button type="button" class="btn btn-danger"><i class="las la-times-circle"></i> Cancel </button>
                            <button type="button" class="btn btn-primary"><i class="las la-save"></i>Save</button>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3 class="mb-4"><i class="las la-file-download fs-1 me-2"></i> Download</h3>

                        <div class="grid-container secondary-grid" style="max-height:250px; overflow-y: auto;;">
                            <table class="table">
                                <tr>
                                    <th>Document Title</th>
                                    <th>Document Number</th>
                                    <th>Uploaded Date</th>
                                    <th>Uploaded By</th>
                                    <th style="text-align:center; width:100px;">Download</th>
                                </tr>
                                <tr>
                                    <td>Aadhar Card</td>
                                    <td>4454</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align:center; width:100px;">
                                        <a><i class="las la-file-download text-primary f-24"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!changeEstimated" (click)="submit();"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>