<style>
    .checkboxcontainer input {
        display: none;
    }
    
    .checkboxcontainer {
        display: inline-block;
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        user-select: none;
    }
    
    .checkboxcontainer .checkmark {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: white;
        position: absolute;
        left: 0;
        top: 3px;
        border: 1px solid #bdbdc9;
        border-radius: 0.2rem;
    }
    
    .checkboxcontainer .checkmark:hover {
        border: 1px solid #5344ed;
    }
    
    .checkboxcontainer input:checked+.checkmark {
        background-color: #5344ed;
        border: 1px solid #5344ed;
    }
    
    .checkboxcontainer input:indeterminate+.checkmark {
        background-color: #5344ed;
        border: 1px solid #5344ed;
    }
    
    .checkboxcontainer input:checked+.checkmark:after {
        content: "";
        position: absolute;
        height: 5px;
        width: 12px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .checkboxcontainer input:checked:disabled+.checkmark {
        border: 1px solid grey;
        background-color: grey;
    }
    
    .checkboxcontainer input:disabled+.checkmark {
        border: 1px solid grey;
    }
    
    .checkboxcontainer input:indeterminate+.checkmark:after {
        content: "";
        position: absolute;
        height: 0px;
        width: 11px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row" style="display:none !important;">
            <sub-header [title]="'Circle' | localize" [count]="0" [description]="'CircleHeaderInfo' | localize">
            </sub-header>
            <div class="form" style="margin-left: auto; display: none;">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end">
                                </button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCircleToExcelButton" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button *ngIf="'Pages.Tenant.DataVaults.Circle.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input name="filterText" autoFocus class="form-control m-input" [placeholder]="" type="text" />
                                                <a class="btnclearsearch"><i class="fas fa-times-circle"></i></a>
                                                <button class="btn search-btn" type="submit">
                                                    <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="" style="display:none">
            <div class="container d-flex">
                <div style="width:300px; margin-right:15px;" (click)="ComposeEmail()">Compose</div>
                <div style="background:#f9f9f9; padding:15px;">
                    <div *ngFor="let item of InboxList; let i = index">
                        <div (click)="GetMessageBody(item.uniqueid.id)"><b>{{item.emailsubject.from[0].name}}</b>
                            <span>{{item.emailsubject.subject}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Email UI starts -->
        <div class="container-fluid email-application">
            <div class="content-area-wrapper" [ngStyle]="{'height': screenHeight - testHeight + 'px'}">
                <div class="email-sidebar-left">
                    <div class="sidebar-content">
                        <div class="compose-btn">
                            <button type="button" (click)="ComposeBox = !ComposeBox" data-target="#compose-mail" rippleeffect="" class="compose-email btn btn-primary d-flex align-items-center justify-content-center"><i class="las la-pencil-alt f-20"></i> Compose </button>
                        </div>
                        <div class="sidebar-emnu-lst">
                            <div class="list-group list-group-messages">
                                <a href="#" class="item-active"><span><i class="las la-envelope"></i> Inbox</span> <span class="badge badge-secondary count">1</span></a>
                                <a href="#"><span><i class="las la-paper-plane"></i> Send</span></a>
                                <a href="#"><span><i class="las la-pencil-alt"></i> Draft</span></a>
                                <a href="#"><span><i class="las la-info-circle"></i> Spam</span></a>
                                <a href="#"><span><i class="las la-trash"></i> Trash</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <div class="content-body">
                        <!-- EMAIL DETAIL VIEW STARTS -->
                        <div class="email-app-list" [hidden]="!emailDetailView">
                            <div class="email-action-box">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void()" (click)="emailDetailView = !emailDetailView" class="me-3"><i class="las la-arrow-left f-22"></i></a>
                                    </div>
                                    <div class="mail-subect">Google Review</div>

                                    <div class="pagging-box d-flex align-items-center" style="margin-left:auto;">
                                        <div class="me-3 light-font">1-25 of 50</div>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void()" class="mr-1"><i class="las la-angle-left"></i></a>
                                            <a href="javascript:void()"><i class="las la-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="email-detail-view email_section_area email-action-box">
                                <div class="d-flex" style="width:100%;">
                                    <div class="email-thumb-box mx-3">
                                        <img src="../../../../assets/common/images/installer.jpg">
                                    </div>
                                    <div class="email-body-box">
                                        <div class="d-flex align-items-center justify-content-between email-header">
                                            <div>
                                                <div class="from-email d-flex align-items-center">Nilesh Dhimar <span class="ms-2">ndhimar@yahoo.co.in</span></div>
                                                <div class="to-email d-flex align-items-center">
                                                    <span class="me-2">to</span>
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn no-arrow btn-email-dropdownl" dropdownToggle>
                                                            <!-- <span class="caret"></span>-->
                                                            <i class="fas fa-caret-down f-16"></i>
                                                        </button>
                                                        <ul class="dropdown-menu auto-width" *dropdownMenu>
                                                            <li class=""><span>From:</span> Nilesh Dhimar <span>ndhimar@yahoo.co.in</span></li>
                                                            <li><span>To:</span> Ravindra <span>ravindra@localchamp.com.au</span></li>
                                                            <li><span>Date: 14 Nov 2022, 08:12</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center" style="margin-left:auto">

                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn no-arrow btn-email-dropdownl" dropdownToggle>
                                                        <!-- <span class="caret"></span>-->
                                                        <i class="las la-ellipsis-v f-24"></i>                                                            
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li><a href="javascript:;"><i class="las la-undo f-20"></i> Reply</a></li>
                                                        <li><a href="javascript:;"><i class="las la-redo f-20"></i> Forward</a></li>
                                                        <li><a href="javascript:;"><i class="las la-trash f-20"></i> Delete</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mx-4 small date">11 Nov 2022, 09:45</div>
                                                <!-- <a href="javascript:;" class="me-2"><i class="las la-undo f-22"></i></a>
                                                <a href="javascript:;" class="me-2"><i class="las la-redo f-22"></i></a>
                                                <a href="javascript:;"><i class="las la-trash f-22"></i></a> -->
                                            </div>
                                        </div>

                                        <div class="email-content-body">
                                            <div class="email-content">
                                                <p>Hi Ravidra,</p>
                                                <p>Biscuit lemon drops marshmallow. Cotton candy marshmallow bear claw. Dragée tiramisu cookie cotton candy. Carrot cake sweet roll I love macaroon wafer jelly soufflé I love dragée. Jujubes jelly I love carrot
                                                    cake topping I love. Sweet candy I love chupa chups dragée. Tart I love gummies. Chocolate bar carrot cake candy wafer candy canes oat cake I love. Sesame snaps icing pudding sweet roll marshmallow.
                                                    Cupcake brownie sweet roll chocolate bar I love gummies. Biscuit biscuit macaroon sesame snaps macaroon icing I love soufflé caramels. Apple pie candy jelly. I love icing gummi bears jelly-o pie muffin
                                                    apple pie.</p>
                                                <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie roll.
                                                    Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear claw I love.
                                                    Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant. Sweet tootsie
                                                    roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie roll.
                                                    Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear claw I love.
                                                    Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant. Sweet tootsie
                                                    roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie roll.
                                                    Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear claw I love.
                                                    Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant. Sweet tootsie
                                                    roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie roll.
                                                    Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear claw I love.
                                                    Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant. Sweet tootsie
                                                    roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie roll.
                                                    Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear claw I love.
                                                    Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant. Sweet tootsie
                                                    roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie roll.
                                                    Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear claw I love.
                                                    Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant. Sweet tootsie
                                                    roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                <p>Regards,<br>Nilesh</p>
                                            </div>

                                            <div class="email-attachments mb-5">
                                                <div class="title-attachment d-flex align-items-center mb-3">
                                                    <i class="las la-paperclip f-24 me-2"></i>
                                                    <div>2 Attachments</div>
                                                </div>
                                                <div class="attachment-files d-flex align-items-center">
                                                    <a class="d-flex align-items-center me-3" href="javascript:;"><i class="las la-file-pdf f-24"></i> Quotation <span class="ms-2">2 MB</span></a>
                                                    <a class="d-flex align-items-center me-3" href="javascript:;"><i class="las la-file-pdf f-24"></i> CustomerSignDocuments <span class="ms-2">600 KN</span></a>
                                                </div>
                                            </div>

                                            <div class="email-bottom-action-box d-flex align-items-center">
                                                <a class="d-flex align-items-center me-3" href="javascript:;"><i class="las la-undo f-22 me-2"></i> Reply</a>
                                                <a class="d-flex align-items-center me-3" href="javascript:;"><i class="las la-redo f-22 me-2"></i> Forward</a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- INBOX LISTING STARTS -->
                        <div class="email-app-list">
                            <div class="email-action-box">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="w-300px d-flex align-items-center">
                                        <label class="checkboxcontainer mb-0 me-3"> Select All
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            </label>
                                        <a href="javascript:void()" class=""><i class="fas fa-redo f-16 "></i></a>
                                    </div>
                                    <div class="email-search-box me-3" style="min-width:600px !important;">
                                        <input name="filterText" autoFocus class="form-control" type="text" style="padding-left:45px !important;">
                                        <!-- <a class="btnclearsearch"><i class="fas fa-times-circle"></i></a> -->
                                        <span class="glass-icon"><i class="fas fa-search f-20"></i></span>
                                    </div>

                                    <div class="pagging-box d-flex align-items-center" style="margin-left:auto;">
                                        <div class="me-3 light-font">1-25 of 50</div>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void()" class="mr-1"><i class="las la-angle-left"></i></a>
                                            <a href="javascript:void()"><i class="las la-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="email-user-list email_section_area aaaaaa">
                                <ul class="email-media-list">
                                    <li class="mail-read">
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3" (click)="emailDetailView = !emailDetailView">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3" (click)="emailDetailView = !emailDetailView">
                                                <span class="subject me-1">Google Review</span>
                                                <span class="sort-body-msg">- Dear Tim Chan! We are so happy and thankful to you for your business and trust. We are glad to have bridged your savings account directly to the sun to save your hard earned money on your power bills.</span>
                                            </div>
                                            <div (click)="emailDetailView = !emailDetailView"><i class="las la-paperclip f-20 text-dark"></i></div>
                                            <div class="mail-date" style="margin-left:auto;" (click)="emailDetailView = !emailDetailView">8:10 AM</div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Ravindra Gohel</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Google Review - Your Review matters</span>
                                                <span class="sort-body-msg">- Dear Tim Chan! We are so happy and thankful to you for your business and trust. We are glad to have bridged your savings account directly to the sun to save your hard earned money on your power bills.</span>
                                            </div>
                                            <div><i class="las la-paperclip f-20 text-dark"></i></div>
                                            <div class="mail-date" style="margin-left:auto;">9:20 AM</div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Suresh</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Elec Dist Approval - Eletric Distributor Application Process</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10:15 AM</div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="d-flex align-items-center" style="width:100%;">
                                            <div class="d-flex align-items-center form-actions me-4">
                                                <label class="checkboxcontainer me-1 mb-0">&nbsp;
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                  </label>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="main-title me-3">Nilesh Dhimar</div>
                                            <div class="mail-body d-flex align-items-center me-3">
                                                <span class="subject me-1">Custom Template</span>
                                                <span class="sort-body-msg">- Test message for mail body.</span>
                                            </div>
                                            <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                        </div>
                                    </li>


                                </ul>


                            </div>
                        </div>
                        <!-- INBOX LISTING ENDS -->
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<!-- EMAIL COMPOSE BOX STARTS -->
<div class="email-compose-box" [hidden]="!ComposeBox">
    <div class="title-row d-flex align-items-center justify-content-between">
        <span>New Message</span>
        <div class="actions d-flex align-items-center">
            <a href="javascript:void()" class="me-2"><i class="fas fa-minus f-14"></i></a>
            <a href="javascript:void()" (click)="ComposeBox = !ComposeBox"><i class="fas fa-times f-14"></i></a>
        </div>
    </div>
    <div class="compose-container">
        <div class="t-box d-flex align-items-center justify-content-between">
            <input type="text" class="form-control" placeholder="Recipients">
            <div class="cc-action">
                <a href="javascript:void()" class="mr-1">Cc</a>
                <a href="javascript:void()">Bcc</a>
            </div>
        </div>
        <div class="t-box d-flex align-items-center justify-content-between">
            <input type="text" class="form-control" placeholder="Subject">
        </div>

        <div class="email-compost-text">
            <textarea></textarea>
        </div>

        <div class="bottom-action-box d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <button class="btn btn-primary btn-sm d-flex align-items-center me-3"><i class="las la-paper-plane f-18 mr-1"></i> Send</button>
                <a href="javascript:void()" class="me-3"><i class="las la-paperclip f-22"></i></a>
            </div>
            <a href="javascript:void()" (click)="ComposeBox = !ComposeBox"><i class="las la-trash f-22"></i></a>
        </div>

    </div>

</div>
<!-- EMAIL COMPOSE BOX ENDS -->


<div bsModal #EmailBodyTemplate="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="pdfTemplateModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog  modal-dialog-scrollable modal-xl pdfTemplateModel">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                    <div class="d-flex align-items-center">
                        <h4 class="modal-title me-3">
                            <span>Email Body</span>
                        </h4>

                    </div>
                    <button type="button" class="btn-close" (click)="close()"></button>
                </div>
            </div>
            <!-- <iframe id="fred" width="100%" height="750" [innerHtml]="htmlContentbidy"></iframe> -->
            <div class="modal-body py-0" style="max-height:85vh;">
                <div [innerHtml]="htmlContentbidy"></div>
            </div>
        </div>
    </div>
</div>

<div bsModal #EmailSendTemplate="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="pdfTemplateModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xl addactivitymodal">
        <div class="modal-content">
            <form #EmailForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                        <div class="d-flex align-items-center">
                            <h4 class="modal-title me-3">
                                <span>Compose Eamail</span>
                            </h4>
                        </div>
                        <button type="button" class="btn-close" (click)="close()"></button>
                    </div>
                </div>

                <div class="modal-body padtopzero pt-3">
                    <div class="row emailboxlayout">
                        <div class="col-md-12">
                            <div class="activitysms smsemailbox d-flex align-items-center">
                                <span class="labelttl">TO</span>
                                <span style="width:88%;">
                                    <!-- <ng-select [items]="ToEmailList" [multiple]="true" bindLabel="displayName" addTagText [closeOnSelect]="false" bindValue="id" placeholder="To" [(ngModel)]="toEmailaddress" name="toEmailaddress">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                    </ng-select> -->
                                     <input class="form-control to" type="text" name="to Email"
                                        [(ngModel)]="ToEmailIdSelectedList" placeholder="To Email">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="activitysms smsemailbox d-flex align-items-center">
                                <span class="labelttl">Subject</span>
                                <span style="width:88%;">
                                    <input class="form-control subject" type="text" name="subject"
                                        [(ngModel)]="ComposeEmailData.subject" placeholder="write subject">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p-editor [(ngModel)]="ComposeEmailData.content" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}">
                                </p-editor>
                            </div>
                        </div>
                    </div>
                    <!-- (click)="saveDesign()"  -->
                    <div class="modal-footer">
                        <button id="btnEmail" (click)="sendEmail()" #btnEmail type="submit" class="btn btn-primary blue" [disabled]="!EmailForm.form.valid"><i class="fa fa-save"></i>
                            <span>Send</span></button>
                    </div>
                </div>

                <!-- <iframe id="fred" width="100%" height="750" [innerHtml]="htmlContentbidy"></iframe> -->
                <div class="modal-body py-0" style="max-height:85vh;">
                    <div [innerHtml]="htmlContentbidy"></div>
                </div>
            </form>
        </div>
    </div>
</div>