<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'BillOfMaterial' | localize" [count]="recordCount" [description]="'BillOfMaterialHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getBillOfMaterial()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.BillOfMaterial.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportBillOfMaterialToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="javascript:;" *ngIf="'Pages.Tenant.DataVaults.BillOfMaterial.ImportToExcel' | permission" role="menuitem" class="dropdown-item text-dark import-sheet">
                                                <span class="">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <span class="" href="# " *ngIf=" 'Pages.Tenant.DataVaults.BillOfMaterial.ImportToExcel' | permission ">
                                                <a href="javascript:;" (click)="exportSampleToExcel()"
                                                    class="dropdown-item text-dark ">
                                                    <i class="las la-file-excel "></i> {{l('Sample File')}}
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button (click)="createBillOfMaterial()" *ngIf="'Pages.Tenant.DataVaults.BillOfMaterial.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                     <!-- {{ 'CreateNewBillOfMaterial' | localize }} -->
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" #Searchme id="Searchme" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getBillOfMaterial()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getBillOfMaterial()" class="btn search-btn" type="submit">                                                  
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getBillOfMaterial($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="actionwidth text-center" style="width:90px;" [hidden]="
                                            !(
                                                [
                                                    'Pages.Tenant.DataVaults.BillOfMaterial.Edit',
                                                    'Pages.Tenant.DataVaults.BillOfMaterial.Delete'
                                                ] | permissionAny
                                            )
                                        ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 250px" pSortableColumn="name">
                                        {{ 'Material Name' | localize }}
                                        <p-sortIcon field="StockItemId"></p-sortIcon>
                                    </th>
                                    <th style="width: 250px" pSortableColumn="StructureHeight">
                                        {{ 'Structure Height' | localize }}
                                        <p-sortIcon field="HeightStructureId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px; justify-content: center;" pSortableColumn="panels">
                                        {{ 'Panel_S' | localize }}
                                        <p-sortIcon field="panels"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px; justify-content: center;" pSortableColumn="panele">
                                        {{ 'panel_E' | localize }}
                                        <p-sortIcon field="panele"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px; justify-content: center;" pSortableColumn="quantity">
                                        {{ 'Qty' | localize }}
                                        <p-sortIcon field="quantity"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 25%" pSortableColumn="creationTime">
                                        {{ 'CreatedDate' | localize }}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th> -->
                                    <th style="width:100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="Active"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="actionwidth text-center" style="width:90px;" [hidden]="!(
                                                [
                                                    'Pages.Tenant.DataVaults.BillOfMaterial.Edit',
                                                    'Pages.Tenant.DataVaults.BillOfMaterial.Delete'
                                                ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                            </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.BillOfMaterial.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditBillOfMaterialModal.show(record.billOfMaterialItem.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.BillOfMaterial.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteBillOfMaterial(record.billOfMaterialItem)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'MaterialName' | localize }}</span> {{ record.billOfMaterialItem.materialName }}
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Structure Height' | localize }}</span> {{ record.billOfMaterialItem.heightStructure }}
                                    </td>

                                    <td style="width: 150px; justify-content: center;">
                                        <span class="p-column-title">{{ 'Panel_S' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.billOfMaterialItem.panel_S }}</span>
                                    </td>
                                    <td style="width: 150px; justify-content: center;">
                                        <span class="p-column-title">{{ 'Panel_E Height' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.billOfMaterialItem.panel_E }}</span>
                                    </td>
                                    <td style="width: 150px; justify-content: center;">
                                        <span class="p-column-title">{{ 'Quantity' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.billOfMaterialItem.quantity }}</span>
                                    </td>
                                    <!-- <td style="width: 25%">
                                        <span class="p-column-title">{{ 'createdDate' | localize }}</span> {{ record.citys.createdDate | luxonFormat: 'F' }}
                                    </td> -->
                                    <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.billOfMaterialItem.isActive">
                                            {{ 'Yes' | localize }}
                                        </span>
                                        <span class="badge badge-danger" *ngIf="!record.billOfMaterialItem.isActive">
                                            {{ 'No' | localize }}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getBillOfMaterial($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>

        <createOrEditBillOfMaterialModal #createOrEditBillOfMaterialModal (modalSave)="getBillOfMaterial()"></createOrEditBillOfMaterialModal>
    </div>
</div>