<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #billofMaterialForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="bill.id">{{ 'EditBillOfMaterial' | localize }}</span>
                        <span *ngIf="!bill.id">{{ 'CreateNewBillOfMaterial' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label">{{ 'Material' | localize }} *</label>
                                    <select name="stockItemId" #stockItemId="ngModel" [(ngModel)]="bill.stockItemId" required class="form-control" id="StockItemId">
                                    <option [ngValue]="undefined" selected>Select Item</option>
                                    <option *ngFor="let item of drpStockItem" value="{{item.id}}">{{item.displayName}}
                                    </option>
                                </select>
                                    <span class="icon-box" style="top:32px;"><i class="las la-clipboard-list"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label">{{ 'Height Of Structure' | localize }} *</label>
                                    <select name="heightStructureId" #heightStructureId="ngModel" [(ngModel)]="bill.heightStructureId" required class="form-control" id="HeightStructureId">
                                    <option [ngValue]="undefined" selected>Select Item</option>
                                    <option *ngFor="let item of drpHeightStructureItem" value="{{item.id}}">{{item.displayName}}
                                    </option>
                                </select>
                                    <span class="icon-box" style="top:32px;"><i class="las la-ruler-combined"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label" for="panel_S">{{ 'Panel_S' | localize }} *</label>
                                    <input id="panel_S" [(ngModel)]="bill.panel_S" type="number" name="panelS" class="form-control" required maxlength="256" />
                                    <span class="icon-box" style="top:32px;"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label" for="panel_E">{{ 'Panel_E' | localize }} *</label>
                                    <input id="panel_E" [(ngModel)]="bill.panel_E" type="number" name="panelE" class="form-control" required maxlength="256" />
                                    <span class="icon-box" style="top:32px;"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label" for="quantity">{{ 'Quantity' | localize }} *</label>
                                    <input id="quantity" [(ngModel)]="bill.quantity" type="number" name="quantity" class="form-control" required maxlength="256" />
                                    <span class="icon-box" style="top:32px;"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-check form-check-custom form-check-solid py-1">
                                <input id="EditBill_IsActive" type="checkbox" name="billIsActive" [(ngModel)]="bill.active" class="form-check-input" />
                                <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                            </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!billofMaterialForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                    <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
                </div>
            </form>
        </div>
    </div>