<!--begin::Signin-->
<div class="login-form" [@routerTransition]>
    <h1 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">{{ 'Welcome to Portal! 👋' | localize }}</h1>
    <p class="pb-4 mt-center">Please sign-in to your account and start the adventure</p>
    <div *ngIf="showTenantChange()" class="tenant-change-box tenant-change-box">
        <tenant-change></tenant-change>
    </div>
    <!--begin::Form-->
    <form #loginForm="ngForm" class="form" method="post" (ngSubmit)="login()">
        <div class="mb-4 login-inputs">
            <label>User Name:</label>
            <i class="las la-user-tie"></i>
            <input #userNameOrEmailAddressInput="ngModel" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="username form-control form-control-solid h-auto py-5 px-6 rounded-lg font-size-h6" type="text" autocomplete="new-password"
                placeholder="{{ 'UserNameOrEmail' | localize }} *" name="userNameOrEmailAddress" required />
            <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
        </div>

        <div class="mb-4 login-inputs">
            <label>Password:</label>
            <i class="las la-key"></i>
            <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password" class="password form-control form-control-solid h-auto py-5 px-6 rounded-lg font-size-h6" type="password" autocomplete="new-password" placeholder="{{ 'Password' | localize }} *"
                name="password" required maxlength="32" />
            <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
        </div>

        <div class="mb-6 d-flex justify-content-between mt-7">
            <label class="form-check form-check-custom form-check-solid">
                <input type="checkbox" name="rememberMe" class="form-check-input" value="true" [(ngModel)]="loginService.rememberMe">
                <span class="form-check-label">
                    {{ 'Remember Me' | localize }}
                </span>
            </label>
            <a routerLink="/account/forgot-password" id="forget-password" class="text-primary font-size-h6 font-weight-bolder text-hover-primary">{{ 'Forgot Password?' | localize }}</a>
        </div>

        <!--begin::Action-->
        <div class="pb-lg-0 pb-5 d-flex justify-content-center">
            <button type="submit" [disabled]="!loginForm.form.valid" class="btn w-100 btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 me-3">
                <i class="las la-unlock" style="font-size: 2rem !important; padding-right: 3px;"></i>
                {{ 'LogIn' | localize }}
            </button>
        </div>


        <!--end::Action-->
    </form>

    <!--end::Form-->

    <!--begin::Options-->
    <div class="mt-10 mb-2" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
        <div class="divider">
            <span>{{ 'LoginWith' | localize }}</span>
        </div>
    </div>

    <div class="pb-lg-0 pb-5 login__options" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
        <a *ngFor="let provider of loginService.externalLoginProviders" class="btn btn-sm btn-light-primary font-weight-bolder py-2 mb-2 ml-0 me-2" (click)="externalLogin(provider)" title="{{ provider.name }}">
            <i class="fab fa-{{ provider.icon }}"></i> {{ provider.name }}
        </a>
    </div>
    <!--end::Options-->
</div>

<div class="mt-5 account-overview" style="font-size: 1rem;">
    <div>
        <span>{{ 'NotAMemberYet' | localize }}</span>
    </div>
    <span *ngIf="isSelfRegistrationAllowed">
        <a routerLink="/account/register">{{ 'CreateAnAccount' | localize }}</a>
        <!-- <span class="pipe-divider"> | </span> -->
    </span>

    <span *ngIf="!multiTenancySideIsTeanant && isTenantSelfRegistrationAllowed">
        <a routerLink="/account/select-edition">{{ 'SignUpNow' | localize }}</a>
        <!-- <span class="pipe-divider"> | </span> -->
    </span>

    <!-- <a routerLink="/account/email-activation" id="email-activation-btn">{{ 'EmailActivation' | localize }}</a> -->
</div>

<div class="login-options" style="display:none;">
    <div class="title-row"><span>OR</span></div>
    <div class="login-links">
        <span title="Coming Soon"><i class="fab fa-facebook-f"></i></span>
        <span title="Coming Soon"><i class="fab fa-twitter"></i></span>
        <span title="Coming Soon"><i class="fas fa-envelope"></i></span>
        <span title="Coming Soon"><i class="fab fa-github"></i></span>
        <!-- <a href="!#"><i class="fab fa-facebook-f"></i></a>
        <a href="!#"><i class="fab fa-twitter"></i></a>
        <a href="!#"><i class="fas fa-envelope"></i></a>
        <a href="!#"><i class="fab fa-github"></i></a> -->
    </div>
</div>