<style>
    .lead-container {
        max-height: 60vh;
    }
    
    .leadedetailleftpart {
        min-height: 69vh;
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">

            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <div class="d-flex align-items-center flex-wrap justify-content-between full-width-mob">
                    <sub-header [title]="'Estimate Paid' | localize" [count]="recordCount" [description]="'EstimatePaid' | localize"></sub-header>
                    <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                        <button id="dropdownButton" type="button" class="btn btn-primary info-btn btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                            <i class="las la-question"></i>
                        </button>
                        <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                            <li role="menuitem">
                                <div class="dropdown-item">System Size</div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">Structure Amount</div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">Sign Quotation</div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">
                                    Light Bill
                                </div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">
                                    Premises ownership document
                                </div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">
                                    Adharcard
                                </div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">
                                    Cancel Cheque
                                </div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">
                                    Passport Size Photo
                                </div>
                            </li>
                            <li role="menuitem">
                                <div class="dropdown-item">
                                    Pancard (Mandatory in Torrent)
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
            </div>


            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" id="btnRefrsh" (click)="getEstimateList()"></button>
                            </div>
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <!-- *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')" -->
                                <div>
                                    <div class="" *ngIf="organizationUnitlength > 0">
                                        <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getEstimateList()">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /(change)="leadstatuschange()" -->
                            <div class="me-2">
                                <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="me-2">
                                <select class="form-control" [(ngModel)]="manualPymentFilter">
                                        <option value="">Manual Payment</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                            </div>
                            <div class="me-2">

                                <select class="form-control" [(ngModel)]="estimatedPaidFilter">
                                        <option value="">Estimate paid status</option>
                                        <option value="notpaid">Not Paid</option>
                                        <option value="paid">Paid</option>
                                    </select>

                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getEstimateList()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getEstimateList()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getEstimateList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                                <div class="me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData1 = !FiltersData1; testHeightSize1();">
                                        <i class="las la-cog"></i>
                                    </button>
                                </div>

                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <div class="content-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Application Status" [(ngModel)]="applicationstatusTrackerFilter" name="ApplicationStatusID" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="priorityFilter">
                                                        <option value=""> select Priority</option>
                                                        <option value="high">High</option>
                                                        <option value="medium">Medium</option>
                                                        <option value="low">Low</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="estimatedPayResonseFilter">
                                                        <option value="">Eastimate pay response</option>
                                                        <option value="bycustomer">By Customer</option>
                                                        <option value="bycompany">By Company</option>
                                                        <option value="bycp">By Chanel Partner</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter" class="form-control" (change)="changeDiscom()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allCircleData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Circle" [(ngModel)]="CircleIdFilter" name="CircleIdFilter" class="form-control" (change)="changeCircle()">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Division" (change)="changeDivision()" [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSubDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter" name="SubDivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" (change)="chaneSolarType()" bindValue="id" placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allTenderData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Tender" [(ngModel)]="TenderIdFilter" name="TenderIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                            <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="FilterbyDate">
                                                        <option value="">Filter by Date</option>
                                                        <option value="estimateDueDate">Estimate Due Date</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control me-2" bsDatepicker datePickerLuxonModifier [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="d-flex mt-3 justify-content-end">
                                                <button type="reset" class="btn btn-danger" (click)="clear()"><i class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                                <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..." (click)="getEstimateList()"><i class="fas fa-search" ></i> Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [hidden]="FiltersData">
            <div class="container-fluid">
                <div class="lead-data-box">
                    <div class="box-item job-type">
                        <h2>
                            Total<span>{{estimatePaidSummaryCount.total}}</span>
                        </h2>
                    </div>
                    <div class="box-item job-type">
                        <h2>
                            Feasiblity Approved<span>{{estimatePaidSummaryCount.feasiblityApproved}}</span>
                        </h2>
                    </div>
                    <div class="box-item job-type">
                        <h2>
                            Eastimate paid (Number of projects)<span>{{estimatePaidSummaryCount.eastimatePaid}}</span>
                        </h2>
                    </div>
                    <div class="box-item job-type">
                        <h2>
                            Due Date (Number of projects)<span>{{estimatePaidSummaryCount.dueDate}}</span>
                        </h2>
                    </div>
                    <div class="box-item job-type">
                        <h2>
                            Total Killo watt<span>{{estimatePaidSummaryCount.totalKillowatt}}</span>
                        </h2>
                    </div>
                    <div class="box-item job-type">
                        <h2>
                            Number of Panel<span>{{estimatePaidSummaryCount.totalPanel}}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" *ngIf="IsAssignPayResponse" [hidden]="!FiltersData1">
            <div class="blue-filter-box">
                <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                    <div class="d-flex align-items-center">
                        <div class="me-6" *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                            <div class="form-check form-switch form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" (change)="oncheck($event)" [(ngModel)]="isChange" id="changeOrg" />
                                <label class="form-check-label" for="changeOrg">
                                    Add Estimate Pay Response
                                </label>
                            </div>
                        </div>
                        <div class="me-6" [hidden]="!isChangetrue">
                            <select name="assignLead" [(ngModel)]="assignEstimatePayResponse" class="form-control" required>
                                <option value="">Select Estimate Pay Response</option>
                                <option value="bycustomer">By Customer</option>
                                <option value="bycompany">By Company</option>
                                <option value="bycp">By Chanel Partner</option>
                            </select>
                        </div>


                        <div class="me-0" *ngIf="'Pages.Tenant.Leads.Customer.Assign' | permission">
                            <button (click)="submit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary font-weight-bold">Submit</button>
                        </div>
                    </div>
                    <div class="recordsSelect">
                        <h2>
                            Selected Records:<span>{{count}}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getEstimateList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="false" [scrollable]="true"
                                            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pFrozenColumn style="width:65px; justify-content: center; border-right:0 !important;" class="checkboxhead ">
                                                        <div class="kt-checkbox-list">
                                                            <label for="lead_id" class="form-check form-check-custom form-check-solid">
                                                                <input type="checkbox" id="lead_id" name="all"
                                                                    class="form-check-input" [checked]="isAllChecked()"
                                                                    (change)="checkAll($event)" />
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </th>
                                                    <th pFrozenColumn style="width:90px; border-right:0 !important;">Action</th>
                                                    <th pFrozenColumn style="width: 165px" pSortableColumn="projectNumber">
                                                        {{ 'Project Number' | localize }}
                                                        <p-sortIcon field="projectNumber"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="customerName">
                                                        {{ 'Customer Name' | localize }}
                                                        <p-sortIcon field="firstName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 120px" [hidden]="!ExpandedView" pSortableColumn="mobileNumber">
                                                        Mobile
                                                        <p-sortIcon field="mobile"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="discom">
                                                        Discom
                                                        <p-sortIcon field="discom"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px; justify-content:center;" [hidden]="!ExpandedView" pSortableColumn="consumerNumber">
                                                        Consumer Number
                                                        <p-sortIcon field="consumerNumber"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px; justify-content:center;" [hidden]="!ExpandedView" pSortableColumn="eastimateQuoteNo">
                                                        Estimate Quote No.
                                                        <p-sortIcon field="eastimateQuoteNo"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 220px" [hidden]="!ExpandedView" pSortableColumn="eastimateQuoteAmount">
                                                        Estimate Quote Amount
                                                        <p-sortIcon field="eastimateQuoteAmount"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="eastimateDueDate">
                                                        Estimate Due Date
                                                        <p-sortIcon field="eastimateDueDate"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 220px" [hidden]="!ExpandedView" pSortableColumn="eastimatePayResponse">
                                                        Estimate Pay Response
                                                        <p-sortIcon field="eastimatePayResponse"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="eastimatePaidStatus">
                                                        Estimate Paid Status
                                                        <p-sortIcon field="eastimatePaidStatus"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="panaltyDays">
                                                        Panalty Days
                                                        <p-sortIcon field="panaltyDays"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="paymentlink">
                                                        Payment Link
                                                        <p-sortIcon field="paymentlink"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="FollowDiscription">
                                                        Follow up Discription
                                                        <p-sortIcon field="leadsource"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="FollowDate">
                                                        Next follw up date
                                                        <p-sortIcon field="cityName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="comment">
                                                        Comment
                                                        <p-sortIcon field="comment"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr id="selectcustomer" [pSelectableRow]="record">
                                                    <td pFrozenColumn style="width:65px; justify-content: center; border-right:0 !important;">
                                                        <div class="kt-checkbox-list">
                                                            <label for="{{record.estimateTracker.id}}" class="form-check form-check-custom form-check-solid">
                                                                <input type="checkbox"
                                                                    id="{{record.estimateTracker.id}}"
                                                                    name="recordSource"
                                                                    [(ngModel)]="record.estimateTracker.isSelected"
                                                                    class="form-check-input"
                                                                    (change)="oncheckboxCheck()" />
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td pFrozenColumn style="width:90px; border-right:0 !important;">
                                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                                <i class="las la-ellipsis-v"></i>
                                                            </button>
                                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.EstimatedPaid.QuickView')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="estimateListDetailModal.GetEstimatedQuickView(record.estimateTracker)">
                                                                        <i class="las la-eye"></i>Quick View
                                                                    </a>
                                                                </li>
                                                                <a href="javascript:;" class="dropdown-item" (click)="paymentRecieptModal.GetPaymentReceipt(record.estimateTracker)">
                                                                    <i class="las la-file-invoice"></i>Payment reciept
                                                                </a>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.EstimatedPaid.Reminder')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.estimateTracker.leaddata.id,3,0,sectionId)">
                                                                        <i class="las la-bell"></i>Reminder
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.EstimatedPaid.Notify')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.estimateTracker.leaddata.id,4,0,sectionId)">
                                                                        <i class="las la-user-clock"></i>Notify
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.EstimatedPaid.Comment')">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.estimateTracker.leaddata.id,5,0,sectionId)">
                                                                        <i class="las la-comment"></i>Comment
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td pFrozenColumn style="width: 165px" class="gridleadimage" id="selectcustomer" (click)="navigateToLeadDetail(record);">
                                                        <span class="p-column-title">{{ 'ProjectNumber' | localize}}</span> {{ record.estimateTracker.projectNumber }}
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        {{record.estimateTracker.customerName }}
                                                    </td>
                                                    <td style="width: 120px" [hidden]="!ExpandedView">
                                                        <span class="badge badge-secondary">{{ record.estimateTracker.mobile }}</span>
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        {{record.estimateTracker.discom}}
                                                    </td>
                                                    <td style="width: 200px; justify-content:center;" [hidden]="!ExpandedView">
                                                        {{record.estimateTracker.consumerNumber}}
                                                    </td>
                                                    <td style="width: 200px; justify-content:center;" [hidden]="!ExpandedView">
                                                        {{record.estimateTracker.eastimateQuoteNo}}
                                                    </td>
                                                    <td style="width: 220px" [hidden]="!ExpandedView">
                                                        <span class="d-flex align-items-center badge badge-primary" *ngIf="record.estimateTracker.eastimateQuoteAmount != null"><i class="las la-rupee-sign fs-3" style="color:#fff;"></i>{{record.estimateTracker.eastimateQuoteAmount | number : '1.2' }}</span>
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        <span class="badge badge-pill badge-danger light d-flex align-items-center lg-font" *ngIf="record.estimateTracker.eastimateDueDate > 0">
                                                            <i class="las la-calendar fs-2 me-1 text-white"></i>{{record.estimateTracker.eastimateDueDate | date: 'dd-MM-YYYY' }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 220px" [hidden]="!ExpandedView">
                                                        {{record.estimateTracker.eastimatePayResponse }}
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        <!-- {{record.estimateTracker.eastimatePayStatus}} -->
                                                        <span class="badge badge-success" *ngIf="record.estimateTracker.eastimatePaidStatus == 'Paid'">
                                                            {{ 'Paid' | localize }}
                                                        </span>
                                                        <span class="badge badge-danger" *ngIf="record.estimateTracker.eastimatePaidStatus == null || record.estimateTracker.eastimatePaidStatus == 'NotPaid'">
                                                             {{ 'NotPaid' | localize }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        {{record.estimateTracker.panaltyDays}}
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        <a href="javascript:;" [href]="record.estimateTracker.paymentLink" target="_blank">
                                                            {{record.estimateTracker.paymentLink}}
                                                        </a>
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView" *ngIf="record.estimateTracker.followDiscription != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.estimateTracker.followDiscription }}">
                                                        {{record.estimateTracker.followDiscription}}
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        <span class="badge badge-pill badge-secondary lg-font" *ngIf="record.estimateTracker.followDate > 0">
                                                            <i class="las la-calendar fs-2 me-1"></i>{{record.estimateTracker.followDate | date: 'dd-MM-YYYY' }}</span>
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView" *ngIf="record.estimateTracker.comment != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.estimateTracker.comment }}">
                                                        {{record.estimateTracker.comment}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ 'NoData' | localize }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getEstimateList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                            </p-paginator>

                                        </div>
                                    </div>
                                </div>                                
                                <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<addActivityModal #addActivityModal></addActivityModal>
<estimateListDetailModal #estimateListDetailModal></estimateListDetailModal>
<paymentRecieptModal #paymentRecieptModal></paymentRecieptModal>