<div appBsModal #estimateListDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="estimateListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Details - {{customertitle}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box m-0">
                        <h3><i class="las la-user fs-1 me-2"></i>Customer Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Customer Name:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.customerName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Customer Mobile
                                            Number:</strong></label>
                                    <div class="col-lg-6">
                                        <span class="badge badge-secondary">{{QuickViewData.mobileNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Consumer Number:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.consumerNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Discom:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.discomeName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Chenel Partner Name:</strong></label>
                                    <div class="col-lg-6">
                                        <span class="badge badge-secondary">{{QuickViewData.cpName}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Chenel Partner Mobile
                                            No.:</strong></label>
                                    <div class="col-lg-6">
                                        <span class="badge badge-secondary">{{QuickViewData.cpMobileNumber}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box mt-4">
                    <div class="jobinfo-box shadow-box m-0">
                        <h3 class="d-flex align-items-center justify-content-between">
                            <span><i class="las la-rupee-sign fs-1 me-2"></i>Payment Details</span>
                            <a (click)="changeEstimated = true" [hidden]="changeEstimated"><i class="las la-edit fs-1"></i></a>
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Payement Refferance
                                            Number:</strong></label>
                                    <div class="col-lg-6">
                                        <input type="text" [disabled]="!changeEstimated" id="estimatePayementRefNumber" class="form-control" [(ngModel)]="QuickViewData.estimatePayementRefNumber" name="estimatePayementRefNumber" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Paid
                                            Status:</strong></label>
                                    <div class="col-lg-6">
                                        <select name="assignLead" [disabled]="!changeEstimated" [(ngModel)]="QuickViewData.eastimatePaidStatus" class="form-control">
                                            <option [ngValue]="null">Select Status</option>
                                            <option value="Paid">paid</option>
                                            <option value="NotPaid">unpaid</option>
                                        </select>
                                        <!-- <span
                                            class="badge badge-pill badge-success">{{}}</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Quote No.:</strong></label>
                                    <div class="col-lg-6">
                                        <input type="number" [disabled]="!changeEstimated" id="eastimateQuoteNo" class="form-control" [(ngModel)]="QuickViewData.eastimateQuoteNo" name="eastimateQuoteNo" minlength="2" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Quote
                                            Amount:</strong></label>
                                    <div class="col-lg-6 form-icon">
                                        <input type="number" [disabled]="!changeEstimated" id="eastimateQuoteAmount" class="form-control" [(ngModel)]="QuickViewData.eastimateQuoteAmount" name="eastimateQuoteAmount" minlength="2" maxlength="50" />
                                        <span class="icon-box" style="top:3px; left:15px;"><i class="las la-rupee-sign me-1 fs-2 text-white"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Due Date:</strong></label>
                                    <div class="col-lg-6 form-icon">
                                        <input id="SampleDatePicker" [disabled]="!changeEstimated" type="text" #SampleDatePicker name="eastimateDueDate"  class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="eastimateDueDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                        />
                                        <span class="icon-box" style="top:3px; left:15px;"><i class="las la-calendar me-1 fs-2 text-white"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Pay
                                            Response:</strong></label>
                                    <div class="col-lg-6">
                                        <select name="assignLead" [disabled]="!changeEstimated" [(ngModel)]="QuickViewData.eastimatePayResponse" class="form-control">
                                            <option value="null">Select Estimate Pay Response</option>
                                            <option value="bycustomer">by Customer</option>
                                            <option value="bycompany">by Company</option>
                                            <option value="bycp">by Chanel Partner</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!changeEstimated" (click)="submit();"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>