<div appBsModal #paymentRecieptModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="paymentRecieptModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg reciept">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Payment Reciept</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body sidepaddingzero bg-gray">

                <div id="d-wrapper">
                    <div class="zig-zag-top ">
                        <div class="lgray-box">
                            <div class="jobinfo-box shadow-box my-0 mb-3">
                                <h3 class="mb-4"><i class="las la-receipt"></i> Payment Reciept Details</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3 row align-items-center">
                                            <label class="col-lg-12 col-form-label inline"><strong>Payement Refferance
                                                    Number:</strong></label>
                                            <div class="col-lg-12">
                                                <input type="text" id="estimatePayementRefNumber" required class="form-control" [(ngModel)]="paymentReceipt.estimatePayementRefNumber" name="estimatePayementRefNumber" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3 row align-items-center">
                                            <label class="col-lg-12 col-form-label inline"><strong>Date:</strong></label>
                                            <div class="col-lg-12">
                                                <div style="position: relative;" class="datepicker">
                                                    <input id="SampleDatePicker" type="text" required #SampleDatePicker name="eastimateDueDate" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="eastimatePayDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                                    />
                                                    <i class="lar la-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" [hidden]="!ExpandedViewApp">
                                        <div class="mb-3 row align-items-center">
                                            <label class="col-lg-12 col-form-label inline"><strong>Upload
                                                    Reciept:</strong></label>
                                            <div class="col-lg-12">
                                                <div class="custom-file custom-upload mt-0">
                                                    <!-- <input type="file" id="uploadPicture">
                                                    <label for="uploadPicture" class="custom-file-label"></label> -->
                                                    <input type="file" id="uploadPicture" required [(ngModel)]="paymentReceipt.eastimatePayReceiptPath" (change)="handleFileInput($event.target.files)">
                                                    <label for="uploadPicture" class="custom-file-label"></label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3" [hidden]="!ExpandedViewApp">
                                        <a href="{{UploadDocPath}}" class="d-flex align-items-center" target="_blank" *ngIf="paymentReceipt.eastimatePayReceiptPath !=  undefined">
                                            <i class="las la-file-pdf fs-1"></i> <span>View File</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" [disabled]="paymentReceipt.estimatePayementRefNumber == null && eastimatePayDate == null && paymentReceipt.eastimatePayReceiptPath == null" [buttonBusy]="saving" (click)="savePaymentReceipt()"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>