<div class="white-form-block job-container jobs" [@routerTransition]>
    <form>
        <div class="white-form-block job-container">
            <div class="row">
                <div class="col-md-8">
                    <div class="sections" style="min-height: 370px;">
                        <h3><i class="las la-tools"></i>Installation Start Details</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">Installation Date *:</label>
                                    <div>
                                        <input id="SampleDatePicker" type="text" #SampleDatePicker
                                            name="SampleDatePicker" class="form-control" bsDatepicker
                                            datePickerLuxonModifier [(date)]="installDate"
                                            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                        <!-- <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" [(date)]="installDate" class="form-control" bsDatepicker datePickerLuxonModifier  [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                            required /> -->
                                        <span class="icon-box" style="top:50px;"><i class="las la-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">Stock Allocation Store *:</label>
                                    <div>
                                        <select name="Stock Allocation" required #InstallerInput="ngModel"
                                            [(ngModel)]="JobInstallData.storeLocationId" required class="form-control"
                                            id="selectlocationId">
                                            <option [ngValue]="undefined" selected>Select Installer</option>
                                            <option *ngFor="let itempartner of storeLocationList"
                                                value="{{itempartner.id}}">
                                                {{itempartner.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box" style="top:50px;"><i class="las la-warehouse"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">Installer:</label>
                                    <div>
                                        <select name="SolarTypeName" required #InstallerInput="ngModel"
                                            [(ngModel)]="JobInstallData.jobInstallerID" required class="form-control"
                                            id="selectInstallerId">
                                            <option [ngValue]="undefined" selected>Select Installer</option>
                                            <option *ngFor="let itempartner of drpInstallerUser"
                                                value="{{itempartner.id}}">
                                                {{itempartner.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box" style="top:50px;"><i class="las la-user-cog"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3 form-group">
                                    <label class="col-form-label">Notes:</label>
                                    <div>
                                        <textarea class="form-control" rows="5" name="InstallerNotes"
                                            [(ngModel)]="JobInstallData.installerNotes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sections" style="min-height: 370px;">
                        <h3><i class="las la-tools"></i>Installation Complete Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">Installation Complete Date:</label>
                                    <div>
                                        <input id="SampleDatePicker" type="text" #SampleDatePicker
                                            name="SampleDatePicker" [(date)]="endDate" class="form-control" bsDatepicker
                                            datePickerLuxonModifier [(date)]="JobInstallData.installCompleteDate"
                                            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                            required />
                                        <span class="icon-box" style="top:50px;"><i class="las la-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" (click)="saveJobInstall()" [disabled]="installDate == undefined || installDate == null || JobInstallData.storeLocationId == 0 || JobInstallData.storeLocationId == undefined
                || JobInstallData.jobInstallerID == undefined || JobInstallData.jobInstallerID == 0 "
                        ng-reflect-busy-text="Saving..."><i class="las la-save"></i>
                        Save </button>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="JobInstallData.id!= 0">
                <div class="col-md-12">
                    <div class="sections" style="min-height: 370px;">
                        <h3><i class="las la-tools"></i>PickList Details</h3>

                        <div class="mb-3 form-group">
                            <div class="d-flex align-items-center">
                                <label class="col-form-label me-2">Strucutre Height *:</label>
                                <div class="form-icon">
                                    <select class="form-control" required name="dispatchHeightStructureId"
                                        [(ngModel)]="DispatchDetails.dispatchHeightStructureId">
                                        <option value="undefined">Select Strucutre Height</option>
                                        <option *ngFor="let item of heightofStructureList" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                    <span style="top:2px;" class="icon-box"><i class="las la-ruler-combined"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex align-items-center mb-3" *ngFor="let item of JobProducts; let i = index">
                                <div class="me-5 w-275px">
                                    <select class="form-control" [(ngModel)]="item.productTypeId" required
                                        #productType="ngModel" name="productType{{i}}"
                                        (change)="filterProductItem(item,i);">
                                        <option value="0">Select Product Type</option>
                                        <option *ngFor="let ptitem of productTypes; let t = index"
                                            value="{{ptitem.id}}">
                                            {{ptitem.displayName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="me-5 w-500px">
                                    <p-autoComplete [(ngModel)]="item.productItemName" id="SuburbInput" name="jp{{i}}"
                                        #jp="ngModel" required [suggestions]="productItemSuggestions"
                                        (completeMethod)="filterProductIteams($event , i)"
                                        (onSelect)="getProductTypeId(i);" aria-placeholder="Search Product Item Name"
                                        [minLength]="2" inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                                <div class="me-5 w-250px">
                                    <input type="text" placeholder="Product Model Number" class="form-control"
                                        name="jpmodel{{i}}" #jpmodel="ngModel" [(ngModel)]="item.model"
                                        [disbled]="true" />
                                </div>
                                <div class="me-5 w-225px">
                                    <input type="number" class="form-control" placeholder="Product quantity"
                                        name="jpsize{{i}}" #jpmodel="ngModel" [(ngModel)]="item.quantity" />
                                </div>
                                <div class="me-0 action-btn w-125px">
                                    <a class="me-2" (click)="removeJobProduct(item);" *ngIf="JobProducts.length != 1"><i
                                            class="las la-trash text-danger"></i></a>
                                    <a (click)="addJobProduct()" *ngIf="i == JobProducts.length - 1"><i
                                            class="las la-plus-circle text-primary"></i></a>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">Select Picklist Type *:</label>
                                    <div>
                                        <select class="form-control" required name="dispatchTypeId"
                                            [(ngModel)]="DispatchDetails.dispatchTypeId">
                                            <option value="undefined">Select Picklist Type</option>
                                            <option *ngFor="let item of dispatchTypeList" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i class="las la-boxes"></i></span>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-12">
                                <div class="mb-3 form-group">
                                    <label class="col-form-label"> Notes:</label>
                                    <div>
                                        <textarea id="dispatchNotes" class="form-control" rows="4"
                                            [(ngModel)]="DispatchDetails.dispatchNotes" type="text"
                                            name="dispatchNotes"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- || DispatchDetails.dispatchTypeId == 0 || DispatchDetails.dispatchTypeId == undefined" -->
                                <button type="submit" class="btn btn-primary" (click)="saveDispatchJob()"
                                    [disabled]="DispatchDetails.dispatchHeightStructureId == 0 || DispatchDetails.dispatchHeightStructureId == undefined"
                                    ng-reflect-busy-text="Saving..."><i class="las la-save"></i>
                                    Generate PickList </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="grid-container secondary-grid" *ngIf="JobInstallData.id != 0">
        <div class="p-datatable">
            <table class="p-datatable-table">
                <thead class="p-datatable-thead">
                    <tr>
                        <th style="width:20px;">Id</th>
                        <th style="width:200px;">Height Structure</th>
                        <!-- <th style="width:160px;">Picklist Type</th> -->
                        <th style="width:160px;">Installation Date</th>
                        <th style="width:150px;">Installer Name</th>
                        <th style="width:150px;">Created By</th>
                        <th style="width:150px;">Dispatch Date</th>
                        <!-- <th style="width:220px;">Notes</th> -->
                        <th style="width:90px; text-align: right;">Action</th>
                    </tr>
                </thead>

                <tr *ngFor="let item of picklstList; let i = index">
                    <td style="width:20px;">{{item.picklistTracker.id}}</td>
                    <td style="width:200px;">{{item.picklistTracker.heightStructureName}}</td>
                    <!-- <td style="width:160px;">{{item.picklistTracker.pickListType}}</td> -->
                    <td style="width:150px;">{{item.picklistTracker.installationDate | date: 'dd-MM-YYYY'}}</td>
                    <td style="width:150px;">{{item.picklistTracker.installerName}}</td>
                    <td style="width:150px;">{{item.picklistTracker.createdBy}}</td>
                    <td style="width:220px;">{{item.picklistTracker.dispatchDate | date: 'dd-MM-YYYY'}}</td>
                    <!-- <td style="width:220px;">{{item.picklistTracker.Notes}}</td> -->
                    <td style="width:90px; text-align: right;">
                        <div class="me-0 action-btn align-items-center d-flex" style="justify-content: end;">
                            <a class="me-2" *ngIf="item.picklistTracker.dispatchDate == null"
                                (click)="deletePicklistItem(item.picklistTracker);"><i
                                    class="las la-trash text-danger"></i></a>
                            <a class="me-2" (click)="editPicklist(item.picklistTracker);"><i
                                    class="las la-edit text-primary"></i></a>
                            <a class="d-flex align-items-center" (click)="generatePicklist(item.picklistTracker)"><i
                                    class="las la-file-download fs-1"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
<picklistgenerate #picklistgenerate></picklistgenerate>
<picklistedit #picklistedit></picklistedit>