<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="role.id">{{ 'EditRole' | localize }}: {{ role.displayName }}</span>
                        <span *ngIf="!role.id">{{ 'CreateNewRole' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{ 'RoleName' | localize }}" class="p-5">
                                <div class="mb-5">
                                    <label class="form-label">{{ 'RoleName' | localize }} *</label>
                                    <input id="RoleDisplayName" #roleNameInput="ngModel" class="form-control" type="text" name="DisplayName" [(ngModel)]="role.displayName" required maxlength="64" />
                                    <validation-messages [formCtrl]="roleNameInput"></validation-messages>
                                </div>
                                <label class="form-check form-check-custom form-check-solid py-1">
                                    <input
                                        id="EditRole_IsDefault"
                                        type="checkbox"
                                        name="IsDefault"
                                        [(ngModel)]="role.isDefault"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{ 'Default' | localize }}
                                        <small class="form-text text-muted">{{ 'DefaultRole_Description' | localize }}</small>
                                    </span>
                                </label>
                            </tab>
                            <tab heading="{{ 'Permissions' | localize }}" class="p-5">
                                <permission-tree #permissionTree></permission-tree>
                            </tab>
                        </tabset>
                    </div>

                    <div class="alert alert-warning d-flex align-items-center" style="margin-top: 30px">
                        <i class="las la-exclamation-circle me-3" style="font-size:3.5rem;"></i>
                        <span>{{ 'Note_RefreshPageForPermissionChanges' | localize }}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!roleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>