<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <sub-header [title]="'Roles' | localize" [count]="recordCount" [description]="'RolesHeaderInfo' | localize">
                </sub-header>
                <div class="">
                    <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getRoles()"></permission-tree-modal>
                </div>
            </div>
            <div class="form me-10" style="margin-left: auto;">
                <div class="form-body filter-options">
                    <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="me-2">
                            <button name="RefreshButton" class="refresh float-end" (click)="getRoles()">
                                <!-- <i class="las la-redo-alt"></i> -->
                                <!-- {{ 'Refresh' | localize }} -->
                            </button>
                        </div>
                        <div role="actions">
                            <button (click)="createRole()" *ngIf="'Pages.Administration.Roles.Create' | permission" class="btn btn-primary float-end">
                            <!-- <i class="fa fa-plus"></i> -->
                            <!-- <span class="me-2">{{ 'CreateNewRole' | localize }}</span> -->
                            <span class="me-2">New</span><i class="las la-plus-circle"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getRoles()" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive" scrollDirection="both" [scrollable]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:95px;" class="text-center actionwidth" [hidden]="
                                            !(
                                                [
                                                    'Pages.Administration.Roles.Edit',
                                                    'Pages.Administration.Roles.Delete'
                                                ] | permissionAny
                                            )
                                        ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 72%">{{ 'RoleName' | localize }}</th>
                                    <th style="width: 160px;">{{ 'CreationTime' | localize }}</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width:95px;" [hidden]="
                                            !(
                                                ([
                                                    'Pages.Administration.Roles.Edit',
                                                    'Pages.Administration.Roles.Delete'
                                                ] | permissionAny) || entityHistoryEnabled
                                            )
                                        ">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                <!-- <span class="caret"></span>
                                                {{ 'Actions' | localize }} -->
                                            </button>

                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Administration.Roles.Edit' | permission" role="menuitem">
                                                    <a class="dropdown-item" href="javascript:;" (click)="createOrEditRoleModal.show(record.id)">
                                                        <i class="las la-edit"></i> {{ 'Edit' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="
                                                        !record.isStatic &&
                                                        ('Pages.Administration.Roles.Delete' | permission)
                                                    " role="menuitem">
                                                    <a class="dropdown-item" href="javascript:;" (click)="deleteRole(record)">
                                                        <i class="las la-trash"></i> {{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                                <li *ngIf="entityHistoryEnabled" role="menuitem">
                                                    <a class="dropdown-item" href="javascript:;" (click)="showHistory(record)">
                                                        <i class="las la-history"></i> {{ 'History' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 72%">
                                        <span class="p-column-title">{{ 'RoleName' | localize }}</span>
                                        <span>
                                            {{ record.displayName }}
                                            <span
                                                *ngIf="record.isStatic"
                                                class="badge badge-primary m-1"
                                                data-toggle="tooltip"
                                                title="{{ 'StaticRole_Tooltip' | localize }}"
                                                data-placement="top"
                                            >
                                                {{ 'Static' | localize }}
                                            </span>
                                        <span *ngIf="record.isDefault" class="badge badge-dark m-1" data-toggle="tooltip" title="{{ 'DefaultRole_Description' | localize }}" data-placement="top">
                                                {{ 'Default' | localize }}
                                            </span>
                                        </span>
                                    </td>
                                    <td style="width: 160px">
                                        <span class="p-column-title">{{ 'CreationTime' | localize }}</span>
                                        <span class="d-flex align-items-center badge badge-secondary"><i class="las la-calendar fs-1 me-1"></i>{{ record.creationTime | luxonFormat: 'F' }}</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="ui-table-footer"></div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getRoles()" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>

                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>

        <createOrEditRoleModal #createOrEditRoleModal (modalSave)="getRoles()"></createOrEditRoleModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>