<div class="login-form" [@routerTransition]>
    <h1 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">{{ 'EmailActivation' | localize }}</h1>
    <p class="pb-4"><strong>{{ 'SendEmailActivationLink_Information' | localize }}</strong></p>

    <form class="login-form form" #emailActivationForm="ngForm" method="post" novalidate (ngSubmit)="save()">
        <div class="mb-8 login-inputs">
            <label>Email:</label>
            <i class="las la-envelope-open"></i>
            <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" class="form-control form-control-solid h-auto py-5 px-6 rounded-lg font-size-h6" type="email" autocomplete="new-password" placeholder="{{ 'EmailAddress' | localize }} *" name="emailAddress"
                required maxlength="256" email />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>

        <div class="pb-lg-0 pb-5">
            <button type="submit" class="w-100 btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 me-3" [disabled]="!emailActivationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                <i class="fa fa-check"></i>
                {{ 'Submit' | localize }}
            </button>
            <button [disabled]="saving" routerLink="/account/login" type="button" class="w-100 btn btn-link font-weight-bolder font-size-h6 px-8 py-4 my-3">
                <i class="las la-angle-double-left"></i>
                {{ 'Back to Log in' | localize }}
            </button>

        </div>
    </form>
</div>