<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <sub-header [title]="'LoginAttempts' | localize" [count]="recordCount" [description]="'LoginAttemptsHeaderInfo' | localize"></sub-header>
            </div>
            <div class="form" style="margin-left: auto;">
                <div class="container-fluid">
                    <div class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="refresh float-end" (click)="getLoginAttempts()"></button>
                            </div>
                            <div class="me-3">
                                <!-- <label for="LoginAttemptsFilter" class="control-label">
                                    {{ 'Filter' | localize }}
                                </label> -->
                                <div class="input-group searchclearbox">
                                    <input type="text" id="LoginAttemptsFilter" name="filterText" [(ngModel)]="filterText" class="form-control m-input" [attr.placeholder]="l('SearchWithThreeDot')" (keydown.enter)="getLoginAttempts()" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLoginAttempts()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getLoginAttempts()" class="btn search-btn" type="submit">
                                        <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                    </button>

                                </div>
                            </div>

                            <button class="clickable-item btn btn-primary outline" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                <i class="las la-filter"></i>
                                <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                            </button>
                            <button class="clickable-item btn btn-primary outline" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                <i class="las la-filter"></i>
                                <!-- {{ 'HideAdvancedFilters' | localize }} -->
                            </button>



                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="mb-4 filter-optionrow align-items-center" [hidden]="!advancedFiltersAreShown">

            <div class="filter-body">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="mb-5">
                            <label for="StartEndRange">{{ 'DateRange' | localize }}</label>
                            <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker" readonly="readonly" bsDaterangepicker dateRangePickerLuxonModifier [(date)]="dateRange" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-5">
                            <label for="LoginResultFilter" class="control-label">
                                {{ 'Result' | localize }}
                            </label>
                            <login-result-type-combo [(ngModel)]="loginResultFilter"></login-result-type-combo>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getLoginAttempts($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive" scrollDirection="both"
                            [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="clientIpAddress" style="width:120px;">
                                        {{ 'IpAddress' | localize }}
                                        <p-sortIcon field="clientIpAddress"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="clientName" style="width:150px;">
                                        {{ 'Client' | localize }}
                                        <p-sortIcon field="clientName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="browserInfo" style="width:500px;">
                                        {{ 'Browser' | localize }}
                                        <p-sortIcon field="browserInfo"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="creationTime" style="width:150px;">
                                        {{ 'Time' | localize }}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="result" style="width:90px;">
                                        {{ 'Result' | localize }}
                                        <p-sortIcon field="result"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width:120px;">
                                        <span class="p-column-title">{{ 'IpAddress' | localize }}</span> {{ record.clientIpAddress }}
                                    </td>
                                    <td style="width:150px;">
                                        <span class="p-column-title">{{ 'Client' | localize }}</span> {{ record.clientName }}
                                    </td>
                                    <td style="width:500px;">
                                        <span class="p-column-title">{{ 'Browser' | localize }}</span> {{ record.browserInfo }}
                                    </td>
                                    <td style="width:150px;">
                                        <span class="p-column-title">{{ 'Time' | localize }}</span> {{ record.creationTime | luxonFormat: 'F' }}
                                    </td>
                                    <td style="width:90px;">
                                        <span class="p-column-title">{{ 'Result' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.result === 'Success'">
                                            {{ 'AbpLoginResultType_' + record.result | localize }}
                                        </span>
                                        <span class="badge badge-warning" *ngIf="record.result !== 'Success'">
                                            {{ 'AbpLoginResultType_' + record.result | localize }}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLoginAttempts($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>

                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>

        </div>
    </div>
</div>