<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #smsTemplateForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="smsTemplate.id">{{ 'EditSmsTemplates' | localize }}</span>
                        <span *ngIf="!smsTemplate.id">{{ 'CreateNewSmsTemplates' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving"></button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="modal-white-box">
                                <h3 class="d-flex align-items-center"><i class="las la-comment fs-1 me-2"></i>SMS Content</h3>
                                <div class="form-group mb-4">
                                    <label for="SmsTemplate_Name">{{l("Name")}} *</label>
                                    <input type="text" #SmsTemplate_Name="ngModel" id="SmsTemplate_Name" class="form-control" [(ngModel)]="smsTemplate.name" name="Name" required />
                                    <validation-messages [formCtrl]="SmsTemplate_Name"></validation-messages>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <label for="Organization" class="mb-3">{{ 'Organization List' | localize }} *</label>
                                        <ng-select class="form-control selectble" [items]="organizationList" [multiple]="false" bindLabel="displayName" required [closeOnSelect]="false" bindValue="id" placeholder="Select Organization" [(ngModel)]="smsTemplate.organizationUnitId" name="OrgnazitionListData">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="SmsTemplate_Id">{{l("SMS TempId")}} *</label>
                                    <input type="text" #SmsTemplate_ID="ngModel" id="SmsTemplate_Id" class="form-control" [(ngModel)]="smsTemplate.providerTemp_Id" name="SmsTemplate_Id" required />
                                    <validation-messages [formCtrl]="SmsTemplate_ID"></validation-messages>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="SmsTemplate_Text">{{l("Text")}} *</label>
                                    <textarea type="text" rows="9" #SmsTemplate_Text="ngModel" id="SmsTemplate_Text" class="form-control" [(ngModel)]="smsTemplate.text" name="Text" (keyup)="countCharcters()" required></textarea>
                                    <validation-messages [formCtrl]="SmsTemplate_Text"></validation-messages>
                                </div>

                                <div class="d-flex align-items-center mt-1">
                                    <span class="d-flex align-items-center me-3"><span class="me-1"><b>Total: </b></span> <span class="badge badge-success">{{total}}</span></span>
                                    <span class="d-flex align-items-center"><span class="me-1"><b>Credit: </b></span> <span class="badge badge-danger">{{credit}}</span></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="modal-white-box">
                                <h3 class="d-flex align-items-center"><i class="las la-tags fs-1 me-2"></i>Custom Tags</h3>
                                <div class="form-group mb-4">
                                    <!-- <div class="kt-radio-inline"> -->
                                    <select (change)="onTagChange($event)" class="form-control">
                                        <option value="0">CustomeTags</option>
                                        <option value="1">Name</option>
                                        <option value="2">Mobile</option>
                                        <option value="3">Phone</option>
                                        <option value="4">Email</option>
                                        <option value="5">Address</option>
                                    </select>
                                </div>

                                <div class="form-group mb-4">
                                    <!-- <div class="kt-radio-inline"> -->
                                    <select (change)="onTagChange($event)" class="form-control">
                                        <option value="0">SalesRep Tags</option>
                                        <option value="6">SalesRep Name</option>
                                        <option value="7">SalesRep Mobile</option>
                                        <option value="8">SalesRep Email</option>
                                    </select>
                                </div>

                                <div class="form-group mb-4">
                                    <select (change)="onTagChange($event)" class="form-control">
                                        <option value="0">Quote</option>
                                        <option value="10">System Capacity</option>
                                        <option value="11">All product Item</option>
                                        <option value="12">Total Quote price</option>
                                        <option value="13">Installation Date</option>
                                        <option value="14">Installer Name</option>
                                    </select>
                                </div>

                                <div class="form-group mb-4">
                                    <select (change)="onTagChange($event)" class="form-control">
                                        <option value="0">Freebies</option>
                                        <option value="15">Transport Company</option>
                                        <option value="16">Transport Link</option>
                                        <option value="17">Dispatched Date</option>
                                        <option value="18">Tracking No</option>
                                        <option value="19">Promo Type</option>
                                    </select>
                                </div>

                                <div class="form-group mb-4">
                                    <select (change)="onTagChange($event)" class="form-control">
                                        <option value="0">User</option>
                                        <option value="20">User Name</option>
                                        <option value="21">User Mobile</option>
                                        <option value="22">User Email</option>
                                        <option value="23">Owning</option>
                                    </select>
                                </div>

                                <div class="form-group mb-4">
                                    <select (change)="onTagChange($event)" class="form-control">
                                        <option value="0">Organization</option>
                                        <option value="24">Organization Name</option>
                                        <option value="25">Organization Email</option>
                                        <option value="26">Organization Mobile</option>
                                        <option value="27">Organization Logo</option>
                                    </select>
                                </div>

                                <div class="form-group mb-0">
                                    <select (change)="onTagChange($event)" class="form-control">
                                        <option value="0">Review</option>
                                        <option value="28">Review Link </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!smsTemplateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>