<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving"></button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h6>{{l("Name")}} :</h6>
                            {{ item.smsTemplate.name }}
                        </div>
                        <div class="col-12">
                            <h6>{{l("Text")}} :</h6>
                            <textarea type="text" #SmsTemplate_Text="ngModel" rows="8" id="SmsTemplate_Text" class="form-control" [(ngModel)]="item.smsTemplate.text" name="Text"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn  btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{l("Close")}}
                </button>
            </div>
        </div>
    </div>

</div>