<div [@routerTransition]>
    <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between leaddtltitle">
        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between" style="width:100%;">
            <h3 class="me-3">Document</h3>
            <div class="align-items-center d-flex">
                <button class="btn btn-primary btn-sm me-3" (click)="addDocumentModal()"><i
                        class="las la-plus-circle"></i>Add</button>
                <button type="button" class="btn btn-primary btn-sm" aria-haspopup="true" aria-expanded="false"
                    (click)="getDocumentRequestModal()">
                    <i class="las la-file-alt"></i>Document Request
                </button>

            </div>
        </div>
    </div>
    <div class="grid-container secondary-grid">
        <div class="align-items-center">
            <!--<Primeng-TurboTable-Start>-->
            <div class="primeng-datatable-container">
                <p-table #dataTable sortMode="multiple" (onLazyLoad)="getLeadDocument($event)"
                    [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                    [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                    scrollDirection="horizontal" [responsive]="primengTableHelper.isResponsive"
                    [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both" [scrollable]="true"
                    styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    selectionMode="single" [selection]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center" style="width:8%; display:none;" [hidden]="
                                        !(
                                            [
                                                'Pages.Tenant.DataVaults.Teams.Edit',
                                                'Pages.Tenant.DataVaults.Teams.Delete'
                                            ] | permissionAny
                                        )
                                    ">
                                {{ 'Actions' | localize }}
                            </th>
                            <th style="width: 150px" pSortableColumn="name">
                                {{ 'Document Name' | localize }}
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th style="width: 200px" pSortableColumn="documentNumber">
                                {{ 'Document Number' | localize }}
                                <p-sortIcon field="createdDate"></p-sortIcon>
                            </th>
                            <!-- <th style="width: 23%" pSortableColumn="isActive">
                                {{ 'Document Attached' | localize }}
                                <p-sortIcon field="isActive"></p-sortIcon>
                            </th> -->
                            <th style="width: 200px" pSortableColumn="leadDocumentPath">
                                {{ 'Uploaded DateTime' | localize }}
                                <p-sortIcon field="isActive"></p-sortIcon>
                            </th>
                            <th style="width:115px;">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                        <tr [pSelectableRow]="record">
                            <td class="text-center" style="width:8%; display:none;" [hidden]="!(
                                            [
                                                'Pages.Tenant.DataVaults.Teams.Edit',
                                                'Pages.Tenant.DataVaults.Teams.Delete'
                                            ] | permissionAny )">
                                <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                    <button id="dropdownButton" type="button"
                                        class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle
                                        aria-controls="dropdownMenu">
                                        <i class="las la-ellipsis-v"></i>
                                        <!-- <span class="caret"></span>
                                            {{ 'Actions' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu
                                        aria-labelledby="dropdownButton">
                                        <li *ngIf="'Pages.Tenant.DataVaults.Teams.Delete' | permission" role="menuitem">
                                            <a href="javascript:;" class="dropdown-item"
                                                (click)="deleteDocument(record.documentList)">
                                                <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td style="width: 150px">
                                <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.documentList.title
                                }}
                            </td>
                            <td style="width: 200px">
                                <!-- {{ 'Document Number' | localize }} -->
                                <span class="badge badge-secondary">{{ record.documentList.documentNumber }}</span>
                            </td>
                            <!-- <td style="width: 23%">
                                <span class="p-column-title">{{ 'Document Attached' | localize }}</span>
                                <a (click)="downfile(record.documentList.leadDocumentPath)" class="btndownloaddocument align-items-center d-flex">
                                    <i class="las la-external-link-square-alt fs-2"></i> Open
                                </a>
                            </td> -->
                            <td style="width: 200px">
                                <span class="p-column-title">{{ 'Uploaded Date' | localize }}</span> {{
                                record.documentList.createdDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                            </td>
                            <td style="width:115px;">
                                <div
                                    class="d-flex align-items-center {{record.documentList.leadDocumentPath.split('.').pop()}} open-doc">
                                    <a (click)="downfile(record.documentList.leadDocumentPath)"
                                        class="btndownloaddocument me-2 tooltipcnt dynamic-link pdf"
                                        tooltipPosition="bottom" pTooltip="Open {{ 'Document Attached' | localize }}">
                                        <i class="las la-file-pdf fs-1 text-primary"></i>
                                    </a>
                                    <a (click)="downfile(record.documentList.leadDocumentPath)"
                                        class="btndownloaddocument me-2 tooltipcnt dynamic-link png"
                                        tooltipPosition="bottom" pTooltip="Open {{ 'Document Attached' | localize }}">
                                        <i class="las la-image fs-1 text-primary"></i>
                                    </a>
                                    <a (click)="downfile(record.documentList.leadDocumentPath)"
                                        class="btndownloaddocument me-2 tooltipcnt dynamic-link jpg"
                                        tooltipPosition="bottom" pTooltip="Open {{ 'Document Attached' | localize }}">
                                        <i class="las la-image fs-1 text-primary"></i>
                                    </a>
                                    <a (click)="downfile(record.documentList.leadDocumentPath)"
                                        class="btndownloaddocument me-2 tooltipcnt dynamic-link doc"
                                        tooltipPosition="bottom" pTooltip="Open {{ 'Document Attached' | localize }}">
                                        <i class="las la-file-word fs-1 text-primary"></i>
                                    </a>
                                    <a href="javascript:;" class="btndownloaddocument tooltipcnt"
                                        (click)="deleteDocument(record.documentList)"
                                        *ngIf="'Pages.Tenant.DataVaults.Teams.Delete' | permission" role="menuitem"
                                        tooltipPosition="bottom" pTooltip="{{ 'Delete' | localize }}">
                                        <i class="las la-trash fs-1 text-danger"></i>
                                        <!-- {{ 'Delete' | localize }} -->
                                    </a>
                                </div>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{ 'NoData' | localize }}
                </div>
                <div class="primeng-paging-container ">
                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage " #paginator
                        (onPageChange)="getLeadDocument($event) " [totalRecords]="primengTableHelper.totalRecordsCount "
                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage
                                    " [showCurrentPageReport]="true "
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records ">
                    </p-paginator>
                </div>
            </div>
            <!--<Primeng-TurboTable-End>-->
        </div>

    </div>

    <div appBsModal #createOrEditDocumentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form *ngIf="active" #LeadDocumentForm="ngForm" novalidate autocomplete="off" (ngSubmit)="save()">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>{{ 'Add Documents' | localize }}</span>
                        </h4>
                        <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')">
                        </button>
                    </div>
                    <div class="modal-body modal-bg-gray">
                        <div class="modal-white-box">
                            <div class="row">
                                <input type="hidden" name="leadId" #leadId="ngModel" [(ngModel)]="LeadDocument.leadId">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="Name" class="form-label">{{ 'Document Name' | localize }} *</label>
                                        <select name="documentId" #documentId="ngModel" (change)="changeurl($event)"
                                            required class="form-control" id="selectDocumentId"
                                            [(ngModel)]="LeadDocument.documentId" style="padding:0 10px; height:41px;">
                                            <option [ngValue]="undefined">Select DocumentName</option>
                                            <option *ngFor="let item of documentListname" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="Name" class="form-label">{{ 'Document Number' | localize }}
                                            *</label>
                                        <input id="Name" [(ngModel)]="LeadDocument.documentNumber" name="documentNumber"
                                            #documentNumber="ngModel" type="text" required class="form-control" required
                                            maxlength="256" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="d-flex align-items-center mt-7">
                                            <span class="d-flex align-items-center">Max File Size : <span
                                                    class="badge badge-danger mx-2">{{FileSizeReq +
                                                    StorageUnit}}</span></span>
                                            <span class="px-8 text-secondary">|</span>
                                            <span
                                                class="d-flex align-items-center file-format {{FileFormate.split('.').pop()}}">File
                                                Format :
                                                <span class="badge badge-secondary mx-2">{{FileFormate}}</span>
                                                <!-- <span class="badge badge-secondary mx-2 file-ext pdf"><i class="las la-file-pdf fs-1 text-primary"></i></span>
                                            <span class="badge badge-secondary mx-2 file-ext png"><i class="las la-image fs-1 text-primary"></i></span>
                                            <span class="badge badge-secondary mx-2 file-ext doc"><i class="las la-file-word fs-1 text-primary"></i></span> -->
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <div class="custom-upload fix-height">
                                            <label>
                                                <div class="custom-file custom-upload mt-0">
                                                    <input type="file" id="uploadPicture" #uploadPicture required
                                                        [(ngModel)]="LeadDocument.docfile" name="docfile"
                                                        #docfile="ngModel"
                                                        (change)="handleFileInput($event.target.files)">
                                                    <label for="uploadPicture" class="custom-file-label"></label>
                                                </div>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="close()">
                            <i class="las la-times-circle"></i>
                            {{ 'Cancel' | localize }}
                        </button>
                        <button type="submit" class="btn btn-primary" [disabled]="!LeadDocumentForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="saveLeadDocument()">
                            <i class="las la-save"></i>
                            <span>{{ 'Save' | localize }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<documentRequestModal #documentRequestModal (modalSave)="getLeadDocument()"></documentRequestModal>