<style>
    .ng-select {
        padding-top: 7px !important;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #documentListForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="documentList.id">{{ 'EditDocumentList' | localize }}</span>
                        <span *ngIf="!documentList.id">{{ 'CreateNewDocumentList' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group form-icon">
                                    <label for="Name" class="form-label"><strong>{{ 'Name' | localize }} *</strong></label>
                                    <input id="Name" [(ngModel)]="documentList.name" type="text" name="Name" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-file-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group form-icon">
                                    <label for="ShortName" class="form-label">{{ 'ShortName' | localize }} </label>
                                    <input id="ShortName" [(ngModel)]="documentList.documentShortName" type="text" name="ShortName" class="form-control" maxlength="50" />
                                    <span class="icon-box"><i class="las la-file-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group form-icon">
                                    <label for="Document Size" class="form-label"><strong>{{ 'Document Size' | localize }} *</strong></label>
                                    <input id="Size" [(ngModel)]="documentList.documenSize" type="text" name="Size" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-database"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="Document Formate" class="form-label"><strong>{{ 'Document Formate' | localize }} *</strong></label>
                                    <ng-select [items]="DocumentFormateList" [multiple]="true" bindLabel="name" [closeOnSelect]="false" placeholder="Select Document Formate" [(ngModel)]="DocFormateArray" name="documenFormate" class="form-control">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.name}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-check form-check-custom form-check-solid py-1">
                                    <input id="EditDocumentList_isATFlag" type="checkbox" name="documentListIsATFlag"
                                        [(ngModel)]="documentList.isATFlag" class="form-check-input" />
                                    <span class="form-check-label">{{ 'IsATFlag' | localize }}</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label class="form-check form-check-custom form-check-solid py-1">
                                    <input id="EditDocumentList_IsActive" type="checkbox" name="documentListIsActive"
                                        [(ngModel)]="documentList.isActive" class="form-check-input" />
                                    <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                                </label>
                            </div>
                            <div class="col-md-6 mb-6">
                                <div class="form-group form-icon">
                                    <label for="documentListDocumenStorageUnit" class="form-label">Documen Storage Unit</label>
                                    <select class="form-control" id="EditDocumentList_DocumenStorageUnit" name="documentListDocumenStorageUnit" [(ngModel)]="documentList.documenStorageUnit" required>
                                        <option [ngValue]="undefined" selected>Select Documen Storage Unit</option>
                                        <option value="KB">KB</option>
                                        <option value="MB">MB</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-file-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!documentListForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>