<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'DocumentList' | localize" [count]="recordCount" [description]="'DocumentListHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getDocumentList()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.DocumentList.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="far fa-file-excel"></i>
                                        {{ 'ExcelOperations' | localize }} -->
                                        <!-- <i class="las la-file-excel"></i>  -->Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportDocumentListToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i>
                                                {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button (click)="createDocumentList()" *ngIf="'Pages.Tenant.DataVaults.DocumentList.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                            <!-- <i class="fa fa-plus"></i>
                            {{ 'CreateNewDocument' | localize }} -->
                        </button>
                            </div>
                            <div class="me-0">
                                <form class="form searchclearbox" autocomplete="new-password">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getDocumentList()"><i class="fas fa-times-circle"></i></a>
                                        <button (click)="getDocumentList()" class="btn search-btn" type="submit">
                                            <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getDocumentList($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center actionwidth" style="width:90px;" [hidden]="
                                                !(
                                                    [
                                                        'Pages.Tenant.DataVaults.DocumentList.Edit',
                                                        'Pages.Tenant.DataVaults.DocumentList.Delete'
                                                    ] | permissionAny
                                                )
                                            ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 250px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="name">
                                        {{ 'ShortName' | localize }}
                                        <p-sortIcon field="documentShortName"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="documenFormate">
                                        {{ 'Document Formate' | localize }}
                                        <p-sortIcon field="documenFormate"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="documenSize">
                                        {{ 'Document Size' | localize }}
                                        <p-sortIcon field="documenSize"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="documenStorageUnit">
                                        {{ 'Storage Unit' | localize }}
                                        <p-sortIcon field="documenStorageUnit"></p-sortIcon>
                                    </th>
                                    <th style="width: 320px" pSortableColumn="createdDate">
                                        {{ 'CreatedDate' | localize }}
                                        <p-sortIcon field="CreationTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 140px" pSortableColumn="IsATFlag">
                                        {{ 'IsATFlag' | localize }}
                                        <p-sortIcon field="IsATFlag"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width:90px;" [hidden]="!(
                                                    [
                                                        'Pages.Tenant.DataVaults.DocumentList.Edit',
                                                        'Pages.Tenant.DataVaults.DocumentList.Delete'
                                                    ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                                    <i class="las la-ellipsis-v"></i>
                                                </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.DocumentList.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditDocumentListModal.show(record.documentList.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.DocumentList.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteDocumentList(record.documentList)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.documentList.name }}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'ShortName' | localize }}</span> {{ record.documentList.documentShortName }}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'Document Formate' | localize }}</span> {{ record.documentList.documenFormate }}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'Document Size' | localize }}</span> {{ record.documentList.documenSize }}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'Storage Unit' | localize }}</span> {{ record.documentList.documenStorageUnit }}
                                    </td>
                                    <td style="width: 320px">
                                        <span class="p-column-title">{{ 'createdDate' | localize }}</span>
                                        <span class="badge badge-secondary">{{ record.documentList.createdDate | luxonFormat: 'F' }}</span>
                                    </td>
                                    <td style="width: 140px">
                                        <span class="p-column-title">{{ 'IsATFlag' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.documentList.isATFlag">
                                                {{ 'Yes' | localize }}
                                            </span>
                                        <span class="badge badge-dark" *ngIf="!record.documentList.isATFlag">
                                                {{ 'No' | localize }}
                                            </span>
                                    </td>
                                    <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.documentList.isActive">
                                                {{ 'Yes' | localize }}
                                            </span>
                                        <span class="badge badge-dark" *ngIf="!record.documentList.isActive">
                                                {{ 'No' | localize }}
                                            </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getDocumentList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>

            </div>
        </div>

        <!-- <createOrEditDocumentListModal #createOrEditDocumentListModal (modalSave)="getDocumentList()"></createOrEditDocumentListModal> -->
        <!-- 
        <editUserPermissionsModal #editUserPermissionsModal></editUserPermissionsModal>
        <dynamic-entity-property-manager #dynamicEntityPropertyManager></dynamic-entity-property-manager> -->
        <createOrEditDocumentListModal #createOrEditDocumentListModal (modalSave)="getDocumentList()"></createOrEditDocumentListModal>
    </div>
</div>