<div appBsModal #tenantChangeModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tenantChangeModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #changeTenantForm="ngForm" novalidate (ngSubmit)="save()" class="form form-label-right">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'ChangeTenant' | localize }}</span>
                    </h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="close()"></button>
                </div>

                <div class="modal-body">
                    <div class="row text-left mb-0">
                        <label class="col-4 col-form-label">{{ 'SwitchToTenant' | localize }}</label>
                        <div class="col">
                            <label class="form-check form-check-custom form-check-solid form-switch py-3">
                                <input
                                    type="checkbox"
                                    name="SwitchToTenant"
                                    [(ngModel)]="isSwitchToTenant"
                                    class="form-check-input"
                                    value="{{ isSwitchToTenant ? 'true' : 'false' }}"
                                    checked="checked"
                                    (change)="switchToTenant($event)"
                                />
                            </label>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <label class="col-4 col-form-label">
                            <label>{{ 'TenancyName' | localize }}</label>
                        </label>
                        <label class="col">
                            <input
                                #tenancyNameInput="ngModel"
                                type="text"
                                id="tenancyNameInput"
                                name="tenancyNameInput"
                                class="form-control"
                                [ngClass]="{ edited: tenancyName }"
                                [(ngModel)]="tenancyName"
                                [disabled]="!isSwitchToTenant"
                                required
                                placeholder="{{ isSwitchToTenant ? ('EnterTenancyName' | localize) : '' }}"
                                maxlength="64"
                            />

                            <span
                                *ngIf="isSwitchToTenant && !tenancyNameInput.pristine && !tenancyName"
                                class="form-text text-danger text-left"
                            >
                                {{ 'TenancyNameRequired' | localize }}
                            </span>
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger font-weight-bold" (click)="close()" style="height: 40px !important; width: auto !important; padding: 0 20px !important; border-radius: 5px !important; font-size: 1rem !important;
                    font-weight: normal;">
                        <i class="las la-times-circle" style="margin-top:-2px;"></i>
                        {{ 'Cancel' | localize }}
                    </button>

                    <button type="submit" class="btn btn-primary font-weight-bold save-button" [disabled]="!changeTenantForm.form.valid" [buttonBusy]="saving" [busyText]="l('ProcessingWithThreeDot')" style="height: 40px !important; width: auto !important; padding: 0 20px !important; border-radius: 5px !important; font-size: 1rem !important;
                    font-weight: normal;">
                        <i class="las la-check"></i>
                        <span>{{ submitButtonText }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>