<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" (onShown)="shown()" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{ 'SelectRoles' | localize }}</span>
                </h5>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
            </div>

            <div class="modal-body modal-bg-gray">
                <form novalidate (ngSubmit)="refreshTable()" autocomplete="new-password">
                    <div class="modal-white-box mt-0">
                        <div class="searchclearbox">
                            <div class="input-group">
                                <input autoFocus [(ngModel)]="filterText" name="filterText" class="form-control" placeholder="{{ 'SearchWithThreeDot' | localize }}" type="text" style="height: 35px; border-right: 0; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                                />
                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getRecordsIfNeeds($event)"><i class="fas fa-times-circle"></i></a>
                                <button (click)="getRecordsIfNeeds($event)" class="btn btn-primary" type="submit" style="border-left:0 !important; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;">
                                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                </button>
                                <!-- <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                    </button>
                                </div> -->
                            </div>
                        </div>
                    </div>


                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container scroll-table" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getRecordsIfNeeds($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive" [(selection)]="selectedRoles"
                            selectionMode="multiple">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 38px">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th>
                                        {{ 'Name' | localize }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width: 38px">
                                        <p-tableCheckbox [value]="record" (click)="$event.stopPropagation()"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.name }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getRecordsIfNeeds($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </form>
            </div>

            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                <button class="btn btn-primary font-weight-bold" (click)="addRolesToOrganizationUnit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" [disabled]="!selectedRoles?.length">
                    <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>