<style>
    .form-icon .icon-box {
        top: 34px !important;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="organizationUnit.id">
                            {{ 'Edit' | localize }}: {{ organizationUnit.displayName }}
                        </span>
                        <span *ngIf="!organizationUnit.id">{{ 'NewOrganizationUnit' | localize }}</span>
                    </h5>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>

                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                        <tabset class="tab-container">
                            <tab heading="{{ 'General' | localize }}" [active]="true">
                                <div class="tab-content px-6">
                                    <div class="row">
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon">
                                                <label class="form-label" for="OrganizationUnitDisplayName">{{ 'Name' |
                                                    localize }} *</label>
                                                <input id="OrganizationUnitDisplayName" #organizationUnitDisplayName="ngModel" class="form-control" type="text" name="displayName" [ngClass]="{'edited': organizationUnit.displayName}" [(ngModel)]="organizationUnit.displayName" required maxlength="128">
                                                <span class="icon-box"><i class="las la-building"></i></span>
                                                <validation-messages [formCtrl]="organizationUnitDisplayName">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                <label class="form-label" for="OrganizationOrganizationCode">{{"OrganizationCode" |
                                                    localize}} *</label>
                                                <input id="OrganizationOrganizationCode" #OrganizationOrganizationCode="ngModel" class="form-control" type="text" name="OrganizationCode" [ngClass]="{'edited': organizationUnit.organizationCode}" [(ngModel)]="organizationUnit.organizationCode" required
                                                    maxlength="4">
                                                <span class="icon-box"><i class="las la-code-branch"></i></span>
                                                <validation-messages [formCtrl]="OrganizationOrganizationCode">
                                                </validation-messages>
                                            </div>
                                        </div>

                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                <label class="form-label" for="organizationProjectId">{{"ProjectId" | localize}}
                                                    *</label>
                                                <input id="organizationProjectId" #organizationProjectId="ngModel" class="form-control" type="number" name="projectId" [ngClass]="{'edited': organizationUnit.projectId}" [(ngModel)]="organizationUnit.projectId" required maxlength="6" minlength="6">
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="organizationProjectId">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                <label class="form-label" for="gstNumber">{{"GST Number" | localize}}
                                                    *</label>
                                                <input id="gstNumber" #gstNumber="ngModel" class="form-control" type="text" name="gstNumber" [ngClass]="{'edited': organizationUnit.gstNumber}" [(ngModel)]="organizationUnit.gstNumber" required>
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="gstNumber">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                <label class="form-label" for="panNumber">{{"PAN Number" | localize}}
                                                    *</label>
                                                <input id="panNumber" #panNumber="ngModel" class="form-control" type="text" name="panNumber" [ngClass]="{'edited': organizationUnit.panNumber}" [(ngModel)]="organizationUnit.panNumber">
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="panNumber">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                <label class="form-label" for="cinNumber">{{"CIN Number" | localize}}
                                                    *</label>
                                                <input id="cinNumber" #cinNumber="ngModel" class="form-control" type="text" name="cinNumber" [ngClass]="{'edited': organizationUnit.cinNumber}" [(ngModel)]="organizationUnit.cinNumber">
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="cinNumber">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                <label class="form-label" for="organizationemail">Email</label>
                                                <input id="organizationemail" #organizationemail="ngModel" class="form-control" type="text" name="email" [ngClass]="{'edited': organizationUnit.email}" [(ngModel)]="organizationUnit.email">
                                                <span class="icon-box"><i class="las la-envelope"></i></span>
                                                <validation-messages [formCtrl]="organizationemail">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                <label class="form-label" for="organizationMobile">MobileNo</label>
                                                <input id="organizationMobile" #organizationMobile="ngModel" class="form-control" type="text" name="mobile" [ngClass]="{'edited': organizationUnit.mobile}" [(ngModel)]="organizationUnit.mobile">
                                                <span class="icon-box"><i class="las la-mobile"></i></span>
                                                <validation-messages [formCtrl]="organizationMobile">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <div class="form-group">
                                                <label class="form-label" for="organizationAddress">Website </label>
                                                <input id="organizationWebsite" #organizationWebsite="ngModel" class="form-control" type="text" name="Website" [ngClass]="{'edited': organizationUnit.website}" [(ngModel)]="organizationUnit.website">
                                                <validation-messages [formCtrl]="organizationWebsite">
                                                </validation-messages>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4">
                                            <div class="form-group">
                                                <label class="form-label" for="organizationAddress">Address </label>
                                                <textarea id="organizationAddress" #organizationAddress="ngModel" rows="4" class="form-control" name="address" [ngClass]="{'edited': organizationUnit.address}" [(ngModel)]="organizationUnit.address"></textarea>
                                                <!-- <input id="organizationAddress" #organizationAddress="ngModel" class="form-control" type="text" name="address" [ngClass]="{'edited': organizationUnit.address}" [(ngModel)]="organizationUnit.address"> -->
                                                <validation-messages [formCtrl]="organizationAddress">
                                                </validation-messages>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <!-- <label for="Notes">{{l("File")}}</label>
                                                <div class="upload_area">
                                                    <span class="control-fileupload"> -->
                                                <label class="form-label" for="file">Choose a file :</label>
                                                <!-- <input type="file" (change)="fileChangeEvent($event)" #fileInput
                                                    accept=".pdf" /> -->
                                                <div class="custom-file custom-upload mt-0 mb-2">
                                                    <input type="file" id="uploadPicture" (change)="fileChangeEvent($event)" #fileInput><label for="uploadPicture" class="custom-file-label"></label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-8 mb-5">
                                            <img style="border:2px solid #dee2e6; padding:10px; border-radius:5px; max-width:550px;" id="qrimg" name="" src="{{QrgImgPath}}">
                                        </div>

                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ 'Email (SMTP)' | localize }}">
                                <div class="tab-content px-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <label class="form-label" for="DefaultFromAddress">Default From (Sender)
                                                    Email Address</label>
                                                <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" class="form-control emailbox" [ngClass]="{'edited':organizationUnit.defaultFromAddress}" [(ngModel)]="organizationUnit.defaultFromAddress" maxlength="128" />
                                                <span class="icon-box"><i class="las la-envelope"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <label class="form-label" for="DefaultFromDisplayName">Default From (Sender)
                                                    Display Name</label>
                                                <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control" [ngClass]="{'edited':organizationUnit.defaultFromDisplayName}" [(ngModel)]="organizationUnit.defaultFromDisplayName" maxlength="128">
                                                <span class="icon-box"><i class="las la-envelope"></i></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ 'SMS' | localize }}">
                                <div class="tab-content px-6">
                                    <h3 class="mb-5">Phone Dynamics Settings</h3>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group form-icon">
                                                <label class="form-label" for="authorizationKey">{{"AuthorizationKey *" | localize}}
                                                    </label>
                                                <input id="authorizationKey" #authorizationKey="ngModel" class="form-control" type="text" name="authorizationKey" [ngClass]="{'edited': organizationUnit.sms_authorizationKey}" [(ngModel)]="organizationUnit.sms_authorizationKey">
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="authorizationKey">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group form-icon">
                                                <label class="form-label" for="clientId">{{"ClientID *" | localize}}
                                                    </label>
                                                <input id="clientId" #clientId="ngModel" class="form-control" type="text" name="clientId" [ngClass]="{'edited': organizationUnit.sms_clientId}" [(ngModel)]="organizationUnit.sms_clientId">
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="clientId">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group form-icon">
                                                <label class="form-label" for="senderId">{{"SenderID *" | localize}}
                                                    </label>
                                                <input id="senderId" #senderId="ngModel" class="form-control" type="text" name="senderId" [ngClass]="{'edited': organizationUnit.sms_senderId}" [(ngModel)]="organizationUnit.sms_senderId">
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="senderId">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group form-icon">
                                                <label class="form-label" for="smsurl">{{"SMS URL *" | localize}}
                                                    </label>
                                                <input id="smsurl" #msgType="ngModel" class="form-control" type="text" name="msgType" [ngClass]="{'edited': organizationUnit.sms_msgType}" [(ngModel)]="organizationUnit.sms_msgType">
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                <validation-messages [formCtrl]="msgType">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{ 'Bank Details' | localize }}">
                                <div class="tab-content px-6">
                                    <div class="">
                                        <div class="row mb-6" *ngFor="let item of OrgBankDetails; let i = index">
                                            <div class="col-md-4 mb-5">
                                                <div class="form-group form-icon">
                                                    <label class="form-label" for="">Bank Name</label>{{item.orgBankName}}
                                                    <input id="" class="form-control" type="text" name="bankName{{i}}" #bankName="ngModel" [(ngModel)]="item.orgBankName" />
                                                    <span class="icon-box"><i class="las la-university"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="form-group form-icon">
                                                    <label class="form-label" for="">Branch Name</label>
                                                    <input id="" class="form-control" type="text" name="branchName{{i}}" #branchName="ngModel" [(ngModel)]="item.orgBankBrachName" />
                                                    <span class="icon-box"><i class="las la-university"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="form-group form-icon">
                                                    <label class="form-label" for="">Bank Account Number</label>
                                                    <input id="" class="form-control" type="text" name="accountNo{{i}}" #accountNo="ngModel" [(ngModel)]="item.orgBankAccountNumber" />
                                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="form-group form-icon">
                                                    <label class="form-label" for="">Branch Account Holder Name</label>
                                                    <input id="" class="form-control" type="text" name="holderName{{i}}" #holderName="ngModel" [(ngModel)]="item.orgBankAccountHolderName" />
                                                    <span class="icon-box"><i class="las la-user"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="form-group form-icon">
                                                    <label class="form-label" for="">IFSC Code</label>
                                                    <input id="" class="form-control" type="text" name="IfscCode{{i}}" #IfscCode="ngModel" [(ngModel)]="item.orgBankIFSC_Code" />
                                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="action-btn" style="margin-top:35px;">
                                                    <a class="" [hidden]="OrgBankDetails.length != 1" (click)="AddnewBank()">
                                                        <i class="las la-plus-circle text-primary"></i>
                                                    </a>
                                                </div>
                                                <!-- <span class="clickable-item btn btn-primary outline" [hidden]="OrgBankDetails.length != 1" (click)="AddnewBank()">
                                                    <i class="las la-plus-circle fs-1"></i> Add Another Bank
                                                </span> -->
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="mt-6 py-5" style="border-top:1px solid #ddd;" [hidden]="!newBank">
                                        <div class="row">
                                            <div class="col-md-6 mb-5">
                                                <div class="form-group">
                                                    <label for="">Bank Name</label>
                                                    <input id="" class="form-control" type="text" name="" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <div class="form-group">
                                                    <label for="">Branch Name</label>
                                                    <input id="" class="form-control" type="text" name="" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <div class="form-group">
                                                    <label for="">Bank Account Number</label>
                                                    <input id="" class="form-control" type="text" name="" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <div class="form-group">
                                                    <label for="">Branch Account Holder Name</label>
                                                    <input id="" class="form-control" type="text" name="" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <div class="form-group">
                                                    <label for="">IFSC Code</label>
                                                    <input id="" class="form-control" type="text" name="" />
                                                </div>
                                            </div>
                                        </div>
                                        <button class="clickable-item btn btn-danger mt-3" *ngIf="newBank" (click)="newBank = !newBank">
                                            <i class="las la-times-circle fs-1"></i> Cancel
                                        </button>
                                    </div> -->

                                    <div class="mt-6 py-5" style="border-top:1px solid #ddd;">
                                        <div class="row">
                                            <div class="col-md-4 mb-5">
                                                <div class="form-group">
                                                    <label class="form-label" for="">QR Code</label>
                                                    <div class="custom-file custom-upload mt-0">
                                                        <input type="file" id="qrfile" (change)="fileChangeQrCodeEvent($event)" #QrfileInput><label for="" class="custom-file-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <img style="border:5px solid #dee2e6; padding:5px; border-radius:5px;" id="qrimg" name="" src="{{QrCodeImgPath}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!editForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>