<style>
    .org-add-btn {
        position: absolute;
        right: 0;
        top: -80px;
    }
</style>
<div class="row" style="position:relative;">
    <div class="org-add-btn">
        <button *ngIf="('Pages.Administration.OrganizationUnits.ManageMembers' | permission) && organizationUnit" (click)="openAddMemberModal()" class="btn btn-primary outline float-end">
            {{ 'Add' | localize }}
            <i class="las la-plus-circle"></i>
        </button>
    </div>
    <div class="col-12">
        <div id="OuMembersTable">
            <!--<Primeng-TurboTable-Start>-->
            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading" [hidden]="!organizationUnit">
                <p-table #dataTable sortMode="multiple" (onLazyLoad)="getOrganizationUnitUsers($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 15%" [hidden]="!('Pages.Administration.OrganizationUnits.ManageMembers' | permission)">
                                {{ 'Delete' | localize }}
                            </th>
                            <th pSortableColumn="userName">
                                {{ 'UserName' | localize }}
                                <p-sortIcon field="userName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="addedTime">
                                {{ 'AddedTime' | localize }}
                                <p-sortIcon field="addedTime"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                        <tr>
                            <td [hidden]="!('Pages.Administration.OrganizationUnits.ManageMembers' | permission)">
                                <button class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm" (click)="removeMember(record)" title="{{ 'Delete' | localize }}">
                                    <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                </button>
                            </td>
                            <td>
                                <span class="p-column-title">{{ 'UserName' | localize }}</span> {{ record.userName }}
                            </td>
                            <td>
                                <span class="p-column-title">{{ 'AddedTime' | localize }}</span> {{ record.addedTime | luxonFormat: 'F' }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{ 'NoData' | localize }}
                </div>
                <div class="primeng-paging-container">
                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getOrganizationUnitUsers($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                        [showCurrentPageReport]="true" [currentPageReportTemplate]="
                            'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                        "></p-paginator>
                </div>
            </div>
            <!--<Primeng-TurboTable-End>-->
        </div>
    </div>
</div>

<div *ngIf="!organizationUnit" class="text-muted">
    {{ 'SelectAnOrganizationUnitToSeeMembers' | localize }}
</div>

<addMemberModal #addMemberModal (membersAdded)="addMembers($event)"></addMemberModal>