<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <div class="py-2 py-lg-4 subheader subheader-solid">
                    <div class="align-items-center container-fluid d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="d-flex align-items-center flex-wrap me-2">
                            <h1 class="font-weight-bold mb-2 me-2 mt-2 text-dark ng-star-inserted">Cancel Leads</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getCancelledLead()"></button>
                            </div>
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                       Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>Roof solar LLP</option>
                                    <option>Solar Bridge</option>
                                </select>
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>All Lead Source</option>                                    
                                </select>
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>Select Cancel Reason</option>                                  
                                </select>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getCancelledLead()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getCancelledLead()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="me-2">
                                <button class="clickable-item btn btn-primary outline" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                                </button>
                                <button class="clickable-item btn btn-primary outline" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'HideAdvancedFilters' | localize }} -->
                                </button>
                            </div>
                            <div class="me-0">
                                <button class="clickable-item btn btn-primary outline" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData">
                                    <i class="las la-sliders-h"></i>
                                </button>
                                <button class="clickable-item btn btn-primary outline" *ngIf="FiltersData" (click)="FiltersData = !FiltersData">
                                    <i class="las la-sliders-h"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" [hidden]="!FiltersData">
            <div class="lead-data-box">
                <div class="box-item">
                    <h2>Total<span>10</span></h2>
                </div>
                <div class="box-item">
                    <h2>Google<span>2</span></h2>
                </div>
                <div class="box-item">
                    <h2>Facebook<span>0</span></h2>
                </div>
                <div class="box-item">
                    <h2>TV<span>1</span></h2>
                </div>
                <div class="box-item">
                    <h2>Referral<span>0</span></h2>
                </div>
                <div class="box-item">
                    <h2>Others<span>8</span></h2>
                </div>
            </div>
        </div>

        <div class="mb-4 filter-optionrow align-items-center lgfilter" [hidden]="!advancedFiltersAreShown">
            <div class="d-flex align-items-center">
                <div class="me-2">
                    <select name="SolarType" class="form-control">
                        <option value="">Select Organization</option>                        
                    </select>
                </div>
                <div class="me-2">
                    <select name="SolarType" class="form-control">
                        <option value="">Cancel Date</option>
                        <option value="">Creation Date</option>                        
                    </select>
                </div>
                <div class="me-2">
                    <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" autocomplete="off" id="SampleDateRangePicker" [(ngModel)]="sampleDateRange" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" />
                </div>
                <div class="me-0">
                    <button type="reset" class="btn btn-danger">{{l( "Clear")}}</button>
                    <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving...">Search</button>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="myleadtable">
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true">
                            <div class="grid-container no-wrapData">
                                <div class="primeng-datatable-container">
                                    <div class="p-datatable">
                                        <div class="p-datatable-wrapper">
                                            <table class="p-datatable-table">
                                                <thead class="p-datatable-thead">
                                                    <tr>
                                                        <th>Action</th>
                                                        <th>Customer</th>
                                                        <th>Organization</th>
                                                        <th>Lead Source</th>
                                                        <th>Email</th>
                                                        <th>Mobile</th>
                                                        <th>Address</th>
                                                        <th>Cancel Reason Name</th>
                                                        <th>Cancel Date</th>
                                                        <th>Note</th>
                                                        <th>Last Modified User</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="p-element p-datatable-tbody">
                                                    <tr>
                                                        <td></td>
                                                        <td>Nilesh Dhimar</td>
                                                        <td>Roof Solar LLP</td>
                                                        <td>SB Facebook</td>
                                                        <td>ndhimar2323@gmail.com</td>
                                                        <td>9812121212</td>
                                                        <td>
                                                            <span class="tooltipcnt" tooltipPosition="top" pTooltip="A-1 Hillspark Society, Navsari, Gujarat. 380505">
                                                                    A-1 Hillspark Society, Navsari, Gujarat. 380505
                                                                </span>
                                                        </td>
                                                        <td>No Roof Space</td>
                                                        <td>07-06-2022 12:15:19</td>
                                                        <td>CAN</td>
                                                        <td>Ravindra</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-Ends>-->
                </div>
            </div>
        </div>

    </div>
</div>