<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid pb-0">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <div class="py-2 py-lg-4 subheader subheader-solid">
                    <div class="align-items-center container-fluid d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="d-flex align-items-center flex-wrap me-2">
                            <h1 class="font-weight-bold mb-2 me-2 mt-2 text-dark ng-star-inserted">Installation Calendar</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <div class="btn-group" role="group">
                                    <button type="button" (click)="previousDate()" class="clickable-item btn btn-primary outline" style="border-width:1px 0 1px 1px !important; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"><i class="las la-angle-left"></i></button>
                                    <button type="button" (click)="nextDate()" class="clickable-item btn btn-primary outline" style="border-width:1px 1px 1px 1px !important; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;"><i class="las la-angle-right"></i></button>
                                </div>
                            </div>
                            <!-- <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getInstallationCalendar()"></button>
                            </div> -->

                            <!-- <div class="me-2">
                                <select class="form-control">
                                    <option>Project</option>
                                </select>
                            </div> -->
                            <div class="me-2">
                                <select name="InstallerUser" #InstallerInput="ngModel" [(ngModel)]="FilterInstallerID" class="form-control" id="selectInstallerId">
                                    <option [ngValue]="undefined" selected>Select Installer</option>
                                    <option *ngFor="let itempartner of drpInstallerUser"
                                        value="{{itempartner.id}}">
                                        {{itempartner.displayName}}
                                    </option>
                                </select>
                            </div>
                            <div class="me-2">
                                <select name="SubDivision" #SubDivisionInput="ngModel" [(ngModel)]="FilterSubDivisionID" class="form-control" id="selectSubDivisionId">
                                    <option [ngValue]="undefined" selected>Select Sub Division</option>
                                    <option *ngFor="let itempartner of drpSubDivision"
                                        value="{{itempartner.id}}">
                                        {{itempartner.displayName}}
                                    </option>
                                </select>
                            </div>

                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getInstallationCalendar()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInstallationCalendar()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getInstallationCalendar()" class="btn search-btn" type="submit">
                                    </button>
                                    <!-- <input name="filterText" autoFocus class="form-control m-input" type="text" placeholder="project number,customer name, mobile number" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInstallationCalendar()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getInstallationCalendar()" class="btn search-btn" type="submit">
                                    </button> -->
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                <div class="content-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="City"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Taluka"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="District (multiple choice)"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Discom (multiple choice)"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Circle (multiple choice)"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Division (multiple choice)"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Sub Division (multiple choice)"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"><input type="text" class="form-control" placeholder="Employee Name"></div>
                                        </div>
                                        <div class="d-flex mt-3 justify-content-end">
                                            <button type="reset" class="btn btn-danger"><i class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                            <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..."><i class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
        <div class="installation-main-box no-bg">
            <div class="installation-box">
                <div class="boxes" *ngFor="let item of InstallationList; let i = index">
                    <div class="header-row">
                        <h3>{{item.installationDate | luxonFormat: 'DDDD'}}</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pt-2 sub-title">
                        <div class="d-flex align-items-center">Job(s) - <span class="badge badge-pill badge-danger ms-1">{{item.jobs.length}}</span></div>
                        <!-- <div class="d-flex align-items-center">Project - <span class="badge badge-pill badge-danger ms-1">{{item.installationCount}}</span></div> -->
                    </div>
                    <div class="job-list">
                        <div class="job-box" *ngFor="let installData of item.jobs">
                            <div class="job-box-head">
                                <span class="f-16">{{installData.jobNumber}}</span>
                                <!-- <a href="javascript:void(0)"><i class="las la-file-alt text-primary fs-2"></i></a>  -->
                            </div>
                            <div class="job-details">
                                <div class="mb-3 d-flex medium">
                                    <i class="las la-user fs-2 me-1"></i> {{installData.customerName}}
                                </div>
                                <div class="mb-3 d-flex normal">
                                    <i class="las la-map-marker fs-1 me-1"></i>
                                    <div style="width: 190px; word-wrap: break-word;">{{installData.address}}</div>
                                </div>

                                <div style="border-top:1px solid #d2d2d9; padding-top:10px; ">
                                    <div class="mb-3 d-flex align-items-center medium">
                                        <i class="las la-user-cog fs-2 me-1"></i> {{installData.installerName}}
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center job-icons">
                                        <img src="../../../../assets/common/images/icon-panel.png" style="max-height:20px;">
                                        <img src="../../../../assets/common/images/icon-inverter.png" style="max-height:20px;">
                                        <img src="../../../../assets/common/images/icon-image.png" style="max-height:20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>