<div [@routerTransition] class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">
        <div id="kt_aside" [class]="ui.getLeftAsideClass()" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start"
            data-kt-drawer-toggle="#kt_aside_mobile_toggle" class="aside-hoverable">
            <default-brand></default-brand>
            <div class="aside-menu flex-column-fluid">
                <div id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0"
                    class="hover-scroll-overlay-y">
                    <side-bar-menu></side-bar-menu>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <div id="kt_header" class="header align-items-stretch aaaaa">
                <div class="{{ containerClass }} d-flex align-items-stretch justify-content-between">
                    <!-- begin mobile logo -->
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                        <default-logo [customHrefClass]="'d-lg-none'" [skin]="appSession.theme.baseSettings.layout.darkMode ? 'dark-sm': 'light-sm' "></default-logo>
                    </div>
                    <!-- end mobile logo -->

                    <div *ngIf="currentTheme.baseSettings.menu.allowAsideMinimizing" id="kt_aside_toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle pt-4 h-mobile">
                        <span class="toggle-left">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) "></path>
                                    <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) "></path>
                                </g>
                            </svg>
                        </span>

                        <span class="toggle-right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero"></path>
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                                </g>
                            </svg>
                        </span>

                        <!-- <i class="las la-bars"></i> -->
                    </div>

                    <!-- begin aside toggler -->
                    <div title="Show aside menu" class="d-flex align-items-center d-lg-none ms-n3 me-4">
                        <div id="kt_aside_mobile_toggle" class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px">
                            <i class="las la-bars f-28 text-dark"></i>
                        </div>
                    </div>
                    <!-- end aside toggler-->

                    <div *ngIf="currentTheme.baseSettings.menu.allowAsideMinimizing" id="topSearchbar" class="topSearchbar searchclearbox h-mobile">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Customer Name/Email/Mobile/Phone">
                            <button class="btn search-btn" type="button" id=""></button>
                        </div>
                    </div>


                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                            <div class="d-flex align-items-stretch" id="kt_header_nav"></div>
                            <div class="d-flex align-items-stretch flex-shrink-0">
                                <div class="d-flex align-items-stretch flex-shrink-0 top-actions">
                                    <active-delegated-users-combo *ngIf="!installationMode"></active-delegated-users-combo>
                                    <subscription-notification-bar></subscription-notification-bar>
                                    <quick-theme-selection></quick-theme-selection>
                                    <!-- <language-switch-dropdown></language-switch-dropdown> -->
                                    <header-notifications></header-notifications>
                                    <chat-toggle-button></chat-toggle-button>
                                    <user-menu></user-menu>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="currentTheme.baseSettings.menu.allowAsideMinimizing" id="topSearchbar" class="topSearchbar searchclearbox d-mobile">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Customer Name/Email/Mobile/Phone">
                    <button class="btn search-btn" type="button" id=""></button>
                </div>
            </div>

            <div style="flex: 1">
                <router-outlet></router-outlet>
            </div>
            <!-- <footer-bar></footer-bar> -->
        </div>
    </div>
</div>