<div class="content d-flex flex-column flex-column-fluid">
    <div class="filter-row">
<<<<<<< HEAD
        <div class="align-items-center d-flex">
            <div class="py-2 py-lg-4 subheader subheader-solid">
                <div class="align-items-center container-fluid d-flex flex-sm-nowrap flex-wrap justify-content-between">
                    <div class="d-flex align-items-center flex-wrap me-2">
                        <h1 class="font-weight-bold mb-2 me-2 mt-2 text-dark ng-star-inserted">Deposit Tracker (1)
                        </h1>
                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                            <button id="dropdownButton" type="button"
                                class="btn btn-primary info-btn btn-sm dropdown-toggle" dropdownToggle
                                aria-controls="dropdownMenu">
                                <i class="las la-question"></i>
                            </button>
                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu
                                aria-labelledby="dropdownButton">
                                <li role="menuitem">
                                    <div class="dropdown-item">System Size</div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">Structure Amount</div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">Sign Quotation</div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">
                                        Light Bill
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">
                                        Premises ownership document
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">
                                        Adharcard
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">
                                        Cancel Cheque
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">
                                        Passport Size Photo
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <div class="dropdown-item">
                                        Pancard (Mandatory in Torrent)
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
=======

        <div class="align-items-center d-flex justify-content-between full-width-mob">
            <div class="d-flex align-items-center flex-wrap justify-content-between full-width-mob">
                <sub-header [title]="'Deposite Tracker' | localize" [count]="recordCount" [description]="'DepositeTracker' | localize"></sub-header>
                <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                    <button id="dropdownButton" type="button" class="btn btn-primary info-btn btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                        <i class="las la-question"></i>
                    </button>
                    <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                        <li role="menuitem">
                            <div class="dropdown-item">System Size</div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">Structure Amount</div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">Sign Quotation</div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Light Bill
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Premises ownership document
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Adharcard
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Cancel Cheque
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Passport Size Photo
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Pancard (Mandatory in Torrent)
                            </div>
                        </li>
                    </ul>
>>>>>>> 46afe3db83c226ed46c5c26b87ff961b99af425b
                </div>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
        </div>


        <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
            <div class="container-fluid">
                <div class="form-body filter-options lead-filters">
                    <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="me-2">
                            <button name="RefreshButton" class="float-end refresh" (click)="getDepositeList()"></button>
                        </div>
                        <div class="me-2"
                            *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ExportToExcel')">
                            <div class="btn-group" dropdown placement="button right">
                                <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                    Export
                                </button>
                                <ul id="dropdownMenuExcelOperations"
                                    class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu"
                                    *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                    <li role="menuitem">
                                        <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton"
                                            (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="me-1">
                            <div *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                <div class="me-2" *ngIf="organizationUnitlength > 0">
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit"
                                        (change)="getDepositeList()">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="me-2">
                            <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName"
                                [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus"
                                [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                        name="item-{{index}}" /> {{item.displayName}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="me-2">
                            <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName"
                                [closeOnSelect]="false" bindValue="id" placeholder="All Application Status"
                                [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID"
                                class="form-control">
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                        name="item-{{index}}" /> {{item.displayName}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="me-2">
                            <select name="applicationstatusTrackerFilter" class="form-control"
                                (change)="getDepositeList()" [(ngModel)]="applicationstatusTrackerFilter">
                                <option value="0">{{l("All")}}</option>
                                <option value="2">{{l("Pending")}}</option>
                                <option value="1">{{l("Complete")}}</option>
                                <!-- <option value="3">{{l("Expiry")}}</option> -->
                                <option value="4">{{l("Awaiting Document")}}</option>
                            </select>
                        </div>
                        <div class="me-2 searchclearbox" style="position: relative;">
                            <div class="input-group">
                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                                    (keydown.enter)="getDepositeList()"
                                    [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                <a class="btnclearsearch" *ngIf="filterText"
                                    (click)="filterText='';getDepositeList()"><i class="fas fa-times-circle"></i></a>
                                <button (click)="getDepositeList()" class="btn search-btn" type="submit">
                                </button>
                            </div>
                        </div>

                        <div class="kt-searchmainbox searchclearbox">
                            <div class="kt-advfilterbox me-2">
                                <button class="clickable-item btn btn-primary outline"
                                    (click)="shouldShow = !shouldShow">
                                    <i class="las la-filter"></i>
                                </button>
                            </div>
                            <div class="me-0">
                                <button class="clickable-item btn btn-primary outline"
                                    (click)="FiltersData = !FiltersData; testHeightSize();">
                                    <i class="las la-sliders-h"></i>
                                </button>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                <div class="content-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="otpPendingFilter">
                                                    <option value="">OTP Pending?</option>
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    <option value="pending">Pending</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="queryRaisedFilter">
                                                    <option value="">Query Raised?</option>
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName"
                                                    [closeOnSelect]="false" bindValue="id" placeholder="All Discom"
                                                    [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter"
                                                    class="form-control" (change)="changeDiscom()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                        let-index="index">
                                                        <input id="item-{{index}}" type="checkbox"
                                                            [ngModel]="item$.selected" name="item-{{index}}" />
                                                        {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allCircleData" [multiple]="true"
                                                    bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                    placeholder="All Circle" [(ngModel)]="CircleIdFilter"
                                                    name="CircleIdFilter" class="form-control"
                                                    (change)="changeCircle()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                        let-index="index">
                                                        <input id="item-{{index}}" type="checkbox"
                                                            [ngModel]="item$.selected" name="item-{{index}}" />
                                                        {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDivision" [multiple]="true"
                                                    bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                    placeholder="All Division" (change)="changeDivision()"
                                                    [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter"
                                                    class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                        let-index="index">
                                                        <input id="item-{{index}}" type="checkbox"
                                                            [ngModel]="item$.selected" name="item-{{index}}" />
                                                        {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allSubDivision" [multiple]="true"
                                                    bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                    placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter"
                                                    name="SubDivisionIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                        let-index="index">
                                                        <input id="item-{{index}}" type="checkbox"
                                                            [ngModel]="item$.selected" name="item-{{index}}" />
                                                        {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allSolarType" [multiple]="true"
                                                    bindLabel="displayName" [closeOnSelect]="false"
                                                    (change)="chaneSolarType()" bindValue="id"
                                                    placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter"
                                                    name="solarTypeIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                        let-index="index">
                                                        <input id="item-{{index}}" type="checkbox"
                                                            [ngModel]="item$.selected" name="item-{{index}}" />
                                                        {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allEmployeeList" [multiple]="true" bindLabel="name"
                                                    [(ngModel)]="employeeIdFilter" [closeOnSelect]="false"
                                                    bindValue="id" placeholder="All Employee & CPName"
                                                    name="EmployeeIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                        let-index="index">
                                                        <input id="item-{{index}}" type="checkbox"
                                                            [ngModel]="item$.selected" name="item-{{index}}" />
                                                        {{item.name}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="FilterbyDate">
                                                    <option value="">Filter by Date</option>
                                                    <option value="queryraisedon">Query Raised</option>
                                                    <option value="nextfollowupdate">Next Follow Up date</option>
                                                    <option value="quatationaccepteddate">Quatation Accepted Date
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker
                                                    name="SampleDatePicker" class="form-control me-2" bsDatepicker
                                                    datePickerLuxonModifier [(date)]="StartDate"
                                                    [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="StartDate"
                                                    (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker
                                                    name="SampleDatePicker" class="form-control" bsDatepicker
                                                    datePickerLuxonModifier [(date)]="EndDate"
                                                    [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="EndDate"
                                                    (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-3 justify-content-end">
                                            <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                    class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                            <button type="submit" class="btn btn-primary"
                                                ng-reflect-busy-text="Saving..." (click)="getDepositeList()"><i
                                                    class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" [hidden]="!FiltersData">
        <div class="lead-data-box">
            <div class="box-item job-type">
                <h2>
                    Total<span>220</span>
                </h2>
            </div>
            <!-- <div class="box-item job-type">
                <h2>
                    App. Ready<span>200</span>
                </h2>
            </div> -->
            <div class="box-item job-type">
                <h2>
                    App. Pending<span>100</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    OTP Pending<span>190</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    App. Submitted<span>0</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    Feasiblity Approved<span>100</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    Meter Installed<span>50</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    Subcidy Claimed<span>120</span>
                </h2>
            </div>
        </div>
    </div>

    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
        class="kt-advancefilterbox-overlay"></div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
        <div class="kt-portlet kt-portlet--mobile customleadTable">
            <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                <div class="row">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa"
                        data-scroll="true" [busyIf]="primengTableHelper.isLoading"
                        [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                        <div class="leadmaindiv maindiv">
                            <div class="myleadtable leadcompanynamebar">
                                <div [hidden]="ExpandedView">
                                    <a class="icon_expan btnback" (click)="expandGrid()"><i
                                            class="las la-angle-double-right"></i></a>
                                </div>
                                <div class="grid-container no-wrapData">
                                    <p-table #dataTable sortMode="multiple" (onLazyLoad)="getDepositeList($event)"
                                        [value]="primengTableHelper.records" selectionMode="single"
                                        rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                        [lazy]="false" [scrollable]="true" ScrollWidth="100%"
                                        [responsive]="primengTableHelper.isResponsive"
                                        [resizableColumns]="primengTableHelper.resizableColumns"
                                        [scrollHeight]="screenHeight - testHeight +'px'">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pFrozenColumn style="width:90px; border-right:0 !important;">Action
                                                </th>
                                                <th pFrozenColumn style="width: 165px" pSortableColumn="projectNumber">
                                                    {{ 'Project Number' | localize }}
                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                </th>
                                                <th style="width: 140px" [hidden]="!ExpandedView"
                                                    pSortableColumn="LeadStatus">
                                                    Lead Status
                                                </th>
                                                <th style="width: 200px" [hidden]="!ExpandedView"
                                                    pSortableColumn="ApplicationStatus">
                                                    Application Status
                                                </th>
                                                <th style="width: 230px" [hidden]="!ExpandedView">Awaiting Document</th>
                                                <th style="width: 220px" [hidden]="!ExpandedView"
                                                    pSortableColumn="customerName">
                                                    {{ 'Customer Name' | localize }}
                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                </th>
                                                <th style="width: 240px" [hidden]="!ExpandedView"
                                                    pSortableColumn="address">
                                                    Address
                                                    <p-sortIcon field="address"></p-sortIcon>
                                                </th>
                                                <th style="width: 120px" [hidden]="!ExpandedView"
                                                    pSortableColumn="mobileNumber">
                                                    Mobile
                                                    <p-sortIcon field="mobile"></p-sortIcon>
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView"
                                                    pSortableColumn="FollowDiscription">
                                                    Follow up Discription
                                                    <p-sortIcon field="leadsource"></p-sortIcon>
                                                </th>
                                                <th style="width: 185px; justify-content: center;"
                                                    [hidden]="!ExpandedView" pSortableColumn="FollowDate">
                                                    Next follw up date
                                                    <p-sortIcon field="cityName"></p-sortIcon>
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView"
                                                    pSortableColumn="query">
                                                    Query Discription
                                                    <p-sortIcon field="pincode"></p-sortIcon>
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView"
                                                    pSortableColumn="comment">
                                                    Comment
                                                    <p-sortIcon field="comment"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr id="selectcustomer" [pSelectableRow]="record">
                                                <td pFrozenColumn style="width:90px; border-right:0 !important;">
                                                    <div class="btn-group grid-actions" dropdown placement="bottom left"
                                                        container="body">
                                                        <button id="dropdownButton" type="button"
                                                            class="btn btn-primary btn-sm dropdown-toggle"
                                                            dropdownToggle aria-controls="dropdownMenu">
                                                            <i class="las la-ellipsis-v"></i>
                                                        </button>
                                                        <ul id="dropdownMenu" class="dropdown-menu custom" role="menu"
                                                            *dropdownMenu aria-labelledby="dropdownButton">
                                                            <li role="menuitem"
                                                                *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.QuickView')">
                                                                <!-- <a href="javascript:;" class="dropdown-item" (click)="applicationListDetailModal.GetApplicationQuickView(record.appTracker)">
                                                                    <i class="las la-eye"></i>Quick View
                                                                </a> -->
                                                            </li>
                                                            <li role="menuitem"
                                                                *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ApplicationDetails')">
                                                                <!-- <a href="javascript:;" class="dropdown-item" (click)="EditapplicationDetailModal.EditApplicationDetails(record.appTracker)">
                                                                    <i class="las la-edit"></i>Application Details
                                                                </a> -->
                                                            </li>
                                                            <li role="menuitem"
                                                                *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Reminder')">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.depositTracker.leaddata.id,3,0,37)">
                                                                    <i class="las la-bell"></i>Reminder
                                                                </a>
                                                            </li>
                                                            <li role="menuitem"
                                                                *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.SMS')">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.depositTracker.leaddata.id,1,0,37)">
                                                                    <i class="las la-comment"></i>SMS
                                                                </a>
                                                            </li>
                                                            <li role="menuitem"
                                                                *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ToDoList')">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.depositTracker.leaddata.id,6,0,37)">
                                                                    <i class="las la-tasks"></i>To Do List
                                                                </a>
                                                            </li>
                                                            <li role="menuitem"
                                                                *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Comment')">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.depositTracker.leaddata.id,5,0,37)">
                                                                    <i class="las la-comment"></i>Comment
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td pFrozenColumn style="width: 165px" class="gridleadimage"
                                                    id="selectcustomer" (click)="navigateToLeadDetail(record);">
                                                    <span class="p-column-title">{{ 'ProjectNumber' | localize}}</span>
                                                    {{ record.depositTracker.projectNumber }}
                                                </td>
                                                <td [hidden]="!ExpandedView" style="width:140px;"><span
                                                        class="badge badge-pill {{record.depositTracker.leadStatusColorClass}}">
                                                        {{record.depositTracker.leadStatusName}}</span></td>
                                                <td [hidden]="!ExpandedView" style="width:200px;">
                                                    <span *ngIf="record.depositTracker.applicationStatusdata != null"
                                                        class="badge badge-pill {{record.depositTracker.applicationStatusdata.applicationStatusLabelColor}}">{{record.depositTracker.applicationStatusdata.applicationStatusName}}</span>
                                                </td>

                                                <td style="width: 230px" [hidden]="!ExpandedView">
                                                    <div *ngFor="let item of record.documentListName; let i = index">
                                                        <span tooltipPosition="top" pTooltip="{{item.name}}"
                                                            [ngClass]="item.isUploadFlag == true ? 'badge lg-font badge-pill badge-success me-1' : 'badge lg-font badge-pill badge-danger me-1'">
                                                            {{l(item.documentShortName)}} </span>
                                                    </div>
                                                </td>
                                                <td style="width: 220px" [hidden]="!ExpandedView">
                                                    <span
                                                        style="text-transform: capitalize;">{{record.depositTracker.customerName
                                                        }}</span>
                                                </td>
                                                <td style="width: 240px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;"
                                                        *ngIf="record.depositTracker.address != 0" class="tooltipcnt"
                                                        tooltipPosition="top"
                                                        pTooltip="{{ record.depositTracker.address }}">

                                                        {{ record.depositTracker.address }}
                                                    </span>
                                                </td>
                                                <td style="width: 120px" [hidden]="!ExpandedView">
                                                    <span class="badge badge-secondary">{{ record.depositTracker.mobile
                                                        }}</span>
                                                </td>
                                                <td style="width: 235px" [hidden]="!ExpandedView"
                                                    *ngIf="record.depositTracker.followDiscription != 0"
                                                    class="tooltipcnt" tooltipPosition="top"
                                                    pTooltip="{{ record.depositTracker.followDiscription }}">
                                                    {{record.depositTracker.followDiscription}}
                                                </td>
                                                <td style="width: 185px;" [hidden]="!ExpandedView">
                                                    <span
                                                        class="badge badge-pill badge-secondary lg-font d-flex align-items-center"
                                                        *ngIf="record.depositTracker.followDate > 0">
                                                        <i class="las la-calendar fs-2 me-1"></i>
                                                        {{record.depositTracker.followDate | date: 'dd-MM-YYYY' }}
                                                    </span>
                                                </td>
                                                <td style="width: 235px" [hidden]="!ExpandedView">
                                                    <span class="tooltipcnt" tooltipPosition="top"
                                                        pTooltip="{{record.depositTracker.quesryDescription }}">
                                                        {{record.depositTracker.quesryDescription }}
                                                    </span>
                                                </td>
                                                <td style="width: 235px" [hidden]="!ExpandedView"
                                                    *ngIf="record.depositTracker.comment != 0">

                                                    <span class="tooltipcnt" tooltipPosition="top"
                                                        pTooltip="{{record.depositTracker.comment}}"
                                                        style="text-transform: capitalize;">
                                                        {{record.depositTracker.comment}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ 'NoData' | localize }}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                            (onPageChange)="getDepositeList($event)"
                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                            [showCurrentPageReport]="true"
                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                        </p-paginator>

                                    </div>
                                </div>
                            </div>

                            <div class="leadedetailleftpart right_side_scrool scrool_red"
                                [hidden]="ExpandedView === true">
                                <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"
                                    SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                </viewLeadDetail>
                            </div>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-Ends>-->
                </div>
            </div>
        </div>
    </div>

</div>
<addActivityModal #addActivityModal></addActivityModal>