<style>
    .ng-select {
        padding-top: 7px !important;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadSourceForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="leadSource.id">{{ 'EditLeadSource' | localize }}</span>
                        <span *ngIf="!leadSource.id">{{ 'CreateNewLeadSource' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group form-icon">
                                    <label for="Name" class="form-label"><strong>{{ 'Name' | localize }} *</strong></label>
                                    <input id="Name" [(ngModel)]="leadSource.name" type="text" name="Name" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-crosshairs"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="Name" class="form-label"><strong>{{ 'Organization List' | localize }} *</strong></label>
                                    <ng-select class="form-control selectble" [items]="organizationList" [multiple]="true" bindLabel="displayName" required [closeOnSelect]="false" bindValue="id" placeholder="Select Organization " [(ngModel)]="leadSource.organizationUnits" name="OrgnazitionListData">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-check form-check-custom form-check-solid">
                                    <input id="EditLeadSource_IsActive" type="checkbox" name="leadSourceIsActive"
                                        [(ngModel)]="leadSource.isActive" class="form-check-input" />
                                    <span class="form-check-label"><strong>{{ 'IsActive' | localize }}</strong></span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!leadSourceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>