<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'LeadSource' | localize" [count]="recordCount" [description]="'LeadSourceHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getLeadSource()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>

                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.LeadSource.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportLeadSourceToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel me-2 mt-1 text-dark" style="font-size: 1rem"></i> Excel
                                                <!-- {{ 'ExportToExcel' | localize }} -->
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="me-3">
                                <button (click)="createLeadSource()" *ngIf="'Pages.Tenant.DataVaults.LeadSource.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                    <!-- {{ 'CreateNewLeadSource' | localize }}
                                    <i class="las la-plus-circle"></i> -->
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form searchclearbox" autocomplete="new-password">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeadSource()"><i class="fas fa-times-circle"></i></a>
                                        <button (click)="getLeadSource()" class="btn search-btn" type="submit">
                                            <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getLeadSource($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            [responsive]="primengTableHelper.isResponsive" scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="primengTableHelper.resizableColumns"
                            selectionMode="multiple" [(selection)]="selected" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center actionwidth" style="width:90px;" [hidden]="
                                                !(
                                                    [
                                                        'Pages.Tenant.DataVaults.LeadSource.Edit',
                                                        'Pages.Tenant.DataVaults.LeadSource.Delete'
                                                    ] | permissionAny
                                                )
                                            ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 250px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 300px" pSortableColumn="organization">
                                        {{ 'Organization' | localize }}
                                        <!-- <p-sortIcon field="organization"></p-sortIcon> -->
                                    </th>
                                    <th style="width: 100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width:90px;" [hidden]="!(
                                                    [
                                                        'Pages.Tenant.DataVaults.LeadSource.Edit',
                                                        'Pages.Tenant.DataVaults.LeadSource.Delete'
                                                    ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                                </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.LeadSource.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditLeadSourceModal.show(record.leadSource.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.LeadSource.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteLeadSource(record.leadSource)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.leadSource.name }}
                                    </td>
                                    <td style="width: 300px">
                                        <span class="p-column-title">{{ 'Organizaion' | localize }}</span>
                                        <div *ngFor="let items of record.leadSource.organizationUnitsName">
                                            <span class="badge badge-pill badge-secondary me-1">
                                                {{items}}
                                            </span>
                                        </div>
                                        <!-- <span class="badge badge-pill badge-secondary">
                                            {{ record.leadSource.organizationUnitsName }}
                                        </span> -->
                                    </td>
                                    <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.leadSource.isActive">
                                                {{ 'Yes' | localize }}
                                            </span>
                                        <span class="badge badge-dark" *ngIf="!record.leadSource.isActive">
                                                {{ 'No' | localize }}
                                            </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeadSource($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>

            </div>
        </div>

        <!-- <createOrEditLeadSourceModal #createOrEditLeadSourceModal (modalSave)="getLeadSource()"></createOrEditLeadSourceModal> -->
        <!-- 
        <editUserPermissionsModal #editUserPermissionsModal></editUserPermissionsModal>
        <dynamic-entity-property-manager #dynamicEntityPropertyManager></dynamic-entity-property-manager> -->
        <createOrEditLeadSourceModal #createOrEditLeadSourceModal (modalSave)="getLeadSource()"></createOrEditLeadSourceModal>
    </div>
</div>