<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">

            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'MISReport' | localize" [count]="recordCount"
                    [description]="'MISReportHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4"
                    style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions"
                [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end"></button>
                            </div>
                            <div class="me-2">
                                <select class="form-control" [(ngModel)]="GovermentAgency" (change)="changeAgency($event)">
                                    <option value="">Goverment Agency</option>
                                    <option value="1">Surya Gujrat</option>
                                    <option value="2">GEDA</option>
                                </select>
                            </div>
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right"
                                    [hidden]="!(['Pages.Tenant.Leads.MISReport.ImportToExcel'] | permission)">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                                        class="btn btn-primary dropdown-toggle me-1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"
                                        aria-controls="dropdownMenuExcelOperations">
                                        <i class="las la-file-excel"></i> Import Excel
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations"
                                        class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu"
                                        *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">

                                        <li role="menuitem">
                                            <a href="javascript:;"
                                                *ngIf="'Pages.Tenant.Leads.MISReport.ImportToExcel' | permission"
                                                role="menuitem" class="dropdown-item text-dark import-sheet">
                                                <span class="">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <span class="" href="# "
                                                *ngIf=" 'Pages.Tenant.Leads.MISReport.ImportToExcel' | permission ">
                                                <a href="/assets/sampleFiles/ImportMISReportSampleFile.xlsx"
                                                    class="dropdown-item text-dark">
                                                    <i class="las la-file-excel "></i> {{l('Sample File Surya Gujrat')}}
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                <div class="me-0" *ngIf="organizationUnitlength > 0">
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit"
                                        (change)="getMISReport();">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getMISReport($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [lazy]="true" [scrollable]="true"
                            ScrollWidth="100%" scrollDirection="horizontal" scrollDirection="both" [scrollable]="true"
                            styleClass="p-mt-3"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns" selectionMode="single"
                            [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>

                                    <!-- <th pFrozenColumn style="width: 150px" pSortableColumn="name"> -->
                                    <th style="width: 150px" pSortableColumn="creationTime">
                                        {{ 'Creation Date' | localize }}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 280px" pSortableColumn="userName">
                                        {{ 'Created User' | localize }}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 220px" pSortableColumn="fileName">
                                        {{ 'FileName' | localize }}
                                        <p-sortIcon field="fileName"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="applicationNumber">
                                        {{ 'Imoport Status' | localize }}
                                        <p-sortIcon field="applicationNumber"></p-sortIcon>
                                    </th> -->

                                    <th style="width: 120px" pSortableColumn="download">
                                        {{ 'Download File' | localize }}
                                        <p-sortIcon field="download"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'Creation Date' | localize }}</span>
                                        <span class="badge badge-secondary d-flex align-items-center"><i
                                                class="las la-calendar f-22 me-2"></i> {{
                                            record.misReportFileUpload.creationTime | luxonFormat: 'F'}}</span>
                                    </td>
                                    <td style="width: 280px">
                                        <span class="p-column-title">{{ 'userName' | localize }}</span>
                                        <span class="badge badge-secondary d-flex align-items-center"><i
                                                class="las la-user-tie f-22 me-2"></i> {{
                                            record.misReportFileUpload.userName}}</span>
                                    </td>
                                    <td style="width: 220px">
                                        <span class="p-column-title">{{ 'FileName' | localize }}</span>
                                        <i class="las la-file-excel f-22 me-2"></i>
                                        {{record.misReportFileUpload.fileName}}
                                    </td>
                                    <td style="width: 120px">
                                        <a class="d-flex align-items-center"
                                            (click)="downfile(record.misReportFileUpload.filePath +record.misReportFileUpload.fileName)"><i
                                                class="las la-file-download fs-1"></i></a>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getMISReport($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
</div>