<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'DynamicPropertyManagement' | localize"></sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <tabset>
                            <tab class="p-5" heading=" {{ 'DynamicProperties' | localize }}">
                                <div class="row justify-content-end px-5 pb-5">
                                    <div class="col">
                                        <button *ngIf="'Pages.Administration.DynamicProperties.Create' | permission" class="btn btn-primary float-end" (click)="addNewDynamicProperty()">
                                            <i class="fa fa-plus"></i>
                                            {{ 'AddNewDynamicProperty' | localize }}
                                        </button>
                                    </div>
                                </div>

                                <!--<Primeng-TurboTable-Start>-->
                                <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                    <p-table #dataTable (onLazyLoad)="getDynamicProperties()" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 130px"></th>
                                                <th>{{ 'PropertyName' | localize }}</th>
                                                <th>{{ 'DisplayName' | localize }}</th>
                                                <th>{{ 'InputType' | localize }}</th>
                                                <th>{{ 'Permission' | localize }}</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr>
                                                <td>
                                                    <div class="btn-group" dropdown placement="bottom left">
                                                        <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                            <i class="fa fa-cog"></i>
                                                            <span class="caret"></span>
                                                            {{ 'Actions' | localize }}
                                                        </button>
                                                        <ul id="dropdownMenu" class="dropdown-menu" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                            <li *ngIf="
                                                                    'Pages.Administration.DynamicProperties.Edit'
                                                                        | permission
                                                                " role="menuitem">
                                                                <a class="dropdown-item" href="javascript:;" (click)="editDynamicProperty(record.id)">
                                                                    {{ 'Edit' | localize }}
                                                                </a>
                                                            </li>
                                                            <li *ngIf="
                                                                    'Pages.Administration.DynamicProperties.Delete'
                                                                        | permission
                                                                " role="menuitem">
                                                                <a class="dropdown-item" href="javascript:;" (click)="deleteDynamicProperty(record.id)">
                                                                    {{ 'Delete' | localize }}
                                                                </a>
                                                            </li>
                                                            <li *ngIf="
                                                                    ('Pages.Administration.DynamicPropertyValue.Edit'
                                                                        | permission) && hasValues(record.inputType)
                                                                " role="menuitem">
                                                                <a class="dropdown-item" href="javascript:;" (click)="editValues(record)">
                                                                    {{ 'EditValues' | localize }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ record.propertyName }}
                                                </td>
                                                <td>
                                                    {{ record.displayName }}
                                                </td>
                                                <td>
                                                    {{ record.inputType }}
                                                </td>
                                                <td>
                                                    {{ record.permission }}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ 'NoData' | localize }}
                                    </div>
                                </div>
                                <!--<Primeng-TurboTable-End>-->
                            </tab>
                            <tab class="p-5" heading=" {{ 'DynamicEntityProperties' | localize }}">
                                <dynamic-entity-property-list></dynamic-entity-property-list>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <dynamic-property-value-modal #dynamicPropertyValueModal></dynamic-property-value-modal>
            <create-or-edit-dynamic-property-modal #createOrEditDynamicProperty (modalSave)="getDynamicProperties()"></create-or-edit-dynamic-property-modal>
        </div>
    </div>
</div>