<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
    
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Dispatch' | localize" [count]="recordCount"
                    [description]="'Dispatch' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i
                        class="las la-filter"></i></a>
            </div>
            <div class="form mobile-filter" style="margin-left: auto;" role="actions"
                [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getDispatchList()"></button>
                            </div>
    
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                                        class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations"
                                        class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu"
                                        *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton"
                                                (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
    
                                    </ul>
                                </div>
                            </div>
    
                            <div class="me-2">
                                <select class="form-control">
                                    <option>Lead Status</option>
                                </select>
                                <!-- <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select> -->
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>Application Status</option>
                                </select>
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>All</option>
                                    <option>Full System</option>
                                    <option>Pending</option>
                                    <option>Not Dispatched</option>
                                </select>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text"
                                        placeholder="project number,customer name, mobile number" />
                                    <a class="btnclearsearch" *ngIf="filterText"
                                        (click)="filterText='';getDispatchList()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getDispatchList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
    
                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline"
                                        (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline"
                                        (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>
                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <div class="content-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="Discom (multiple choice)"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="Circle (multiple choice)"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="Division (multiple choice)"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="Sub Division (multiple choice)"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="City"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="Solar Type (multiple choice)"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="Tender (based on solar type, multiple)"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><input type="text" class="form-control"
                                                        placeholder="Pending Material"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Extra Material</option>
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Filter by date</option>
                                                        <option>Bill Date</option>
                                                        <option>Dispatch Date</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div style="position: relative;" class="datepicker">
                                                        <input [owlDateTime]="dt1" required
                                                            class="form-control daterangebox" required
                                                            [owlDateTimeTrigger]="dt1" placeholder="Select Date Time"
                                                            #myNameElem>
                                                        <owl-date-time #dt1></owl-date-time>
                                                        <i class="lar la-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mt-3 justify-content-end">
                                                <button type="reset" class="btn btn-danger"><i
                                                        class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                                <button type="submit" class="btn btn-primary"
                                                    ng-reflect-busy-text="Saving..."><i class="fas fa-search"></i>
                                                    Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="container-fluid" [hidden]="!FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total<span>850</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Number of Panel<span>900</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Kilowatt<span>600</span>
                    </h2>
                </div>
            </div>
            <div class="container-fluid">
                <div class="blue-filter-box">
                    <div class="d-flex align-items-center justify-content-end" style="width:85%;">
                        <!-- *ngIf="'Pages.Tenant.Tracker.Transport' | permission" -->
                        <div class="me-0">
                            <button (click)="OpenTransportDetails()" [buttonBusy]="open" type="submit"
                                class="btn btn-primary font-weight-bold">Submit</button>
                        </div>
                    </div>
                    <div class="recordsSelect">
                        <h2>
                            Selected Records:<span>{{count}}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
        class="kt-advancefilterbox-overlay"></div>
    
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
        <div class="kt-portlet kt-portlet--mobile customleadTable">
            <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                <div class="row">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa"
                        data-scroll="true" [busyIf]="primengTableHelper.isLoading"
                        [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                        <div class="leadmaindiv maindiv">
                            <div class="myleadtable leadcompanynamebar">
                                <div [hidden]="ExpandedView">
                                    <a class="icon_expan btnback" (click)="expandGrid()"><i
                                            class="las la-angle-double-right"></i></a>
                                </div>
                                <div class="grid-container no-wrapData">
                                    <p-table #dataTable sortMode="multiple" (onLazyLoad)="getDispatchList($event)"
                                        [value]="primengTableHelper.records" selectionMode="single"
                                        rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                        [lazy]="false" [scrollable]="true" ScrollWidth="100%"
                                        [responsive]="primengTableHelper.isResponsive"
                                        [resizableColumns]="primengTableHelper.resizableColumns"
                                        [scrollHeight]="screenHeight - testHeight +'px'">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pFrozenColumn
                                                    style="width:65px; justify-content: center; border-right:0 !important;"
                                                    class="checkboxhead ">
                                                    <div class="kt-checkbox-list">
                                                        <label for="lead_id"
                                                            class="form-check form-check-custom form-check-solid">
                                                            <input type="checkbox" id="lead_id" name="all"
                                                                class="form-check-input" [checked]="isAllChecked()"
                                                                (change)="checkAll($event)" />
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </th>
                                                <th style="width:90px; border-right:0 !important;">Action</th>
                                                <th style="width: 200px">Project Number</th>
                                                <th style="width: 220px" [hidden]="!ExpandedView">Customer Name</th>
                                                <th style="width: 120px" [hidden]="!ExpandedView">Mobile</th>
                                                <th style="width: 200px" [hidden]="!ExpandedView">Latest Dispatch Date</th>
                                                <th style="width: 150px" [hidden]="!ExpandedView">Sent Material</th>
                                                <th style="width: 150px; text-align:center; justify-content: center;"
                                                    [hidden]="!ExpandedView">Verify Picklist</th>
                                                <th style="width: 200px; text-align:center; justify-content: center;"
                                                    [hidden]="!ExpandedView">Extra Material Approved</th>
                                                <th style="width: 240px" [hidden]="!ExpandedView">Comment</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr>
                                                <td pFrozenColumn
                                                    style="width:65px; justify-content: center; border-right:0 !important;">
                                                    <div class="kt-checkbox-list">
                                                        <label for="{{record.estimateTracker.id}}"
                                                            class="form-check form-check-custom form-check-solid">
                                                            <input type="checkbox" id="{{record.estimateTracker.id}}"
                                                                name="recordSource"
                                                                [(ngModel)]="record.estimateTracker.isSelected"
                                                                class="form-check-input" (change)="oncheckboxCheck()" />
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="width:90px; border-right:0 !important;">
                                                    <div class="btn-group grid-actions" dropdown placement="bottom left"
                                                        container="body">
                                                        <button id="dropdownButton" type="button"
                                                            class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle
                                                            aria-controls="dropdownMenu">
                                                            <i class="las la-ellipsis-v"></i>
                                                        </button>
                                                        <ul id="dropdownMenu" class="dropdown-menu custom" role="menu"
                                                            *dropdownMenu aria-labelledby="dropdownButton">
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="showDispatchModal()">
                                                                    <i class="las la-eye"></i>Quick View
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="SelectMaterialModal.EditDispatchDetails(record.dispatchItem)">
                                                                    <i class="las la-boxes"></i>Select Material
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="sendExtraMat()">
                                                                    <i class="las la-dolly"></i>Send Extra Material
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="showStockTransfer()">
                                                                    <i class="las la-shipping-fast"></i>Stock Transfer
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.dispatchItem.leaddata.id,3,0,38)">
                                                                    <i class="las la-bell"></i>Reminder
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.dispatchItem.leaddata.id,4,0,38)">
                                                                    <i class="las la-user-clock"></i>Notify
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.dispatchItem.leaddata.id,5,0,38)">
                                                                    <i class="las la-comment"></i>Comment
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item"
                                                                    (click)="addActivityModal.show(record.dispatchItem.leaddata.id,6,0,38)">
                                                                    <i class="las la-tasks"></i>To Do List
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td style="width: 200px; border-right:0 !important;"
                                                    (click)="navigateToLeadDetail(record);">
                                                    <span class="p-column-title">{{ 'ProjectNumber' |
                                                        localize}}</span> {{ record.dispatchItem.projectNumber }}
                                                </td>
                                                <td style="width: 220px" [hidden]="!ExpandedView">
                                                    {{ record.dispatchItem.customerName }}
                                                </td>
                                                <td style="width: 120px" [hidden]="!ExpandedView">
                                                    <span class="badge badge-secondary">{{ record.dispatchItem.mobile
                                                        }}</span>
                                                </td>
                                                <td style="width: 200px" [hidden]="!ExpandedView">{{
                                                    record.dispatchItem.dispatchDate | luxonFormat: 'F' }}</td>
                                                <td style="width: 150px" [hidden]="!ExpandedView">-</td>
                                                <td style="width: 150px; text-align:center;" [hidden]="!ExpandedView">
                                                    <a href="javascript:;" class="dropdown-item" (click)="showVerify()"><i
                                                            class="fas fa-check-circle fs-1"></i></a>
                                                </td>
                                                <td style="width: 200px;; text-align:center; justify-content: center;"
                                                    [hidden]="!ExpandedView"><i class="fas fa-check-circle fs-1"></i></td>
                                                <td style="width: 240px" [hidden]="!ExpandedView">
                                                    {{ record.dispatchItem.comment }}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ 'NoData' | localize }}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                            (onPageChange)="getDispatchList($event)"
                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                            [showCurrentPageReport]="true"
                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                        </p-paginator>    
                                    </div>    
                                </div>
                            </div>
                            <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"
                                    SectionName="{{SectionName}}">
                                </viewLeadDetail>
                            </div>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-Ends>-->
                </div>
            </div>
        </div>
    </div>
    </div>    
</div>

<addActivityModal #addActivityModal></addActivityModal>
<dispatchModal #dispatchModal></dispatchModal>
<SelectMaterialModal #SelectMaterialModal></SelectMaterialModal>
<SendExtraMaterialModal #SendExtraMaterialModal></SendExtraMaterialModal>
<StockTransferModal #StockTransferModal></StockTransferModal>
<VerifyModal #VerifyModal></VerifyModal>