<div appBsModal #dispatchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dispatchModal"
    aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Details - {{customertitle}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body sidepaddingzero bg-gray">
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-user-alt fs-1 me-2"></i> Customer Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Customer Name:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.customerName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Customer Mobile
                                            Number:</strong></label>
                                    <div class="col-lg-6">
                                        <span class="badge badge-secondary">{{QuickViewData.mobileNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Consumer Number:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.consumerNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Discom:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.discomName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Chenel Partner Name:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.chanelPartnerName}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Chenel Partner Mobile
                                            No.:</strong></label>
                                    <div class="col-lg-6">
                                        <span
                                            class="badge badge-secondary">{{QuickViewData.chanelPartnerMobileNo}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="fas fa-solar-panel fs-3 me-2"></i> Project Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>System Size:</strong></label>
                                    <div class="col-lg-6">
                                        <span class="badge badge-secondary d-flex align-items-center"
                                            style="max-width: 100px;"><i class="fas fa-solar-panel me-3"
                                                style="font-size: 1.2rem;"></i>
                                            {{QuickViewData.systemSize}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>No. Panel:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.noOfPanel}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Panel Brand Name:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.panelBrandName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>No. Inverter:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.noOfInverter}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Inverter Brand:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.inverterBrand}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Sctrucutre Height:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.structureHeight}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Sctrucutre Amount:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.structureAmount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-file-invoice fs-1 me-2"></i> Eastimate Payment Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Payement Refferance
                                            No.:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.eastimatePayementRefferanceNo}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Paid
                                            Status:</strong></label>
                                    <div class="col-lg-6">
                                        <span
                                            class="badge badge-pill badge-success">{{QuickViewData.eastimatePaymentStatus}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Quote No.:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.eastimateQuoteNo}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Quote
                                            Amount:</strong></label>
                                    <div class="col-lg-6">
                                        <span><i
                                                class="las la-rupee-sign text-dark"></i>{{QuickViewData.eastimateQuoteAmount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Due Data:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.eastimateDueDate | luxonFormat: 'F' }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Eastimate Pay
                                            Response:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.eastimatePayResponse}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-boxes fs-1 me-2"></i> Sent Material Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Dispatch Date:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.dispatchDate | luxonFormat: 'F' }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>HeightOfStructure:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.heightofStructure}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Dispatch Note:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.dispatchNote}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Verify By:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.verifyBy}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="las la-boxes fs-1 me-2"></i> Extra Metrial Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid-container secondary-grid">
                                    <table class="table">
                                        <tr>
                                            <th>Material Name</th>
                                            <th>Quantity</th>
                                            <th>Manager Name</th>
                                        </tr>
                                        <tr *ngFor="let item of QuickViewData.extraMaterialList">
                                            <td>{{item.stockItemName}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.managerName}}</td>
                                        </tr>
                                    </table>
                                </div>                                
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Approved By:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.approvadBy}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Approved Date:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.approvadDate  | luxonFormat: 'F'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Comments:</strong></label>
                                    <div class="col-lg-6">
                                        <span>{{QuickViewData.extraMaterialApprovedNotes}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <!-- <button type="button" class="btn btn-primary"><i class="las la-save"></i>Set</button> -->
            </div>
        </div>
    </div>
</div>