<div appBsModal #SelectMaterialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dispatchModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Select Materials</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body sidepaddingzero bg-gray">
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <h3><i class="fas fa-solar-panel fs-3 me-2"></i> Project Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>System Size:</strong></label>
                                    <div class="col-lg-6">
                                        <span class="badge badge-secondary d-flex align-items-center"
                                            style="max-width: 100px;"><i class="fas fa-solar-panel me-3"
                                                style="font-size: 1.2rem;"></i> 5</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>No. Panel:</strong></label>
                                    <div class="col-lg-6">
                                        <span>12</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Panel Brand Name:</strong></label>
                                    <div class="col-lg-6">
                                        <span>APS-004KW</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>No. Inverter:</strong></label>
                                    <div class="col-lg-6">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Inverter Brand:</strong></label>
                                    <div class="col-lg-6">
                                        <span>APS-INV-004</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-6 col-form-label"><strong>Sctrucutre Amount:</strong></label>
                                    <div class="col-lg-6">
                                        <span><i class="las la-rupee-sign text-dark"></i>12000.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <input type="hidden" [(ngModel)]="DispatchDetails.dispatchJobId">
                        <input type="hidden" [(ngModel)]="DispatchDetails.id">
                        <input type="hidden" [(ngModel)]="DispatchDetails.leadid">
                        <h3><i class="las la-truck fs-1 me-2"></i> Dispatch Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 form-icon">
                                    <label class="col-form-label"><strong>Sctrucutre Height *:</strong></label>
                                    <div class="">
                                        <select class="form-control" required
                                            [(ngModel)]="DispatchDetails.dispatchHeightStructureId">
                                            <option value="undefined">Select Sctrucutre Height</option>
                                            <option *ngFor="let item of heightofStructureList" value="{{item.id}}">
                                                {{item.displayName}}</option>                                           
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i
                                                class="las la-ruler-combined"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-icon">
                                    <label class="col-form-label"><strong>Materials Name *:</strong></label>
                                    <div class="">
                                        <select class="form-control" required
                                            [(ngModel)]="DispatchDetails.dispatchStockItemId">
                                            <option value="undefined">Select Material</option>
                                            <option *ngFor="let item of billofmaterialList" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i class="las la-boxes"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-icon">
                                    <label class="col-form-label"><strong>Dispatch Type *:</strong></label>
                                    <div class="">
                                        <select class="form-control" required
                                            [(ngModel)]="DispatchDetails.dispatchTypeId">
                                            <option value="undefined">Select DispatchType</option>
                                            <option *ngFor="let item of dispatchTypeList" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i class="las la-boxes"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Dispatch Date *:</strong>
                                    </label>
                                    <div>
                                        <input id="SampleDatePicker" type="text" #SampleDatePicker
                                            name="SampleDatePicker" class="form-control" bsDatepicker
                                            datePickerLuxonModifier [(date)]="dispatchDate"
                                            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                        <span class="icon-box" style="top: 49px;"><i class="las la-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Dispatch Notes:</strong>
                                    </label>
                                    <div>
                                        <textarea id="dispatchNotes" class="form-control"
                                            [(ngModel)]="DispatchDetails.dispatchNotes" type="text"
                                            name="dispatchNotes"></textarea>
                                        <span style="top:49px;" class="icon-box"><i class="las la-notes"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' }}
                </button>
                <button type="button" (click)="saveDispatchJob()"
                    [disabled]="dispatchDate == undefined || dispatchDate == null || DispatchDetails.dispatchHeightStructureId == 0 || DispatchDetails.dispatchHeightStructureId == undefined || DispatchDetails.dispatchTypeId == 0 || DispatchDetails.dispatchTypeId == undefined || DispatchDetails.dispatchStockItemId == 0 || DispatchDetails.dispatchStockItemId == undefined"
                    class="btn btn-primary"><i class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>