<div appBsModal #SendExtraMaterialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dispatchModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Send Extra Materials</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body sidepaddingzero bg-gray">
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="d-flex align-items-center mb-3" *ngFor="let item of ExtraMaterial; let i = index">
                                    <input type="hidden" [(ngModel)]="item.id">
                                    <input type="hidden" [(ngModel)]="item.leadid">
                                    <input type="hidden" [(ngModel)]="item.dispatchId">
                                    <div class="me-5 w-250px">
                                        <select class="form-control" [(ngModel)]="item.dispatchStockItemId" required #productType="ngModel" name="variation{{i}}">
                                            <option [ngValue]="undefined">Select</option>
                                            <option *ngFor="let item of stockItemList" value="{{item.id}}">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                        <!-- <span style="top:49px;" class="icon-box"><i class="las la-boxes"></i></span> -->
                                    </div>
                                    <div class="me-5 w-150px">
                                        <!-- (change)="calculateRates()" -->
                                        <input type="number" name="quantity{{i}}" #quantity="ngModel" [(ngModel)]="item.quantity" class="form-control w-150px" placeholder="quantity" />
                                        <!-- <span style="top:49px;" class="icon-box"><i class="las la-hashtag"></i></span> -->
                                    </div>
                                    <div class="me-5 w-250px">
                                        <select class="form-control" required [(ngModel)]="item.userManagerId">                                            
                                            <option value="undefined">Select Manager</option>
                                            <option *ngFor="let item of allManagerList" value="{{item.value}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <!-- <span style="top:49px;" class="icon-box"><i class="las la-user-tie"></i></span> -->
                                    </div>
                                    <div class="me-0 action-btn w-125px">
                                        <a class="me-2" (click)="removeExtraMaterial(item)" *ngIf="ExtraMaterial.length != 1"><i
                                                class="las la-trash text-danger"></i></a>
                                        <a (click)="addExtraMaterial()" *ngIf="i == ExtraMaterial.length - 1"><i
                                                class="las la-plus-circle text-primary"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="col-form-label"><strong>Comments:</strong></label>
                                    <div class="">
                                        <textarea class="form-control" rows="5" [(ngModel)]="extraComment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()"><i class="las la-times-circle"></i>{{ 'Cancel' }}</button>
                <button type="button" class="btn btn-primary" (click)="saveDispatchExtraMaterial()"><i class="las la-save"></i>Send for Approval</button>
            </div>
        </div>
    </div>
</div>