<div appBsModal #StockTransferModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dispatchModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Select Materials</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body sidepaddingzero bg-gray">
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Select Transfer Reason: *</strong></label>
                                    <div class="col-lg-7 form-icon">
                                        <select class="form-control" [(ngModel)]="TransferMaterial.reason" required
                                            name="materialTransfer">
                                            <option [ngValue]="undefined">Select</option>
                                            <option *ngFor="let item of transferReasonList" value="{{item.id}}">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                        <span style="top:2px; left:10px;" class="icon-box"><i
                                                class="las la-info-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3 row align-items-center">
                                    <label class="col-lg-5 col-form-label"><strong>Project Number: *</strong></label>
                                    <div class="col-lg-7 form-icon">
                                        <input type="text" class="form-control" required="" [(ngModel)]="TransferMaterial.jobNumber"
                                            placeholder="Enter project number">
                                        <span style="top:2px; left:10px;" class="icon-box"><i
                                                class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' }}
                </button>
                <button type="button" class="btn btn-primary" 
                    [disabled]="TransferMaterial.jobNumber == null || TransferMaterial.jobNumber == '' ||TransferMaterial.reason == null || TransferMaterial.reason == '' "
                    (click)="saveTransferMaterial()"><i class="las la-save"></i>Submit</button>
            </div>
        </div>
    </div>
</div>