<style>
    .form-control.ng-select-multiple {
        line-height: 2.3 !important;
    }
</style>
<div appBsModal #AddOrEditTransportModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dispatchModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Transport Details</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body sidepaddingzero bg-gray">
                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box">
                        <input type="hidden" [(ngModel)]="TransportDetails.transportJobId">
                        <input type="hidden" [(ngModel)]="TransportDetails.id">
                        <input type="hidden" [(ngModel)]="TransportDetails.leadid">
                        <h3><i class="las la-truck fs-1 me-2"></i> Transport Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 form-icon">
                                    <label class="col-form-label"><strong>Vehical Type *:</strong></label>
                                    <div class="">
                                        <select class="form-control" (change)="changevehicalType($event)" required id="vehicalType" [(ngModel)]="TransportDetails.vehicalId">
                                            <option value="undefined">Select Vehical Type</option>
                                            <option *ngFor="let item of vehicalTypeList" title="{{item.labeldata}}"
                                               name="{{item.labeldata}}" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i
                                                class="las la-ruler-combined"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-icon">
                                    <label class="col-form-label"><strong>Rego No *:</strong></label>
                                    <div class="">
                                        <input type="text" class="form-control" disabled name="RegoNo" [(ngModel)]="RegoNo">
                                        <span style="top:49px;" class="icon-box"><i class="las la-boxes"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-icon">
                                    <label class="col-form-label"><strong>Driver Name *:</strong></label>
                                    <div class="">
                                        <input type="text" class="form-control" required name="driverName" [(ngModel)]="TransportDetails.driverName">
                                        <span style="top:49px;" class="icon-box"><i class="las la-boxes"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Dispatch Date *:</strong>
                                    </label>
                                    <div>
                                        <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="dispatchDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                        <span class="icon-box" style="top: 49px;"><i class="las la-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Project No *:</strong>
                                    </label>
                                    <div>
                                        <ng-select [items]="ProjectNoList" [disabled]="true" [multiple]="true" bindLabel="ProjectNoList" [closeOnSelect]="false" placeholder="All Project" [(ngModel)]="ProjectNoList" name="ProjectNoList" class="form-control">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item}}
                                            </ng-template>
                                        </ng-select>
                                        <span class="icon-box" style="top: 49px;"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Dispatch Notes:</strong>
                                    </label>
                                    <div>
                                        <textarea id="dispatchNotes" class="form-control" [(ngModel)]="TransportDetails.transportNote" type="text" name="dispatchNotes"></textarea>
                                        <span style="top:49px;" class="icon-box"><i class="las la-notes"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' }}
                </button>
                <button type="button" (click)="saveTransportJob()" [disabled]="dispatchDate == undefined || dispatchDate == null" class="btn btn-primary"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>