<div appBsModal #VerifyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Verify Picklist</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="mb-3 row align-items-center">
                            <label class="col-lg-4 col-form-label">
                                <strong>Verify Picklist:</strong>
                            </label>
                            <div class="col-lg-8">
                                <select class="form-control" [(ngModel)]="isVerify">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="saveDispatchJob()">
                    <i class="las la-save"></i>
                    {{ 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>