<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <div class="py-2 py-lg-4 subheader subheader-solid">
                    <div class="align-items-center container-fluid d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="d-flex align-items-center flex-wrap me-2">
                            <h1 class="font-weight-bold mb-2 me-2 mt-2 text-dark ng-star-inserted">Installation Tracker (1)</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getInstallationList()"></button>
                            </div>
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                       Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <select name="OrganizationUnits" class="form-control">
                                    <option>APS</option>
                                    <option>Commercial Solar</option>
                                </select>
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>Lead Status</option>                                    
                                </select>
                            </div>

                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text" placeholder="project number,customer name, mobile number" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInstallationList()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getInstallationList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                <div class="content-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Select Discom</option>
                                                    <option>Torrent Power Surat</option>
                                                    <option>Paschim Gujarat Vij Company Ltd.(PGVCL)</option>
                                                    <option>Dakshin Gujarat Vij Company Limited (DGVCL)</option>
                                                    <option>Madhya Gujarat Vij Company Ltd.(MGVCL)</option>
                                                    <option>Torrent Power Ahmedabad</option>
                                                    <option>Uttar Gujarat Vij Company Ltd.(UGVCL)</option>
                                            
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Select Division</option>                                                    
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Select Sub Division</option>                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Select Employee</option>                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Installer</option>                                                    
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Select Taluka">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Filter with Date</option>
                                                    <option>Dispatch Date</option>
                                                    <option>Install Start Date</option>                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>

                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control me-2" bsDatepicker datePickerLuxonModifier [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>

                                        <div class="d-flex mt-3 justify-content-end">
                                            <button type="reset" class="btn btn-danger"><i class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                            <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..."><i class="fas fa-search"></i> Search</button>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div class="container-fluid" [hidden]="!FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total Panels<span>10500</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Installtion Completed<span>1050</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total KW<span>660</span>
                    </h2>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <div class="primeng-datatable-container">
                                            <div class="p-datatable">
                                                <div class="p-datatable-wrapper">
                                                    <table class="p-datatable-table">
                                                        <thead class="p-datatable-thead">
                                                            <tr>
                                                                <th style="width:90px;">Action</th>
                                                                <th style="width:200px;">Project Number</th>
                                                                <th [hidden]="!ExpandedView">Lead Status</th>
                                                                <th [hidden]="!ExpandedView">Sub division</th>
                                                                <th [hidden]="!ExpandedView">Customer Name</th>
                                                                <th [hidden]="!ExpandedView">Phone</th>
                                                                <th [hidden]="!ExpandedView">Installer Name</th>
                                                                <th [hidden]="!ExpandedView">Installer Start Date</th>
                                                                <th [hidden]="!ExpandedView">Structure Height</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="p-element p-datatable-tbody">
                                                            <tr>
                                                                <td style="width:90px;">
                                                                    <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                                        <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                                            <i class="las la-ellipsis-v"></i>                                                                       
                                                                            </button>
                                                                        <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">

                                                                            <li role="menuitem">
                                                                                <a href="javascript:;" class="dropdown-item" (click)="showDispatchModal()">
                                                                                    <i class="las la-eye"></i>Quick View
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem">
                                                                                <a href="javascript:;" class="dropdown-item">
                                                                                    <i class="las la-file-alt"></i>SS Bill
                                                                                </a>
                                                                            </li>
                                                                            <li role="menuitem">
                                                                                <a href="javascript:;" class="dropdown-item">
                                                                                    <i class="las la-file-alt"></i>STC Bill
                                                                                </a>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td style="width:200px;" (click)="navigateToLeadDetail($event);">APS10025</td>
                                                                <td [hidden]="!ExpandedView"><span class="badge badge-pill badge-primary">Deposit Received</span></td>
                                                                <td [hidden]="!ExpandedView">Ankleshwar (Town) S/D</td>
                                                                <td [hidden]="!ExpandedView">Ravindra D Gohel</td>
                                                                <td [hidden]="!ExpandedView"><span class="badge badge-secondary">98988848788</span></td>
                                                                <td [hidden]="!ExpandedView">135-Nirmal Patel-3199</td>
                                                                <td [hidden]="!ExpandedView">25 July, 2023</td>
                                                                <td [hidden]="!ExpandedView">Back Side 8 Feet * Front Side 5 Feet</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <div class="lead-header">
                                        <ul class="leadname">
                                            <li>
                                                <h2><i class="las la-user-tie"></i> Nilesh</h2>
                                            </li>
                                            <li>
                                                <span class="badge badge-warning">Installation Booked</span>
                                            </li>
                                            <li>
                                                <span class="badge bg-success">
                                                    Application Status
                                                </span>
                                            </li>
                                            <li>
                                                <a class="custphone" href="0123654789">
                                                    <i class="las la-phone"></i> 0123654789
                                                </a>
                                            </li>
                                            <li>
                                                <a class="custemail" href="nileshdhimar@gmail.com">
                                                    <i class="las la-envelope"></i> nileshdhimar@gmail.com
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="action">
                                            <li>
                                                <div class="dropdown" dropdown container="body">
                                                    <a class="dropdown-toggle" dropdownToggle><i class="las la-ellipsis-v"></i></a>
                                                    <ul class="dropdown-menu leadstatusdrp li_padd_0" *dropdownMenu>
                                                        <li>
                                                            <a><i class="lar la-times-circle"></i> Cancelled</a>
                                                        </li>
                                                        <li><a><i class="las la-ban"></i> Reject</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a><i class="las la-pencil-alt"></i></a>
                                            </li>
                                            <li *ngIf="permission.isGranted('Pages.Tenant.Leads.Customer.Delete')">
                                                <a class="delete"><i class="las la-trash-alt"></i></a>
                                            </li>
                                            <li>
                                                <a><i class="las la-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="lead-container">
                                        <!-- Lead Progressbar starts -->
                                        <div class="lead-progress">
                                            <!-- <h3><i class="las la-cogs"></i> Lead Status</h3> -->
                                            <ul class="steps">
                                                <li class="step step-success">
                                                    <div class="step-content">
                                                        <span class="step-circle"><i class="fas fa-check"></i></span>
                                                        <span class="step-text">Application Submitted</span>
                                                    </div>
                                                </li>
                                                <li class="step ">
                                                    <div class="step-content step-success">
                                                        <span class="step-circle"><i class="fas fa-check"></i></span>
                                                        <span class="step-text">Document Verified</span>
                                                    </div>
                                                </li>
                                                <li class="step">
                                                    <div class="step-content step-success">
                                                        <span class="step-circle"><i class="fas fa-check"></i></span>
                                                        <span class="step-text">DisCom Letter</span>
                                                    </div>
                                                </li>
                                                <li class="step">
                                                    <div class="step-content step-active">
                                                        <span class="step-circle"><i class="fas fa-check"></i></span>
                                                        <span class="step-text">Feasibility Approved</span>
                                                    </div>
                                                </li>
                                                <li class="step">
                                                    <div class="step-content">
                                                        <span class="step-circle">5</span>
                                                        <span class="step-text">Approval Self Certification</span>
                                                    </div>
                                                </li>
                                                <li class="step">
                                                    <div class="step-content">
                                                        <span class="step-circle">6</span>
                                                        <span class="step-text">Work Execution</span>
                                                    </div>
                                                </li>
                                                <li class="step">
                                                    <div class="step-content">
                                                        <span class="step-circle">7</span>
                                                        <span class="step-text">Inspection Self Certification</span>
                                                    </div>
                                                </li>
                                                <li class="step">
                                                    <div class="step-content">
                                                        <span class="step-circle">8</span>
                                                        <span class="step-text">Meter Installation</span>
                                                    </div>
                                                </li>
                                                <li class="step">
                                                    <div class="step-content">
                                                        <span class="step-circle">9</span>
                                                        <span class="step-text">Subsidy Claimed</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Lead Progressbar ends -->
                                        <div class="leadsummary">
                                            <div class="leaddetailcnt">
                                                <tabset class="tab-container">
                                                    <tab heading="{{ 'Summary' | localize }}" [active]="true">
                                                        <div class="tab-content mt-6">
                                                            <div class="lead-status mb-6">
                                                                <div class="owner steps">
                                                                    <i class="las la-user-alt"></i>
                                                                    <div>Current Lead Owner:<span>Super Admin</span></div>
                                                                </div>
                                                                <div class="created steps">
                                                                    <i class="las la-user-edit"></i>
                                                                    <div>Lead Ceated By:<span>Super Admin</span></div>
                                                                </div>
                                                                <div class="date steps">
                                                                    <i class="las la-calendar-week"></i>
                                                                    <div>Lead Created On:<span>07-06-2022 00:00:00</span></div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="card">
                                                                        <h5 class="card-header">Contact Detail</h5>
                                                                        <div class="card-body">
                                                                            <ul class="leaddata">
                                                                                <li class="address"><i class="las la-map-marker"></i> Sakkar Kuvadi,tankari,aslali,nikol,ahmedabad,gujrat, 382360 </li>
                                                                                <li class="email"><i class="las la-envelope"></i> nileshdhimar@gmail.com </li>
                                                                                <li class="phone"><i class="las la-phone"></i> </li>
                                                                                <li class="mobile"><i class="las la-mobile"></i> 0123654789 </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="card">
                                                                        <h5 class="card-header">Other Detail</h5>
                                                                        <div class="card-body">
                                                                            <ul class="leaddata">
                                                                                <li class="phone"><i class="las la-city"></i> Solar Type : Commercial</li>
                                                                                <li class="phone"><i class="lab la-sourcetree"></i> Common Meter : No</li>
                                                                                <li class="address"><i class="las la-tags"></i>Consumer No : 123456789</li>
                                                                                <li class="address"><i class="las la-sticky-note"></i>Notes : Test By Ravindra</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </tab>
                                                    <tab heading="{{ 'Map' | localize }}">
                                                        <div class="tab-content mt-6">Map</div>
                                                    </tab>
                                                    <tab heading="{{ 'Activity Log' | localize }}">
                                                        <div class="tab-content mt-6">
                                                            <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between leaddtltitle">
                                                                <div class="align-items-center d-flex flex-sm-nowrap flex-wrap">
                                                                    <h3 class="me-3">Activity</h3>
                                                                </div>
                                                                <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                                                                    <div class="me-3">
                                                                        <button name="RefreshButton" class="float-end refresh"></button>
                                                                    </div>
                                                                    <div class="me-3">
                                                                        <select class="form-control">
                                                                                <option value="0">All Activity</option>
                                                                                <option >SMS</option>
                                                                                <option >Reminder</option>
                                                                                <option >Notify</option>
                                                                            </select>
                                                                    </div>
                                                                    <div class="me-3">
                                                                        <div class="form-check form-switch form-check-custom form-check-solid">
                                                                            <input type="checkbox" id="currentPage" class="form-check-input">
                                                                            <label for="currentPage" class="form-check-label"> Current Page</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="me-0">
                                                                        <div class="form-check form-switch form-check-custom form-check-solid">
                                                                            <input type="checkbox" id="myActivity" class="form-check-input">
                                                                            <label for="myActivity" class="form-check-label"> My Activity </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="timeline">

                                                                <div class="timeline-item ng-star-inserted">
                                                                    <div class="timeline-line w-40px"></div>
                                                                    <div class="timeline-icon symbol symbol-circle symbol-40px me-4">
                                                                        <div class="badge badge-primary symbol-label"><i class="la la-file-upload"></i></div>
                                                                    </div>
                                                                    <div class="timeline-content mb-4 mt-n1">
                                                                        <div class="pe-3 mb-3">
                                                                            <div class="fs-7 mb-1 align-items-center d-flex justify-content-between"><span class="fw-bolder me-3">- Job Document</span><span class="fw-bold align-items-center d-flex"><i class="las la-history fs-2 me-1"></i><span class="fs-7">31-05-2022 04:22:08</span></span>
                                                                            </div>
                                                                            <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-2">
                                                                                <p class="m-0 ng-star-inserted">
                                                                                    <a href="javascript:void(0)">Ravindra Gohel</a> -
                                                                                    <span class="ng-star-inserted">
                                                                                        Job Document Uploaded                                                                                   
                                                                                    </span>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="timeline-item ng-star-inserted">
                                                                    <div class="timeline-line w-40px"></div>
                                                                    <div class="timeline-icon symbol symbol-circle symbol-40px me-4">
                                                                        <div class="badge badge-success symbol-label"><i class="la la-sync-alt"></i></div>
                                                                    </div>
                                                                    <div class="timeline-content mb-4 mt-n1">
                                                                        <div class="pe-3 mb-3">
                                                                            <div class="fs-7 mb-1 align-items-center d-flex justify-content-between"><span class="fw-bolder me-3">- Job Modified</span><span class="fw-bold align-items-center d-flex"><i class="las la-history fs-2 me-1"></i><span class="fs-7">31-05-2022 04:22:08</span></span>
                                                                            </div>
                                                                            <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-2">
                                                                                <p class="m-0 ng-star-inserted">
                                                                                    <a href="javascript:void(0)">Nilesh Dhimar</a> -

                                                                                    <span class="ng-star-inserted">
                                                                                        Job Updated                                                                                  
                                                                                    </span>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </tab>
                                                    <tab heading="{{ 'Job' | localize }}">
                                                        <div class="tab-content mt-6">
                                                            <div class="white-form-block job-container">
                                                                <div class="form-container">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <h3>Job Details</h3>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="jobType" class="form-label">Type:</label>
                                                                                <select name="jobType" id="jobType" class="form-select">
                                                                                    <option>New System</option>
                                                                                    <option>Additional System System</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Manual Quote:</label>
                                                                                <input type="text" id="" class="form-control" name="" placeholder='' value="Manual Quote" />
                                                                            </div>
                                                                        </div> -->
                                                                        <div class="col-md-12 mt-6">
                                                                            <h3>Site Address</h3>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="Lead_AddressLine1" class="form-label">Address1</label>
                                                                                <input type="text" id="Lead_AddressLine1" class="form-control" name="Address1" placeholder='Address1' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="Lead_AddressLine2" class="form-label">Address2</label>
                                                                                <input type="text" id="Lead_AddressLine2" class="form-control" name="Address2" placeholder='Address2' />
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="CityName" class="form-label">City</label>
                                                                                <input type="text" id="CityName" class="form-control" name="CityName" placeholder='Select City' />
                                                                                <!-- <validation-messages [formCtrl]="suburbInput"></validation-messages> -->
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="TalukaName" class="form-label">Taluka</label>
                                                                                <select name="TalukaName" class="form-select" id="selectTalukaId">
                                                                                    <option selected>Select Taluka</option>
                                                                                    <!-- <option *ngFor="let itemltaluka of drptaluka" value="{{itemltaluka.id}}">
                                                                                        {{itemltaluka.displayName}}
                                                                                    </option> -->
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="DistrictName" class="form-label">District</label>
                                                                                <select name="DistrictName" class="form-select" id="selectDistrictId">
                                                                                        <option [ngValue]="undefined" selected>Select District</option>
                                                                                        <!-- <option *ngFor="let itemldistrict of drpdistrict"
                                                                                            value="{{itemldistrict.id}}">
                                                                                            {{itemldistrict.displayName}}
                                                                                        </option> -->
                                                                                    </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="StateName" class="form-label">State</label>
                                                                                <select name="StateName" class="form-select " id="selectStateId">
                                                                                        <option selected>Select State</option>
                                                                                        <!-- <option *ngFor="let itemlstate of drpstate" value="{{itemlstate.id}}">
                                                                                            {{itemlstate.displayName}}
                                                                                        </option> -->
                                                                                    </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-2">
                                                                            <div class="form-group">
                                                                                <label for="postcode" class="form-label">{{l("Postcode")}} </label>
                                                                                <input type="text" id="Lead_Postcode" class="form-control" name="Postcode" placeholder='Postcode' />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="devider"></div>
                                                                <div class="form-container">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <h3>Add New Job</h3>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="jobType" class="form-label">Job Type:</label>
                                                                                <select _ngcontent-sey-c290="" name="jobType" id="jobType" class="form-select">
                                                                                        <option>New System</option>
                                                                                        <option>Additional System System</option>
                                                                                    </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Manual Quote:</label>
                                                                                <input type="text" id="" class="form-control" name="" placeholder='' value="Manual Quote" />
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-8">
                                                                            <div class="col-md-12 mt-4">
                                                                                <h3>Address Details</h3>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label for="Lead_AddressLine1" class="form-label">Address1</label>
                                                                                        <input type="text" id="Lead_AddressLine1" class="form-control" name="Address1" placeholder='Address1' />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label for="Lead_AddressLine2" class="form-label">Address2</label>
                                                                                        <input type="text" id="Lead_AddressLine2" class="form-control" name="Address2" placeholder='Address2' />
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="CityName" class="form-label">City</label>
                                                                                        <input type="text" id="CityName" class="form-control" name="CityName" placeholder='Select City' />
                                                                                        <!-- <validation-messages [formCtrl]="suburbInput"></validation-messages> -->
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="TalukaName" class="form-label">Taluka</label>
                                                                                        <select name="TalukaName" class="form-select" id="selectTalukaId">
                                                                                                <option selected>Select Taluka</option>
                                                                                                <!-- <option *ngFor="let itemltaluka of drptaluka" value="{{itemltaluka.id}}">
                                                                                                    {{itemltaluka.displayName}}
                                                                                                </option> -->
                                                                                            </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="DistrictName" class="form-label">District</label>
                                                                                        <select name="DistrictName" class="form-select" id="selectDistrictId">
                                                                                                <option [ngValue]="undefined" selected>Select District</option>
                                                                                                <!-- <option *ngFor="let itemldistrict of drpdistrict"
                                                                                                    value="{{itemldistrict.id}}">
                                                                                                    {{itemldistrict.displayName}}
                                                                                                </option> -->
                                                                                            </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="StateName" class="form-label">State</label>
                                                                                        <select name="StateName" class="form-select " id="selectStateId">
                                                                                                <option selected>Select State</option>
                                                                                                <!-- <option *ngFor="let itemlstate of drpstate" value="{{itemlstate.id}}">
                                                                                                    {{itemlstate.displayName}}
                                                                                                </option> -->
                                                                                            </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="postcode" class="form-label">{{l("Postcode")}} </label>
                                                                                        <input type="text" id="Lead_Postcode" class="form-control" name="Postcode" placeholder='Postcode' />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4 notes-sec">
                                                                            <div class="col-md-12 mt-4 ps-2">
                                                                                <h3>Notes</h3>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label for="Lead_AddressLine1" class="form-label">Project</label>
                                                                                    <textarea class="form-control" rows="3">Project Notes</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label for="Lead_AddressLine1" class="form-label">Installer</label>
                                                                                    <textarea class="form-control" rows="3">Installer Notes</textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label for="Lead_AddressLine1" class="form-label">Installation Department</label>
                                                                                    <textarea class="form-control" rows="3">notes for installation Department</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <!-- <div class="col-md-12 my-3">
                                                                            <button type="submit" class="btn btn-primary btn-lg"><i class="las la-save"></i>Add</button>
                                                                        </div> -->
                                                                    </div>

                                                                </div>

                                                                <div class="devider"></div>
                                                                <div class="form-container">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <h3>Sales 2</h3>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="ConsumerNo" class="form-label">{{l("Consumer No.")}} *</label>
                                                                                <input type="text" id="Lead_ConsumerNo" required class="form-control" name="ConsumerNo" placeholder='Consumer No' />
                                                                                <!-- <validation-messages [formCtrl]="ConsumerNoInput"></validation-messages> -->
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="SubDivision" class="form-label">{{l("Sub Division")}} *</label>
                                                                                <p-autoComplete id="SubdivisionInput" field="label" placeholder='{{l("selecteSubdivision")}}' [minlength]="1" name="SubdivisionInput" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                                </p-autoComplete>
                                                                                <!-- <validation-messages [formCtrl]="SubdivisionInput"></validation-messages> -->
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="Division" class="form-label">{{l("Division")}} *</label>
                                                                                <select class="form-control" id="SelectDivisionId" #DivisionNameInput name="DivisionName" required>
                                                                                    <option [ngValue]="undefined">Select Division</option>
                                                                                    <!-- <option *ngFor="let itemdivision of drpdivision"
                                                                                        value="{{itemdivision.id}}">
                                                                                        {{itemdivision.displayName}}
                                                                                    </option> -->
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group ">
                                                                                <label for="Discom" class="form-label">{{l("Discom")}} *</label>
                                                                                <select class="form-control" id="SelectDiscomId" #DiscomNameInput name="DiscomName" required>
                                                                                    <option [ngValue]="undefined">Select Discom</option>
                                                                                    <!-- <option *ngFor="let itemdiscom of drpdiscom" value="{{itemdiscom.id}}">
                                                                                        {{itemdiscom.displayName}}
                                                                                    </option> -->
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="Circle" class="form-label">Circle *</label>
                                                                                <input type="text" id="Circle" required class="form-control" name="Circle" placeholder='Circle' />
                                                                                <!-- <validation-messages [formCtrl]="ConsumerNoInput"></validation-messages> -->
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="SanctionedLoad" class="form-label">Sanctioned Load (in KW)</label>
                                                                                <input type="number" id="SanctionedLoad" class="form-control" name="" placeholder='Sanctioned Load' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="Phase_Inverter" class="form-label">Phase Of Inverter</label>
                                                                                <select class="form-control" id="Phase_Inverter" #DiscomNameInput name="">
                                                                                    <option>Select Option</option>                            
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="PVCapicuty" class="form-label">Pv Capacity (DC) to be installed (in KW)</label>
                                                                                <input type="number" id="PVCapicuty" class="form-control" name="" placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="devider"></div>
                                                                <div class="form-container">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <h3>Products</h3>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="form-row mb-5">
                                                                                <div class="d-flex align-items-center">
                                                                                    <div class="me-5 w-275px">
                                                                                        <select class="form-control">
                                                                                            <option>Module</option>
                                                                                            <option>Inverters</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="me-5 w-500px">
                                                                                        <input type="text" id="" class="form-control" name="" value='Jinko 440W Tiger Pro' />
                                                                                    </div>
                                                                                    <div class="me-5 w-250px">
                                                                                        <input type="text" id="" class="form-control" name="" value='JKM440M-6TL4' />
                                                                                    </div>
                                                                                    <div class="me-5 w-225px">
                                                                                        <input type="number" id="" class="form-control" name="" value='14' />
                                                                                    </div>
                                                                                    <div class="me-0 action-btn w-125px">
                                                                                        <a class="me-2"><i class="las la-trash text-danger"></i></a>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <div class="form-row mb-4">
                                                                                <div class="d-flex align-items-center">
                                                                                    <div class="me-5 w-275px">
                                                                                        <select class="form-control">
                                                                                            <option>Module</option>
                                                                                            <option>Inverters</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="me-5 w-500px">
                                                                                        <input type="text" id="" class="form-control" name="" value='Jinko 440W Tiger Pro' />
                                                                                    </div>
                                                                                    <div class="me-5 w-250px">
                                                                                        <input type="text" id="" class="form-control" name="" value='JKM440M-6TL4' />
                                                                                    </div>
                                                                                    <div class="me-5 w-225px">
                                                                                        <input type="number" id="" class="form-control" name="" value='14' />
                                                                                    </div>
                                                                                    <div class="me-0 action-btn w-125px">
                                                                                        <a class="me-2"><i class="las la-trash text-danger"></i></a>
                                                                                        <a><i class="las la-plus-circle text-primary"></i></a>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="devider"></div>
                                                                <div class="form-container">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <h3>Sales 4</h3>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Actual System Cost</label>
                                                                                <input type="number" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">40% subsidy</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">20% subsidy</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Total Subcidy Amount</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Net System Cost</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Diposite Amout</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Structure Amount</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Net Meter Charges</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Agreement Charges</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Geda charges</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="" class="form-label">Total Project Cost</label>
                                                                                <input type="text" id="" class="form-control" name="" required placeholder='' />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </tab>
                                                </tabset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<InstallationListDetailModal #InstallationListDetailModal></InstallationListDetailModal>