.kt-loginheader {
    display: none !important;
  }
  
  .kt-login__body {
    padding: 0px !important;
  }
  .wrapper {
  margin-top:20px;
    position: relative;
    width: 100%;
    height: 130px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
  }
  
  .signature-pad {
    position:relative;
    // position: absolute;
    // left: 0;
    // top: 0;
    // width:300px;
    // width:100%;
    height:130px;
    border:1px solid #ccc;
    border-radius:10px;
    background:#fff;
  }
  
  /* New style starts */
  
  body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    font-weight: 500;
    // background: #F5F8FA !important;
  }
  
  .sign-header {
  padding: 12px 0;  
  }
  
  .t-center {
  text-align: center !important;
  }
  
  .t-left {
  text-align: left !important;
  }
  
  .t-right {
  text-align: right !important;
  }
  
  .d-flex {
  display: flex;
  }
  
  .align-items-center {
  align-items: center;
  }
  
  .justify-content-between {
  justify-content: space-between;
  }
  
  .mr-10 {
  margin-right: 10px !important
  }
  
  .mb-15 {
  margin-bottom: 15px !important
  }
  
  .mb-20 {
  margin-bottom: 20px !important
  }
  
  section {
  padding: 30px 15px;
  }
  
  section h1 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 0;
  }
  
  .container {
  max-width: 640px;
  min-width: 320px;margin: 15px auto;
  padding:0;
  overflow:hidden;
  border-radius: 10px;        
    }
  
  .sm-container {
  background:#F5F8FA !important;
  }
  
  .sb-container {
  background:#f9efe8 !important;
  }
  
  .savy-container {
  background:#fffdf9 !important;
  }
  
  .savy-container .container {
  border:1px solid #efd9b1;
  }
   
  .customer-section {
    background: #F5FAFF;
  }
  
  .savy-container .customer-section {
  background: #fffaef;
  }
  
  
  .sb-container .customer-section {
  background: #FFFAF7;
  }
  
  .customer-info {
    width: 380px;
    font-weight: 600;
    line-height: 24px;
  }
  
  .customer-info h2 {
    font-size: 22px;
    font-weight: bolder;
    margin: 0 0 20px;
    padding: 0;
    font-weight:600 !important;
  }
  
  .tech-info {
    background: #fff;
    padding: 15px;
    border: 1px solid #D8E0E9;
    border-radius: 10px;
  }
  
  .savy-container .tech-info {
  border-color:#f3bfa5 !important;
  }
  
  .tech-info ul {
    width: 49%;
    margin: 0;
    padding: 0;
  }
  
  .tech-info ul li {
    display: block;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .tech-info ul li span {
    font-weight: normal;
  }
  
  .white-bg, .white {
    background: #fff;
  }
  
  .table-box {
  background:#fff; border:4px solid #ddd; border-radius:10px; overflow:hidden;
  }
  
  .sb-container .table-box {
  border:4px solid #FFCCB2;
  }
  
  .savy-container .table-box {
  border:4px solid #efd9b1;
  }
  
  .main-table table {
    width: 100%;
    border: 0;
    border: 0;
    border-collapse: collapse;
    margin: 0;
  }
  
  .main-table table th {
    font-weight: bold;
    text-align: left;
  }
  
  .main-table table th,
  .main-table table td {
    padding: 10px;
    font-size: 13px;
    border-width: 1px 0 !important;
  }
  
  .main-table table tr.highlight td,
  .main-table table th {
    background: #F5FAFF;
    border: 1px solid #CADAEB;
    border-width: 1px 0 !important;
    font-weight: bold;
  }
  
  .sb-container .main-table table th {
    background: #f50;
    border: 1px solid #ffccb2;    
    color:#fff;
  }
  
  .savy-container .main-table table th {
  background: #FDB432;
  color:#1a1a1a;
  }
  
  .main-table table tr.highlight.balance td {
    font-size: 14px;
    font-weight: bold !important;
    text-align: right;
  }
  
  .sb-container .main-table table tr.highlight td
  {
    background: #fff3ed;
    border: 1px solid #FFCCB2;    
  }
  
  .savy-container .main-table table tr.highlight td
  {
    background: #FFF4E0;
    border: 1px solid #f1e1c3;    
  }
  
  .main-table table tr td:last-child {
    text-align: right;
  }
  
  .no-bdr {
    border: none !important;
  }
  
  .tc-block {
    //background: url("https://thesolarproduct.com/assets/common/images/sm/tc-bg.png") no-repeat top center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;        
    padding: 20px 15px;
    background-size: cover;
  }
  
  .tc-block p {
    text-align: justify;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .tc-block p:last-child {
    margin: 0;
  }
  
  .red-bg {
    background: #E63338;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding: 20px 15px;
  }
  
  .sm-container .red-bg {
  background:#29588f !important;
  }
  
  .sb-container .red-bg {
  background:#f50 !important;
  }
  
  .savy-container .red-bg {
  background:#201F1F !important;  
  }
  
  .main-banner img {
    width: 220px;
  }
  
  .bottom-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;
  font-size: 0.7rem;
  font-weight: 600;
  }
  
  .btn-box {
  margin: 0;
  text-align: center;
  border-top: 1px solid #ced9ee;
  padding: 15px;
  background: #F1F6FF;
  }
  
  .sb-container .btn-box {
  border-top:1px solid #ffccb2 !important;
  background:#fffaf7 !important;
  }
  
  .savy-container .btn-box {
  border-top:1px solid #201F1F !important;
  background:#201F1F !important;
  }
  
  .main-button {
  padding: 0 0;
  width:83px;
  height:47px;
  line-height: 47px;
  color: #fff;
  border-radius: 5px;
  background: #0057D9;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
  z-index:1;
  
  }
  
  .sb-container .main-button {
  background:#f50 !important;
  }
  
  .savy-container .main-button {
  color: #000 !important;
  background: #FDB432 !important;
  border: 0 !important;
  }
  
  .clear-button {
    padding: 0 0;
    width:83px;
    height:47px;
    line-height: 47px;
  color: #999;
  border-radius: 5px;
  background: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #cdd7e9;
  cursor: pointer;
  z-index:1;
  }
  
  .sb-container .clear-button {
  border:1px solid #cdd7e9 !important;
  }
  
  .savy-container .clear-button {
  background: #3e3939 !important;  
  border: 1px solid #585050 !important;
  }
  
  .tags {background:#e1e1ef;}
  .sb-container .tags {background:#fffaf7; border:1px solid #f8c2a7;}
  .savy-container .tags {background:#FFF0D4; border:1px solid #f3e1c0;}
    
    @media screen and (max-width: 600px) {
      .bottom-tags {
        flex-direction: column;
      }
      .container {
        padding:0;
      }
      
        .customer-section {
            flex-direction: column-reverse;
        }
        .main-banner {
            width: 100%;
            text-align: center;
        }
        .main-banner img {
            width: 50%;
        }
        .customer-info {
            width: 100%;
            margin: 15px 0 0 0;
            padding: 15px 0 0 0;
            text-align: center;
        }
        .customer-info .d-flex {
            justify-content: center;
        }
        .tech-info ul li {
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
            text-align: left;
        }
        .tech-info ul li:last-child {
            margin: 0;
        }
  }