<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>
</head>
<style>
    .form-control-chk {
        font-family: system-ui, sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 1.2em;
    }
    
    .form-control-chk+.form-control-chk {
        margin-top: 1em;
    }
    
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.50em;
        height: 1.50em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }
    
    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
    
    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }
    
    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
    
    input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);
        color: var(--form-control-disabled);
        cursor: not-allowed;
    }
    
    .f12 {
        font-size: 12px !important;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .f18 {
        font-size: 18px !important;
    }
    
    .my15 {
        margin: 15px 0 !important;
    }
    
    .mb5 {
        margin-bottom: 5px !important;
    }
    
    .mb10 {
        margin-bottom: 10px !important;
    }
    
    .mb15 {
        margin-bottom: 15px !important;
    }
    
    .mb20 {
        margin-bottom: 20px !important;
    }
    
    .text-right {
        text-align: right !important;
    }
    
    .bolder {
        font-weight: 900 !important;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .medium {
        font-weight: 500 !important;
    }
    
    .dflex {
        display: flex;
    }
    
    .align-item-center {
        align-items: Center;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }
    
    .pdf-panel {
        border: 1px solid #BFD5F5;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .pdf-panel .pdf-panel-header {
        background-color: #C6DDFF;
        font-size: 18px;
        color: #000;
        height: 44px;
        padding: 0 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }
    
    .pdf-panel .pdf-panel-container {
        background: #fff;
        padding: 15px;
        font-size: 14px !important;
    }
    
    .pdf-customer-info .pdf-customer {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .pdf-customer-info .pdf-customer-detail {
        display: flex;
        align-items: center;
        margin: 0 0 15px 0;
    }
    
    .pdf-gray-box {
        background-color: #EAF2FF;
        padding: 5px 8px;
        font-size: 14px;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .pdf-gray-box .table {
        border: 0 !important;
        width: 100% !important;
    }
    
    .pdf-gray-box .table td {
        padding: 3px !important;
        border: 0 !important;
    }
    
    .pdf-price-box {
        border-radius: 10px;
        overflow: hidden;
    }
    
    .pdf-price-box .price-table {
        border: 1px solid #BFD5F5;
        border-collapse: collapse;
        width: 100%;
    }
    
    .pdf-price-box .price-table tr th,
    .pdf-price-box .price-table tr td {
        padding: 10px 15px;
        font-size: 14px;
    }
    
    .pdf-price-box .price-table tr td {
        border-collapse: collapse;
    }
    
    .pdf-price-box .price-table tr td:last-child {
        text-align: right;
    }
    
    .pdf-price-box .price-table tr th {
        background-color: #0057D9;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .pdf-price-box .price-table tr.product-details td {
        background: #F7FAFE;
        text-align: left;
        padding: 10px 15px;
        font-size: 14px;
    }
    
    .pdf-price-box .price-table tr.discount td {
        background-color: #FFE9E2;
    }
</style>

<div *ngIf="!expired && !signed">
    <div class="container" style="margin-top:0;">
        <table style="width:100%; border:0 !important;">
            <tr>
                <td>
                    <div class="sign-header t-center">
                        <img src="http://solarcrm.co.in/assets/common/images/app-logo.svg" style="max-width:180px;">
                        <!-- <img [src]="quotationData.orgLogo" style='max-width:200px;'> -->
                    </div>
                </td>
            </tr>
            <tr>
                <div class='pdf-panel mb10'>
                    <div class='pdf-panel-header'>Ravindra Gohel
                        <!-- {{Customer.Name}} -->
                    </div>
                    <div class='pdf-panel-container'>
                        <div class="dflex align-item-center justify-space-between">
                            <div class='dflex align-item-center justify-space-between' style='flex-direction:column'>
                                <div class='pdf-customer-info' style="width:100%;">
                                    <div class="dflex align-item-center justify-space-between">
                                        <div class='pdf-customer-detail'><img src='http://solarcrm.co.in/assets/common/images/pdf-imgs/mobile.png' style='width:12px; margin-right:10px'>
                                            <!-- +91 {{Customer.Mobile}} -->
                                            +91 0101010101
                                        </div>
                                        <div class='pdf-customer-detail'><img src='http://solarcrm.co.in/assets/common/images/pdf-imgs/mail.png' style='width:16px; margin-right:10px'> customeremail@gmail.com
                                            <!-- {{Customer.Email}} -->
                                        </div>
                                    </div>

                                    <div class='pdf-customer-detail' style="width:100%;"><img src='http://solarcrm.co.in/assets/common/images/pdf-imgs/map.png' style='height:18px; margin-right:10px'> 10 - Shreeji Bunglows, New CG Road, Ahmedabad. 382424.
                                        <!-- {{Customer.Address}}- -->
                                    </div>
                                </div>
                                <div class='pdf-gray-box' style="width:100%;">
                                    <table class='table' style="margin-bottom:0;">
                                        <tr>
                                            <td>Issue Date</td>
                                            <td>:</td>
                                            <td>
                                                <!-- {{Quote.QuoteDate}} -->
                                                Date
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Solar Advisor</td>
                                            <td>:</td>
                                            <td>
                                                Nilesh Dhimar
                                                <!-- {{Quote.SolarAdvisorName}} -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td>:</td>
                                            <td>
                                                Phn NO
                                                <!-- {{Quote.SolarAdvisorMobile}} -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>:</td>
                                            <td>
                                                SA Email
                                                <!-- {{Quote.SolarAdvisorEmail}} -->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <img src="ttp://solarcrm.co.in/assets/common/images/banner-img.png" style="max-width:160px; margin-left:15px;">
                        </div>
                    </div>
                </div>
            </tr>
        </table>
    </div>
    <div style="background:#fff; padding:10px 0; overflow:hidden">
        <div class="container">
            <div class='pdf-price-box mb20'>
                <table class='price-table'>
                    <tr>
                        <th style='text-align: left;'>Product Description</th>
                        <th style='width: 140px;'>Total cost<br><span class='f14'>(Inc. GST)</span></th>
                    </tr>
                    <tr class='product-details'>
                        <td colspan='2'>
                            <div class='f16 bolder mb5'>3.35 KW</div>
                            <div class='medium'>Including Design, Supply & Installation</div>
                        </td>
                    </tr>
                    <tr>
                        <td style='border: 1px solid #BFD5F5; border-width:0 1px 1px;'>
                            <div class='mb10'>
                                <div class='medium mb5'>Panels</div>APS 330 Wp Panels( APSAP6-330/72)
                            </div>
                            <div class=''>
                                <div class='medium mb5'>Inverter</div>APS 10.0 kW(APSG-3-10k-IN)
                            </div>
                        </td>
                        <td style='border: 1px solid #BFD5F5; border-width:0 0 1px;' class='medium'>₹ 1,60,166.00</td>
                    </tr>
                    <tr>
                        <td style='border: 1px solid #BFD5F5; border-width:0 1px 0;'>Subsidy 40%</td>
                        <td class=''>₹ 55,979.00</td>
                    </tr>
                    <tr>
                        <td style='border: 1px solid #BFD5F5; border-width:0 1px 0;'>Subsidy 20%</td>
                        <td class=''>₹ 3267.00</td>
                    </tr>
                    <tr>
                        <td style='border: 1px solid #BFD5F5; border-width:0 1px 0;'>Other charges</td>
                        <td class=''>₹ 3750.00</td>
                    </tr>
                    <tr class='discount'>
                        <td style='border: 1px solid #BFD5F5; border-width:0 1px 0;'>Any discount</td>
                        <td class=''>₹ 2000.00</td>
                    </tr>
                    <tr>
                        <th style='text-align:left;'>Total Payble Amount By Customer</th>
                        <th style='text-align:right;'>₹ 1,24,921.00</th>
                    </tr>
                </table>
            </div>

            <div style="font-weight:500; margin:10px 0 20px; line-height:28px; font-size:14px;">
                <input type="checkbox" name="isChange" id="isChange" [(ngModel)]="checkboxtrue" required style="float:left; top: 2px; margin-right:5px; position: relative;" /> I have read and understood the above. Also, accept the standard terms and conditions
                outlined <span style="display:inline-block; cursor: pointer; text-decoration: underline; color:#407BFF !important;">here</span>
            </div>

            <div class="digitalsignaturebox">
                <div class="digitalsignature">

                    <div style="text-align:center;">
                        <!-- <signature-pad #signature [options]="signaturePadOptions" (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)"></signature-pad> -->
                        <!-- <ng-signature-pad doneButtonText="Show Image" format="base64" (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)">
                        </ng-signature-pad> -->
                        <canvas id="signature-pad" class="signature-pad" width=310 height=130 style="background-color:#fff; border:1px solid rgb(153, 153, 153); border-radius:5px;"></canvas>
                    </div>
                    <div>

                    </div>
                </div>
            </div>

            <div class="bottom-tags">
                <div class="tags" style="padding:5px 10px;  border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Captured IP Address: </span>
                    <span style="font-weight:700">{{ipAddress}}</span>
                </div>
                <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Latitude: </span>
                    <span style="font-weight:700">{{lat}}</span>
                </div>
                <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Longitide: </span>
                    <span style="font-weight:700">{{lng}}</span>
                </div>
            </div>

            <div class="dflex align-item-center justify-space-between" style="border-top:1px solid #ddd; margin-top:20px; padding-top:20px;">
                <button id="save" (click)="save()" class="main-button" style="float:left; width:47%;">Save</button>
                <button id="clear" (click)="clear()" class="clear-button" style="float:right; width:47%;">Clear</button>
            </div>


        </div>
    </div>
</div>

<div style="padding:60px 0; display:flex; flex-direction:column; align-items: center;" *ngIf="signed">
    <div style="text-align:center; margin:0 0;"><img src="http://solarcrm.co.in/assets/common/images/banner-img.png"></div>
    <div style="text-align:center; font-size:20px; margin:50px 0 20px; font-weight:bold;">You have already signed the Quotation !!</div>
    <div style="text-align:center; font-size:16px; color:#777; margin:0 0 0; font-weight:600;">Please Ignore this email/SMS</div>
</div>

<div style="padding:60px 0; display:flex; flex-direction:column; align-items: center;" *ngIf="expired">
    <div style="text-align:center; margin:0 0;"><img src="http://solarcrm.co.in/assets/common/images/link-expired.jpg" style="width:95%;"></div>
    <div style="text-align:center; font-size:20px; margin:40px 0; font-weight:bold;">Sorry, The link you followed has expired.</div>
</div>

<section class="white-bg">
    <div style="text-align:center; margin:0 0;"><img src="http://solarcrm.co.in/assets/common/images/submit.jpg" style="width:95%;"></div>
    <div style="text-align:center; font-size:40px; font-weight:bold; margin:0 0 20px;">Thank You!</div>
    <div style="text-align:center; font-size:20px; margin:20px 0;">You have successfully signed the documents !!</div>
</section>


<div class="col-md-5" style="display: none;">
    <div class="expiredmessage" *ngIf="signed">
        <img src="../../assets/common/images/smile.svg" style="width:100px;" />
        <h3 class="mt-4">Hello </h3>
        <p class="text-center">You have already signed the Quotation. <br /> Please Ignore this email/SMS</p>
    </div>
    <div class="expiredmessage" *ngIf="expired">
        <img src="../../assets/common/images/smile.svg" style="width:100px;" />
        <h3 class="mt-4">Sorry </h3>
        <p class="text-center">Your Link Has Expired Please Request New Link Again. <br /> Thank You</p>
    </div>
    <div *ngIf="!expired && !signed">
        <!-- <div [innerHtml]="htmlContentbidy"></div> -->
        <div class="digitalsignaturebox">
            <div class="digitalsignature">
                <h5>Signature</h5>
                <div class="wrapper">
                    <!-- <signature-pad #signature [options]="signaturePadOptions" (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)"></signature-pad> -->
                    <!-- <ng-signature-pad doneButtonText="Show Image" format="base64" (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)">
                    </ng-signature-pad> -->
                    <canvas id="signature-pad" class="signature-pad" width=300 height=130 style="background-color:beige;"></canvas>
                </div>
                <div>
                    <button id="save" (click)="save()">Save</button>
                    <button id="clear" (click)="clear()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>