<div appBsModal #applicationReadyStatusModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Application Ready Status</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 row align-items-center">
                            <label class="col-lg-6 col-form-label"><strong>Applicaiton Ready Status:</strong></label>
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                    <option>Doc Pending</option>                                            
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary">
                    <i class="las la-save"></i>
                    {{ 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>