<style>
    .lead-container {
        max-height: 63vh;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid">
    <div class="filter-row">
        <div class="align-items-center d-flex justify-content-between full-width-mob">
            <div class="d-flex align-items-center flex-wrap justify-content-between full-width-mob">
                <sub-header [title]="'Application Tracker' | localize" [count]="recordCount" [description]="'ApplicationTracker' | localize">
                </sub-header>
                <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                    <button id="dropdownButton" type="button" class="btn btn-primary info-btn btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                        <i class="las la-question"></i>
                    </button>
                    <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                        <li role="menuitem">
                            <div class="dropdown-item">System Size</div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">Structure Amount</div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">Sign Quotation</div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Light Bill
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Premises ownership document
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Adharcard
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Cancel Cheque
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Passport Size Photo
                            </div>
                        </li>
                        <li role="menuitem">
                            <div class="dropdown-item">
                                Pancard (Mandatory in Torrent)
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
        </div>


        <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
            <div class="container-fluid">
                <div class="form-body filter-options lead-filters">
                    <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="me-2">
                            <button name="RefreshButton" class="float-end refresh" (click)="getApplicationList()"></button>
                        </div>
                        <div class="me-2" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ExportToExcel')">
                            <div class="btn-group" dropdown placement="button right">
                                <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                    Export
                                </button>
                                <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                    <li role="menuitem">
                                        <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="me-1">
                            <div *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                <div class="me-2" *ngIf="organizationUnitlength > 0">
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getApplicationList()">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="me-2">
                            <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="me-2">
                            <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Application Status" [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID" class="form-control">
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="me-2">
                            <select name="applicationstatusTrackerFilter" class="form-control" (change)="getApplicationList()" [(ngModel)]="applicationstatusTrackerFilter">
                                <option value="0">{{l("All")}}</option>
                                <option value="2">{{l("Pending")}}</option>
                                <option value="1">{{l("Complete")}}</option>
                                <!-- <option value="3">{{l("Expiry")}}</option> -->
                                <option value="4">{{l("Awaiting Document")}}</option>
                            </select>
                        </div>
                        <div class="me-2 searchclearbox" style="position: relative;">
                            <div class="input-group">
                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getApplicationList()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getApplicationList()"><i class="fas fa-times-circle"></i></a>
                                <button (click)="getApplicationList()" class="btn search-btn" type="submit">
                                </button>
                            </div>
                        </div>

                        <div class="kt-searchmainbox searchclearbox">
                            <div class="kt-advfilterbox me-2">
                                <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                    <i class="las la-filter"></i>
                                </button>
                            </div>
                            <div class="me-0">
                                <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                    <i class="las la-sliders-h"></i>
                                </button>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                <div class="content-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="otpPendingFilter">
                                                    <option value="">OTP Pending?</option>
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    <option value="pending">Pending</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="queryRaisedFilter">
                                                    <option value="">Query Raised?</option>
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter" class="form-control" (change)="changeDiscom()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allCircleData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Circle" [(ngModel)]="CircleIdFilter" name="CircleIdFilter" class="form-control" (change)="changeCircle()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Division" (change)="changeDivision()" [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allSubDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter" name="SubDivisionIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" (change)="chaneSolarType()" bindValue="id" placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allEmployeeList" [multiple]="true" bindLabel="name" [(ngModel)]="employeeIdFilter" [closeOnSelect]="false" bindValue="id" placeholder="All Employee & CPName" name="EmployeeIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.name}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="FilterbyDate">
                                                    <option value="">Filter by Date</option>
                                                    <option value="queryraisedon">Query Raised</option>
                                                    <option value="nextfollowupdate">Next Follow Up date</option>
                                                    <option value="quatationaccepteddate">Quatation Accepted Date
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control me-2" bsDatepicker datePickerLuxonModifier [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-3 justify-content-end">
                                            <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                    class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                            <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..." (click)="getApplicationList()"><i
                                                    class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" [hidden]="FiltersData">
        <div class="lead-data-box">
            <div class="box-item job-type">
                <h2>
                    Total<span>{{applicationSummaryCount.total}}</span>
                </h2>
            </div>
            <!-- <div class="box-item job-type">
                    <h2>
                        App. Ready<span>200</span>
                    </h2>
                </div> -->
            <div class="box-item job-type">
                <h2>
                    App. Pending<span>{{applicationSummaryCount.applicationPending}}</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    OTP Pending<span>{{applicationSummaryCount.otP_Pending}}</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    App. Submitted<span>{{applicationSummaryCount.applicationSubmited}}</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    Feasiblity Approved<span>{{applicationSummaryCount.feasiblityApproved}}</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    Meter Installed<span>{{applicationSummaryCount.meterInstalled}}</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    Subcidy Claimed<span>{{applicationSummaryCount.subcidyClaimed}}</span>
                </h2>
            </div>
        </div>
    </div>

    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
        <div class="kt-portlet kt-portlet--mobile customleadTable">
            <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                <div class="row">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                        <div class="leadmaindiv maindiv">
                            <div class="myleadtable leadcompanynamebar">
                                <div [hidden]="ExpandedView">
                                    <a class="icon_expan btnback" (click)="expandGrid()"><i
                                            class="las la-angle-double-right"></i></a>
                                </div>
                                <div class="grid-container no-wrapData">
                                    <p-table #dataTable sortMode="multiple" (onLazyLoad)="getApplicationList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="false" [scrollable]="true"
                                        ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pFrozenColumn style="width:90px; border-right:0 !important;">Action
                                                </th>
                                                <th pFrozenColumn style="width: 165px" pSortableColumn="projectNumber">
                                                    {{ 'Project Number' | localize }}
                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                </th>
                                                <th style="width: 140px" [hidden]="!ExpandedView" pSortableColumn="LeadStatus">
                                                    Lead Status
                                                </th>
                                                <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="ApplicationStatus">
                                                    Application Status
                                                </th>
                                                <th style="width: 230px" [hidden]="!ExpandedView">Awaiting Document</th>
                                                <th style="width: 220px" [hidden]="!ExpandedView" pSortableColumn="customerName">
                                                    {{ 'Customer Name' | localize }}
                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                </th>
                                                <th style="width: 240px" [hidden]="!ExpandedView" pSortableColumn="address">
                                                    Address
                                                    <p-sortIcon field="address"></p-sortIcon>
                                                </th>
                                                <th style="width: 120px" [hidden]="!ExpandedView" pSortableColumn="mobileNumber">
                                                    Mobile
                                                    <p-sortIcon field="mobile"></p-sortIcon>
                                                </th>
                                                <th style="width: 250px" [hidden]="!ExpandedView" pSortableColumn="applicationNumber">
                                                    Application No
                                                    <p-sortIcon field="applicationNumber"></p-sortIcon>
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView" pSortableColumn="FollowDiscription">
                                                    Follow up Discription
                                                    <p-sortIcon field="leadsource"></p-sortIcon>
                                                </th>
                                                <th style="width: 185px; justify-content: center;" [hidden]="!ExpandedView" pSortableColumn="FollowDate">
                                                    Next follw up date
                                                    <p-sortIcon field="cityName"></p-sortIcon>
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView" pSortableColumn="query">
                                                    Query Discription
                                                    <p-sortIcon field="pincode"></p-sortIcon>
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView" pSortableColumn="comment">
                                                    Comment
                                                    <p-sortIcon field="comment"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr id="selectcustomer" [pSelectableRow]="record">
                                                <td pFrozenColumn style="width:90px; border-right:0 !important;">
                                                    <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                        <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                            <i class="las la-ellipsis-v"></i>
                                                        </button>
                                                        <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.QuickView')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="applicationListDetailModal.GetApplicationQuickView(record.appTracker)">
                                                                    <i class="las la-eye"></i>Quick View
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ApplicationDetails')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="EditapplicationDetailModal.EditApplicationDetails(record.appTracker)">
                                                                    <i class="las la-edit"></i>Application Details
                                                                </a>
                                                            </li>

                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.UploadSignApplication')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="UploadSignApplication.EditUploadSignApplicationDetails(record.appTracker)">
                                                                    <i class="las la-file-upload"></i>Upload Sign Application
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.LoadReduce')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="loadReduceDetailModal.EditLoadReduceDetails(record.appTracker)">
                                                                    <i class="las la-truck-loading"></i>Load Reduce
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Reminder')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.appTracker.leaddata.id,3,0,sectionId)">
                                                                    <i class="las la-bell"></i>Reminder
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.SMS')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.appTracker.leaddata.id,1,0,sectionId)">
                                                                    <i class="las la-comment"></i>SMS
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ToDoList')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.appTracker.leaddata.id,6,0,sectionId)">
                                                                    <i class="las la-tasks"></i>To Do List
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Comment')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.appTracker.leaddata.id,5,0,sectionId)">
                                                                    <i class="las la-comment"></i>Comment
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td pFrozenColumn style="width: 165px" class="gridleadimage" id="selectcustomer" (click)="navigateToLeadDetail(record);">
                                                    <span class="p-column-title">{{ 'ProjectNumber' | localize}}</span> {{ record.appTracker.projectNumber }}
                                                </td>
                                                <td [hidden]="!ExpandedView" style="width:140px;"><span class="badge badge-pill {{record.appTracker.leadStatusColorClass}}">
                                                        {{record.appTracker.leadStatusName}}</span></td>
                                                <td [hidden]="!ExpandedView" style="width:200px;">
                                                    <span *ngIf="record.appTracker.applicationStatusdata != null" class="badge badge-pill {{record.appTracker.applicationStatusdata.applicationStatusLabelColor}}">{{record.appTracker.applicationStatusdata.applicationStatusName}}</span>
                                                </td>

                                                <td style="width: 230px" [hidden]="!ExpandedView">
                                                    <div *ngFor="let item of record.documentListName; let i = index">
                                                        <span tooltipPosition="top" pTooltip="{{item.name}}" [ngClass]="item.isUploadFlag == true ? 'badge lg-font badge-pill badge-success me-1' : 'badge lg-font badge-pill badge-danger me-1'">
                                                            {{l(item.documentShortName)}} </span>
                                                    </div>
                                                </td>
                                                <td style="width: 220px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.appTracker.customerName
                                                        }}</span>
                                                </td>
                                                <td style="width: 240px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;" *ngIf="record.appTracker.address != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.appTracker.address }}">

                                                        {{ record.appTracker.address }}
                                                    </span>
                                                </td>
                                                <td style="width: 120px" [hidden]="!ExpandedView">
                                                    <span class="badge badge-secondary">{{ record.appTracker.mobile
                                                        }}</span>
                                                </td>
                                                <td style="width: 250px" [hidden]="!ExpandedView">
                                                    <span class="badge badge-secondary">{{
                                                        record.appTracker.applicationNumber }}</span>
                                                </td>
                                                <td style="width: 235px" [hidden]="!ExpandedView" *ngIf="record.appTracker.followDiscription != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.appTracker.followDiscription }}">
                                                    {{record.appTracker.followDiscription}}
                                                </td>
                                                <td style="width: 185px;" [hidden]="!ExpandedView">
                                                    <span class="badge badge-pill badge-secondary lg-font d-flex align-items-center" *ngIf="record.appTracker.followDate > 0">
                                                        <i class="las la-calendar fs-2 me-1"></i>
                                                        {{record.appTracker.followDate | date: 'dd-MM-YYYY' }}
                                                    </span>
                                                </td>
                                                <td style="width: 235px" [hidden]="!ExpandedView">
                                                    <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.appTracker.quesryDescription }}">
                                                        {{record.appTracker.quesryDescription }}
                                                    </span>
                                                </td>
                                                <td style="width: 235px" [hidden]="!ExpandedView" *ngIf="record.appTracker.comment != 0">
                                                    <!-- {{record.appTracker.comment}} -->
                                                    <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.appTracker.comment}}" style="text-transform: capitalize;">
                                                        {{record.appTracker.comment}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ 'NoData' | localize }}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getApplicationList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                        </p-paginator>

                                    </div>
                                </div>
                            </div>

                            <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                </viewLeadDetail>
                            </div>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-Ends>-->
                </div>
            </div>
        </div>
    </div>

</div>

<addActivityModal #addActivityModal></addActivityModal>
<applicationListDetailModal #applicationListDetailModal></applicationListDetailModal>
<applicationReadyStatusModal #applicationReadyStatusModal></applicationReadyStatusModal>
<EditapplicationDetailModal #EditapplicationDetailModal></EditapplicationDetailModal>
<otpVerifyStatusModal #otpVerifyStatusModal></otpVerifyStatusModal>
<UploadSignApplication #UploadSignApplication></UploadSignApplication>
<loadReduceDetailModal #loadReduceDetailModal></loadReduceDetailModal>