<div appBsModal #EditapplicationDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditapplicationDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Edit Application Details - {{customertitle}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box mt-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 form-group">
                                <label class="col-form-label"><strong>OTP Verified:</strong></label>
                                <div>
                                    <select class="form-control" [(ngModel)]="job.otpVerifed" (change)="chnageOTPverifiedd($event)">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" [hidden]="!isOTPVerified">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>Applicaiton Number *:</strong></label>
                                <div>
                                    <input type="text" class="form-control" required="required" [(ngModel)]="job.applicationNumber">
                                    <span class="icon-box" style="top: 49px;"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" [hidden]="!isOTPVerified">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>GUVNL Number *:</strong></label>
                                <div>
                                    <input type="text" class="form-control" required="required" [(ngModel)]="job.guvnlRegisterationNo">
                                    <span class="icon-box" style="top: 49px;"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" [hidden]="!isOTPVerified">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>Date *:</strong></label>
                                <div>
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="applicationDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                    />
                                    <span class="icon-box" style="top: 49px;"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="saveJob()" [disabled]="applicationDate == undefined || applicationDate == null || job.applicationNumber == '' || job.applicationNumber == null || job.guvnlRegisterationNo == ''"><i
                        class="las la-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>