<div appBsModal #loadReduceDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Load Reduce - {{customertitle}} </span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box mt-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 row align-items-center">
                                <label class="col-lg-12 col-form-label"><strong>Reason for Change *</strong></label>
                                <div class="col-lg-12">
                                    <textarea [(ngModel)]="job.loadReduceReasonApplication" class="form-control" required rows="4"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3 row align-items-center">
                                <label class="col-lg-12 col-form-label"><strong>Upload Load Reduce Letter
                                        *</strong></label>
                                <div class="col-lg-12">
                                    <div class="custom-file custom-upload mt-0">
                                        <input type="hidden" [(ngModel)]="job.loadReducePathApplication">
                                        <input type="file" id="uploadPicture" required  (change)="handleFileInput($event.target.files)">
                                        <label for="uploadPicture" class="custom-file-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <a href="{{UploadDocPath}}" class="View d-flex align-items-center" target="_blank" *ngIf="job.loadReducePathApplication !=  undefined">
                                <i class="las la-binoculars fs-1 me-3"></i> <span>View File</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="saveLoadReduceJob()" [disabled]="job.loadReduceReasonApplication == undefined || job.loadReduceReasonApplication == null || job.loadReduceReasonApplication == '' || job.loadReducePathApplication == undefined || job.loadReducePathApplication == ''">
                    <i class="las la-save" ></i>
                    {{ 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>