<div appBsModal #UploadSignApplication="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="applicationReadyStatusModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Upload Sign Application - {{customertitle}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>

            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box mt-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label"><strong>Upload Sign Application:</strong></label>
                                <div class="col-lg-12">
                                    <div class="custom-file custom-upload mt-0">
                                        <input type="file" id="uploadPicture" required
                                            (change)="handleFileInput($event.target.files)">
                                        <label for="uploadPicture" class="custom-file-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 form-group form-icon">
                                <label class="col-form-label"><strong>Date:</strong></label>
                                <div>
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker"
                                        [(date)]="signApplicationDate" class="form-control" bsDatepicker
                                        datePickerLuxonModifier 
                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                        required />
                                    <span class="icon-box" style="top: 49px;"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <a href="{{UploadDocPath}}" class="View d-flex align-items-center" target="_blank"
                                *ngIf="job.signApplicationPath != undefined">
                                <i class="las la-binoculars fs-1 me-3"></i> <span>View File</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="saveUploadSignJob()"
                    [disabled]="signApplicationDate == undefined || signApplicationDate == null || job.signApplicationPath == undefined">
                    <i class="las la-save"></i>
                    {{ 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>