<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Data Vaults Activity Log' | localize" [count]="recordCount" [description]="'StateHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getActivity()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <!-- <div class="me-3"> -->
                                <!-- <div class="btn-group" dropdown placement="button right"> -->
                                    <!-- <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.ActivityLogMasterVault.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-outline btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations"> -->
                                        <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    <!-- </button> -->
                                    <!-- <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations"> -->
                                        <!-- <li role="menuitem"> -->
                                            <!-- <a class="dropdown-item text-dark" id="ExportStateToExcelButton" (click)="exportToExcel()" href="javascript:;"> -->
                                                <!-- <i class="las la-file-excel"></i> Excel -->
                                                <!-- {{ 'ExportToExcel' | localize }} -->
                                            <!-- </a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->

                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getActivity()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getActivity()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getActivity()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <div class="primeng-datatable-container">
                                            <div class="p-datatable">
                                                <div class="p-datatable-wrapper">
                                                    <p-table #dataTable sortMode="multiple" (onLazyLoad)="getActivity($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                                                        [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                        selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">

                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th style="width: 250px">Module Name</th>
                                                                <th style="width: 350px" [hidden]="!ExpandedView">Last Updated By</th>
                                                                <th style="width: 350px" [hidden]="!ExpandedView">Last Updated Date & Time</th>
                                                                <!-- <th style="width: 20%" [hidden]="!ExpandedView">Last Updated IP Address</th> -->
                                                                <th style="width: 350px; text-align:center;" [hidden]="!ExpandedView">Last Updated Action</th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-record="$implicit">
                                                            <tr [pSelectableRow]="record">
                                                                <td style="width: 250px" class="gridleadimage" (click)="navigateToLeadDetail(record.dataVault.sectionIsd);">
                                                                    <span class="lead-status-icon badge badge-pill badge-primary"><i
                                                                            class="fs-4 las la-eye"></i></span> {{record.dataVault.sectionName}}
                                                                </td>
                                                                <td style="width: 350px" [hidden]="!ExpandedView">
                                                                    {{record.dataVault.userName}}</td>
                                                                <td style="width: 350px" [hidden]="!ExpandedView">
                                                                    {{record.dataVault.lastModificationTime}}
                                                                </td>
                                                                <!-- <td style="width: 20%" [hidden]="!ExpandedView"></td> -->
                                                                <td style="width: 350px; text-align:center;" [hidden]="!ExpandedView">
                                                                    <span class="badge badge-pill badge-secondary">{{record.dataVault.actionName}}</span>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                        {{ 'NoData' | localize }}
                                                    </div>
                                                    <div class="primeng-paging-container">
                                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getActivity($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                                        </p-paginator>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <div class="lead-header">
                                        <ul class="leadname">
                                            <li>
                                                <h2><i class="las la-history"></i> {{setctionName}}</h2>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="lead-container p-3" style="max-height:77vh; overflow-y:auto;">
                                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between leaddtltitle mb-6">
                                            <div class="align-items-center d-flex flex-sm-nowrap flex-wrap">
                                                <h3 class="me-3">Activity</h3>
                                            </div>
                                            <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                                                <div class="me-3">
                                                    <button name="RefreshButton" class="float-end refresh"></button>
                                                </div>
                                                <!-- <div class="me-3">
                                                    <select class="form-control">
                                                        <option>All Activity</option>
                                                        <option>Created</option>
                                                        <option>Modified</option>
                                                        <option>Deleted</option>
                                                    </select>
                                                </div>
                                                <div class="me-0">
                                                    <div
                                                        class="form-check form-switch form-check-custom form-check-solid">
                                                        <input type="checkbox" id="myActivity"
                                                            class="form-check-input"><label for="myActivity"
                                                            class="form-check-label"> My Activity </label>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>


                                        <div class="timeline">
                                            <div class="timeline-item ng-star-inserted" *ngFor="let item of SectionWiseActionList">
                                                <div class="timeline-line badge-success w-40px"></div>
                                                <div class="timeline-icon symbol symbol-circle symbol-40px me-4">
                                                    <div class="badge badge-success symbol-label"><i class="la-user-tag las"></i></div>
                                                </div>
                                                <div class="timeline-content">
                                                    <div class="">
                                                        <div class="fs-7 mb-1 align-items-center d-flex justify-content-between">
                                                            <span class="fw-bolder me-3">Activity -
                                                                {{item.actionName}}</span><span class="fw-bold align-items-center d-flex"><i
                                                                    class="las la-history fs-2 me-1"></i><span
                                                                    class="fs-7">{{item.lastModificationTime}}</span></span>
                                                        </div>
                                                        <div class="notice d-flex rounded border-primary  min-w-lg-600px flex-shrink-0 p-2" style="padding-left:0;">
                                                            <p class="m-0 ng-star-inserted">
                                                                <span class="text-dark">{{item.userName}}</span> -
                                                                <!-- <a href="javascript:void(0)">{{item.userName}}</a> - -->
                                                                <span *ngIf="item.actionName == 'Modified'">
                                                                    <a (click)="DataVaultloghistory(item.id);" style="cursor: pointer;" > {{item.actionNote}}</a>                                                           
                                                                </span>
                                                                <span *ngIf="item.actionName != 'Modified'">                            
                                                                     {{item.actionNote}}                                                         
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div appBsModal #detailActivityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detailActivityModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{setctionName}} Module</h5>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group table_dark box_show_div margin_none normal-table">
                    <table class="table table-striped">
                        <thead>
                            <th>FieldName</th>
                            <th>Previous Value</th>
                            <th>Current Value</th>
                            <th>Modified by</th>
                        </thead>
                        <tr *ngFor="let item of DataVaultHistoryList">
                            <td>
                                {{item.fieldName}}
                            </td>
                            <td>
                                {{item.prevValue}}
                            </td>
                            <td>
                                {{item.curValue}}
                            </td>
                            <td>
                                {{item.lastmodifiedbyuser}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">
                    <i class="las la-times-circle"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>