<div class="login-form" [@routerTransition]>
    <h1 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        {{ 'ForgotPassword 🔒' | localize }}
    </h1>
    <p class="pb-4 mt-center"><strong>Enter your email and we'll send you instructions to reset your password</strong></p>
    <div *ngIf="showTenantChange()" class="tenant-change-box tenant-change-box">
        <tenant-change></tenant-change>
    </div>

    <form class="login-form form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">

        <div class="mb-8 login-inputs">
            <label>Email:</label>
            <i class="las la-envelope-open"></i>
            <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" autoFocus class="form-control form-control-solid h-auto py-5 px-6 rounded-lg font-size-h6" type="text" autocomplete="new-password" placeholder="{{ 'EmailAddress' | localize }} *" name="emailAddress"
                required maxlength="256" email />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>

        <div class="pb-lg-0 pb-5 d-flex justify-content-center">
            <button type="submit" class="w-100 btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 me-3" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                <i class="las la-chevron-circle-right" style="font-size: 2rem !important; padding-right: 3px;"></i>
                {{ 'Submit' | localize }}
            </button>
            <!-- <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
                <i class="las la-angle-double-left"></i>
                {{ 'Back' | localize }}
            </button> -->
        </div>
        <div class="text-center pt-5">
            <a href="" class="" routerLink="/account/login"><i class="las la-angle-double-left"></i> Back to Log in</a>
        </div>
    </form>
</div>