<div class="login-form" [@routerTransition]>
    <h1 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">{{ 'ChangePassword' | localize }}</h1>

    <form #resetPassForm="ngForm" class="login-form form" method="post" (ngSubmit)="save()">
        <p class="pb-4"><strong>{{ 'PleaseEnterYourNewPassword' | localize }}</strong></p>

        <div class="mb-5">
            <input type="password" name="Password" class="form-control form-control-solid h-auto py-5 px-6 rounded-lg font-size-h6" [(ngModel)]="model.password" #Password="ngModel" placeholder="{{ 'Password' | localize }}" validateEqual="PasswordRepeat" reverse="true"
                [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase" [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                [requiredLength]="passwordComplexitySetting.requiredLength" required />
        </div>
        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="mb-5">
            <ul class="form-text text-danger" *ngIf="Password.errors">
                <li [hidden]="!Password.errors.requireDigit">
                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireLowercase">
                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireUppercase">
                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireNonAlphanumeric">
                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requiredLength">
                    {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                </li>
            </ul>
        </div>

        <div class="mb-5">
            <input type="password" name="PasswordRepeat" class="form-control form-control-solid h-auto py-5 px-6 rounded-lg font-size-h6" [ngModel]="model.passwordRepeat" #PasswordRepeat="ngModel" placeholder="{{ 'PasswordRepeat' | localize }}" validateEqual="Password"
                reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase" [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                [requiredLength]="passwordComplexitySetting.requiredLength" required />
        </div>
        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="mb-5">
            <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                <li [hidden]="!PasswordRepeat.errors.requireDigit">
                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requiredLength">
                    {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
                </li>
                <li [hidden]="PasswordRepeat.valid">{{ 'PasswordsDontMatch' | localize }}</li>
            </ul>
        </div>

        <div class="pb-lg-0 pb-5">
            <button type="submit" class="w-100 btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 me-3" [disabled]="!resetPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                <i class="fa fa-check"></i>
                {{ 'Submit' | localize }}
            </button>

            <button [disabled]="saving" routerLink="/account/login" type="button" class="w-100 btn btn-link font-weight-bolder font-size-h6 px-8 py-4 my-3">
                <i class="las la-angle-double-left"></i>
                {{ 'Back to Log in' | localize }}
            </button>

        </div>
    </form>
</div>