<div bsModal #PickklistModel="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="PickklistModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog  modal-dialog-scrollable PickklistModel">
        <form #createOrEditPickLit="ngForm" novalidate (ngSubmit)="editPicklist()" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                        <div class="d-flex align-items-center">
                            <h4 class="modal-title me-5">
                                <span>Change PickList</span>
                            </h4>
                        </div>
                        <button type="button" class="btn-close" (click)="close()"></button>
                    </div>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box mt-0">
                        <div class="grid-container secondary-grid">
                            <table class="table">
                                <tr>
                                    <th>Material</th>
                                    <th>Quantity</th>
                                </tr>
                                <tbody>
                                    <tr *ngFor="let item of PickListItemView; let i = index">
                                        <td>{{item.materialName}}</td>
                                        <td>
                                            <input type="number" placeholder="Product Qty" class="form-control" name="jpmodel{{i}}" #jpmodel="ngModel" [(ngModel)]="item.pickListQty" [disbled]="true" style="width:150px !important;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="las la-save"></i> Save
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>