<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <div class="py-2 py-lg-4 subheader subheader-solid">
                    <div class="align-items-center container-fluid d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="d-flex align-items-center flex-wrap me-2">
                            <h1 class="font-weight-bold mb-2 me-2 mt-2 text-dark ng-star-inserted">Installation Map</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getDispatchList()"></button>
                            </div>
                            <div class="me-2">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                       Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>Lead Status</option>                                    
                                </select>
                            </div>
                            <div class="me-2">
                                <select class="form-control">
                                    <option>Application Status</option>                                    
                                </select>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getDispatchList()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getDispatchList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="kt-searchmainbox searchclearbox">
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData;">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="me-0">
                                <button class="clickable-item btn btn-primary outline" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                                </button>
                                <button class="clickable-item btn btn-primary outline" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'HideAdvancedFilters' | localize }} -->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 filter-optionrow end-arrow align-items-center lgfilter" [hidden]="!advancedFiltersAreShown">
            <div class="d-flex align-items-center">
                <div class="me-2">
                    <input type="text" class="form-control" placeholder="Discom (multiple choice)">
                </div>
                <div class="me-2">
                    <input type="text" class="form-control" placeholder="Circle (multiple choice)">
                </div>
                <div class="me-2">
                    <input type="text" class="form-control" placeholder="Division (multiple choice)">
                </div>
                <div class="me-2">
                    <input type="text" class="form-control" placeholder="Sub Division (multiple choice)">
                </div>
                <div class="me-2">
                    <input type="text" class="form-control" placeholder="Solar Type (multiple choice)">
                </div>
                <div class="me-2">
                    <input type="text" class="form-control" placeholder="Tender (based on solar type, multiple)">
                </div>

                <div class="me-2">
                    <select class="form-control">
                        <option>Filter by date</option>
                        <option>Approval Date</option>                        
                    </select>
                </div>
                <div class="me-2">
                    <div style="position: relative;" class="datepicker">
                        <!-- <input [owlDateTime]="dt1" required class="form-control daterangebox" required [owlDateTimeTrigger]="dt1" placeholder="Select Date Time" #myNameElem>
                        <owl-date-time #dt1></owl-date-time> -->
                        <i class="lar la-calendar"></i>
                    </div>
                </div>

                <div class="me-0">
                    <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving...">Search</button>
                    <button type="reset" class="btn btn-danger">{{l( "Clear")}}</button>
                </div>
            </div>
        </div>

        <div class="container-fluid" [hidden]="!FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total<span>10</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Active<span>5</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Deposite Received<span>4</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Job Book<span>0</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Job Install<span>0</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Other<span>1</span>
                    </h2>
                </div>

            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="map-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2665169.048118923!2d70.66342453515935!3d22.69925070864609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959051f5f0ef795%3A0x861bd887ed54522e!2sGujarat!5e0!3m2!1sen!2sin!4v1656318830490!5m2!1sen!2sin"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</div>