<button class="btn btn-primary w-100" (click)="openPermissionTreeModal()" *ngIf="!dontAddOpenerButton">
    <span class="me-4">{{ 'SelectPermissions' | localize }} ({{ NumberOfFilteredPermission }})</span><i class="far fa-folder-open"></i>
</button>

<div appBsModal #permissionTreeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="permissionTreeModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg permissionFilterTreeModal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ 'SelectPermissions' | localize }}
                </h4>
                <button type="button" class="btn-close" (click)="closePermissionTreeModal()" [attr.aria-label]="l('Close')">
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box my-0">
                    <permission-tree #permissionTree [singleSelect]="singleSelect" [disableCascade]="disableCascade"></permission-tree>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary font-weight-bold" (click)="closePermissionTreeModal()">
                    <i class="fas fa-check-circle"></i> {{ 'Select' | localize }}
                </button>
            </div>
        </div>
    </div>
</div>