<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #districtForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="districts.id">{{ 'EditDistrict' | localize }}</span>
                        <span *ngIf="!districts.id">{{ 'CreateNewDistrict' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{ 'State' | localize }}</label>
                                    <select name="State" #jobTypeInput="ngModel" [(ngModel)]="districts.stateId" required class="form-control" id="selectStateId">
                                    <option [ngValue]="undefined" selected>Select State</option>
                                    <option *ngFor="let item of state" value="{{item.id}}">{{item.displayName}}
                                    </option>
                                </select>
                                    <span class="icon-box"><i class="las la-globe-asia"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group form-icon">
                                    <label class="form-label" for="Name">{{ 'Name' | localize }} *</label>
                                    <input id="Name" [(ngModel)]="districts.name" type="text" name="Name" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkbox-list">

                                </div>
                                <label class="form-check form-check-custom form-check-solid py-1">
                                <input id="EditDistrict_IsActive" type="checkbox" name="districtIsActive" [(ngModel)]="districts.isActive" class="form-check-input" />
                                <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                            </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!districtForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                    <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
                </div>
            </form>
        </div>
    </div>