<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #tenderForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="tender.id">{{ 'EditTender' | localize }}</span>
                        <span *ngIf="!tender.id">{{ 'Create New Tender' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3 form-icon">
                                    <label for="Name" class="form-label">{{ 'Name' | localize }} *</label>
                                    <input id="Name" [(ngModel)]="tender.name" type="text" name="Name" class="form-control" required maxlength="50" />
                                    <span class="icon-box"><i class="las la-tag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3 form-icon">
                                    <label for="SolarType" class="form-label">{{l("SolarType")}}*</label>
                                    <select class="form-control" id="solarTypeId" name="solarTypeId" [(ngModel)]="tender.solarTypeId" required>
                                        <option [ngValue]="undefined" selected>Select SolarType</option>
                                        <option *ngFor="let item of drpSolarType" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3 form-icon">
                                    <label for="StartDate" class="form-label">{{ 'StartDate' | localize }} *</label>
                                    <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" [(date)]="startDate" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="tender.startDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                        required/>
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                    <!-- <input id="StartDate" [(ngModel)]="tender.startDate" type="text" name="StartDate" class="form-control" required maxlength="50" /> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3 form-icon">
                                    <label for="EndDate" class="form-label">{{ 'EndDate' | localize }} *</label>
                                    <input id="SampleDatePicker1" type="text" #SampleDatePicker1 name="SampleDatePicker1" [(date)]="endDate" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="tender.endDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                        required/>
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 my-3">
                                <label class="form-check form-check-custom form-check-solid py-1">
                                    <input id="Edittender_IsActive" type="checkbox" name="tenderIsActive"
                                        [(ngModel)]="tender.isActive" class="form-check-input" />
                                    <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!tenderForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>