body .ui-table .ui-table-tbody>tr.leadSelection {
  background-color: #e2f3ff !important;
}

bs-daterangepicker-container {
  left: -195px !important;
}

body.kt-aside--fixed bs-daterangepicker-container {
  left: -235px !important;
}