<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">

            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Manage Leads' | localize" [count]="recordCount" [description]="'ManageLeadHeaderInfo' | localize">
                </sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" id="RefreshButtonId" class="float-end refresh" (click)="getManageLead()">
                                    <!-- <img src="../../../../assets/common/images/icon-refresh.png" style="max-height:20px;"> -->
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }}  -->
                                </button>
                            </div>

                            <div class="me-2" *ngIf="permission.isGranted('Pages.Tenant.Leads.ManageLead.ExportToExcel')">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Excel
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCityToExcelButton" *ngIf="'Pages.Tenant.Leads.ManageLead.ExportToExcel' | permission" (click)="exportToExcel(1)" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> Export
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCityToExcelButton" *ngIf="'Pages.Tenant.Leads.ManageLead.ExportToExcel' | permission" (click)="exportToExcel(1)" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> CSV
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="javascript:;" *ngIf="'Pages.Tenant.Leads.ManageLead.ImportToExcel' | permission" class="dropdown-item text-dark import-sheet">
                                                <span class="">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <span class="" href="# " *ngIf=" 'Pages.Tenant.Leads.ManageLead.ImportToExcel' | permission ">
                                                <a href="/assets/sampleFiles/ImportLeadsSampleFile.xlsx "
                                                    class="dropdown-item text-dark ">
                                                    <i class="las la-file-excel "></i> {{l('SampleFile')}}
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <button (click)="createManageLead(null)" *ngIf="'Pages.Tenant.Leads.ManageLead.Create' | permission" class="btn btn-primary d-flex align-items-center">
                                    <span class="me-1">New</span><i class="las la-plus-circle my-1"></i>
                                </button>
                            </div>

                            <div *ngIf="permission.isGranted( 'Pages.Tenant.Leads.ManageLead.ChangeOrganization') ">
                                <div class="me-2 " *ngIf="organizationUnitlength > 0">
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getManageLead(); getOrganizationuser();getOrganizationWiseUser();onsalesmanger();onsalesrep();">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="me-2">
                                <div class="form-control">
                                    <ng-select [items]="leadsources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All leadsources" [(ngModel)]="leadsourcesIDS" name="leadsourcesIDS">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="me-2">
                                <select class="form-control" [(ngModel)]="duplicateFilter" name="duplicateFilter" (change)="getManageLead()">
                                        <option value="">{{l("SelectDuplicateType")}}</option>
                                        <option value="no">{{l("NoDuplicate")}}</option>
                                        <option value="web">{{l("WebDuplicate")}}</option>
                                        <option value="db">{{l("DatabaseDuplicate")}}</option>
                                    </select>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getManageLead()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getManageLead()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getManageLead()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="me-2">
                                <button class="btn btn-primary d-flex align-items-center" (click)="FiltersData = !FiltersData; testHeightSize();">
                                    <i class="las la-sliders-h"></i>
                                </button>
                            </div>
                            <div class="me-0" style="display:none;">
                                <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                    <i class="las la-sliders-h"></i>
                                </button>

                                <button class="clickable-item btn btn-primary outline" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                                </button>
                                <button class="clickable-item btn btn-primary outline" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'HideAdvancedFilters' | localize }} -->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4 filter-optionrow align-items-center lgfilter" [hidden]="!advancedFiltersAreShown" style="display:none;">
            <div class="d-flex align-items-center">
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" (change)="chaneSolarType()">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2" *ngIf="allTenderData != undefined">
                    <div class="form-control">
                        <ng-select [items]="allTenderData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Tender" [(ngModel)]="TenderIdFilter" name="TenderIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Division" [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allSubDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter" name="SubDivisionIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Source" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>

                </div>
                <div class="me-2" style="display: none;">
                    <select name="ChaanelPartner" class="form-control" [(ngModel)]="channelPartnerFilter">
                        <option value="">All Channel Partner</option>
                        <option *ngFor="let item of allSolarType" value="{{item.id}}">
                            {{item.displayName}}</option>
                    </select>
                </div>

                <div class="me-2">
                    <!-- <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" (keydown.enter)="getManageLead($event)" id="SampleDateRangePicker" bsDaterangepicker [bsConfig]="{ customTodayClass: 'today' }" [(ngModel)]="sampleDateRange" dateRangePickerMomentModifier
                        [(date)]="sampleDateRange" /> -->

                    <!-- <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" autocomplete="off"
                            id="SampleDateRangePicker" [(ngModel)]="sampleDateRange" (keydown.enter)="getManageLead()"
                            bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" [(date)]="sampleDateRange" /> -->
                </div>
                <div class="me-0">
                    <button type="reset" class="btn btn-danger" (click)="clear()">
                        {{l("Clear")}}</button>
                    <button type="submit" (click)="getManageLead()" class="btn btn-primary" ng-reflect-busy-text="Saving...">Search</button>
                </div>
            </div>

        </div>


        <div class="container-fluid" *ngIf="IsAssignLead" [hidden]="FiltersData">
            <div class="blue-filter-box m-flex-dir-col m-flex-dir-col">
                <div class="legends d-flex align-items-center ">
                    <div class="me-5 d-flex align-items-center"><i class="fas fa-database fs-2"></i> Database</div>
                    <div class="d-flex align-items-center"><i class="fas fa-globe fs-2"></i> Web</div>
                </div>

                <div class="d-flex align-items-center justify-content-end m-flex-dir-col" style="width:100%;">

                    <div class="d-flex align-items-center">
                        <!-- <div class="me-6" *ngIf="permission.isGranted('Pages.Tenant.Leads.ManageLead.ChangeOrganization')">
                            <div class="form-check form-switch form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" (change)="oncheck($event)"
                                    [(ngModel)]="isChange" id="changeOrg" />
                                <label class="form-check-label" for="changeOrg">
                                    Change Organization
                                </label>
                            </div>
                        </div> -->
                        <!-- <div class="me-6" *ngIf="role == 'Admin'">
                            <div class="form-check form-switch form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="isAssign" ame="isAssign"
                                    id="isAssign" />
                                <label class="form-check-label" for="assignSalesrep">
                                    Assign To SalesRep
                                </label>
                            </div>
                        </div> -->
                        <div class="d-flex" *ngIf="'Pages.Tenant.Leads.ManageLead.Action' | permission">
                            <!-- *ngIf="duplicateFilter != 'web' && duplicateFilter != 'db'" -->
                            <select class="form-control me-3" [(ngModel)]="leadAction" name="leadAction" (change)="getOrganizationWiseUser()">
                                <option value="0"> {{l("Actions")}}</option>
                                <option value="1" *ngIf="'Pages.Tenant.Leads.ManageLead.Delete' | permission">
                                    {{l("Delete")}}</option>
                                <option value="3" *ngIf="'Pages.Tenant.Leads.ManageLead.Assign' | permission">
                                    {{l("Assign")}}</option>
                                <option value="2">{{l("Assign To Different Organization")}}</option>
                                <option value="4">{{l("Copy To Different Organization")}}</option>
                                <option value="5">{{l("Mark As Duplicate")}}</option>
                                <option value="6">Update Facebook Leads</option>
                            </select>
                        </div>
                        <div class="d-flex">
                            <select [hidden]="!showOrganizationUnits" name="OrganizationUnits" class="form-control me-3" [(ngModel)]="organizationChangeUnit" (change)="getOrganizationWiseUser()">
                                <option value="0">Select org</option>
                                <option *ngFor="let item of allOrganizationUnitsList" value="{{item.id}}">
                                    {{item.displayName}}
                                </option>
                            </select>
                        </div>
                        <div class="d-flex" *ngIf="leadAction == 3">
                            <select name="assignLead" [(ngModel)]="assignLead" (change)="getsalerep($event)" class="form-control me-3" required>
                                <option value="0">Select Manager</option>
                                <option *ngFor="let item of allUsers" value="{{item.value}}">{{item.displayName}}
                                </option>
                            </select>
                        </div>
                        <div class="d-flex" *ngIf="leadAction == 2" [hidden]="!showOrganizationUnits">
                            <select name="assignLead" [(ngModel)]="assignLead" (change)="getsalerep($event)" class="form-control me-3" required>
                                <option value="0">Select Manager</option>
                                <option *ngFor="let item of allUsers" value="{{item.value}}">{{item.displayName}}
                                </option>
                            </select>
                        </div>
                        <!-- <div class="me-6" *ngIf="isAssign">
                            <select class="form-control" name="assignLead1" [(ngModel)]="assignLead1">
                                <option>Select Sales Rep</option>
                                <option *ngFor="let item of allSalesrepUsers" value="{{item.value}}">
                                    {{item.displayName}}</option>
                            </select>
                        </div> -->

                        <div class="me-0 ms-3" *ngIf="'Pages.Tenant.Leads.ManageLead.Assign' | permission">
                            <button (click)="submit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary font-weight-bold" style="height:35px !important;">Submit</button>
                        </div>

                        <!-- <div class="me-0" *ngIf="'Pages.Tenant.Leads.ManageLead.Delete' | permission">
                            <button (click)="DeleteselectedLead()" type="submit"
                                class="btn btn-primary font-weight-bold">Delete</button>
                        </div> -->

                    </div>
                    <div class="recordsSelect">
                        <h2>
                            Selected Records:<span>{{count}}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div class="grid-container no-wrapData">
                                        <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getManageLead($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns" [scrollable]="true" scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th class="text-center" style="width:90px;" *ngIf="'Pages.Tenant.DataVaults.Circle.Create' | permission">
                                                        {{ 'Actions' | localize }}
                                                    </th>
                                                    <th style="width: 230px" pSortableColumn="firstName">
                                                        {{ 'Name' | localize }}
                                                        <p-sortIcon field="firstName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 120px" pSortableColumn="mobileNumber">
                                                        Mobile
                                                        <p-sortIcon field="mobile"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 235px" pSortableColumn="addressLine1">
                                                        Address
                                                        <p-sortIcon field="address"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 145px" pSortableColumn="cityName">
                                                        City
                                                        <p-sortIcon field="cityName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 120px" pSortableColumn="pincode">
                                                        Pincode
                                                        <p-sortIcon field="pincode"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 165px" pSortableColumn="leadSourceId">
                                                        Lead Source
                                                        <p-sortIcon field="leadsource"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 215px" pSortableColumn="ChanelPartnerName">
                                                        Lead Date
                                                    </th>


                                                    <!-- <th style="width: 15%; justify-content: center;" [hidden]="!ExpandedView" pSortableColumn="leadStatusId">
                                                        Lead Status
                                                        <p-sortIcon field="leadStatusName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 17%" [hidden]="!ExpandedView"
                                                        pSortableColumn="applicationStatus">
                                                        Application Status
                                                    </th> -->
                                                    <th style="width: 140px" pSortableColumn="isDuplicate">
                                                        Duplicate
                                                    </th>

                                                    <th style="width:65px; justify-content: center;" class="checkboxhead">
                                                        <div class="kt-checkbox-list">
                                                            <label for="lead_id" class="form-check form-check-custom form-check-solid">
                                                                <input type="checkbox" id="lead_id" name="all"
                                                                    class="form-check-input" [checked]="isAllChecked()"
                                                                    (change)="checkAll($event)" />
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr id="selectcustomer" [pSelectableRow]="record">
                                                    <td style="width:90px;" class="text-center" *ngIf="'Pages.Tenant.Leads.Customer.Create' | permission">
                                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                                <i class="las la-ellipsis-v"></i>
                                                                <!-- <span class="caret"></span>
                                                                    {{ 'Actions' | localize }} -->
                                                            </button>
                                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                                <li *ngIf="'Pages.Tenant.Leads.Customer.Create' | permission" role="menuitem">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="createManageLead(record.leads.id)">
                                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td style="width: 230px" class="gridleadimage" id="selectcustomer">
                                                        <!-- <span
                                                            class="lead-status-icon badge badge-pill {{record.leads.leadStatusColorClass}}"><i
                                                                class="las la-user-tag fs-1"></i></span> -->
                                                        <span *ngIf="record.leads.customerName != 0" class="lead-status-icon badge badge-pill badge-secondary">
                                                            <i class="las la-user-tag fs-1 text-dark"></i> </span> <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.leads.customerName }}">{{
                                                            record.leads.customerName | titlecase }}</span>
                                                        <!-- FINAL <span *ngIf="record.leads.customerName != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.leads.customerName }}">{{ record.leads.customerName }}</span> -->
                                                        <!-- <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.leads.customerName }} -->
                                                    </td>
                                                    <td style="width: 120px">
                                                        <span class="badge badge-secondary">{{ record.leads.mobileNumber
                                                            }}</span>
                                                    </td>
                                                    <td style="width: 235px">
                                                        <span pTooltip="{{ record.leads.address | titlecase }}" tooltipPosition="top" *ngIf="record.leads.address != 0" style="text-transform:capitalize ;">
                                                            {{ record.leads.address | titlecase}}
                                                        </span>
                                                    </td>
                                                    <td style="width: 145px">
                                                        {{ record.leads.cityName | titlecase }}
                                                    </td>

                                                    <td style="width: 120px">
                                                        <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.activityDescription }}">
                                                            {{ record.leads.pincode }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 165px">
                                                        <span [ngClass]="record.leads.leadSourceColorClass">{{record.leads.leadSourceName
                                                            | titlecase }}</span>
                                                    </td>
                                                    <td style="width: 215px">
                                                        {{ record.leads.createdDate | date: 'dd-MM-YYYY' }}
                                                    </td>

                                                    <td style="width: 140px">
                                                        <div class="dupleadbox d-flex align-items-center">
                                                            <div *ngIf="record.duplicate">
                                                                <div class="btn-group dropdown" dropdown container="body">
                                                                    <button class="dropdown-toggle btn btn-sm btn-secondary" dropdownToggle>
                                                                        <i class="fas fa-database"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu custom" *dropdownMenu>
                                                                        <li>
                                                                            <a class="dropdown-item" href="javascript:;" (click)="viewDuplicateModal.show(record.leads.id, organizationUnit)">
                                                                                <i class="las la-eye"></i> {{l('View')}}
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a class="dropdown-item" href="javascript:;" (click)="duplicate(record.leads)">
                                                                                <i class="las la-copy"></i> {{l('Duplicate')}}
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a class="dropdown-item" href="javascript:;" (click)="notduplicate(record.leads)">
                                                                                <i class="las la-not-equal"></i> {{l('Not Duplicate')}}
                                                                            </a>
                                                                        </li>

                                                                        <li>
                                                                            <a class="dropdown-item" href="javascript:;" (click)="deleteLead(record.leads)">
                                                                                <i class="las la-trash"></i> {{l('Previuos Delete')}}
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="record.webDuplicate">
                                                                <div class="btn-group dropdown" dropdown container="body">
                                                                    <button class="dropdown-toggle btn btn-sm btn-secondary" dropdownToggle>
                                                                        <i class="fas fa-globe"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu custom" *dropdownMenu>
                                                                        <li>
                                                                            <a class="dropdown-item" href="javascript:;" (click)="webDuplicate(record.leads)">
                                                                                <i class="las la-copy"></i> {{l('Duplicate')}}
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a class="dropdown-item" href="javascript:;" (click)="webNotduplicate(record.leads)">
                                                                                <i class="las la-not-equal"></i> {{l('Not Duplicate')}}
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width:65px; justify-content: center;">
                                                        <!-- <div class="kt-checkbox-list" *ngIf="!(record.duplicate == true || record.webDuplicate == true)"> -->
                                                        <div class="kt-checkbox-list">
                                                            <label for="{{record.leads.id}}" class="form-check form-check-custom form-check-solid">
                                                                <input type="checkbox" id="{{record.leads.id}}"
                                                                    name="recordSource"
                                                                    [(ngModel)]="record.leads.isSelected"
                                                                    class="form-check-input"
                                                                    (change)="oncheckboxCheck()" />
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ 'NoData' | localize }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getManageLead($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                            </p-paginator>

                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div> -->
                            </div>

                        </div>

                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>


        <!-- add edit manage lead component -->
        <createOrEditManageLead #createOrEditManageLead mainorganizationID="{{organizationUnit}}">
        </createOrEditManageLead>
        <viewDuplicateModal #viewDuplicateModal (modalSave)="getManageLead()"></viewDuplicateModal>
        <!-- <addActivityModal #addActivityModal (modalSave)="getManageLead()"></addActivityModal> -->
    </div>
</div>