<div
    appBsModal
    #createOrEditModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form *ngIf="active" #transactionTypeForm="ngForm" novalidate (ngSubmit)="save()">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="transactionType.id">{{ 'EditTransactionType' | localize }}</span>
                    <span *ngIf="!transactionType.id">{{ 'CreateNewTransactionType' | localize }}</span>
                </h4>
                <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                    [attr.aria-label]="l('Close')"
                    [disabled]="saving"
                >
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Name">{{ 'Name' | localize }} *</label>
                    <input id="Name" [(ngModel)]="transactionType.name" type="text" name="Name" class="form-control" required maxlength="256" />
                </div>
                <div class="checkbox-list">
                    
                </div>
                <label class="form-check form-check-custom form-check-solid py-1">
                    <input id="EditTransactionType_IsActive" type="checkbox" name="transactionTypeIsActive" [(ngModel)]="transactionType.isActive" class="form-check-input" />
                    <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                </label>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()" >
                    {{ 'Cancel' | localize }}
                </button>
                <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!transactionTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" >
                    <i class="fa fa-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
            </div>
        </form>
    </div>
</div>