<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'TransactionType' | localize" [description]="'TransactionTypeHeaderInfo' | localize">
            <div role="actions">
                <div class="btn-group" dropdown placement="button right">
                    <button
                        id="dropdownButtonExcelOperations"
                        *ngIf="'Pages.Tenant.DataVaults.TransactionType.ExportToExcel' | permission"
                        dropdownToggle
                        type="button"
                        class="btn btn-outline btn-outline-success btn-active-light-success dropdown-toggle me-1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="dropdownMenuExcelOperations"
                    >
                        <i class="far fa-file-excel"></i>
                        {{ 'ExcelOperations' | localize }}
                    </button>
                    <ul
                        id="dropdownMenuExcelOperations"
                        class="dropdown-menu dropdown-menu-right dropdown-excel-operations"
                        role="menu"
                        *dropdownMenu
                        aria-labelledby="dropdownButtonExcelOperations"
                    >
                        <li role="menuitem">
                            <a
                                class="dropdown-item text-dark"
                                id="ExportTransactionTypeToExcelButton"
                                (click)="exportToExcel()"
                                href="javascript:;"
                            >
                                <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i>
                                {{ 'ExportToExcel' | localize }}
                            </a>
                        </li>
                        <!-- <li *ngIf="'Pages.Tenant.DataVaults.DocumentList.Create' | permission" role="menuitem">
                            <a href="javascript:;" class="no-padding">
                                <span class="fileinput-button">
                                    <p-fileUpload
                                        customUpload="true"
                                        name="ExcelFileUpload"
                                        #ExcelFileUpload
                                        maxFileSize="10000000"
                                        auto="auto"
                                        accept=".csv,.xls,.xlsx"
                                        (uploadHandler)="uploadExcel($event)"
                                        (onError)="onUploadExcelError()"
                                        chooseLabel="{{ 'ImportFromExcel' | localize }}"
                                    ></p-fileUpload>
                                </span>
                            </a>
                        </li>
                        <li class="divider dropdown-divider"></li> -->
                        <!-- <li role="menuitem">
                            <span class="dropdown-item-text text-muted pl-3" href="#">
                                <small
                                    [innerHTML]="
                                        l(
                                            'ImportToExcelSampleFileDownloadInfo',
                                            '<a href=/assets/sampleFiles/ImportUsersSampleFile.xlsx>' +
                                                l('ClickHere') +
                                                '</a>'
                                        )
                                    "
                                ></small>
                            </span>
                        </li> -->
                    </ul>
                </div>

                <button
                    (click)="createTransactionType()"
                    *ngIf="'Pages.Tenant.DataVaults.TransactionType.Create' | permission"
                    class="btn btn-primary"
                >
                    <i class="fa fa-plus"></i>
                    {{ 'CreateNewTransactionType' | localize }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="filterText"
                                                name="filterText"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="l('SearchWithThreeDot')"
                                                type="text"
                                            />
                                            <button (click)="getTransactionType()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row mb-4" [hidden]="!advancedFiltersAreShown">
                                <div
                                    [ngClass]="{
                                        'col-md-6': ('Pages.Administration.Roles' | permission),
                                        'col-md-12': !('Pages.Administration.Roles' | permission)
                                    }"
                                >
                                    <div class="mb-5">
                                        <permission-tree-modal
                                            #permissionFilterTreeModal
                                            (onModalclose)="getUsers()"
                                            [disableCascade]="true"
                                        ></permission-tree-modal>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="'Pages.Administration.Roles' | permission">
                                    <div class="mb-5">
                                        <role-combo name="roleFilter" [(ngModel)]="role"></role-combo>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-check form-check-custom form-check-solid form-switch py-1">
                                        <input
                                            id="UsersTable_OnlyLockedUsers"
                                            type="checkbox"
                                            name="OnlyLockedUsers"
                                            [(ngModel)]="onlyLockedUsers"
                                            class="form-check-input"
                                        />
                                        <span class="form-check-label">
                                            {{ 'OnlyLockedUsers' | localize }}
                                        </span>
                                    </label>
                                </div>
                            </div> -->

                            <!-- <div class="row mb-4" *ngIf="advancedFiltersAreShown">
                                <div class="col-sm-12 text-end">
                                    <button class="btn btn-primary float-end" (click)="getUsers()">
                                        <i class="fa fa-sync"></i>
                                        {{ 'Refresh' | localize }}
                                    </button>
                                </div>
                            </div> -->
                            <!-- <div class="row mb-4">
                                <div class="col-sm-12">
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                    >
                                        <i class="fa fa-angle-down"></i>
                                        {{ 'ShowAdvancedFilters' | localize }}
                                    </span>
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                    >
                                        <i class="fa fa-angle-up"></i>
                                        {{ 'HideAdvancedFilters' | localize }}
                                    </span>
                                </div>
                            </div> -->
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                sortMode="multiple"
                                (onLazyLoad)="getTransactionType($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                scrollDirection="horizontal"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 130px"
                                            [hidden]="
                                                !(
                                                    [
                                                        'Pages.Tenant.DataVaults.TransactionType.Edit',
                                                        'Pages.Tenant.DataVaults.TransactionType.Delete'
                                                    ] | permissionAny
                                                )
                                            "
                                        >
                                            {{ 'Actions' | localize }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ 'Name' | localize }}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        
                                        <th style="width: 100px" pSortableColumn="isActive">
                                            {{ 'Active' | localize }}
                                            <p-sortIcon field="isActive"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!(
                                                    [
                                                        'Pages.Tenant.DataVaults.TransactionType.Edit',
                                                        'Pages.Tenant.DataVaults.TransactionType.Delete'
                                                    ] | permissionAny )" >
                                            <div class="btn-group" dropdown placement="bottom left" container="body">
                                                <button
                                                    id="dropdownButton"
                                                    type="button"
                                                    class="btn btn-primary btn-sm dropdown-toggle"
                                                    dropdownToggle
                                                    aria-controls="dropdownMenu"
                                                >
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    {{ 'Actions' | localize }}
                                                </button>
                                                <ul
                                                    id="dropdownMenu"
                                                    class="dropdown-menu"
                                                    role="menu"
                                                    *dropdownMenu
                                                    aria-labelledby="dropdownButton"
                                                >
                                                    <li
                                                        *ngIf="'Pages.Tenant.DataVaults.TransactionType.Edit' | permission"
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="createOrEditTransactionTypeModal.show(record.transactionType.id)"
                                                        >
                                                            {{ 'Edit' | localize }}
                                                        </a>
                                                    </li>
                                                    
                                                    <li
                                                        *ngIf="'Pages.Tenant.DataVaults.TransactionType.Delete' | permission"
                                                        role="menuitem">
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="deleteTransactionType(record.transactionType)"
                                                        >
                                                            {{ 'Delete' | localize }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ 'Name' | localize }}</span>
                                            {{ record.transactionType.name }}
                                        </td>
                                        
                                        <td style="width: 100px">
                                            <span class="p-column-title">{{ 'Active' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="record.transactionType.isActive">
                                                {{ 'Yes' | localize }}
                                            </span>
                                            <span class="badge badge-dark" *ngIf="!record.transactionType.isActive">
                                                {{ 'No' | localize }}
                                            </span>
                                        </td>
                                       
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getTransactionType($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "
                                ></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditTransactionTypeModal #createOrEditTransactionTypeModal (modalSave)="getTransactionType()"></createOrEditTransactionTypeModal>
    </div>
</div>
