<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #divisionForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="division.id">{{ 'EditDivision' | localize }}</span>
                        <span *ngIf="!division.id">{{ 'CreateNewDivision' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label class="form-label" for="Name">{{ 'Name' | localize }} *</label>
                                    <input id="Name" [(ngModel)]="division.name" type="text" name="Name" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{ 'Circle' | localize }}</label>
                                    <select name="Circle" #discomIdInput="ngModel" [(ngModel)]="division.circleId" required class="form-control" id="selectCircleId">
                                        <option [ngValue]="undefined" selected>Select Type</option>
                                        <option *ngFor="let item of circleList" value="{{item.id}}">{{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-check form-check-custom form-check-solid">
                                    <input id="EditDivision_IsActive" type="checkbox" name="discomIsActive" [(ngModel)]="division.isActive" class="form-check-input" />
                                    <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!divisionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                    <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
                </div>
            </form>
        </div>
    </div>