<div appBsModal #userDelegationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #userDelegationForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'DelegateNewUser' | localize }}</span>
                    </h5>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-5">
                        <label for="UsernameOrEmailAddress">{{ 'Username' | localize }}</label>
                        <div class="input-group custom-input" (click)="showCommonLookupModal()">
                            <input name="UsernameOrEmailAddress" class="form-control me-1" type="text" readonly="readonly" disabled="disabled" [value]="selectedUsername" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" style="padding: 9px 15px;">{{ 'Search' | localize }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="StartTime">{{ 'StartTime' | localize }}</label>

                        <div class="form-group form-icon">
                            <input id="StartTime" type="text" name="StartTime" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="userDelegation.startTime" [(ngModel)]="userDelegation.startTime" [maxDate]="userDelegation.endTime" [bsConfig]="{ adaptivePosition: true }"
                                autocomplete="new-password" required />
                            <span class="icon-box" style="top:3px;"><i class="las la-calendar"></i></span>
                        </div>

                    </div>
                    <div class="mb-5">
                        <label for="EndTime">{{ 'EndTime' | localize }}</label>
                        <div class="form-group form-icon">
                            <input id="EndTime" type="text" name="EndTime" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="userDelegation.endTime" [(ngModel)]="userDelegation.endTime" [minDate]="userDelegation.startTime" [bsConfig]="{ adaptivePosition: true }"
                                autocomplete="new-password" required />
                            <span class="icon-box" style="top:3px;"><i class="las la-calendar"></i></span>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!userDelegation.targetUserId || !userDelegationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<commonLookupModal #userLookupModal (itemSelected)="userSelected($event)"></commonLookupModal>