<div class="row" [@routerTransition]>
    <div class="mb-3" style="font-size: 1rem;">
        <label for="loan+option" class="f-16 me-3" style="font-weight:600">Loan Opton: </label>
        <span class="badge badge-success f-16" *ngIf="SelectedLoanOption == 0">
            {{ 'With Loan' | localize }}
        </span>
        <span class="badge badge-dark f-16" *ngIf="SelectedLoanOption != 0">
            {{ 'Without Loan' | localize }}
        </span>
    </div>

    <div class="sections">
        <div id="RegularQuote" class="mb-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between title-row">
                    <h3 class="mb-0 py-0" style="border:0;"><i class="las la-file-alt me-2"></i>Quotation For Regular
                    </h3>
                    <div class="d-flex align-items-center" style="margin-left:auto;">
                        <button type="button" class="btn btn-secondary me-2">
                            <i class="las la-sync-alt" style="padding-right:0;"></i>
                        </button>
                        <div class="btn-group me-2" dropdown>
                            <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Customer Sign
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations marginnone_drop"
                                *dropdownMenu>
                                <button class="dropdown-item smsbtn"
                                    (click)="addActivityModal.show(SelectedLeadId,leadActivityConst.SMS,0,37,0,12)"
                                    [buttonBusy]="saving" [busyText]="l('Saving')">
                                    <i class="las la-comment"></i> Via SMS
                                </button>
                                <button class="dropdown-item emailbtn"
                                    (click)="addActivityModal.show(SelectedLeadId,leadActivityConst.Email,0,37,0,12)"
                                    [buttonBusy]="saving" [busyText]="l('Saving')">
                                    <i class="las la-envelope"></i> Via Email
                                </button>
                            </div>
                        </div>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Quote
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations marginnone_drop"
                                *dropdownMenu>
                                <button class="dropdown-item smsbtn"
                                    (click)="QuoteGenerate(leadQuoteModeConst.RegularQuote);"
                                    *ngIf="'Pages.Tenant.Jobs.Quotation.Create' | permission">
                                    <i class="las la-file-medical"></i> Generate
                                </button>
                                <button class="dropdown-item emailbtn"
                                    (click)="addActivityModal.show(SelectedLeadId,leadActivityConst.Email,0,37,0,12)"
                                    [buttonBusy]="saving" [busyText]="l('Saving')">
                                    <i class="las la-paper-plane"></i> Send
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- <button type="submit" class="btn btn-primary" (click)="QuoteGenerate();" *ngIf="'Pages.Tenant.Jobs.Quotation.Create' | permission"><i
                        class="las la-file-alt"></i> Generate Quote</button> -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="grid-container secondary-grid">
                    <div class="primeng-datatable-container">
                        <div class="p-datatable">
                            <div class="p-datatable-wrapper">
                                <p-table #dataTable sortMode="multiple" (onLazyLoad)="GetQuotationList($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both"
                                    [scrollable]="true" styleClass="p-mt-3"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    selectionMode="single" [selection]="true">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 330px">
                                                {{ 'Quote Date' | localize }}

                                            </th>
                                            <th style="width: 140px; justify-content: center;">
                                                {{ 'QuoteNumber' | localize }}

                                            </th>
                                            <th style="width: 160px">
                                                {{ 'Created by' | localize }}
                                            </th>

                                            <th style="width: 250px">
                                                {{ 'Signed' | localize }}

                                            </th>
                                            <th style="width: 120px; justify-content: center;">
                                                Document
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr id="selectcustomer" *ngIf="record.quotation.quoteMode == 0">
                                            <td style="width: 330px">
                                                {{record.quotation.quoteDate | luxonFormat: 'F'}}
                                            </td>

                                            <td style="width: 140px; justify-content: center;">
                                                {{ record.quotation.quoteNumber }}
                                            </td>
                                            <td style="width: 160px">
                                                {{record.quotation.createdBy}}
                                            </td>
                                            <td style="width: 250px">
                                                <a href="javascript:;" *ngIf="record.quotation.isSigned"><i
                                                        class="las la-signature fs-1"></i></a>
                                            </td>
                                            <td style="width: 120px; justify-content: center;">
                                                <a href="javascript:;"
                                                    (click)="showpdfTemplate(record.quotation.id,leadQuoteModeConst.RegularQuote)"><i
                                                        class="las la-file-alt fs-1 text-primary"></i></a>
                                            </td>
                                            <!-- <td style="width: 230px" [hidden]="!ExpandedView" *ngIf="record.appTracker.comment != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.appTracker.comment }}">
                                        {{record.appTracker.comment}}
                                    </td> -->
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{ 'NoData' | localize }}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="GetQuotationList($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                    </p-paginator>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sections">
        <div id="Loan Quote">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between title-row">
                    <h3 class="mb-0 py-0" style="border:0;"><i class="las la-file-alt me-2"></i>Quotation For Loan</h3>
                    <div class="d-flex align-items-center" style="margin-left:auto;">
                        <div class="btn-group me-2" dropdown>
                            <button type="button" class="btn btn-secondary me-2">
                                <i class="las la-sync-alt" style="padding-right:0;"></i>
                            </button>
                            <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Customer Sign
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations marginnone_drop"
                                *dropdownMenu>
                                <button class="dropdown-item smsbtn"
                                    (click)="addActivityModal.show(SelectedLeadId,leadActivityConst.SMS,0,37,0,12)"
                                    [buttonBusy]="saving" [busyText]="l('Saving')">
                                    <i class="las la-comment"></i> Via SMS
                                </button>
                                <button class="dropdown-item emailbtn"
                                    (click)="addActivityModal.show(SelectedLeadId,leadActivityConst.Email,0,37,0,12)"
                                    [buttonBusy]="saving" [busyText]="l('Saving')">
                                    <i class="las la-envelope"></i> Via Email
                                </button>
                            </div>
                        </div>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Quote
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations marginnone_drop"
                                *dropdownMenu>
                                <button class="dropdown-item smsbtn"
                                    (click)="QuoteGenerate(leadQuoteModeConst.LoanQuote);"
                                    *ngIf="'Pages.Tenant.Jobs.Quotation.Create' | permission">
                                    <i class="las la-file-medical"></i> Generate
                                </button>
                                <button class="dropdown-item emailbtn"
                                    (click)="addActivityModal.show(SelectedLeadId,leadActivityConst.Email,0,37,0,12)"
                                    [buttonBusy]="saving" [busyText]="l('Saving')">
                                    <i class="las la-paper-plane"></i> Send
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- <button type="submit" class="btn btn-primary" (click)="QuoteGenerate();" *ngIf="'Pages.Tenant.Jobs.Quotation.Create' | permission"><i
                        class="las la-file-alt"></i> Generate Quote</button> -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="grid-container secondary-grid">
                    <div class="primeng-datatable-container">
                        <div class="p-datatable">
                            <div class="p-datatable-wrapper" style="max-height:250px; overflow-y: auto;">
                                <p-table #dataTable sortMode="multiple" (onLazyLoad)="GetQuotationList($event)"
                                    [value]="primengTableHelper.records"
                                    rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns" scrollDirection="both"
                                    [scrollable]="true" styleClass="p-mt-3"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    selectionMode="single" [selection]="true">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 330px">
                                                {{ 'Quote Date' | localize }}

                                            </th>
                                            <th style="width: 140px; justify-content: center;">
                                                {{ 'QuoteNumber' | localize }}

                                            </th>
                                            <th style="width: 160px">
                                                {{ 'Created by' | localize }}
                                            </th>

                                            <th style="width: 250px">
                                                {{ 'Signed' | localize }}

                                            </th>
                                            <th style="width: 120px; justify-content: center;">
                                                Document
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr id="selectcustomer" *ngIf="record.quotation.quoteMode == 1">
                                            <td style="width: 330px">
                                                {{record.quotation.quoteDate | luxonFormat: 'F'}}
                                            </td>

                                            <td style="width: 140px; justify-content: center;">
                                                {{ record.quotation.quoteNumber }}
                                            </td>
                                            <td style="width: 160px">
                                                {{record.quotation.createdBy}}
                                            </td>
                                            <td style="width: 250px">
                                                <a href="javascript:;" *ngIf="record.quotation.isSigned"><i
                                                        class="las la-signature fs-1"></i></a>
                                            </td>
                                            <td style="width: 120px; justify-content: center;">
                                                <a href="javascript:;"
                                                    (click)="showpdfTemplate(record.quotation.id,leadQuoteModeConst.LoanQuote)"><i
                                                        class="las la-file-alt fs-1 text-primary"></i></a>
                                                <!-- <a href="javascript:;"
                                                *ngIf="!record.quotation.isQuotateSigned"
                                                (click)="addActivityModal.show(leadId,1,0,37)"><i
                                                    class="">SMS</i></a>
                                            <a href="javascript:;"
                                                *ngIf="!record.quotation.isQuotateSigned"
                                                (click)="addActivityModal.show(leadId,2,0,37)"><i
                                                    class="">Send Email</i></a> -->
                                            </td>
                                            <!-- <td style="width: 230px" [hidden]="!ExpandedView" *ngIf="record.appTracker.comment != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.appTracker.comment }}">
                                        {{record.appTracker.comment}}
                                    </td> -->
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{ 'NoData' | localize }}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="GetQuotationList($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                    </p-paginator>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
<pdfTemplateModel #pdfTemplateModel SelectedJobNumber={{selectedJobNo}}></pdfTemplateModel>
<addActivityModal #addActivityModal></addActivityModal>