<style>
    .lead-container {
        max-height: 63vh;
    }
</style>
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Subsidy Tracker' | localize" [count]="recordCount" [description]="'ApplicationTracker' | localize">
                </sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" class="float-end refresh" (click)="getSubsidyList()"></button>
                            </div>
                            <div class="me-2" *ngIf="permission.isGranted('Pages.Tenant.Tracker.SubsidyDetail.ExportToExcel')">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="javascript:;" *ngIf="'Pages.Tenant.Leads.MISReport.ImportToExcel' | permission" role="menuitem" class="dropdown-item text-dark import-sheet">
                                                <span class="">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <span class="" href="# " *ngIf=" 'Pages.Tenant.Leads.MISReport.ImportToExcel' | permission ">
                                                <a href="/assets/sampleFiles/ImportSubsidyReportSampleFile.xlsx"
                                                    class="dropdown-item text-dark ">
                                                    <i class="las la-file-excel "></i> {{l('Sample File')}}
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <div class="me-2" *ngIf="organizationUnitlength > 0">
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getSubsidyList()">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="me-2">
                                <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="me-2">
                                <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Application Status" [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID" class="form-control">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                    </ng-template>
                                </ng-select>
                            </div>

                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text" placeholder="project, cheque, voucher, customer no, mobile" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getSubsidyList()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getSubsidyList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input name="filterText" autoFocus class="form-control m-input" type="text" [(ngModel)]="filterText" placeholder="project number,customer name, mobile number" />
                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getSubsidyList()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getSubsidyList()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>
                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                <div class="content-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter" class="form-control" (change)="changeDiscom()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allCircleData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Circle" [(ngModel)]="CircleIdFilter" name="CircleIdFilter" class="form-control" (change)="changeCircle()">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Division" (change)="changeDivision()" [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="0">Select OC Copy</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Subcidy Received</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Subcidy File Verified</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" (change)="changeSolarType()" bindValue="id" placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allTenderData" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Tender" [(ngModel)]="TenderIdFilter" name="TenderIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-12"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="">Filter with Date</option>
                                                    <option value="subsidyclaimdate">Subsidy Claim Date</option>
                                                    <option value="subsidypaiddate">Subsidy Paid Date</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-3 justify-content-end">
                                            <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                    class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                            <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..." (click)="getSubsidyList()"><i
                                                    class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

        <div class="container-fluid" [hidden]="FiltersData">
            <div class="lead-data-box">
                <div class="box-item job-type">
                    <h2>
                        Total Subsidy Received<span>{{subsidySummaryCount.totalSubsidyReceived}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Subsidy In Process<span>{{subsidySummaryCount.totalSubsidyInProcess}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Projects Claimed<span>{{subsidySummaryCount.totalProjectsClaimed}}</span>
                    </h2>
                </div>
                <div class="box-item job-type">
                    <h2>
                        Total Kilowatt<span>{{subsidySummaryCount.totalKilowatt}}</span>
                    </h2>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getSubsidyList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="false" [scrollable]="true"
                                            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">


                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pFrozenColumn style="width:80px; border-right:0 !important;">
                                                        Action
                                                    </th>
                                                    <th pFrozenColumn style="width: 220px" pSortableColumn="ClaimNumber">
                                                        {{ 'Claim Number' | localize }}
                                                        <p-sortIcon field="claimNumber"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 160px" [hidden]="!ExpandedView" pSortableColumn="division">
                                                        {{ 'Division' | localize }}
                                                        <p-sortIcon field="division"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 170px" [hidden]="!ExpandedView" pSortableColumn="TotalProjectCost">
                                                        {{ 'Total Project Cost' | localize }}
                                                        <p-sortIcon field="TotalProjectCost"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 160px" [hidden]="!ExpandedView" pSortableColumn="SubsidyAmount">
                                                        {{ 'Subsidy Amount' | localize }}
                                                        <p-sortIcon field="SubsidyAmount"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 185px" [hidden]="!ExpandedView" pSortableColumn="NetPayableAmount">
                                                        {{ 'Net Payable Amount' | localize }}
                                                        <p-sortIcon field="NetPayableAmount"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 175px" [hidden]="!ExpandedView" pSortableColumn="BankableAmount">
                                                        {{ 'Bankable Amount' | localize }}
                                                        <p-sortIcon field="BankableAmount"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 170px" [hidden]="!ExpandedView" pSortableColumn="ActualAmountRec">
                                                        {{ 'Actual Amount Rec' | localize }}
                                                        <p-sortIcon field="ActualAmountRec"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 170px" [hidden]="!ExpandedView" pSortableColumn="SubcidyFileVerify">
                                                        {{ 'Subcidy File Verify' | localize }}
                                                        <p-sortIcon field="SubcidyFileVerify"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 140px" [hidden]="!ExpandedView" pSortableColumn="OCCopy">
                                                        {{ 'OC Copy' | localize }}
                                                        <p-sortIcon field="OCCopy"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 170px" [hidden]="!ExpandedView" pSortableColumn="SubcidyReceived">
                                                        {{ 'Subcidy Received' | localize }}
                                                        <p-sortIcon field="SubcidyReceived"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 170px" [hidden]="!ExpandedView" pSortableColumn="SubcidyReceipts">
                                                        {{ 'Subcidy Receipts' | localize }}
                                                        <p-sortIcon field="SubcidyReceipts"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr id="selectcustomer" [pSelectableRow]="record">
                                                    <td pFrozenColumn style="width:80px; border-right:0 !important;">
                                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                                <i class="las la-ellipsis-v"></i>
                                                            </button>
                                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                                <!-- *ngIf="permission.isGranted('Pages.Tenant.Tracker.SubsidyDetail.EditSubsidy')" -->
                                                                <li role="menuitem">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="editSubsidyModal()">
                                                                        <i class="las la-edit"></i> Edit
                                                                    </a>
                                                                </li>
                                                                <!-- *ngIf="permission.isGranted('Pages.Tenant.Tracker.SubsidyDetail.VerifySubsidy')" -->
                                                                <li role="menuitem">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="verifySubsidyModal()">
                                                                        <i class="las la-check-circle"></i> Verify
                                                                    </a>
                                                                </li>
                                                                <!-- *ngIf="permission.isGranted('Pages.Tenant.Tracker.SubsidyDetail.UploadOCCopy')" -->
                                                                <li role="menuitem">
                                                                    <a href="javascript:;" class="dropdown-item" (click)="uploadOCDocModal()">
                                                                        <i class="las la-file-upload"></i> Upload OC Copy
                                                                    </a>
                                                                </li>
                                                                <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.SubsidyDetail.Delete')">
                                                                    <a href="javascript:;" class="dropdown-item">
                                                                        <i class="las la-trash"></i> Delete
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>

                                                    <td pFrozenColumn style="width: 220px" class="gridleadimage" id="selectcustomer" (click)="navigateToLeadDetail(record);">
                                                        <span class="p-column-title">{{ 'ClaimNumber' | localize}}</span> {{record.subsidyTracker.claimNumber }}
                                                    </td>


                                                    <td [hidden]="!ExpandedView" style="width: 160px">
                                                        {{record.subsidyTracker.division}}
                                                    </td>
                                                    <td [hidden]="!ExpandedView" style="width: 170px"><span class="badge badge-primary">{{record.subsidyTracker.totalProjectCost}}</span>
                                                    </td>
                                                    <td style="width: 160px" [hidden]="!ExpandedView"><span class="badge badge-success">{{record.subsidyTracker.subsidyAmount}}</span>
                                                    </td>
                                                    <td style="width:185px" [hidden]="!ExpandedView"><span class="badge badge-secondary">{{record.subsidyTracker.netPayableAmount}}</span>
                                                    </td>
                                                    <td style="width: 175px" [hidden]="!ExpandedView"><span class="badge badge-warning text-dark">{{record.subsidyTracker.bankableAmount}}</span>
                                                    </td>
                                                    <td style="width: 170px" [hidden]="!ExpandedView">
                                                        {{record.subsidyTracker.actualAmountRec}}</td>
                                                    <td style="width: 170px" [hidden]="!ExpandedView">
                                                        {{record.subsidyTracker.subcidyFileVerify}}</td>
                                                    <td style="width: 140px" [hidden]="!ExpandedView">
                                                        {{record.subsidyTracker.OCCopy}}</td>
                                                    <td style="width: 170px" [hidden]="!ExpandedView">
                                                        {{record.subsidyTracker.subcidyReceived}}</td>
                                                    <td style="width: 170px" [hidden]="!ExpandedView">
                                                        {{record.subsidyTracker.subcidyReceipts}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ 'NoData' | localize }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getSubsidyList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                            </p-paginator>
                                        </div>
                                    </div>
                                </div>

                                <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-Ends>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<VerifySubsidyModal #VerifySubsidyModal></VerifySubsidyModal>
<UploadOCDocumentModal #UploadOCDocumentModal></UploadOCDocumentModal>
<EditSubsidyModal #EditSubsidyModal></EditSubsidyModal>