<style>
    .ng-select {
        padding-top: 7px !important;
    }
</style>
<div appBsModal #UploadOCDocumentModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #priceForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ 'Claim' | localize }} - SGA20-50-20210724-1274</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">


                    <div class="lgray-box mb-3">
                        <div class="jobinfo-box shadow-box m-0">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="" class="form-label">{{ 'Upload OC Copy' | localize }} *</label>
                                        <div class="custom-upload fix-height" style="margin-top:0;">
                                            <label>
                                                <div class="custom-file custom-upload mt-0">
                                                    <input type="file" id="uploadPicture" #uploadPicture required  name="docfile">
                                                    <label for="uploadPicture" class="custom-file-label"></label>
                                        </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3 form-icon">
                                    <label for="" class="form-label">{{ 'Claim File Submission Date' | localize }} *</label>
                                    <input id="" type="text" name="" [(date)]="startDate" class="form-control" bsDatepicker datePickerLuxonModifier [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" required />
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()"><i class="las la-times-circle"></i> {{ 'Cancel' | localize }}</button>
            <button type="submit" class="btn btn-primary" [disabled]="!priceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{ 'Save' | localize }}</span></button>
        </div>
        </form>
    </div>
</div>