<style>
    .ng-select {
        padding-top: 7px !important;
    }
</style>
<div appBsModal #VerifySubsidyModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #priceForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ 'Verify' | localize }} - SGA20-50-20210724-1274</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="lgray-box mb-3">
                        <div class="jobinfo-box shadow-box m-0">
                            <h3><i class="las la-rupee-sign fs-1 me-2"></i>Price Details</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Amount With Deduction' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="55832.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Performance Bank Guarantee' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="6087.49" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'CGST' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="652.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'SGST' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="652.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'TDS' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="1304.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Welfare Cess' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="652.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Penalty' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="0.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Penalty CGST' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="0.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Penalty SGST' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="0.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Amount Withought Deduction' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="65179.49" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Round Off' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="0.00" />
                                        <span class="icon-box"><i class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="lgray-box mb-3">
                        <div class="jobinfo-box shadow-box m-0">
                            <h3><i class="las la-info-circle fs-1 me-2"></i>Other Details</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Bank Name' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="ICICI" />
                                        <span class="icon-box"><i class="las la-university"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Voucher No' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="68699" />
                                        <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Cheque No' | localize }} *</label>
                                        <input id="" type="text" name="" class="form-control" required maxlength="50" value="1005049" />
                                        <span class="icon-box"><i class="las la-money-check"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="StartDate" class="form-label">{{ 'Cheque Date' | localize }} *</label>
                                        <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" [(date)]="startDate" class="form-control" bsDatepicker datePickerLuxonModifier [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" required />
                                        <span class="icon-box"><i class="las la-calendar"></i></span>
                                        <!-- <input id="StartDate" [(ngModel)]="tender.startDate" type="text" name="StartDate" class="form-control" required maxlength="50" /> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3 form-icon">
                                        <label for="" class="form-label">{{ 'Subsidy Paid Date' | localize }} *</label>
                                        <input id="" type="text" name="" value="19/05/2022" [(date)]="startDate" class="form-control" bsDatepicker datePickerLuxonModifier [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" required />
                                        <span class="icon-box"><i class="las la-calendar"></i></span>
                                        <!-- <input id="StartDate" [(ngModel)]="tender.startDate" type="text" name="StartDate" class="form-control" required maxlength="50" /> -->
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group mb-3">
                                        <label for="" class="form-label">{{ 'Upload Receipt' | localize }} *</label>
                                        <div class="custom-upload fix-height" style="margin-top:0;">
                                            <label>
                                                <div class="custom-file custom-upload mt-0">
                                                    <input type="file" id="uploadPicture" #uploadPicture required  name="docfile">
                                                    <label for="uploadPicture" class="custom-file-label"></label>
                                        </div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="lgray-box">
                    <div class="jobinfo-box shadow-box m-0">
                        <h3><i class="las la-sticky-note fs-1 me-2"></i>Notes</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
            <button type="submit" class="btn btn-primary" [disabled]="!priceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
        </div>
        </form>
    </div>
</div>