<div [@routerTransition]>
    <div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog large-madal modal-dialog-scrollable modal-xl addactivitymodal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="!manageLeads.id">Create Lead</h4>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving"></button>
            </div>
            <form *ngIf="active" #createOrEditManageLead="ngForm" novalidate (ngSubmit)="save()" autocomplete="off"
                autocompleteOff [ngClass]="{ 'has-error': createOrEditManageLead.submitted}">
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box form-container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{l("Customer Details")}}</h3>
                            </div>
                            <div class="col-md-4" *ngIf="LeadFlag == 'C'">
                                <div class="form-group form-icon">
                                    <label for="SolarTypeName" class="form-label">{{l("SolarType")}} *</label>
                                    <select name="SolarType" #SolarTypeInput="ngModel"
                                        [(ngModel)]="manageLeads.solarTypeId" required class="form-control"
                                        id="selectSolarTypeId"
                                        [ngClass]="[ manageLeads.solarTypeId === null || manageLeads.solarTypeId == 0 && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                        <option [ngValue]="undefined" selected>Select SolarType</option>
                                        <option *ngFor="let itemlsolartype of drpsolartype"
                                            value="{{itemlsolartype.id}}">
                                            {{itemlsolartype.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="fas fa-solar-panel"
                                            style="font-size:1.3rem;"></i></span>
                                    <validation-messages [formCtrl]="SolarTypeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="LeadFlag == 'C'">
                                <div class="form-group form-icon">
                                    <label for="ConsumerNo" class="form-label">{{l("Consumer No.")}} </label>
                                    <input type="text" (blur)="CheckDuplicateConsumerNo($event)"
                                        (keypress)="keyPressNumbers($event)" id="ConsumerNoInput"
                                        #ConsumerNoInput="ngModel" [(ngModel)]="manageLeads.consumerNumber"
                                        name="ConsumerNo" placeholder='Consumer No' minlength="0" maxlength="10"
                                        [ngClass]="[ manageLeads.consumerNumber === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="LeadFlag == 'C'">
                                <div class="form-group form-icon">
                                    <label for="Lead_CustomerName" class="form-label">{{l("CustomerName")}}(As per light
                                        bill)
                                    </label>
                                    <input type="text" id="Lead_CustomerName" #CustomerNameInput="ngModel"
                                        [(ngModel)]="manageLeads.customerName" name="CustomerName" maxlength="100"
                                        placeholder='CustomerName'
                                        [ngClass]="[ manageLeads.customerName === null || manageLeads.customerName == '' && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-user-alt"></i></span>
                                    <!-- <validation-messages [formCtrl]="CustomerNameInput"></validation-messages> -->
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="Lead_FirstName" class="form-label">{{l("FirstName")}} *</label>
                                    <input type="text" id="Lead_FirstName" required #FirstNameInput="ngModel"
                                        (blur)="ChangeText($event)" [(ngModel)]="manageLeads.firstName" name="FirstName"
                                        maxlength="100" placeholder='FirstName'
                                        [ngClass]="[ manageLeads.firstName === null || manageLeads.firstName == '' && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-user-alt"></i></span>
                                    <validation-messages [formCtrl]="FirstNameInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="Lead_MiddleName" class="form-label">{{l("MiddleName")}}
                                        *</label>
                                    <input type="text" id="Lead_MiddleName" required #MiddleNameInput="ngModel"
                                        (blur)="ChangeText($event)" [(ngModel)]="manageLeads.middleName"
                                        name="MiddleName" maxlength="100" placeholder='MiddleName'
                                        [ngClass]="[ manageLeads.middleName === null || manageLeads.middleName == '' && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-user-alt"></i></span>
                                    <validation-messages [formCtrl]="MiddleNameInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="Lead_LastName" class="form-label">{{l("LastName")}} *</label>
                                    <input type="text" id="Lead_LastName" required #LastNameInput="ngModel"
                                        (blur)="ChangeText($event)" [(ngModel)]="manageLeads.lastName" name="LastName"
                                        maxlength="100" placeholder='LastName'
                                        [ngClass]="[ manageLeads.lastName === null || manageLeads.lastName == '' && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-user-alt"></i></span>
                                    <validation-messages [formCtrl]="LastNameInput"></validation-messages>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="Lead_Mobile" class="form-label">{{l("Mobile")}} *</label>
                                    <input type="text" id="Lead_Mobile" (keypress)="keyPressNumbers($event)"
                                        #MobileNoInput="ngModel" required [(ngModel)]="manageLeads.mobileNumber"
                                        name="Mobile" minlength="10" maxlength="10" placeholder='{{l("Mobile")}}'
                                        [ngClass]="[ manageLeads.mobileNumber === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-mobile"></i></span>
                                    <validation-messages [formCtrl]="MobileNoInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- *ngIf="('Pages.LeadTracker' | permission)" -->
                                <div class="form-group form-icon">
                                    <label for="Lead_Email" class="form-label">{{l("Email")}}</label>
                                    <input type="text" id="Lead_Email" #emailAddressInput="ngModel"
                                        [(ngModel)]="manageLeads.emailId" name="Email"
                                        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                        minlength="1" maxlength="255" placeholder='{{l("Email")}}'
                                        [ngClass]="[ manageLeads.emailId === null || manageLeads.emailId == '' && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-envelope"></i></span>
                                    <!-- <validation-messages [formCtrl]="emailAddressInput"></validation-messages> -->
                                </div>
                            </div>
                            <!-- *ngIf="('Pages.LeadTracker' | permission)" -->

                            <div class="col-md-4" *ngIf="LeadFlag == 'C'">
                                <div class="form-group form-icon">
                                    <label for="Lead_AltPhone" class="form-label">{{l("Alt ContactNo")}}</label>
                                    <input type="text" id="Lead_AltPhone" (keypress)="keyPressNumbers($event)"
                                        [(ngModel)]="manageLeads.alt_Phone" name="AltPhone" minlength="10"
                                        maxlength="10" placeholder='{{l("AltPhone")}}' class="form-control" />
                                    <!-- [ngClass]="[ manageLeads.alt_Phone === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" -->
                                    <span class="icon-box"><i class="las la-phone"></i></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-white-box form-container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{l("Address Details")}}</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="Lead_AddressLine1" class="form-label">{{l("Address1")}}</label>
                                    <input type="text" id="Lead_AddressLine1" [(ngModel)]="manageLeads.addressLine1"
                                        name="Address1" placeholder='{{l("Address1")}}'
                                        [ngClass]="[ manageLeads.addressLine1 === null || manageLeads.addressLine1 == '' && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-address-card"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="Lead_AddressLine2" class="form-label">{{l("Address2")}}</label>
                                    <input type="text" id="Lead_AddressLine2" class="form-control"
                                        [(ngModel)]="manageLeads.addressLine2" name="Address2"
                                        placeholder='{{l("Address2")}}'
                                        [ngClass]="[ manageLeads.addressLine2 === null || manageLeads.addressLine2 == '' && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-address-card"></i></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="CityName" class="form-label form-icon">{{l("City")}} </label>
                                    <p-autoComplete [(ngModel)]="citymodel" id="CityInput"
                                        [suggestions]="filteredGroups" (completeMethod)="filtercity($event)"
                                        field="label" placeholder='{{l("SelectCity")}}' [minlength]="3"
                                        #CityInput="ngModel" name="CityInput" (onSelect)="selectedCity($event)"
                                        inputStyleClass="" styleClass="width-percent-100"
                                        [ngClass]="[ citymodel === null || citymodel == '' && !manageLeads.isVerified ? 'red-bdr': '' ]">
                                    </p-autoComplete>
                                    <span class="icon-box"><i class="las la-city"></i></span>
                                    <!-- <validation-messages [formCtrl]="suburbInput"></validation-messages> -->

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="TalukaName" class="form-label">{{l("Taluka")}} </label>
                                    <select name="TalukaName" #TalukaNameInput="ngModel" (change)="changeTaluka($event)"
                                        [(ngModel)]="manageLeads.talukaId" class="form-control" id="selectTalukaId"
                                        [ngClass]="[ manageLeads.talukaId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                        <option [ngValue]="undefined" selected>Select Taluka</option>
                                        <option *ngFor="let itemltaluka of drptaluka" value="{{itemltaluka.id}}">
                                            {{itemltaluka.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="DistrictName" class="form-label">{{l("District")}} </label>
                                    <select name="DistrictName" #DistrictNameInput="ngModel"
                                        (change)="changeDistrict($event)" [(ngModel)]="manageLeads.districtId"
                                        class="form-control" id="selectDistrictId"
                                        [ngClass]="[ manageLeads.districtId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                        <option [ngValue]="undefined" selected>Select District</option>
                                        <option *ngFor="let itemldistrict of drpdistrict" value="{{itemldistrict.id}}">
                                            {{itemldistrict.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="StateName" class="form-label">{{l("State")}} </label>
                                    <select name="StateName" #StateNameInput="ngModel" (change)="changeState($event)"
                                        [(ngModel)]="manageLeads.stateId" class="form-control " id="selectStateId"
                                        [ngClass]="[ manageLeads.stateId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                        <option [ngValue]="undefined" selected>Select State</option>
                                        <option *ngFor="let itemlstate of drpstate" value="{{itemlstate.id}}">
                                            {{itemlstate.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="postcode" class="form-label">{{l("Postcode")}} </label>
                                    <input type="text" id="Lead_Postcode" #PostcodeInput="ngModel"
                                        [(ngModel)]="manageLeads.pincode" (keypress)="keyPressNumbers($event)"
                                        name="Postcode" placeholder='Postcode'
                                        [ngClass]="[ manageLeads.pincode === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                    <span class="icon-box"><i class="las la-parking"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box form-container" *ngIf="LeadFlag == 'C'">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>{{l("Application Details")}}</h3>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="SubDivision" class="form-label">{{l("Sub Division")}} </label>
                                        <p-autoComplete [(ngModel)]="subDivisionmodel" id="SubdivisionInput"
                                            [suggestions]="filteredSubDivisionList"
                                            (completeMethod)="filtersubdivision($event)" field="label"
                                            placeholder='{{l("selecteSubdivision")}}' [minlength]="1"
                                            #SubdivisionInput="ngModel" name="SubdivisionInput"
                                            (onSelect)="selectedSubdivision($event)" inputStyleClass=""
                                            styleClass="width-percent-100"
                                            [ngClass]="[ subDivisionmodel === null && !manageLeads.isVerified ? 'red-bdr': '' ]">
                                        </p-autoComplete>
                                        <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                        <!-- <validation-messages [formCtrl]="SubdivisionInput"></validation-messages> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Division" class="form-label">{{l("Division")}} </label>
                                        <select class="form-control" id="SelectDivisionId" #DivisionNameInput
                                            (change)="changeDivision($event)" name="DivisionName"
                                            [(ngModel)]="manageLeads.divisionId"
                                            [ngClass]="[ manageLeads.divisionId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                            <option [ngValue]="undefined">Select Division</option>
                                            <option *ngFor="let itemdivision of drpdivision"
                                                value="{{itemdivision.id}}">
                                                {{itemdivision.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Circle" class="form-label">{{l("Circle")}} </label>
                                        <select class="form-control" id="SelectCircleId"
                                            (change)="changeDivision($event)" name="CircleName"
                                            [(ngModel)]="manageLeads.circleId"
                                            [ngClass]="[ manageLeads.circleId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                            <option [ngValue]="undefined">Select Circle</option>
                                            <option *ngFor="let itemcircle of drpcircle" value="{{itemcircle.id}}">
                                                {{itemcircle.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon ">
                                        <label for="Discom" class="form-label">{{l("Discom")}} </label>
                                        <select class="form-control" id="SelectDiscomId" #DiscomNameInput
                                            name="DiscomName" [(ngModel)]="manageLeads.discomId"
                                            [ngClass]="[ manageLeads.discomId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                            <option [ngValue]="undefined">Select Discom</option>
                                            <option *ngFor="let itemdiscom of drpdiscom" value="{{itemdiscom.id}}">
                                                {{itemdiscom.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Latitude" class="form-label">{{l("Latitude")}} </label>
                                        <input type="text" id="Lead_Latitude" #LatitudeInput="ngModel"
                                            [(ngModel)]="manageLeads.latitude" name="Latitude" placeholder='Latitude'
                                            [ngClass]="[ manageLeads.latitude === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                        <span class="icon-box"><i class="las la-map-pin"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Longitude" class="form-label">{{l("Longitude")}} </label>
                                        <input type="text" id="Lead_Longitude" #LongitudeInput="ngModel"
                                            [(ngModel)]="manageLeads.longitude" name="Longitude" placeholder='Longitude'
                                            [ngClass]="[ manageLeads.longitude === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                        <span class="icon-box"><i class="las la-map-pin"></i></span>
                                    </div>
                                </div>
                                <!-- (keypress)="keyPressNumbersWithDecimal($event)" -->
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="RequiredCapacity" class="form-label">{{l("Required Capacity")}}
                                        </label>
                                        <input type="text" id="Lead_RequiredCapacity" #RequiredCapacityInput="ngModel"
                                            (keypress)="keyPressNumbers($event)"
                                            [(ngModel)]="manageLeads.requiredCapacity" name="RequiredCapacity"
                                            placeholder='Required Capacity'
                                            [ngClass]="[ manageLeads.requiredCapacity === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                        <span class="icon-box"><i class="las la-plug"></i></span>
                                        <!-- <validation-messages [formCtrl]="RequiredCapacityInput"></validation-messages> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="StrctureAmmount" class="form-label">{{l("Structure Amount")}}
                                        </label>
                                        <input type="text" id="Lead_StrctureAmmount" #StrctureAmmountInput="ngModel"
                                            [(ngModel)]="manageLeads.strctureammount"
                                            (keypress)="keyPressNumbers($event)" name="StrctureAmmount"
                                            placeholder='Structure Amount'
                                            [ngClass]="[ manageLeads.strctureammount === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]" />
                                        <span class="icon-box"><i class="las la-coins"></i></span>
                                        <validation-messages [formCtrl]="StrctureAmmountInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Lead_Unit" class="form-label">{{l("AverageMonthlyUnit")}}
                                        </label>
                                        <input type="text" id="Lead_Unit" #AvgMonthlyUnitInput="ngModel"
                                            class="form-control" [(ngModel)]="manageLeads.avgmonthlyUnit"
                                            name="AvgmonthlyUnit" (keypress)="keyPressNumbers($event)"
                                            placeholder='Average Monthly Unit' />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                        <!-- <validation-messages [formCtrl]="AvgMonthlyUnitInput"></validation-messages> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Lead_Bill" class="form-label">{{l("AverageMonthlyBill")}}
                                        </label>
                                        <input type="text" id="Lead_Bill" #AvgMonthlyBillInput="ngModel"
                                            class="form-control" [(ngModel)]="manageLeads.avgmonthlyBill"
                                            name="AvgmonthlyBill" (keypress)="keyPressNumbers($event)"
                                            placeholder='Average Monthly Bill' />
                                        <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                        <validation-messages [formCtrl]="AvgMonthlyBillInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Category" class="form-label">{{l("Category")}} </label>
                                        <select name="Category" #CategoryInput="ngModel"
                                            [(ngModel)]="manageLeads.category" class="form-control"
                                            id="selectCategoryId">
                                            <option [ngValue]="undefined" selected>Select Category</option>
                                            <option value="SC">SC</option>
                                            <option value="ST">ST</option>
                                            <option value="OBC">OBC</option>
                                            <option value="Genral">Genral</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-users"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="HeightStructure" class="form-label">{{l("HeightStructure")}}
                                        </label>
                                        <select class="form-control" id="selectHeightStructureId" #HeightStructureInput
                                            name="HeightStructure" [(ngModel)]="manageLeads.heightStructureId"
                                            [ngClass]="[ manageLeads.heightStructureId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                            <!-- <select name="HeightStructure" #HeightStructureInput="ngModel"
                                            [(ngModel)]="manageLeads.heightStructureId" class="form-select"
                                            id="selectHeightStructureId"
                                            [ngClass]="[ manageLeads.discomId === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]"> -->
                                            <option [ngValue]="undefined" selected>Select Height Structure</option>
                                            <option *ngFor="let itemheight of drpheightstructure"
                                                value="{{itemheight.id}}">
                                                {{itemheight.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box"><i class="las la-ruler"></i></span>
                                        <!-- <validation-messages [formCtrl]="HeightStructureInput"></validation-messages> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-white-box form-container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{l("Lead Details")}}</h3>
                            </div>
                            <div class="col-md-4" *ngIf="this.manageLeads.id">
                                <div class="form-group form-icon" *ngIf="LeadFlag == 'C'">
                                    <label for="LeadStatusName" class="form-label">{{l("LeadStatus")}} </label>
                                    <select name="LeadStatus" #LeadStatusInput="ngModel"
                                        [(ngModel)]="manageLeads.leadStatusId" class="form-control"
                                        id="selectLeadSourceId">
                                        <option [ngValue]="undefined" selected>Select Lead Status</option>
                                        <option *ngFor="let item of drpleadstatus" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-hourglass-half"></i></span>
                                    <!-- <validation-messages [formCtrl]="LeadStatusInput"></validation-messages> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="LeadSourceName" class="form-label">{{l("LeadSource")}} *</label>
                                    <select name="LeadSource" #LeadSourceInput="ngModel"
                                        [(ngModel)]="manageLeads.leadSourceId" required class="form-control"
                                        id="selectLeadSourceId">
                                        <option [ngValue]="undefined" selected>Select Lead Source</option>
                                        <option *ngFor="let item of drpleadsources" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-ad"></i></span>
                                    <validation-messages [formCtrl]="LeadSourceInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="CurrentUserRole == 'Admin' && LeadFlag == 'C' ">
                                <div class="form-group form-icon">
                                    <label for="InquiryTypeName" class="form-label">{{l("Inquiry Type")}}
                                        *</label>
                                    <select name="LeadType" #LeadTypeInput="ngModel"
                                        [(ngModel)]="manageLeads.leadTypeId" required class="form-control"
                                        id="selectLeadTypeId">
                                        <option [ngValue]="undefined" selected>Select Inquiry Type</option>
                                        <option *ngFor="let itemltype of drpleadtype" value="{{itemltype.id}}">
                                            {{itemltype.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                    <validation-messages [formCtrl]="LeadTypeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="AreaTypeName" class="form-label">{{l("Area Type")}} *</label>
                                    <select name="areaType" #AreaTypeInput="ngModel" [(ngModel)]="manageLeads.areaType"
                                        required class="form-control" id="areaType">
                                        <option [ngValue]="undefined" selected>Select Area Type</option>
                                        <option value="Rural">Rural</option>
                                        <option value="urban">Urban</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-building"></i></span>
                                    <validation-messages [formCtrl]="AreaTypeInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="manageLeads.solarTypeId == 2 || manageLeads.solarTypeId == 3">
                                <div class="form-group form-icon" *ngIf="LeadFlag == 'C'">
                                    <label for="Common Meter" class="form-label">{{l("Common Meter Connection")}}
                                    </label>
                                    <select class="form-control" id="CommonMeter" #CommonMeterInput name="CommonMeter"
                                        [(ngModel)]="manageLeads.commonMeter"
                                        [ngClass]="[ manageLeads.commonMeter === null && !manageLeads.isVerified ? 'form-control red-bdr': 'form-control' ]">
                                        <option [ngValue]="undefined">Select Common Meter Connection</option>
                                        <option value="true" selected>YES</option>
                                        <option value="false">No</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-tachometer-alt"></i></span>
                                    <!-- <validation-messages [formCtrl]="CommonMeterInput"></validation-messages> -->
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="IsAssignLead">
                                <div class="form-group form-icon" *ngIf="LeadFlag == 'C'">
                                    <label for="Channels Partners" class="form-label">{{l("Channels Partners")}}
                                        *</label>
                                    <select name="SolarTypeName" #ChanelPartnerInput="ngModel"
                                        [(ngModel)]="manageLeads.chanelPartnerId" required class="form-control"
                                        id="selectchanelPartnerId">
                                        <option [ngValue]="undefined" selected>Select Channel Partner</option>
                                        <option *ngFor="let itempartner of drpchanelpartner" value="{{itempartner.id}}">
                                            {{itempartner.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-user-cog"></i></span>
                                    <validation-messages [formCtrl]="ChanelPartnerInput"></validation-messages>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box form-container" *ngIf="LeadFlag == 'C'">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Bank Details</h3>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Lead_AccountNumber" class="form-label">{{l("Bank Account Number")}}
                                        </label>
                                        <input type="text" id="Lead_AccountNumber" #AccountNumberInput="ngModel"
                                            class="form-control" [(ngModel)]="manageLeads.bankAccountNumber"
                                            (keypress)="keyPressNumbers($event)" name="AccountNumber" maxlength="100"
                                            placeholder='Account Number' />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Lead_HolderName" class="form-label">{{l("Account Holder Name")}}
                                        </label>
                                        <input type="text" id="Lead_HolderName" #HolderNameInput="ngModel"
                                            class="form-control" [(ngModel)]="manageLeads.bankAccountHolderName"
                                            name="HolderName" maxlength="100" placeholder='Holder Name' />
                                        <span class="icon-box"><i class="las la-user"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Lead_BankName" class="form-label">{{l("Bank Name")}} </label>
                                        <input type="text" id="Lead_BankName" #BankNameInput="ngModel"
                                            class="form-control" [(ngModel)]="manageLeads.bankName" name="BankName"
                                            maxlength="100" placeholder='Bank Name' />
                                        <span class="icon-box"><i class="las la-university"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Lead_BankBrachName" class="form-label">{{l("Branch Name")}}
                                        </label>
                                        <input type="text" id="Lead_BankBrachName" #BankBrachNameInput="ngModel"
                                            class="form-control" [(ngModel)]="manageLeads.bankBrachName"
                                            name="BankBrachName" maxlength="100" placeholder='Branch Name' />
                                        <span class="icon-box"><i class="las la-university"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Lead_IFSCCode" class="form-label">{{l("IFSC Code")}} </label>
                                        <input type="text" id="Lead_IFSCCode" #IFSCCodeInput="ngModel"
                                            class="form-control" [(ngModel)]="manageLeads.ifsC_Code" name="ifsCCode"
                                            maxlength="50" placeholder='IFSC Code' />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box form-container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{l("Additional Notes")}}</h3>
                            </div>
                            <div class="col-md-12">
                                <textarea id="Lead_additonalNotes" rows="5" #additonalNotesInput="ngModel"
                                    class="form-control" [(ngModel)]="manageLeads.notes" name="additonalNotes"
                                    placeholder='Additional Notes'></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">

                    <button (click)="close()" type="button" class="btn btn-danger btn-lg d-flex align-items-center">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>

                    <button type="submit" [disabled]="!createOrEditManageLead.form.valid"
                        *ngIf="active && !manageLeads.id" class="btn btn-primary btn-lg d-flex align-items-center"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i> Add
                    </button>
                    <button type="submit" [disabled]="!createOrEditManageLead.form.valid"
                        *ngIf="active && manageLeads.id" class="btn btn-primary btn-lg d-flex align-items-center"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i> Save
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
