<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Customer' | localize" [count]="recordCount">
                </sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4"
                    style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
            <div class="form mobile-filter" style="margin-left: auto;" role="actions"
                [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options lead-filters">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-2">
                                <button name="RefreshButton" id="RefreshButtonId" class="float-end refresh"
                                    (click)="getCustomer()">
                                    <!-- <img src="../../../../assets/common/images/icon-refresh.png" style="max-height:20px;"> -->
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }}  -->
                                </button>
                            </div>

                            <div class="me-2" *ngIf="permission.isGranted('Pages.Tenant.Leads.Customer.ExportToExcel')">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button"
                                        class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"
                                        aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="far fa-file-excel"></i>
                                        {{ 'ExcelOperations' | localize }} -->Export
                                    </button>
                                    <ul id="dropdownMenuExcelOperations"
                                        class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu"
                                        *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton"
                                                (click)="exportToExcel(1)" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton"
                                                (click)="exportToExcel(2)" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> CSV
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="me-2">
                                <button (click)="createManageLead()"
                                    *ngIf="'Pages.Tenant.Leads.Customer.Create' | permission"
                                    class="btn btn-primary d-flex align-items-center">
                                    <span class="me-1">New</span><i class="las la-plus-circle my-1"></i>
                                </button>
                            </div>
                            <div *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                <div class="me-2" *ngIf="organizationUnitlength > 0">
                                    <select name="organizationunitid" id="organizationunitid" #organizationunitid
                                        class="form-control" [(ngModel)]="organizationUnit"
                                        (change)="getCustomer();changeLeadSource(); getOrganizationuser();getOrganizationWiseUser();onsalesmanger();onsalesrep();">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- (change)="leadstatuschange()" -->
                            <div class="me-2">
                                <div class="form-control">
                                    <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName"
                                        [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus"
                                        [(ngModel)]="leadStatusIDS" name="leadStatusIDS">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                                name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="me-2">
                                <div class="form-control">
                                    <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName"
                                        [closeOnSelect]="false" bindValue="id" placeholder="All Application Status"
                                        [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                                name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="me-2 searchclearbox" style="position: relative;">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus
                                        class="form-control m-input" (keydown.enter)="getCustomer()"
                                        [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')"
                                        type="text" />
                                    <a class="btnclearsearch" *ngIf="filterText"
                                        (click)="filterText='';getCustomer()"><i class="fas fa-times-circle"></i></a>
                                    <button (click)="getCustomer()" class="btn search-btn" type="submit">
                                    </button>
                                </div>
                            </div>

                            <div class="me-2" style="display:none;">
                                <button class="clickable-item btn btn-primary outline" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                                </button>
                                <button class="clickable-item btn btn-primary outline" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'HideAdvancedFilters' | localize }} -->
                                </button>
                            </div>

                            <div class="kt-searchmainbox searchclearbox">
                                <div class="kt-advfilterbox me-2">
                                    <button class="clickable-item btn btn-primary outline"
                                        (click)="shouldShow = !shouldShow">
                                        <i class="las la-filter"></i>
                                    </button>
                                </div>
                                <div class="me-0">
                                    <button class="clickable-item btn btn-primary outline"
                                        (click)="FiltersData = !FiltersData; testHeightSize();">
                                        <i class="las la-sliders-h"></i>
                                    </button>
                                </div>

                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}"
                                    class="kt-advancefilterbox overflow">
                                    <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                    <div class="content-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSolarType" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All SolarType" [(ngModel)]="solarTypeIdFilter"
                                                        name="solarTypeIdFilter" (change)="chaneSolarType()"
                                                        class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6" *ngIf="allTenderData != undefined">
                                                <div class="form-group">
                                                    <ng-select [items]="allTenderData" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Tender" [(ngModel)]="TenderIdFilter"
                                                        name="TenderIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDiscom" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Discom" [(ngModel)]="DiscomIdFilter"
                                                        name="DiscomIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allDivision" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Division" [(ngModel)]="DivisionIdFilter"
                                                        name="DivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allSubDivision" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All SubDivision" [(ngModel)]="SubDivisionIdFilter"
                                                        name="SubDivisionIdFilter" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ng-select [items]="allLeadSources" [multiple]="true"
                                                        bindLabel="displayName" [closeOnSelect]="false" bindValue="id"
                                                        placeholder="All Source" [(ngModel)]="leadSourceIdFilter"
                                                        name="jobStatusID" class="form-control">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}" />
                                                            {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6" *ngIf="role == 'Admin' || role == 'Manager'">
                                                <div class="form-group">
                                                    <select name="ManagerFilter" id="ManagerFilterid"
                                                        [(ngModel)]="salesManagerId" (change)="getsalerep($event)"
                                                        class="form-control">
                                                        <option value="0">Select Manager</option>
                                                        <option *ngFor="let item of allUsers" value="{{item.value}}">
                                                            {{item.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6" *ngIf="role == 'Admin' || role == 'Manager'">
                                                <div class="form-group">
                                                    <select class="form-control" id="SalesRepFilterId"
                                                        name="SalesRepFilter" [(ngModel)]="salesRepId">
                                                        <option value="0">Select Sales Rep</option>
                                                        <option *ngFor="let item of allSalesrepUsers"
                                                            value="{{item.value}}">
                                                            {{item.displayName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control" [(ngModel)]="dateFilterType"
                                                        (keydown.enter)="getCustomer($event)" name="dateFilterType">
                                                        <option value="Assign">{{l("AssignDate")}}</option>
                                                        <!-- <option value="ReAssign">{{l("ReAssignDate")}}</option> -->
                                                        <option value="Creation">{{l("CreationDate")}}</option>
                                                        <option value="Followup">{{l("FollowUpDate")}}</option>
                                                        <option value="NextFollowup">{{l("NextFollowupDate")}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker" type="text" #SampleDatePicker
                                                        name="SampleDatePicker" class="form-control me-2" bsDatepicker
                                                        datePickerLuxonModifier [(date)]="StartDate"
                                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="StartDate"
                                                        (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                    <!-- <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" /> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-icon">
                                                    <input id="SampleDatePicker1" type="text" #SampleDatePicker1
                                                        name="SampleDatePicker1" class="form-control" bsDatepicker
                                                        datePickerLuxonModifier [(date)]="EndDate"
                                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                    <a class="btnclearsearch btndateClear" *ngIf="EndDate"
                                                        (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                                    <!-- <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" /> -->
                                                </div>
                                            </div>

                                            <div class="d-flex mt-3 justify-content-end">
                                                <button type="reset" class="btn btn-danger" (click)="clear()"><i
                                                        class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                <button type="submit" (click)="getCustomer()" class="btn btn-primary"
                                                    ng-reflect-busy-text="Saving..."><i class="fas fa-search"></i>
                                                    Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4 filter-optionrow align-items-center lgfilter" [hidden]="!advancedFiltersAreShown">
            <div class="d-flex align-items-center">
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allSolarType" [multiple]="true" bindLabel="displayName"
                            [closeOnSelect]="false" bindValue="id" placeholder="All SolarType"
                            [(ngModel)]="solarTypeIdFilter" name="solarTypeIdFilter" (change)="chaneSolarType()">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2" *ngIf="allTenderData != undefined">
                    <div class="form-control">
                        <ng-select [items]="allTenderData" [multiple]="true" bindLabel="displayName"
                            [closeOnSelect]="false" bindValue="id" placeholder="All Tender" [(ngModel)]="TenderIdFilter"
                            name="TenderIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allDiscom" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false"
                            bindValue="id" placeholder="All Discom" [(ngModel)]="DiscomIdFilter" name="DiscomIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allDivision" [multiple]="true" bindLabel="displayName"
                            [closeOnSelect]="false" bindValue="id" placeholder="All Division"
                            [(ngModel)]="DivisionIdFilter" name="DivisionIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allSubDivision" [multiple]="true" bindLabel="displayName"
                            [closeOnSelect]="false" bindValue="id" placeholder="All SubDivision"
                            [(ngModel)]="SubDivisionIdFilter" name="SubDivisionIdFilter">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2">
                    <div class="form-control">
                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName"
                            [closeOnSelect]="false" bindValue="id" placeholder="All Source"
                            [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                    name="item-{{index}}" /> {{item.displayName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="me-2" *ngIf="role == 'Admin' || role == 'Manager'">
                    <select name="ManagerFilter" id="ManagerFilterid" [(ngModel)]="salesManagerId"
                        (change)="getsalerep($event)" class="form-control">
                        <option value="0">Select Manager</option>
                        <option *ngFor="let item of allUsers" value="{{item.value}}">{{item.displayName}}
                        </option>
                    </select>
                </div>
                <div class="me-2" *ngIf="role == 'Admin' || role == 'Manager'">
                    <select class="form-control" id="SalesRepFilterId" name="SalesRepFilter" [(ngModel)]="salesRepId">
                        <option value="0">Select Sales Rep</option>
                        <option *ngFor="let item of allSalesrepUsers" value="{{item.value}}">
                            {{item.displayName}}</option>
                    </select>
                </div>
                <div>
                    <select class="form-control" [(ngModel)]="dateFilterType" (keydown.enter)="getCustomer($event)"
                        name="dateFilterType">
                        <option value="Assign">{{l("AssignDate")}}</option>
                        <!-- <option value="ReAssign">{{l("ReAssignDate")}}</option> -->
                        <option value="Creation">{{l("CreationDate")}}</option>
                        <option value="Followup">{{l("FollowUpDate")}}</option>
                        <option value="NextFollowup">{{l("NextFollowupDate")}}
                        </option>
                    </select>
                </div>
                <div class="me-6 d-flex align-items-center" style="width:auto;">
                    <!-- <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control me-2" style="width:auto;" bsDatepicker datePickerLuxonModifier
                    [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />

                    <input id="SampleDatePicker1" type="text" #SampleDatePicker1 name="SampleDatePicker1" class="form-control" style="width:auto;" bsDatepicker datePickerLuxonModifier
                    [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"  /> -->
                    <!-- <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" autocomplete="off"
                            id="SampleDateRangePicker" [(ngModel)]="sampleDateRange" (keydown.enter)="getCustomer()"
                            bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" [(date)]="sampleDateRange" /> -->
                </div>
                <div class="me-0">
                    <button type="reset" class="btn btn-danger" (click)="clear()">{{l("Clear")}}</button>
                    <button type="submit" (click)="getCustomer()" class="btn btn-primary"
                        ng-reflect-busy-text="Saving...">Search</button>
                </div>
            </div>

        </div>

        <div [hidden]="!FiltersData">
            <div class="container-fluid" style="display:none;">
                <div class="lead-data-box">
                    <div class="box-item">
                        <h2>
                            {{l("TotalLeads")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Assign")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("ReAssign")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("New")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Unhandled")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Cold")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Warm")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Hot")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Upgrade")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Rejected")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Cancelled")}}<span></span>
                        </h2>
                    </div>
                    <div class="box-item">
                        <h2>
                            {{l("Sold")}}<span>0</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid" *ngIf="IsAssignLead">
                <div class="blue-filter-box">
                    <div class="d-flex align-items-center justify-content-end m-flex-dir-col" style="width:100%;">

                        <div class="d-flex align-items-center m-flex-dir-col">
                            <div class="me-6" *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                <div class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" (change)="oncheck($event)"
                                        [(ngModel)]="isChange" id="changeOrg" />
                                    <label class="form-check-label" for="changeOrg">
                                        Change Organization
                                    </label>
                                </div>
                            </div>
                            <div class="me-6" *ngIf="role == 'Admin'">
                                <div class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="isAssign"
                                        ame="isAssign" id="isAssign" />
                                    <label class="form-check-label" for="assignSalesrep">
                                        Assign To SalesRep
                                    </label>
                                </div>
                            </div>

                            <div class="me-6">
                                <select [hidden]="!showOrganizationUnits" id="mainOrganization" name="OrganizationUnits"
                                    class="form-control" [(ngModel)]="organizationChangeUnit"
                                    (change)="getOrganizationWiseUser()">
                                    <option value="0">Select org</option>
                                    <option *ngFor="let item of allOrganizationUnitsList" value="{{item.id}}">
                                        {{item.displayName}}
                                    </option>
                                </select>
                            </div>
                            <div class="me-6" [hidden]="!isChangefalse">
                                <select name="assignLead" [(ngModel)]="assignLead" (change)="getsalerep($event)"
                                    class="form-control" required>
                                    <option value="0"> {{this.role == "Manager" ? 'Select Sales Rep' : 'Select
                                        Manager'}}
                                    </option>
                                    <option *ngFor="let item of allUsers" value="{{item.value}}">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                            <div class="me-6" [hidden]="!isChangetrue">
                                <select name="assignLead" [(ngModel)]="assignLead" (change)="getsalerep($event)"
                                    class="form-control" required>
                                    <option value="0">Select Manager</option>
                                    <option *ngFor="let item of allUsersss" value="{{item.value}}">{{item.displayName}}
                                    </option>
                                </select>
                            </div>
                            <div class="me-6" *ngIf="isAssign">
                                <select class="form-control" name="assignLead1" [(ngModel)]="assignLead1">
                                    <option>Select Sales Rep</option>
                                    <option *ngFor="let item of allSalesrepUsers" value="{{item.value}}">
                                        {{item.displayName}}</option>
                                </select>
                            </div>

                            <div class="me-0" *ngIf="'Pages.Tenant.Leads.Customer.Assign' | permission">
                                <button (click)="submit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                                    type="submit" class="btn btn-primary font-weight-bold"
                                    style="height:35px !important;">Submit</button>
                            </div>

                        </div>
                        <div class="recordsSelect">
                            <h2>
                                Selected Records:<span>{{count}}</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
            class="kt-advancefilterbox-overlay"></div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
            <div class="kt-portlet kt-portlet--mobile customleadTable">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa"
                            data-scroll="true" [busyIf]="primengTableHelper.isLoading"
                            [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                            <div class="leadmaindiv maindiv">
                                <div class="myleadtable leadcompanynamebar">
                                    <div [hidden]="ExpandedView">
                                        <a class="icon_expan btnback" (click)="expandGrid()"><i
                                                class="las la-angle-double-right"></i></a>
                                    </div>
                                    <div class="grid-container no-wrapData">
                                        <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getCustomer($event)"
                                            [value]="primengTableHelper.records" selectionMode="single"
                                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                            [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                            [responsive]="primengTableHelper.isResponsive"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                            [scrollHeight]="screenHeight - testHeight +'px'">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pFrozenColumn style="width: 210px" pSortableColumn="firstName">
                                                        {{ 'Customer' | localize }}
                                                        <p-sortIcon field="firstName"></p-sortIcon>
                                                    </th>
                                                    <th [hidden]="!ExpandedView" style="width: 90px">Verified</th>
                                                    <th style="width: 165px;" [hidden]="!ExpandedView"
                                                        pSortableColumn="leadStatusId">
                                                        Lead Status
                                                        <p-sortIcon field="leadStatusName"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 200px" [hidden]="!ExpandedView"
                                                        pSortableColumn="applicationStatus">
                                                        Application Status
                                                    </th>
                                                    <th style="width: 120px" [hidden]="!ExpandedView"
                                                        pSortableColumn="mobileNumber">
                                                        Mobile
                                                        <p-sortIcon field="mobile"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 235px" [hidden]="!ExpandedView"
                                                        pSortableColumn="addressLine1">
                                                        Address
                                                        <p-sortIcon field="address"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 160px" [hidden]="!ExpandedView"
                                                        pSortableColumn="leadSourceId">
                                                        Lead Source
                                                        <p-sortIcon field="leadsource"></p-sortIcon>
                                                    </th>

                                                    <th style="width: 200px" [hidden]="!ExpandedView"
                                                        pSortableColumn="reminderTime">
                                                        Next Followup Date
                                                        <p-sortIcon field="reminderTime"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 210px" [hidden]="!ExpandedView"
                                                        pSortableColumn="activityDescription">
                                                        Followup Description
                                                        <p-sortIcon field="activityDescription"></p-sortIcon>
                                                    </th>
                                                    <th style="width: 180px" [hidden]="!ExpandedView">Comment</th>
                                                    <th style="width: 150px" [hidden]="!ExpandedView"
                                                        pSortableColumn="chanelPartnerName">AssignTo</th>
                                                    <th style="width: 175px" [hidden]="!ExpandedView">Assign Date</th>
                                                    <th style="width: 135px" [hidden]="!ExpandedView"
                                                        pSortableColumn="leadCreatedName">
                                                        CreatedBy
                                                    </th>
                                                    <th style="width: 175px" [hidden]="!ExpandedView">Create Date</th>

                                                    <th style="width:65px; justify-content: center;"
                                                        class="checkboxhead " [hidden]="!ExpandedView">
                                                        <div class="kt-checkbox-list">
                                                            <label for="lead_id"
                                                                class="form-check form-check-custom form-check-solid">
                                                                <input type="checkbox" id="lead_id" name="all"
                                                                    class="form-check-input" [checked]="isAllChecked()"
                                                                    (change)="checkAll($event)" />
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr id="selectcustomer" [pSelectableRow]="record">
                                                    <td pFrozenColumn style="width: 210px" class="gridleadimage"
                                                        id="selectcustomer" (click)="navigateToLeadDetail(record);">
                                                        <span
                                                            class="lead-status-icon badge badge-pill {{record.leads.leadStatusColorClass}}"><i
                                                                class="las la-user-tag fs-1"></i></span>
                                                        <span class="p-column-title">{{ 'Name' | localize }}</span>
                                                        <span style="text-transform: capitalize;" class="tooltipcnt"
                                                            tooltipPosition="top"
                                                            pTooltip="{{ record.leads.firstName }}">{{
                                                            record.leads.firstName }}</span>
                                                    </td>
                                                    <td style="width: 90px; justify-content: center;"
                                                        [hidden]="!ExpandedView">
                                                        <span
                                                            [ngClass]="record.leads.isVerified === true ? 'verified green' : 'verified red'"
                                                            (click)="record.leads.isVerified === true ? '' : createManageLead(record.leads.id)">
                                                            <i
                                                                [ngClass]="record.leads.isVerified === true ? 'las la-user-check fs-2' : 'las la-user-times fs-2'"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 165px" [hidden]="!ExpandedView">
                                                        <span
                                                            class="badge badge-pill {{record.leads.leadStatusColorClass}}">{{
                                                            record.leads.leadStatusName }}</span>
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        <span *ngIf="record.applicationStatusdata != null">
                                                            <span
                                                                class="badge badge-pill {{record.applicationStatusdata.applicationStatusLabelColor}}">{{record.applicationStatusdata.applicationStatusName}}</span>
                                                        </span>
                                                    </td>
                                                    <td style="width: 120px" [hidden]="!ExpandedView">
                                                        <span class="badge badge-secondary">{{ record.leads.mobileNumber
                                                            }}</span>
                                                    </td>
                                                    <td style="width: 235px" [hidden]="!ExpandedView">
                                                        <span *ngIf="record.leads.address != 0" class="tooltipcnt"
                                                            tooltipPosition="top" pTooltip="{{ record.leads.address }}"
                                                            style="opacity:1; text-transform: capitalize;">
                                                            {{ record.leads.address | titlecase }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 160px" [hidden]="!ExpandedView">
                                                        <span [ngClass]="record.leads.leadSourceColorClass">
                                                            {{record.leads.leadSourceName}}
                                                        </span>
                                                    </td>
                                                    <td style="width: 200px" [hidden]="!ExpandedView">
                                                        <i class="las la-calendar f-22"></i> {{ record.reminderTime |
                                                        date: 'dd-MM-YYYY'}}
                                                    </td>
                                                    <td style="width: 210px" [hidden]="!ExpandedView">
                                                        <span class="tooltipcnt" tooltipPosition="top"
                                                            pTooltip="{{ record.activityDescription }}">
                                                            {{ record.activityDescription }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 180px" [hidden]="!ExpandedView">
                                                        <span *ngIf="record.leads.address != 0" class="tooltipcnt"
                                                            tooltipPosition="top"
                                                            pTooltip="{{ record.activityComment }}">
                                                            {{ record.activityComment }}
                                                        </span>
                                                    </td>
                                                    <td style="width: 150px" [hidden]="!ExpandedView">
                                                        {{ record.leads.chanelPartnerName }}
                                                    </td>
                                                    <td style="width: 175px" [hidden]="!ExpandedView">{{
                                                        record.leadAssignDate | date: 'dd-MM-YYYY'}}
                                                    </td>
                                                    <td style="width: 135px" [hidden]="!ExpandedView">
                                                        {{ record.leads.leadCreatedName }}
                                                    </td>
                                                    <td style="width: 175px" [hidden]="!ExpandedView">{{
                                                        record.leads.creationTime | date: 'dd-MM-YYYY'}}
                                                    </td>

                                                    <td style="width:65px; justify-content: center;"
                                                        [hidden]="!ExpandedView">
                                                        <div class="kt-checkbox-list">
                                                            <label for="{{record.leads.id}}"
                                                                class="form-check form-check-custom form-check-solid">
                                                                <input type="checkbox" id="{{record.leads.id}}"
                                                                    name="recordSource"
                                                                    [(ngModel)]="record.leads.isSelected"
                                                                    class="form-check-input"
                                                                    (change)="oncheckboxCheck()" />
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ 'NoData' | localize }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                #paginator (onPageChange)="getCustomer($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                                [showCurrentPageReport]="true"
                                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                            </p-paginator>

                                        </div>
                                    </div>
                                </div>
                                <div class="leadedetailleftpart right_side_scrool scrool_red"
                                    [hidden]="ExpandedView === true">
                                    <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"
                                        mainorganizationID="{{organizationUnit}}" (reloadLead)="reloadPage($event)">
                                    </viewLeadDetail>
                                </div>
                            </div>

                        </div>

                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>



        <!-- add edit manage lead component -->
        <createOrEditManageLead #createOrEditManageLead mainorganizationID="{{organizationUnit}}">
        </createOrEditManageLead>
    </div>
</div>