<div [@routerTransition]>
    <!-- side bar grid-->

    <div class="lead-header">
        <ul class="leadname">
            <li>
                <h2><i class="las la-user-tie"></i> {{item.leads.customerName}}</h2>
            </li>
            <li *ngIf="jobDetails.jobNumber != null && jobDetails.jobNumber != ''">
                <span class="badge badge-primary me-2">{{jobDetails.job.jobNumber}}</span>
            </li>
            <li>
                <span class="badge {{item.leadStatusColorClass}}">
                    {{item.leadStatusName}}
                </span>
            </li>
            <li>
                <span class="badge {{applicationstatusColor}} ">
                    {{applicationstatusName}}
                </span>
            </li>
            <li *ngIf="item.leads.mobileNumber != null && item.leads.mobileNumber != ''">
                <a class="custphone" href="{{ item.leads.mobileNumber }}">
                    <i class="las la-phone"></i> {{ item.leads.mobileNumber }}
                </a>
            </li>
            <li *ngIf="item.leads.emailId != null && item.leads.emailId != ''">
                <a class="custemail" href="{{ item.leads.emailId }}">
                    <i class="las la-envelope"></i> {{ item.leads.emailId }}
                </a>
            </li>
        </ul>
        <ul class="action">
            <li *ngIf="item.leads.leadStatusID != 6">
                <div class="dropdown" dropdown container="body">
                    <a class="dropdown-toggle" dropdownToggle><i class="las la-hourglass-half"></i> Status</a>
                    <ul class="dropdown-menu leadstatusdrp li_padd_0" *dropdownMenu>
                        <li *ngIf="'Pages.Tenant.DataVaults.CancelReasons.Create' | permission">
                            <a (click)="cancel(item.leads,item.leads.leadStatusID=14)"><i
                                    class="lar la-times-circle"></i> Cancelled</a>
                        </li>
                        <li *ngIf="'Pages.Tenant.DataVaults.RejectReasons.Create' | permission">
                            <a (click)="reject(item.leads,item.leads.leadStatusID=15)"><i class="las la-ban"></i>
                                Reject</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li *ngIf="'Pages.Tenant.Leads.Customer.Edit' | permission">
                <a (click)="createManageLead()"><i class="las la-pencil-alt"></i> Edit</a>
            </li>
            <li *ngIf="permission.isGranted('Pages.Tenant.Leads.Customer.Delete')">
                <a (click)="deleteLead(item.leads)" class="delete"><i class="las la-trash"></i> Delete</a>
            </li>
            <!-- <li [hidden]="!showsectionwise">
                <a (click)="addActivityModal.show(item.leads.id,0,0)"><i class="las la-plus"></i> Add</a>
            </li> -->
        </ul>
    </div>
    <!-- Lead Progressbar starts -->
    <div style="background:#fff;">
        <div class="lead-progress">
            <!-- <h3><i class="las la-cogs"></i> Lead Status</h3> -->
            <ul class="steps">
                <li class="step" *ngFor="let item of allapplicationStatus">
                    <div [ngClass]="item.value == 1 ? 'step-content step-success' : 'step-content' ">
                        <span class="step-circle"><i class=""></i>{{item.id}}</span>
                        <span class="step-text">{{item.displayName}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Lead Progressbar ends -->
    <div class="lead-container hhhhhh" [ngStyle]="{'height' :screenHeight - contentHeight +'px'}">
        <div class="leadsummary fix-tab">
            <tabset>
                <!-------------------- start summary tab -->
                <!-- *ngIf="'Pages.Tenant.Leads.Customer.Summary' | permission" -->
                <tab heading="{{'Summary' | localize}}" [active]="activeTabIndex == 0">
                    <div class="leaddetailcnt">

                        <div class="lead-status mb-6">
                            <div class="owner steps">
                                <i class="las la-user-alt"></i>
                                <div>Current Lead Owner:<span>{{item.currentAssignUserName}}</span></div>
                            </div>
                            <div class="created steps">
                                <i class="las la-user-edit"></i>
                                <div>Lead Ceated By:<span>{{item.createdByName}}</span></div>
                            </div>
                            <div class="date steps">
                                <i class="las la-calendar-week"></i>
                                <div>Lead Created On:<span>{{item.createdOn | luxonFormat: 'F' }}</span></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <h5 class="card-header">Contact Detail</h5>
                                    <div class="card-body">
                                        <ul class="leaddata">
                                            <li class="address"><i class="las la-map-marker"></i> {{ item.leads.address
                                                | titlecase }}
                                            </li>
                                            <li class="email"><i class="las la-envelope"></i> {{ item.leads.emailId }}
                                            </li>
                                            <li class="phone"><i class="las la-phone"></i> {{ item.leads.alt_Phone }}
                                            </li>
                                            <li class="mobile"><i class="las la-mobile"></i> {{ item.leads.mobileNumber
                                                }}
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <h5 class="card-header">Other Detail</h5>
                                    <div class="card-body">
                                        <ul class="leaddata">
                                            <li class="phone"><i class="las la-city"></i> Solar Type :
                                                {{item.leads.solarTypeName }}</li>
                                            <li class="phone"><i class="lab la-sourcetree"></i> Common Meter :
                                                <ng-container *ngIf="item.leads.commonMeter == true">
                                                    Yes
                                                </ng-container>
                                                <ng-container *ngIf="item.leads.commonMeter == false">
                                                    No
                                                </ng-container>

                                            </li>
                                            <li class="address"><i class="las la-tags"></i>Consumer No :
                                                {{item.leads.consumerNumber }}</li>
                                            <li class="address"><i class="las la-sticky-note"></i>Notes :
                                                {{item.leads.notes }}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </tab>
                <tab heading="{{'Job' | localize}}" [active]="activeTabIndex == 1">
                    <div *ngIf="!IsVerified">
                        <div class="alert alert-danger d-fex align-items-center">
                            <i class="las la-exclamation-triangle f-24 me-4"></i> Customer is not Verified!!
                        </div>
                    </div>
                    <jobDetails [hidden]="!IsVerified" #jobDetails></jobDetails>
                </tab>
                <tab heading="{{'Document' | localize}}" [active]="activeTabIndex == 2">
                    <leadDocumetsUpload #leadDocumetsUpload></leadDocumetsUpload>
                </tab>
                <tab heading="{{'Activity Log' | localize}}" [active]="activeTabIndex == 3">
                    <activityLog #activityLog></activityLog>
                </tab>
                <!-- *ngIf="'Pages.Tenant.Leads.Customer.ViewMap' | permission" -->

                <tab heading="{{'Map' | localize}}" [active]="activeTabIndex == 4">

                    <div class="leaddetailcnt">
                        <div class='agm-map-container-inner sebm-google-map-container-inner'
                            style="border-radius:10px !important; overflow:hidden;">
                            <div class='agm-map-content'>
                                <ng-container *ngIf="lng != null && lat != null && lng != 0 && lat != 0">
                                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'satellite'">
                                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                    </agm-map>
                                </ng-container>
                                <ng-container *ngIf="lng == null && lat == null || lng == 0 && lat == 0">
                                    <div class="alert alert-warning d-fex align-items-center" role="alert">
                                        <i class="las la-exclamation-triangle f-24 me-4"></i> Please enter latitude and
                                        longitude to see the map.
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- *ngIf="'Pages.Tenant.Leads.Customer.LeadActivity' | permission" -->
                <!-- *ngIf="'Pages.Tenant.Leads.Customer.ViewDocument' | permission"  -->


            </tabset>
        </div>
    </div>
    <addActivityModal #addActivityModal mainorganizationID="{{mainorganizationID}}"></addActivityModal>
    <createOrEditManageLead #createOrEditManageLead></createOrEditManageLead>

</div>