.agm-map-container-inner {
    width: inherit;
    height: inherit;
}

.agm-map-content {
    display: block;
}

agm-map {
    height: 600px;
}

@media screen and (min-width: 1600px) {
    agm-map {
        height: 600px;
    }
}

[hidden] {
    display: none !important;
}