<div [@routerTransition]>
    <div bsModal #duplicateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="duplicateModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Duplicate Record")}} - {{DupCount}}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()"></button>
                </div>
                <div class="modal-body sidepaddingzero bg-gray">
                    <div class="lgray-box">
                        <div class="jobinfo-box shadow-box" *ngFor="let item of item">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label
                                            class="col-lg-5 col-form-label"><strong>{{l("CustomerName")}}</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{ item.customerName }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>{{l("Email")}}</strong></label>
                                        <div class="col-lg-7">
                                            <span class="badge badge-danger">{{ item.emailId }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>{{l("Phone")}}</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{ item.alt_PhoneNumber }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>{{l("Mobile")}}</strong></label>
                                        <div class="col-lg-7">
                                            <span class="badge badge-danger">{{ item.mobileNumber }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>{{l("Address")}}</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{ item.address | titlecase}} - {{ item.postCode }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>Current Owner</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{ item.currentAssignUserName }}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-6">
                                    <div class="duplicaterecord">
                                        <h6>{{l("Requirements")}} :</h6>
                                        <span>{{ item.requirements }}</span>
                                    </div>
                                </div> -->
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label
                                            class="col-lg-5 col-form-label"><strong>{{l("LeadSource")}}</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{ item.leadSource }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label
                                            class="col-lg-5 col-form-label"><strong>{{l("LeadStatus")}}</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{ item.leadStatus }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>Lead Created By</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{ item.createdByName }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>Lead Created On</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{item.creationTime | date:'M-d-yy, h:mm a'}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>Last Follow-up
                                                Date</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{item.lastFollowupDate | date:'M-d-yy, h:mm a'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 row align-items-center">
                                        <label class="col-lg-5 col-form-label"><strong>Description</strong></label>
                                        <div class="col-lg-7">
                                            <span>{{item.description}}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-6">
                                    <div class="duplicaterecord">
                                        <h6>Project No :</h6>
                                        <span>{{item.projectNo}}</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="duplicaterecord">
                                        <h6>Project Status :</h6>
                                        <span>{{item.projectStatus}}</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="duplicaterecord">
                                        <h6>Project Open Date :</h6>
                                        <span>{{item.projectOpenDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="duplicaterecord">
                                        <h6>Last Quote Date :</h6>
                                        <span>{{item.lastQuoteDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Close' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>