<div appBsModal #addRefundPaymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addRefundPaymentModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <form [formGroup]="documentGrp" (ngSubmit)="OnSubmit(documentGrp)" #uploadDocumentsForm="ngForm" ngNativeValidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Update Refund</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()"></button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box my-0">
                        <div class="row ">
                            <div class="col-md-3">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Refund Payment Type:</strong>
                                    </label>
                                    <div>
                                        <select class="form-control" formControlName="PaymentTypeId" required>
                                            <option [ngValue]="0">Payment Type</option>
                                            <option *ngFor="let ptitem of RefundPaymentType" value="{{ptitem.id}}">
                                                {{ptitem.displayName}}
                                            </option>
                                        </select>
                                        <span style="top:49px;" class="icon-box"><i class="las la-wallet"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Refund Paid Date:</strong>
                                    </label>
                                    <div>
                                        <input type="hidden" formControlName="Id">
                                        <input id="SampleDatePicker" required type="text" #SampleDatePicker name="SampleDatePicker" formControlName="RefundPaidDate" class="form-control" bsDatepicker datePickerLuxonModifier [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }"
                                        />
                                        <span style="top:49px;" class="icon-box"><i class="las la-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Total Paid:</strong>
                                    </label>
                                    <div>
                                        <input type="number" class="form-control" placeholder="Paid Amount" required formControlName="RefundPaidAmount">
                                        <span style="top:49px;" class="icon-box"><i
                                                class="las la-rupee-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 form-group form-icon">
                                    <label class="col-form-label">
                                        <strong>Payment Rec Ref No:</strong>
                                    </label>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Refund Ref No" formControlName="ReceiptNo">
                                        <span style="top:49px;" class="icon-box"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" placeholder="Bank Name" formControlName="BankName">
                            <input type="hidden" class="form-control" placeholder="BankBrachName" formControlName="BankBrachName">
                            <input type="hidden" class="form-control" placeholder="BankAccountNumber" formControlName="BankAccountNumber">
                            <input type="hidden" class="form-control" placeholder="BankAccountHolderName" formControlName="BankAccountHolderName">
                            <input type="hidden" class="form-control" placeholder="IFSC_Code" formControlName="IFSC_Code">

                            <div class="col-md-12">
                                <label class="col-form-label">
                                    <strong>Remarks:</strong>
                                </label>
                                <textarea type="text" class="form-control" rows="4" formControlName="RefundPaidNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Close' }}
                    </button>
                    <button type="submit" *ngIf="'Pages.Tenant.Jobs.Payment.Create' || 'Pages.Tenant.Jobs.Payment.Edit' | permission" class="btn btn-primary ms-2"><i class="las la-save"></i>
                        Save </button>
                </div>
            </div>
        </form>
    </div>
</div>