<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #teamsForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="teams.id">{{ 'EditTeams' | localize }}</span>
                        <span *ngIf="!teams.id">{{ 'CreateNewTeams' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon mb-3">
                            <label for="Name" class="form-label">{{ 'Name' | localize }} *</label>
                            <input id="Name" [(ngModel)]="teams.name" type="text" name="Name" class="form-control" required maxlength="256" />
                            <span class="icon-box"><i class="las la-users"></i></span>
                        </div>
                        <div class="checkbox-list">

                        </div>
                        <label class="form-check form-check-custom form-check-solid py-1">
                        <input id="EditTeams_IsActive" type="checkbox" name="TeamsIsActive" [(ngModel)]="teams.isActive" class="form-check-input" />
                        <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                    </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!teamsForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
                </div>
            </form>
        </div>
    </div>