<div class="d-flex align-items-center">
    <div *ngIf="iconOnly" href="#" [class]="togglerCssClass" id="kt_quick_user_toggle" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
        <span class="symbol symbol-30px">
            <span class="svg-icon svg-icon-1">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    version="1.1"
                >
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <path
                            d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                            fill="#000000"
                            fill-rule="nonzero"
                            opacity="0.3"
                        ></path>
                        <path
                            d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                            fill="#000000"
                            fill-rule="nonzero"
                        ></path>
                    </g>
                </svg>
            </span>
        </span>
    </div>

    <div *ngIf="!iconOnly" [class]="togglerCssClass" id="kt_quick_user_toggle" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
        <i *ngIf="isImpersonatedLogin" class="las la-reply text-primary pe-2"></i>
        <span [class]="textCssClass">
            <span *ngIf="isMultiTenancyEnabled" class="tenancy-name d-inline-block fs-6">{{ userName }}</span>
        <span class="d-inline-block fs-7 light">{{ tenancyName }}</span>
        </span>
        <span [class]="symbolCssClass">
            <span [class]="symbolTextCssClass">
                {{ usernameFirstLetter }}
            </span>
        </span>
    </div>

    <div class="
            menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary
            fw-bold
            fs-6
            w-400px header-submenu
        " data-kt-menu="true">
        <!-- <div class="menu-item px-3 user-section">
            <div class="menu-content d-flex align-items-center px-3">
                <div class="symbol symbol-50px me-5">
                    <img alt="Logo" [src]="profilePicture" />
                </div>
                <div class="d-flex flex-column">
                    <div class="fw-bolder d-flex align-items-center fs-5">
                        <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">{{ tenancyName }}\</span> {{ userName }}
                    </div>
                    <a href="#" class="fw-bold text-muted text-hover-primary fs-7">
                        {{ emailAddress }}
                    </a>
                </div>
            </div>
        </div> -->
        <!-- <div class="separator my-2"></div> -->
        <!-- Back to My Account -->
        <div *ngIf="isImpersonatedLogin" class="menu-item" id="UserProfileBackToMyAccountButton">
            <a href="javascript:;" (click)="backToMyAccount()" class="menu-link px-5">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-reply"></i>
                </div>
                {{ 'BackToMyAccount' | localize }}
            </a>
        </div>
        <!-- Linked Accounts -->
        <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start" id="ManageLinkedAccountsLink">
            <a href="javascript:;" (click)="showLinkedAccounts()" class="menu-link px-5 linked-accounts">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-link"></i>
                </div>
                <span class="menu-title">
                    {{ 'ManageLinkedAccounts' | localize }}
                </span>
                <!-- <span class="menu-arrow"></span> -->
            </a>
            <!-- <div class="menu-sub menu-sub-dropdown w-255px">
                <div class="menu-item" id="ManageLinkedAccountsLink">
                    <a href="javascript:;" (click)="showLinkedAccounts()" class="menu-link">
                        {{ 'ManageLinkedAccounts' | localize }}
                    </a>
                </div>
                <div id="RecentlyUsedLinkedUsers" class="linked-accounts" role="menu">
                     <div class="separator my-2"></div> 
                    <div class="menu-item" *ngFor="let linkedUser of recentlyLinkedUsers">
                        <a href="javascript:;" (click)="switchToLinkedUser(linkedUser)" class="menu-link px-5 recently-linked-user">
                            {{ getShownUserName(linkedUser) }}
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- User Delegation -->
        <div *ngIf="appSession.application.userDelegationIsEnabled && !isImpersonatedLogin" class="menu-item">
            <a href="javascript:;" (click)="showUserDelegations()" class="menu-link px-5" id="ManageUserDelegations">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-user-plus"></i>
                </div>
                {{ 'ManageUserDelegations' | localize }}
            </a>
        </div>
        <!-- Change Password -->
        <div class="menu-item">
            <a href="javascript:;" (click)="changePassword()" class="menu-link px-5" id="UserProfileChangePasswordLink">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-key"></i>
                </div>
                {{ 'ChangePassword' | localize }}
            </a>
        </div>
        <!-- Login Attempts -->
        <div class="menu-item">
            <a href="javascript:;" (click)="showLoginAttempts()" class="menu-link px-5" id="ShowLoginAttemptsLink">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-tasks"></i>
                </div>
                {{ 'LoginAttempts' | localize }}
            </a>
        </div>
        <!-- Profile Picture -->
        <div class="menu-item d-flex">
            <a href="javascript:;" (click)="changeProfilePicture()" class="menu-link px-5" id="UserProfileChangePictureLink">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-user-circle"></i>
                </div>
                {{ 'ChangeProfilePicture' | localize }}
            </a>
        </div>
        <!-- My Settings -->
        <div class="menu-item d-flex">
            <a href="javascript:;" (click)="changeMySettings()" class="menu-link px-5" id="UserProfileMySettingsLink">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-cog"></i>
                </div>
                {{ 'MySettings' | localize }}
            </a>
        </div>
        <!-- Visual Settings -->
        <div *ngIf="!('Pages.Administration.UiCustomization' | permission)" class="menu-item d-flex">
            <a routerLink="admin/ui-customization" class="menu-link px-5" id="UserProfileVisualSettingsLink">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-eye-dropper"></i>
                </div>
                {{ 'VisualSettings' | localize }}
            </a>
        </div>
        <!-- GDPR -->
        <!-- <div class="menu-item d-flex">
            <a href="javascript:;" (click)="downloadCollectedData()" class="menu-link px-5" id="UserDownloadCollectedDataLink">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-file-download"></i>
                </div>
                {{ 'DownloadCollectedData' | localize }}
            </a>
        </div> -->
        <!-- <div class="separator my-2"></div> -->
        <div class="menu-item d-flex">
            <a href="javascript:;" (click)="logout()" class="menu-link px-5">
                <div class="symbol symbol-30px me-3">
                    <i class="las la-sign-out-alt"></i>
                </div>
                {{ 'Logout' | localize }}
            </a>
        </div>
    </div>
</div>