<div class="container-fluid" style="margin-top: 30px; background:#F5F8FA; padding-top:10px !important;">
    <div class="modal-white-box">
        <h3 class="d-flex align-items-center"><i class="las la-info-circle me-2"></i>Template Details</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-icon">
                    <label class="col-form-label"><strong>Template Name *:</strong></label>
                    <input class="form-control" type="text" required placeholder="TemplateName"
                        [(ngModel)]="pdfTemplate.pdfTemplateName">
                    <span class="icon-box" style="top:49px;"><i class="las la-file"></i></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-icon">
                    <label class="col-form-label"><strong>Organization *:</strong></label>
                    <select name="Taluka" required required class="form-control" id="selectTalukaId"
                        [(ngModel)]="pdfTemplate.organizationUnitId">
                        <option [ngValue]="undefined" selected>Select organization</option>
                        <option *ngFor="let item of organizationList" value="{{item.id}}">{{item.displayName}}
                        </option>
                    </select>
                    <span class="icon-box" style="top:49px;"><i class="las la-sitemap"></i></span>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-group form-icon">
                    <label class="col-form-label"><strong>Template Tags:</strong></label>
                    <select (change)="onTagChange($event)" class="form-control">
                        <option value="0">CustomeTags</option>
                        <option value="1">Name</option>
                        <option value="2">Mobile</option>
                        <option value="3">Phone</option>
                        <option value="4">Email</option>
                        <option value="5">Address</option>
                    </select>
                    <span class="icon-box" style="top:49px;"><i class="las la-tags"></i></span>
                </div>
            </div> -->

            <div class="col-md-3">
                <div class="form-group form-icon">
                    <label class="col-form-label"><strong>Template Type *:</strong></label>
                    <select name="templateTypeId" class="form-control" required [(ngModel)]="pdfTemplate.apiHtml">
                        <option value="undefined">Select Template Type</option>
                        <option value="1">Quotation</option>
                        <option value="2">Picklist</option>
                        <option value="3">SS</option>
                        <option value="4">STC</option>
                        <option value="5">Email</option>
                        <option value="6">SelfCertificateDiscom</option>
                        <option value="7">SelfCertificateTorrent</option>
                    </select>
                    <span class="icon-box" style="top:49px;"><i class="las la-file-alt"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-white-box">
        <h3 class="d-flex align-items-center"><i class="las la-code me-2"></i>Template Code</h3>
        <textarea name="viewHtml" [(ngModel)]="pdfTemplate.viewHtml" required="" class="form-control"
            style="height: 60vh !important; text-transform: none !important; text-transform: none;"></textarea>
    </div>

    <div class="d-flex align-items-center justify-content-end">
        <button class="btn btn-primary min-width94 marginleft0" [disabled]="pdfTemplate.pdfTemplateName == '' || pdfTemplate.organizationUnitId == 0 
        || pdfTemplate.organizationUnitId == undefined || pdfTemplate.apiHtml == '0' || pdfTemplate.apiHtml == undefined " (click)="saveHTML()"><i class="las la-save"></i>Save
            Design</button>
        <button class="btn btn-danger marginleft0" (click)="cancel()"><i class="las la-times-circle"></i>Cancel</button>
    </div>


    <div class="my-5" style="display:none;">
        <angular-editor [(ngModel)]="htmlContentbidy" [config]="config"></angular-editor>
    </div>


    <!-- <h5 class="html-header">HTML Output</h5>
    <div class="html" style="display:none;">
        {{ htmlContent }}
    </div> -->