<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #discomForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="discom.id">{{ 'EditDiscom' | localize }}</span>
                        <span *ngIf="!discom.id">{{ 'CreateNewDiscom' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label for="Name">{{ 'Name' | localize }} *</label>
                                    <input id="Name" [(ngModel)]="discom.name" type="text" name="Name" class="form-control" required maxlength="256" />
                                    <span class="icon-box" style="top:26px;"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label for="ABB">{{ 'ABB' | localize }} *</label>
                                    <input id="ABB" [(ngModel)]="discom.abb" type="text" name="ABB" class="form-control" required maxlength="256" />
                                    <span class="icon-box" style="top:26px;"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label>{{ 'Location' | localize }}</label>
                                    <select name="Location" #jobTypeInput="ngModel" [(ngModel)]="discom.locationId" required class="form-control" id="selectLocationId">
                                    <option [ngValue]="undefined" selected>Select Location</option>
                                    <option *ngFor="let item of location" value="{{item.id}}">{{item.displayName}}
                                    </option>
                                </select>
                                    <span class="icon-box" style="top:26px;"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label for="PaymentLink">{{ 'PaymentLink' | localize }} *</label>
                                    <input id="PaymentLink" [(ngModel)]="discom.paymentLink" type="text" name="PaymentLink" class="form-control" maxlength="500" />
                                    <span class="icon-box" style="top:26px;"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-check form-check-custom form-check-solid py-4">
                                <input id="EditDiscom_IsActive" type="checkbox" name="discomIsActive" [(ngModel)]="discom.isActive" class="form-check-input" />
                                <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                            </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!discomForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                    <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
                </div>
            </form>
        </div>
    </div>