@media (max-width: 1280px) {
    topbar .commonsearch {
        top: 10px;
        left: 10%;
    }
    topbar .commonsearch .form-control.ng-valid.ng-touched {
        border: 1px solid #7367f0 !important;
    }
}


/* Max 1024 width starts */

@media (max-width: 1024px) {
    html,
    body {
        font-size: 14px !important;
        overflow-x: hidden;
    }
    /**************************************************************************
    Login style starts
    ****************************************************************************/
    .loginimgbox .logo a h2,
    .logo a h2 {
        font-size: 3rem !important;
    }
    .form-icon.login-screen .icon-box {
        top: 36px;
    }
    topbar .commonsearch {
        top: 60px;
        left: 33%;
    }
    /**************************************************************************
    Login style ends
    ****************************************************************************/
    .myleadsReport.leadtracker.leadtrackerpage.joblist {
        margin-top: 10px;
    }
    .leadmaindiv .leadedetailleftpart {
        width: calc(100% - 20%) !important;
    }
    .leadmaindiv .myleadsstatus {
        margin-bottom: 15px !important;
    }
    .leadmaindiv .myleadsstatus ul li {
        padding: 10px !important;
    }
    .leadmaindiv .myleadsstatus ul li span.icon {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl {
        margin: 0;
    }
    .leaddetailtabs .leaddtltitle {
        padding: 10px 5px;
    }
    .leaddetailtabs .leaddtltitle h3 {
        font-size: 1rem;
    }
}


/* Max 1024 width Ends */


/* Max 768 width Starts */

@media (max-width: 768px) {
    /******************************************************************
    Common style starts
    *********************************************************************/
    html,
    body {
        font-size: 14px !important;
        overflow-x: hidden;
    }
    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        padding: 0 10px !important;
    }
    .d-mobile {
        display: block !important;
    }
    .h-mobile {
        display: none !important;
    }
    header-notifications,
    chat-toggle-button {
        display: none !important;
    }
    .dis-column {
        flex-direction: column !important;
    }
    .full-width-mob {
        width: 100%;
    }
    .blue-filter-box {
        padding: 5px;
    }
    .recordsSelect {
        border: 0;
        margin: 8px 0 0 0;
        padding-left: 0;
    }
    .legends div {
        border: 0;
        margin: 3px auto !important;
    }
    .mob-mar-0 {
        margin: 0 !important;
    }
    .blue-filter-box select.form-control {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .top-search-result {
        width: 100%;
        top: 43px;
    }
    .mobile-filter {
        background: #fff;
        margin-bottom: 10px;
        box-shadow: 0 0 8px #00000030;
        padding: 10px 5px;
    }
    .mobile-filter ul.hd_right {
        justify-content: flex-start !important;
        padding: 5px;
        margin: 5px !important;
    }
    .mobile-filter ul.hd_right.wrap {
        flex-wrap: wrap;
    }
    .mobile-filter ul.hd_right li {
        margin: 3px 5px 3px 0 !important;
    }
    .p-datatable-scrollable .p-frozen-column,
    .p-frozen-column {
        position: inherit;
        left: inherit;
    }
    .leadmaindiv.maindiv {
        flex-direction: column !important;
    }
    .leadcompanynamebar,
    .leadmaindiv .leadedetailleftpart {
        max-width: 100% !important;
        width: 100% !important;
        margin: 5px 0;
        float: none !important;
    }
    .lead-header ul.leadname li h2,
    .leadsummary .card .card-body ul.leaddata li {
        font-size: 1rem;
    }
    .lead-header ul.leadname li:nth-child(3),
    .lead-header ul.leadname li:nth-child(4),
    .lead-header ul.leadname li:nth-child(5),
    .lead-header ul.action {
        display: none;
    }
    .leadsummary.fix-tab .tab-content {
        padding: 10px !important;
    }
    .lead-status,
    .leaddetailcnt .row {
        flex-direction: column;
    }
    .leaddetailcnt .row .col-6 {
        width: 100% !important;
        margin: 5px 0 !important;
    }
    .lead-status .steps {
        font-size: 1rem;
        line-height: 20px;
        margin: 0px 0 10px !important;
    }
    .lead-status .steps:last-child {
        margin: 0 !important;
    }
    .lead-status .steps i {
        font-size: 22px;
        margin-right: 10px;
        padding: 6px;
    }
    .leaddetailtabs .leaddetailcnt {
        padding: 15px 0;
    }
    .leaddetailtabs.fix-tab .nav-tabs {
        position: relative;
        background: #fff;
    }
    .leaddetailtabs .leaddetailcnt.subtabpanel .nav-tabs {
        position: relative;
        background: #fff;
        top: 5px;
        border: 1px solid #ddd;
        border-width: 1px 0;
        flex-direction: column;
        margin: 0;
    }
    .leaddetailtabs .leaddetailcnt.subtabpanel .nav-tabs .nav-item {
        width: 100%;
    }
    .leaddetailtabs.fix-tab .nav-tabs .nav-item {
        width: 48.5%;
        margin: 4px 2px;
    }
    .leaddetailtabs.fix-tab .nav-tabs .nav-item .nav-link {
        justify-content: center;
    }
    .leadmaindiv .myleadsstatus {
        margin-bottom: 10px !important;
    }
    .leadmaindiv .myleadsstatus ul {
        flex-direction: column;
    }
    .leadmaindiv .myleadsstatus ul li {
        margin: 10px 0 0 !important;
        width: 100%;
    }
    .leadmaindiv .myleadsstatus ul li:nth-child(2) {
        margin: 10px 0 !important;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl .comcontactdtl-body {
        min-height: inherit;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl {
        width: 100%;
        margin: 5px 0;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl h5,
    .leadmaindiv .leaddetailcnt .comcontactdtl .comcontactdtl-body {
        padding: 0.8rem !important;
    }
    .comcontactdtl ul {
        margin-bottom: 0;
    }
    .comcontactdtl ul li {
        margin: 0 0 10px;
        width: 100%;
    }
    .leaddetailtabs .leaddtltitle {
        padding: 10px;
    }
    .leaddetailtabs .leaddtltitle h3 {
        font-size: 1.2rem;
    }
    .leaddetailtabs .leaddtltitle.activitytitle .switchbox {
        display: none;
    }
    .ativityLogs .list_area_box .list_box .img_area {
        width: 32px;
        margin-left: -16px;
    }
    .ativityLogs .list_area_box .list_box .img_area div {
        width: 32px;
        height: 32px;
        left: 6px;
    }
    .log-date {
        padding: 3px;
        font-size: 0.7rem !important;
        text-wrap: nowrap;
    }
    .log-date .fs-7 {
        font-size: 0.85rem !important;
    }
    .log-date i {
        display: none;
    }
    .ativityLogs .list_area_box .list_box .text_area p {
        flex-direction: column;
        align-items: start !important;
    }
    .myleadsReport.leadtracker.job-page .leftpart ul li {
        flex: auto;
        width: 115px;
    }
    .primeng-datatable-container .primeng-no-data {
        background: #fff;
    }
    .modal-body .card .card-body .pdrightxlzero li {
        width: 100%;
    }
    .modal-header,
    .modal-body,
    .modal-body .jobnotebox,
    .modal-white-box {
        padding: 0.8rem !important;
    }
    .modal-dialog.addSmsEmailModal .modal-content .p-1,
    .modal-dialog.addSmsEmailModal .modal-content .p-2,
    .modal-content .emailboxlayout .activitysms span.labelttl:after,
    .modal-dialog.financeSmsEmailModal .p-2 {
        display: none;
    }
    .modal .modal-header {
        padding: 1rem 1.50rem !important;
    }
    .modal-body {
        max-height: 78vh !important;
    }
    .modal-footer {
        padding: 0.8rem 1.50rem !important;
    }
    .modal-content .emailboxlayout .activitysms.smsemailbox {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .modal-content .emailboxlayout .activitysms.smsemailbox.templatebox .form-control {
        margin-bottom: 5px;
    }
    .modal-content .emailboxlayout .activitysms .form-control,
    .modal-content .emailboxlayout .text_capital.subject,
    .modal-content .emailboxlayout .activitysms.smsemailbox .lowercase {
        width: 100% !important;
    }
    .modal.show .modal-dialog {
        width: auto !important;
    }
    .loginimgbox {
        height: 0 !important;
    }
    .loginmain-box {
        padding: 0 1rem;
    }
    .mt-center {
        text-align: center !important;
    }
    .p-paginator p-dropdown {
        display: none;
    }
    .drawer.drawer-on {
        overflow-y: auto !important;
    }
    .grid-container .card .card-body .p-datatable .p-datatable-tbody>tr>td,
    .grid-container table tr td {
        font-size: 14px !important;
    }
    .mobile-filter .filter-options .justify-content-between {
        justify-content: flex-start !important;
    }
    .mobile-filter .filter-options .justify-content-between .me-3,
    .mobile-filter .filter-options .justify-content-between .me-2 {
        margin: 0.4rem 0.4rem 0.4rem 0 !important;
    }
    .mobile-filter .filter-options .input-group>.form-control {
        width: 300px;
    }
    .kt-advancefilterbox.hide {
        right: 330%;
    }
    .kt-advancefilterbox.show {
        width: 370px;
        left: -5px;
        top: -280px;
    }
    .m-flex-dir-col {
        flex-direction: column !important;
    }
    /******************************************************************
    Common style ends
    *********************************************************************/
    /* Header Style Starts */
    .header-tablet-and-mobile-fixed .header {
        background: #2d2d2d !important;
    }
    #kt_aside_mobile_toggle i,
    .login-user {
        color: #fff !important;
    }
    .login-user .light,
    .top-actions .btn i {
        color: #ddd !important;
    }
    .timeline {
        margin-left: 8px;
    }
    .symbol.symbol-40px .symbol-label {
        width: 28px !important;
        height: 28px !important;
    }
    .symbol.symbol-40px .symbol-label i {
        font-size: 18px;
    }
    .timeline .timeline-content {
        padding: 12px 0 12px 25px;
    }
    .timeline .timeline-content .pe-3 {
        padding-right: 0 !important;
    }
    .timeline .timeline-content .mb-2.d-flex {
        justify-content: space-between;
    }
    .notice p {
        flex: inherit;
    }
    .notice p span {
        flex: 1;
    }
    #kt_quick_user_toggle {
        padding-right: 0 !important;
    }
    .mobile-logo {
        height: 35px !important;
    }
    .topSearchbar {
        width: auto;
        margin: 0 10px;
    }
    /* Header Style Ends */
    /* Login / Account pages style starts */
    .loginpage-logo {
        position: inherit !important;
        left: 0;
        top: 0;
        margin-bottom: 60px;
    }
    .login-form h1 {
        text-align: center;
    }
    .login-inputs i {
        left: 10px;
        top: 40px;
    }
    .login-inputs .form-control {
        padding-left: 55px !important;
    }
    /* Login / Account pages style Ends */
    topbar .commonsearch {
        min-width: auto;
        margin-left: 0 !important;
        top: 7px;
        left: 2%;
    }
    .myleadsReport.leadtracker.leadtrackerpage.joblist {
        margin-top: 0;
    }
    .installationboxmain .installationbox {
        min-width: 85%;
    }
    .installationboxmain .installationbox:first-child {
        margin-left: 0;
    }
    .installationboxmain .installationbox:last-child {
        margin-right: 0;
    }
    .installationboxmain .installationbox .scroll-section {
        max-height: 66vh !important;
    }
    /************* Dashboard Style starts *****************/
    .day-filter {
        flex-direction: column;
        margin-top: 15px;
    }
    .dcard-title,
    .dcard-title {
        padding: 10px;
    }
    /* Customer Detail style starts */
    .leadsummary.fix-tab .nav-tabs {
        position: inherit !important;
        width: 100% !important;
    }
    .leadsummary.fix-tab .nav-tabs li {
        width: 100% !important;
    }
    .secondary-grid.grid-container .card .card-body .p-datatable .p-datatable-thead>tr>th,
    .secondary-grid.grid-container .p-datatable .p-datatable-thead>tr>th,
    .secondary-grid th {
        padding: 8px !important;
        text-wrap: nowrap;
        white-space: nowrap;
    }
    .lead-data-box {
        flex-wrap: wrap;
    }
    .lead-data-box .box-item {
        flex: auto;
        width: 115px;
        margin: 2px 3px !important;
    }
    .modal-body .p-1 img {
        display: none;
    }
}


/* Max 768 width Ends */