<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #invoiceTypeForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="invoiceType.id">{{ 'EditInvoiceType' | localize }}</span>
                        <span *ngIf="!invoiceType.id">{{ 'CreateNewInvoiceType' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group mb-3 form-icon">
                            <label for="Name">{{ 'Name' | localize }} *</label>
                            <input id="Name" [(ngModel)]="invoiceType.name" type="text" name="Name" class="form-control" required maxlength="256" />
                            <span class="icon-box" style="top:27px;"><i class="las la-file-invoice"></i></span>
                        </div>
                        <div class="checkbox-list">

                        </div>
                        <label class="form-check form-check-custom form-check-solid py-1">
                        <input id="EditInvoiceType_IsActive" type="checkbox" name="invoiceTypeIsActive" [(ngModel)]="invoiceType.isActive" class="form-check-input" />
                        <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                    </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Cancel' | localize }}
                </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!invoiceTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                    <i class="las la-save"></i>
                    <span>{{ 'Save' | localize }}</span>
                </button>
                </div>
            </form>
        </div>
    </div>