<div dropdown class="d-flex align-items-center" data-toggle="dropdown" aria-expanded="true" container="body">
    <div dropdownToggle [class]="customStyle" id="notificationIcon">
        <!-- <i [class]="iconStyle" *ngIf="unreadNotificationCount"></i> -->
        <i [class]="iconStyle" *ngIf="unreadNotificationCount"></i>

        <span class="position-absolute start-100 translate-middle badge badge-circle badge-warning top-5" *ngIf="unreadNotificationCount">
            {{ unreadNotificationCount }}
        </span>
        <i class="las la-bell fs-4" *ngIf="!unreadNotificationCount"></i>
    </div>
    <div *dropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-lg top-notification">
        <perfect-scrollbar>
            <div class="d-flex flex-column pt-5 bgi-size-cover bgi-no-repeat rounded-top bg-primary" style="min-height: 70px">
                <h4 class="d-flex flex-center" style="align-items: center; justify-content: space-between">
                    <span class="ms-5">
                        <span class="">{{ 'Notifications' | localize }}</span>
                    <a id="openNotificationSettingsModalLink" class="btn me-5" href="javascript:;" (click)="openNotificationSettingsModal()">
                        <i class="las la-cog"></i>
                    </a>
                    </span>
                    <!-- <a
                        id="openNotificationSettingsModalLink"
                        class="btn btn-md btn-icon btn-secondary me-5"
                        href="javascript:;"
                        (click)="openNotificationSettingsModal()"
                    >
                        <i class="flaticon2-gear"></i>
                    </a> -->
                    <!-- <span class="btn btn-text btn-sm font-weight-bold btn-font-md ms-2 numbers me-3"></span> -->
                    <span class="font-weight-bold btn-font-md ms-2 numbers me-3">
                        {{ unreadNotificationCount }}
                        <!-- {{ 'New' | localize }} -->
                    </span>
                </h4>
            </div>
            <div class="px-0">
                <div class="scroll pt-0" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px;">
                    <div *ngFor="let notification of notifications" class="
                            d-flex                            
                            user-notification-item-clickable user-notification-item-unread user-notification-item
                        " (click)="gotoUrl(notification.url)" [ngClass]="{
                            'user-notification-item-clickable': notification.url,
                            'user-notification-item-unread': notification.isUnread
                        }">
                        <div class="symbol symbol-50px me-5 mt-1">
                            <span class="symbol-label">
                                <i class="{{ notification.icon }} {{ notification.iconFontClass }} icon-lg"></i>
                            </span>
                        </div>
                        <div class="d-flex align-items-center  flex-row-fluid flex-wrap notification-items">
                            <div class="flex-grow-1 me-2">
                                <!-- <a class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                                    {{ notification.text }}
                                </a> -->
                                <a class="">
                                    {{ notification.text }}
                                </a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between" style=width:100%;>
                                <span class="text-muted fw-bold d-block fs-7 me-3">
                                    {{ notification.creationTime | luxonFromNow }}
                                </span>
                                <span *ngIf="notification.isUnread" class="                            
                                        btn btn-link-success
                                        text-success
                                        set-notification-as-read
                                        fs-7
                                        py-0
                                        my-0
                                        set-notification-as-read
                                    " (click)="
                                                setNotificationAsRead(notification);
                                                $event.preventDefault();
                                                $event.stopPropagation()
                                            " alt="{{ 'SetAsRead' | localize }}">
                                <!-- {{ 'SetAsRead' | localize }} -->
                                </span>
                            </div>
                        </div>
                    </div>

                    <span *ngIf="!notifications.length" class="notification-empty-text text-center p-5">
                        {{ 'ThereAreNoNotifications' | localize }}
                    </span>
                </div>
                <!-- <hr *ngIf="notifications.length" /> -->
                <div class="notificationFooter d-flex align-items-center justify-content-between" *ngIf="notifications.length">
                    <a href="javascript:;" class="btn btn-secondary  justify-content-center d-flex align-items-center" style="width:135px;" (click)="setAllNotificationsAsRead(); $event.preventDefault(); $event.stopPropagation()" id="setAllNotificationsAsReadLink" *ngIf="unreadNotificationCount">
                        {{ 'SetAllAsRead' | localize }}
                    </a>
                    <!-- <a routerLink="notifications" [class.col-md-12]="unreadNotificationCount" [class.col-md-12]="!unreadNotificationCount" class="btn btn-primary col-xs-12 col-md-12">
                        {{ 'SeeAllNotifications' | localize }}
                    </a> -->
                    <a routerLink="notifications" style="width:175px;" class="btn btn-primary  justify-content-center d-flex align-items-center">
                        {{ 'SeeAllNotifications' | localize }}
                    </a>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</div>