<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex">
                <sub-header [title]="'Notifications'" [count]="recordCount | localize"></sub-header>
            </div>
            <div class="form" style="margin-left: auto;" role="actions">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getNotifications()"></button>

                            </div>
                            <div class="me-3">
                                <button class="btn btn-primary" (click)="openNotificationSettingsModal()">
                                    <i class="las la-cog"></i>
                                    {{ 'NotificationSettings' | localize }}
                                </button>
                            </div>
                            <div class="me-3">
                                <button class="btn btn-primary" (click)="setAllNotificationsAsRead()">
                                    <i class="las la-check-double"></i>
                                    {{ 'SetAllAsRead' | localize }}
                                </button>
                            </div>
                            <div class="me-3">
                                <button class="clickable-item btn btn-primary outline" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'ShowAdvancedFilters' | localize }} -->
                                </button>
                                <button class="clickable-item btn btn-primary outline" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="las la-filter"></i>
                                    <!-- {{ 'HideAdvancedFilters' | localize }} -->
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="mb-4 filter-optionrow align-items-center" [hidden]="!advancedFiltersAreShown">
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker" readonly="readonly" bsDaterangepicker dateRangePickerLuxonModifier [(date)]="dateRange" />
                </div>
                <div class="col-md-4">
                    <select #TargetValueFilterSelectionCombobox class="form-control" [(ngModel)]="readStateFilter" name="readStateFilter">
                        <option value="ALL">{{ 'All' | localize }}</option>
                        <option value="UNREAD">{{ 'Unread' | localize }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger" (click)="deleteNotifications()">
                        <i class="las la-trash"></i>
                        Delete Notifications
                        <!-- {{ 'DeleteListedNotifications' | localize }} -->
                    </button>
                </div>
            </div>

        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getNotifications($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" style="width:125px">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 80px; text-align: center">{{ 'Severity' | localize }}</th>
                                    <th>
                                        {{ 'Notification' | localize }}
                                    </th>
                                    <th style="width: 200px; text-align: center">
                                        {{ 'CreationTime' | localize }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td class="text-center" style="width:125px">
                                        <button class="btn btn-sm btn-icon btn-primary" [attr.title]="!isRead(record) ? l('SetAsRead') : ''" (click)="setAsRead(record)" [disabled]="isRead(record)">
                                            <i
                                                class="fa fa-check"
                                                *ngIf="isRead(record)"
                                                [attr.aria-label]="l('Read')"
                                            ></i>
                                            <i
                                                class="fa fa-circle-notch"
                                                *ngIf="!isRead(record)"
                                                [attr.aria-label]="l('Unread')"
                                            ></i>
                                        </button>
                                        <button class="btn btn-sm btn-icon btn-danger" [attr.title]="l('Delete')" (click)="deleteNotification(record)">
                                            <i class="la la-times" [attr.aria-label]="l('Delete')"></i>
                                        </button>
                                    </td>
                                    <td style="text-align: center">
                                        <i class="{{ record.formattedNotification.icon }} {{
                                                record.formattedNotification.iconFontClass
                                            }} fa-2x" tooltip="{{
                                                getNotificationTextBySeverity(record.formattedNotification.severity)
                                            }}"></i>
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ 'Notification' | localize }}</span>
                                        <a *ngIf="record.formattedNotification.url" href="{{ record.formattedNotification.url }}" class="{{ getRowClass(record) }}">
                                            {{ truncateString(record.formattedNotification.text, 120) }}
                                        </a>
                                        <span *ngIf="!record.formattedNotification.url" title="{{ record.formattedNotification.text }}" class="{{ getRowClass(record) }}">
                                            {{ truncateString(record.formattedNotification.text, 120) }}
                                        </span>
                                    </td>
                                    <td style="text-align: center">
                                        <span title="{{ record.notification.creationTime | luxonFormat: 'DDDD t' }}" class="{{ getRowClass(record) }}">
                                            {{ fromNow(record.notification.creationTime) }}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getNotifications($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>


                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
</div>