<div appBsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'NotificationSettings' | localize }}</span>
                    </h5>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray" *ngIf="settings">
                    <div class="modal-white-box mt-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-envelope-open-text me-2"></i>{{ 'ReceiveNotifications' | localize }}</h3>
                                <label class="form-check form-check-custom form-check-solid form-switch py-1">
                                    <input
                                        type="checkbox"
                                        name="ReceiveNotifications"
                                        [(ngModel)]="settings.receiveNotifications"
                                        class="form-check-input"
                                        value="true"
                                    />
                                    <br>
                                    <div class="form-check-label">
                                        ({{ 'ReceiveNotifications_Definition' | localize }})
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center" *ngIf="settings.notifications.length"><i class="las la-bell me-2"></i>{{ 'NotificationTypes' | localize }}</h3>
                                <p *ngIf="settings.notifications.length && !settings.receiveNotifications" class="text-danger">
                                    <small>{{ 'ReceiveNotifications_DisableInfo' | localize }}</small>
                                </p>
                                <label class="form-check form-check-custom form-check-solid form-switch py-1" *ngFor="let notification of settings.notifications">
                            <input
                                id="Notification_{{ notification.name }}"
                                type="checkbox"
                                name="Notification_{{ notification.name }}"
                                [(ngModel)]="notification.isSubscribed"
                                class="form-check-input"
                                [disabled]="!settings.receiveNotifications"
                                class="form-check-input"
                            />
                            <span class="form-check-label">
                                {{ notification.displayName }}
                                <span *ngIf="notification.description" class="help-block">
                                    {{ notification.description }}
                                </span>
                            </span>
                        </label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>