<div [@routerTransition]>
    <div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Activity - Lead Modified</h4>
                        <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"></button>
                    </div>
                    <div class="modal-body">
                        <div class="grid-container secondary-grid">
                            <table class="table table-striped mb-0">
                                <tr>
                                    <th>FieldName</th>
                                    <th>Previous Value</th>
                                    <th>Current Value</th>
                                    <th>Modified by</th>
                                </tr>
                                <tr *ngFor="let item of leadtrackerHistory">
                                    <td>
                                        {{item.fieldName}}
                                    </td>
                                    <td>
                                        {{item.prevValue}}
                                    </td>
                                    <td>
                                        {{item.curValue}}
                                    </td>
                                    <td>
                                        {{item.lastmodifiedbyuser}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>
