<div [@routerTransition]>

    <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between leaddtltitle">
        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap">
            <h3 class="me-4">Activity</h3>
            <div [hidden]="!showsectionwise">
                <button class="btn btn-primary btn-sm d-flex align-items-center" (click)="addActivityModal.show(leadId,id,0,sectionId,0)">
                    Add <i class="las la-plus-circle pl-0 ms-1"></i></button>
            </div>
        </div>

        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
            <div class="me-3">
                <button name="RefreshButton" class="float-end refresh" (click)="getLeadActivityLog(leadId,0)"></button>
            </div>
            <div class="me-3">
                <select class="form-control" (change)="ChangeLeadActivityLog($event)">
                    <option value="0" class="ng-tns-c228-12">All Activity</option>
                    <option value="1" class="ng-tns-c228-12">Lead</option>
                    <option value="6" class="ng-tns-c228-12">SMS</option>
                    <option value="7" class="ng-tns-c228-12">Email</option>
                    <option value="8" class="ng-tns-c228-12">Remider</option>
                    <option value="9" class="ng-tns-c228-12">Notify</option>
                    <option value="10" class="ng-tns-c228-12">Job</option>
                    <option value="11" sectionid="" class="ng-tns-c228-12">Promotion</option>
                    <option value="24" class="ng-tns-c228-12">Comment</option>
                    <option value="27" class="ng-tns-c228-12">Service</option>
                    <option value="28" class="ng-tns-c228-12">Review</option>
                </select>
            </div>
            <div class="me-3 h-mobile">
                <div class="form-check form-switch form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" id="currentPage" [(ngModel)]="currentactivity" (change)="myActivity(leadId)" />
                    <label class="form-check-label" for="currentPage">
                        Current Page
                    </label>
                </div>
            </div>
            <div class="me-0 h-mobile">
                <div class="form-check form-switch form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" id="myActivity" [(ngModel)]="activity" (change)="myActivity(leadId)" />
                    <label class="form-check-label" for="myActivity">
                        My Activity
                    </label>
                </div>
            </div>
        </div>

    </div>


    <div class="timeline">
        <!--begin::Timeline item-->
        <div class="timeline-item" *ngFor="let item of leadActivityList">
            <!--begin::Timeline line-->
            <div class="timeline-line w-40px {{item.leadActionColorClass}}"></div>
            <!--end::Timeline line-->
            <!--begin::Timeline icon-->
            <div class="timeline-icon symbol symbol-circle symbol-40px me-4">
                <div class="symbol-label badge {{item.leadActionColorClass}}">
                    <i class="las {{item.leadActionIconClass}}"></i>
                </div>
            </div>

            <div class="timeline-content mt-n1">
                <!--begin::Timeline heading-->
                <div class="pe-3">
                    <!--begin::Title-->
                    <div class="mb-2 align-items-center d-flex">
                        <span class="fw-bolder me-3">{{item.section}} - {{item.actionName}}</span>
                        <span class="log-date fw-bold align-items-center d-flex">
                            <i class="las la-history fs-2 me-1"></i> <span class="fs-7">{{item.creationTime | luxonFormat: 'F'}}</span>
                        </span>
                    </div>

                    <div class="notice d-flex min-w-lg-600px flex-shrink-0">
                        <p class="m-0" *ngIf="item.actionId != 8">
                            <a href="javascript:void(0)">{{item.creatorUserName}}</a>
                            <span *ngIf="item.showLeadJobDetail == 1">
                                <!-- modifyed -->
                                <a class="badge badge-pill badge-warning mx-2 log-edit align-items-center"
                                    (click)="activityloghistory.show(item.id , 1);" style="cursor:pointer;">
                                    <i class="las la-user-edit"></i> {{item.actionNote}}
                                </a>

                                <span *ngIf="item.activityNote" class="hmmm"> - Message :
                                    {{item.activityNote}} - {{item.activitysDate}} </span>
                            </span>
                            <!-- job details modify -->
                            <span *ngIf="item.showLeadJobDetail == 2">
                                <a class="badge badge-pill badge-warning mx-2 log-edit align-items-center"
                                    (click)="activityloghistory.show(item.id , 1);" style="cursor:pointer;">
                                    <i class="las la-user-edit"></i> {{item.actionNote}}
                                </a>                                
                            </span>

                            <span *ngIf="item.showLeadJobDetail == 0">
                                {{item.actionNote}} : <span *ngIf="item.activityNote"> - Message 
                                    <strong>{{item.activityNote}}</strong>
                                </span>
                            </span>

                            <span *ngIf="item.showLeadJobDetail == 4" >
                                <a class="badge badge-secondary"
                                (click)="downfile(item.leadDocumentPath)" style="cursor:pointer;">
                                 {{item.actionNote}} 
                                </a> 
                                
                            </span>

                        </p>
                        <p class="m-0 test77 d-flex align-items-center" *ngIf="item.actionId == 8"><a href="javascript:void(0)">{{item.creatorUserName}}</a> -
                            <span *ngIf="item.activityNote" class="d-flex align-items-center">
                                Next {{item.actionNote}} for
                                <span class="badge badge-warning d-flex align-items-center mx-1 text-dark" style="font-weight: 500;">
                                    <i class="las la-calendar me-1 f-20 text-dark"></i> {{item.activitysDate }}
                                </span> with Message : <strong>{{item.activityNote}}</strong>
                            </span>
                        </p>
                    </div>
                    <!--end::Description-->
                </div>
                <!--end::Timeline heading-->
            </div>
            <!--end::Timeline content-->
        </div>
        <!--end::Timeline item-->

    </div>


    <addActivityModal #addActivityModal (modalSave)="addActivitySuccess()"></addActivityModal>
    <activityloghistory #activityloghistory></activityloghistory>
</div>