<div [@routerTransition]>
    <div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-xl addactivitymodal">
            <div class="modal-content">
                <form #addActivityForm="ngForm" novalidate autocomplete="off">
                    <div class="modal-header">
                        <h4 class="modal-title me-4">
                            Add Activity
                        </h4>
                        <div *ngIf="id == 0" style="width:160px;">
                            <select (change)="selection($event)" [disabled]="id != 0" [(ngModel)]="activityType" [ngValue]="activityType" required class="form-control" name="activityType" id="activityType" style="border-radius: 20px !important;
                                    border-color: #aaa7c9 !important; padding: 0 20px !important; box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);">
                                <option *ngFor="let items of drpleadactivity" value="{{items.id}}">{{items.displayName}}
                                </option>
                            </select>
                        </div>
                        <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving"></button>
    
                    </div>
                    <div class="modal-body modal-bg-gray p-0">
                        <div class="d-flex align-items-center" style="justify-content: space-around;">
                            <div class="p-1">
                                <img src="../../../../assets/common/images/graphics-sms.png" *ngIf="activityName.toLowerCase() == 'sms' || activityName.toLowerCase() ==  'comment'" style="max-width:400px;">
                                <img src="../../../../assets/common/images/graphics-reminder.png" *ngIf="activityName.toLowerCase() == 'reminder' || activityName.toLowerCase() ==  'notify'" style="max-width:400px;">
                                <img src="../../../../assets/common/images/graphics-todo.png" *ngIf="activityName.toLowerCase() == 'todo'" style="max-width:400px;">
                            </div>
                            <div style="padding: 15px 0; width: 650px;">
                                <!-- SMS Starts -->
                                <div class="emailboxlayout" *ngIf="activityName.toLowerCase() == 'sms'">
                                    <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center modal-white-box">
                                        <span class="labelttl">{{activityName}} To</span> <span class="badge badge-pill badge-light fs-5 d-flex align-items-center"><i class="las la-sms fs-1 me-2"></i> {{ item.leads.mobileNumber
                                            }}</span>
                                    </div>
                                    <div class="activitysms smsemailbox d-flex align-items-center modal-white-box">
                                        <span class="labelttl">Template</span>
                                        <select class="form-control brd_none" name="EmailTemplate" [(ngModel)]="activityLog.smsTemplateId" (change)="smseditorLoaded()">
                                            <option value="0">New Template</option>
                                            <option *ngFor="let item of allSMSTemplates" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                    <div class="modal-white-box">
                                        <textarea class="form-control" (keyup)="countCharcters()" cols="20" rows="5" placeholder="SMS Body" disabled [(ngModel)]="activityLog.body" id="SMSBody" name="SMSBody"></textarea>
                                    </div>
                                    <div style="margin-top:10px;" class="d-flex  align-items-center">
                                        <div class="me-2 w">
                                            <span><b>Total: </b></span> <span class="badge badge-pill badge-primary">{{total}}</span>
                                        </div>
                                        <div class="me-2">
                                            <span><b>Credit: </b></span> <span class="badge badge-pill badge-success">{{credit}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- SMS Ends -->
    
                                <!-- Reminder Starts -->
                                <div class="emailboxlayout" *ngIf="activityName.toLowerCase() == 'reminder'">
                                    <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center modal-white-box">
                                        <span class="labelttl">{{activityName}} To </span>
                                        <span class="badge badge-pill badge-light fs-5 d-flex align-items-center"><i class="las la-user-shield fs-1 me-2"></i> {{ userName }}</span>
                                    </div>
                                    <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center modal-white-box" *ngIf="activityName.toLowerCase() == 'reminder' || activityType == 3">
                                        <span class="labelttl">Date & Time </span>
                                        <div style="position: relative;" class="datepicker">
                                            <input [owlDateTime]="dt1" required class="form-control daterangebox" required [owlDateTimeTrigger]="dt1" placeholder="Select Date Time" #myNameElem>
                                            <owl-date-time #dt1></owl-date-time>
                                            <i class="lar la-calendar"></i>
                                        </div>
                                    </div>
    
                                </div>
                                <!-- Reminder Ends -->
    
                                <!-- Notify Starts -->
                                <div class="emailboxlayout" *ngIf="activityName.toLowerCase() == 'notify'">
                                    <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center modal-white-box" *ngIf="activityName.toLowerCase() == 'notify'">
                                        <span class="labelttl">{{activityName}} To</span>
                                        <span class="badge badge-pill badge-light fs-5 d-flex align-items-center"><i class="las la-user-cog fs-1 me-2"></i> {{ item.currentAssignUserName }}</span>
                                    </div>
                                </div>
                                <!-- Notify Ends -->
    
                                <!-- To do Starts -->
                                <div class="emailboxlayout" *ngIf="activityName.toLowerCase() == 'todo'">
                                    <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center modal-white-box">
                                        <span class="labelttl">User</span>
                                        <select class="form-control brd_none" name="user" [(ngModel)]="activityLog.referanceId">
                                            <option value="0" selected>Select User</option>
                                            <option *ngFor="let item of allUsers" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
    
                                        <!-- <select class="form-control brd_none" name="user" [(ngModel)]="activityLog.referanceId">
                                            <option value="0" selected>Select User</option>
                                            <option *ngFor="let item of allUsers" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select> -->
                                    </div>
                                    <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center modal-white-box">
                                        <span class="labelttl">Priority</span>
                                        <select class="form-control brd_none" [(ngModel)]="priorityType" name="priorityId">
                                            <option value="1">Low</option>
                                            <option value="2">Heigh</option>
                                            <option value="3">Medium</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- To do Ends -->
    
                                <!-- Common Textarea -->
                                <div class="modal-white-box" *ngIf="activityName.toLowerCase() == 'reminder' || activityType == 3 || activityName.toLowerCase() == 'notify' || activityName.toLowerCase() == 'comment' || activityName.toLowerCase() == 'todo'">
                                    <textarea rows="8" cols="20" placeholder="Add Note" id="Notes" class="form-control" name="Notes" [(ngModel)]="activityLog.activityNote"></textarea>
                                </div>
    
                            </div>
                        </div>
    
    
                        <!-- Email Starts -->
    
                        <div class="modal-white-box" style="width: 96%; margin: -10px auto 15px;" *ngIf="activityName.toLowerCase() == 'email'">
                            <div class="row emailboxlayout">
                                <div class="col-md-12">
                                    <div class="m-form__group">
                                        <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center py-3" *ngIf="activityName.toLowerCase() == 'email'">
                                            <span class="labelttl"> Email From </span>
                                            <span class="badge badge-pill badge-light fs-7 d-flex align-items-center">
                                                <select class="form-control brd_none me-3" name="EmailFrom" [(ngModel)]="activityLog.emailFrom">                                                
                                                    <option *ngFor="let item of emailfromlist" value="{{item.emailAddress}}">
                                                        {{item.emailAddress}}</option>
                                                </select>
                                            </span>
                                            <!-- <i class="las la-envelope fs-1 me-2"></i> {{ emailfrom }} -->
                                        </div>
                                        <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center py-3" *ngIf="activityName.toLowerCase() == 'email'">
                                            <span class="labelttl">{{activityName}} To</span>
                                            <span class="badge badge-pill badge-light fs-5 d-flex align-items-center"><i class="las la-at fs-1 me-2"></i> {{ item.leads.emailId }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row emailboxlayout" *ngIf="activityName.toLowerCase() == 'email'">
                                <div class="col-md-12">
                                    <div class="activitysms smsemailbox brdrbottom1 d-flex align-items-center py-3">
                                        <span class="labelttl">Template</span>
                                        <select class="form-control brd_none me-3" name="EmailTemplate" [(ngModel)]="activityLog.emailTemplateId" (change)="editorLoaded()">
                                            <option value="0">New Template</option>
                                            <option *ngFor="let item of allEmailTemplates" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <select *ngIf="activityLog.emailTemplateId == 0" (change)="onTagChange($event)" class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.customeTagsId">
                                            <option value="0">CustomeTags</option>
                                            <option value="1">Custome Name</option>
                                            <option value="2">Custome Mobile</option>
                                            <option value="3">Custome Phone</option>
                                            <option value="4">Custome Email</option>
                                            <option value="5">Custome Address</option>
                                            <option value="6">SalesRep Name</option>
                                            <option value="7">SalesRep Mobile</option>
                                            <option value="8">SalesRep Email</option>
                                            <option value="9">Project No</option>
                                            <option value="10">System Capacity</option>
                                            <option value="11">All product Item</option>
                                            <option value="12">Total Quote price</option>
                                            <option value="13">Installation Date</option>
                                            <option value="14">Installer Name</option>
                                            <option value="15">Transport Company</option>
                                            <option value="16">Transport Link</option>
                                            <option value="17">Dispatched Date</option>
                                            <option value="18">Tracking No</option>
                                            <option value="19">Promo type</option>
                                            <option value="20">User Name</option>
                                            <option value="21">User Mobile</option>
                                            <option value="22">User Email</option>
                                            <option value="23">Owing</option>
                                            <option value="24">Organization Email</option>
                                            <option value="25">Organization Mobile</option>
                                            <option value="26">Organization Mobile</option>
                                            <option value="27">Organization Logo</option>
                                            <option value="28">Review Link</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="activitysms smsemailbox d-flex align-items-center py-3">
                                        <span class="labelttl">Subject</span>
                                        <span style="width:88%;">
                                            <input class="form-control subject" type="text" name="subject"
                                                [(ngModel)]="activityLog.subject" placeholder="write subject">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" *ngIf="activityLog.emailTemplateId == 0">
                                        <p-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}">
                                        </p-editor>
                                    </div>
                                    <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="activityLog.emailTemplateId != 0">
                                        <email-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
    
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()"><i
                                class="las la-times-circle"></i> {{("Cancel")}}</button>
                        <button (click)="saveDesign()" id="btnEmail" #btnEmail type="submit" class="btn btn-primary blue" *ngIf="activityName.toLowerCase() == 'email'" [disabled]="!addActivityForm.form.valid || emailbtnHidden" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                            <i class="las la-paper-plane"></i> <span>Send</span></button>
                        <button (click)="save()" id="btnsmsnotify" #btnsmsnotify type="submit" class="btn btn-primary" *ngIf="activityName.toLowerCase() == 'sms' || activityName.toLowerCase() == 'notify'" [disabled]="!addActivityForm.form.valid && smsnotifybtnhidden" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"><i class="las la-paper-plane"></i> Send</button>
                        <button (click)="save()" type="submit" class="btn btn-primary" *ngIf="activityName.toLowerCase() == 'reminder' || activityName.toLowerCase() == 'comment' || activityName.toLowerCase() == 'todo'" [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> Set</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
