<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Department' | localize" [count]="recordCount" [description]="'DepartmentHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="float-end refresh" (click)="getDepartment()">
                                    <!-- <i class="las la-redo-alt"></i> -->
                                    <!-- {{ 'Refresh' | localize }} -->
                                </button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.Department.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="las la-file-excel"></i> -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportDepartmentToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> {{ 'ExportToExcel' | localize }}
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button (click)="createDepartment()" *ngIf="'Pages.Tenant.DataVaults.Department.Create' | permission" class="btn btn-primary">
                                    <!-- {{ 'CreateNewLocations' | localize }} -->
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                </button>
                            </div>

                            <div class="me-0">
                                <form class="form searchclearbox" autocomplete="new-password" style="position: relative;">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getDepartment()"><i class="fas fa-times-circle"></i></a>
                                        <button (click)="getDepartment()" class="btn search-btn" type="submit">
                                            <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">

                <form class="form" autocomplete="new-password" style="display: none;">
                    <div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="mb-5 m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                        <button (click)="getDepartment()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getDepartment($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            scrollDirection="horizontal" scrollDirection="both" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" selectionMode="single" [(selection)]="selectedProduct1"
                            [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center actionwidth" style="width:90px;" [hidden]="
                                                !(
                                                    [
                                                        'Pages.Tenant.DataVaults.Department.Edit',
                                                        'Pages.Tenant.DataVaults.Department.Delete'
                                                    ] | permissionAny
                                                )
                                            ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 300px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 100px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width: 90px" [hidden]="!(
                                                    [
                                                        'Pages.Tenant.DataVaults.Department.Edit',
                                                        'Pages.Tenant.DataVaults.Department.Delete'
                                                    ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                                </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.Department.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditDepartmentModal.show(record.department.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.Department.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteDepartment(record.department)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 300px">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.department.name }}
                                    </td>

                                    <td style="width: 100px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.department.isActive">
                                                {{ 'Yes' | localize }}
                                            </span>
                                        <span class="badge badge-dark" *ngIf="!record.department.isActive">
                                                {{ 'No' | localize }}
                                            </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">

                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getDepartment($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>

            </div>
        </div>
        <createOrEditDepartmentModal #createOrEditDepartmentModal (modalSave)="getDepartment()"></createOrEditDepartmentModal>
    </div>
</div>