<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'Circle' | localize" [count]="recordCount" [description]="'CircleHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>

            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getCircle()">                                  
                                </button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right">
                                    <button id="dropdownButtonExcelOperations" *ngIf="'Pages.Tenant.DataVaults.Circle.ExportToExcel' | permission" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                        <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportCircleToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <!-- <i class="fa fa-download me-2 mt-1 text-dark" style="font-size: 1rem"></i> {{ 'ExportToExcel' | localize }} -->
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="me-3">
                                <button (click)="createCircle()" *ngIf="'Pages.Tenant.DataVaults.Circle.Create' | permission" class="btn btn-primary">
                                    <span class="me-2">New</span><i class="las la-plus-circle"></i>                                    
                                </button>
                            </div>
                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getCircle()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getCircle()" class="btn search-btn" type="submit">
                                                    <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getCircle($event)" [value]="primengTableHelper.records" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" scrollDirection="horizontal"
                            scrollDirection="both" [scrollable]="true" styleClass="p-mt-3" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns"
                            selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" style="width:90px;" [hidden]="
                                                    !(
                                                        [
                                                            'Pages.Tenant.DataVaults.Circle.Edit',
                                                            'Pages.Tenant.DataVaults.Circle.Delete'
                                                        ] | permissionAny
                                                    )
                                                ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th style="width: 200px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 250px" pSortableColumn="discomName">
                                        {{ 'Discom' | localize }}
                                        <p-sortIcon field="discomId"></p-sortIcon>
                                    </th>

                                    <th style="width: 200px" pSortableColumn="divisionName">
                                        {{ 'Division' | localize }}
                                        <p-sortIcon field="divisionId"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px" pSortableColumn="subDivisionName">
                                        {{ 'SubDivisionName' | localize }}
                                        <p-sortIcon field="subDivisionId"></p-sortIcon>
                                    </th>
                                    <th style="width: 90px" pSortableColumn="isActive">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width:90px;" class="text-center" [hidden]="!(
                                                        [
                                                            'Pages.Tenant.DataVaults.Circle.Edit',
                                                            'Pages.Tenant.DataVaults.Circle.Delete'
                                                        ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                        <i class="las la-ellipsis-v"></i>
                                                            <!-- <span class="caret"></span>
                                                            {{ 'Actions' | localize }} -->
                                                        </button>

                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.Circle.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditCircleModal.show(record.circle.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.Circle.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deletecircle(record.circle)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.circle.name }}
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'DiscomName' | localize }}</span> {{ record.circle.discomName }}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'DivisionName' | localize }}</span> {{ record.circle.divisionName }}
                                    </td>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ 'SubDivisionName' | localize }}</span> {{ record.circle.subDivisionName }}
                                    </td>

                                    <td style="width: 90px">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.circle.isActive">
                                                    {{ 'Yes' | localize }}
                                                </span>
                                        <span class="badge badge-dark" *ngIf="!record.circle.isActive">
                                                    {{ 'No' | localize }}
                                                </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getCircle($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
        <createOrEditCircleModal #createOrEditCircleModal (modalSave)="getCircle()"></createOrEditCircleModal>

    </div>
</div>