<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #circleForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="circle.id">{{ 'EditCircle' | localize }}</span>
                        <span *ngIf="!circle.id">{{ 'CreateNewCircle' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label for="Name" class="form-label">{{ 'Name' | localize }} *</label>
                                    <input id="Name" [(ngModel)]="circle.name" type="text" name="name" class="form-control" required maxlength="150" />
                                    <span class="icon-box" style="top:33px;"><i class="las la-map-marked"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label for="Discom" class="form-label">{{l("Discom")}}*</label>
                                    <select class="form-control" id="discomId" name="discomId" (change)="getdivision($event)" [(ngModel)]="circle.discomId" required>
                                        <option [ngValue]="undefined" selected>Select Discom</option>
                                        <option *ngFor="let item of drpdiscom" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box" style="top:33px;"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 mb-3">
                                <div class="form-group form-icon">
                                    <label for="Division" class="form-label">{{l("Division")}}
                                        *</label>
                                    <select class="form-control" id="divisionId" name="divisionId" [(ngModel)]="circle.divisionId">
                                        <option [ngValue]="undefined" selected>Select Division</option>
                                        <option *ngFor="let item of drpdivision" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box" style="top:33px;"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <div class="form-group form-icon">
                                    <label for="SubDivisionId" class="form-label">{{l("SubDivision")}}
                                        *</label>
                                    <select class="form-control" id="subDivisionId" name="subDivisionId" [(ngModel)]="circle.subDivisionId">
                                        <option [ngValue]="undefined" selected>Select SubDivision</option>
                                        <option *ngFor="let item of drpsubdivision" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box" style="top:33px;"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="form-check form-check-custom form-check-solid py-1">
                                    <input id="Editcircle_IsActive" type="checkbox" name="circleIsActive"
                                        [(ngModel)]="circle.isActive" class="form-check-input" />
                                    <span class="form-check-label">{{ 'IsActive' | localize }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!circleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>