<div class="d-flex flex-column flex-root">
    <div class="
            d-flex
            flex-column flex-column-fluid
            bgi-position-y-bottom
            position-x-center
            bgi-no-repeat bgi-size-contain bgi-attachment-fixed
        " style="background-color:#F0F9FD;">

        <div class="row">
            <div class="col-md-8">
                <div class="loginimgbox">
                    <div class="loginpage-logo" [class.pb-lg-20]="!isSelectEditionPage()" [class.pb-0]="isSelectEditionPage()">
                        <a (click)="goToHome()" href=""><img src="../assets/common/images/app-logo.svg" class="logo-img"></a>
                        <!--end::Logo-->
                    </div>
                    <img src="../assets/common/images/login-img-bg.png" *ngIf="!hasRoute('/forgot-password') && !hasRoute('/reset-password') && !hasRoute('/email-activation') && !hasRoute('/register') " class="hero-img">
                    <img src="../assets/common/images/forgot-passwordImg.svg" *ngIf="!hasRoute('/login') && !hasRoute('/confirm-email') && !hasRoute('/register')" class="hero-img" style="width: 85%;">
                    <img src="../assets/common/images/img-register.svg" *ngIf="!hasRoute('/login') && !hasRoute('/confirm-email') && !hasRoute('/reset-password') && !hasRoute('/email-activation') && !hasRoute('/forgot-password')" class="hero-img">
                </div>

            </div>
            <div class="col-md-4 whiteback">
                <div class="loginmain-box">
                    <div class="loginpage-logo d-mobile" [class.pb-lg-20]="!isSelectEditionPage()" [class.pb-0]="isSelectEditionPage()">
                        <a (click)="goToHome()" href=""><img src="../assets/common/images/app-logo.svg" class="logo-img"></a>
                    </div>
                    <div *ngIf="isSelectEditionPage()" class="container-xxl mx-auto">
                        <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                            <tenant-change></tenant-change>
                        </div>
                        <!--begin::Form-->
                        <router-outlet></router-outlet>
                        <!--end::Form-->
                    </div>
                    <div *ngIf="!isSelectEditionPage()" class="login_form">
                        <router-outlet></router-outlet>
                        <!--end::Form-->
                    </div>
                    <!--end::Wrapper-->
                </div>
            </div>
        </div>

        <!--end::Content-->
        <!--begin::Footer-->
        <div class="d-flex flex-center flex-column-auto p-10" [class.pt-0]="isSelectEditionPage()" style="display:none !important;">
            <!--begin::Links-->
            <div class="d-flex align-items-center fw-bold fs-6">
                <language-switch class="mx-auto"></language-switch>
            </div>
            <!--end::Links-->
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Authentication - Sign-in-->
</div>