<style>
    .ng-select {
        padding-top: 7px !important;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #stockItemForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="stockItem.id">{{ 'EditStockItem' | localize }}</span>
                        <span *ngIf="!stockItem.id">{{ 'CreateNewStockItem' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving"></button>
                </div>
                <div class="modal-body modal-bg-gray" style="min-height: 55vh;">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="Name" class="mb-3"><strong>{{ 'Organization List' | localize }} *</strong></label>
                                    <ng-select class="form-control selectble" [items]="organizationList" [multiple]="true" bindLabel="displayName" required [closeOnSelect]="false" bindValue="id" placeholder="Select Organization" [(ngModel)]="stockItem.organizationUnits" name="OrgnazitionListData">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label"><strong>{{ 'StockCategory' | localize }}</strong></label>
                                    <select name="StockCategory" #stockCategoryIdInput="ngModel" [(ngModel)]="stockItem.categoryId" required class="form-control" id="selectDivisionId" style="padding:0 10px ; height:41px;">
                                        <option [ngValue]="undefined" selected>Select Category</option>
                                        <option *ngFor="let item of stockCategory" value="{{item.id}}">{{item.displayName}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-boxes"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4 form-icon">
                                    <label for="Name" class="form-label"><strong>{{ 'Name' | localize }} *</strong></label>
                                    <input id="Name" [(ngModel)]="stockItem.name" type="text" name="Name" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label for="Model" class="form-label"><strong>{{ 'Model' | localize }} </strong></label>
                                    <input id="Model" [(ngModel)]="stockItem.model" type="text" name="Model" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label class="form-label" for="Manufacturer"><strong>{{ 'Manufacturer' | localize }} </strong></label>
                                    <input id="Manufacturer" [(ngModel)]="stockItem.manufacturer" type="text" name="Manufacturer" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label for="Series" class="form-label"><strong>{{ 'Series' | localize }} </strong></label>
                                    <input id="Series" [(ngModel)]="stockItem.series" type="text" name="Series" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-industry"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-4 form-icon">
                                    <label for="Size" class="form-label"><strong>{{ 'Size' | localize }} </strong></label>
                                    <input id="Size" [(ngModel)]="stockItem.size" type="text" name="Size" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-ruler-combined"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-2 form-icon">
                                    <label for="Phase" class="form-label"><strong>{{ 'Phase' | localize }} </strong></label>
                                    <input id="Phase" [(ngModel)]="stockItem.phase" type="text" name="Phase" class="form-control" required maxlength="256" />
                                    <span class="icon-box"><i class="las la-plug"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-2 form-icon">
                                    <label for="seq" class="form-label"><strong>{{ 'Seq' | localize }} </strong></label>
                                    <input id="Seq" [(ngModel)]="stockItem.seq" type="number" name="seq" class="form-control" required />
                                    <span class="icon-box"><i class="las la-sort-numeric-up"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-2 form-icon">
                                    <label for="UOM" class="form-label"><strong>{{ 'UOM' | localize }} </strong></label>
                                    <input id="UOM" [(ngModel)]="stockItem.uom" type="text" name="UOM" class="form-control" required maxlength="25" />
                                    <span class="icon-box"><i class="las la-clipboard-list"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-2">
                                    <label class="form-check form-check-custom form-check-solid py-10">
                                        <input id="Edit_IsActive" type="checkbox" name="stockItemActive"
                                            [(ngModel)]="stockItem.active" class="form-check-input" />
                                        <span class="form-check-label"><strong>{{ 'IsActive' | localize }}</strong></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-white-box" *ngIf="locationShow">
                        <div class="grid-container secondary-grid">
                            <table class="table">
                                <tr>
                                    <th>{{ 'Location' | localize }}</th>
                                    <th>{{ 'MinQty' | localize }}</th>
                                    <th>{{ 'SalesTag' | localize }}</th>
                                </tr>
                                <tr *ngFor="let item of stockItem.stockItemLocations">
                                    <td>{{item.locationName }}</td>
                                    <td>
                                        <input id="MinQty_{{item.minQty}}" [(ngModel)]="item.minQty" type="text" name="MinQty_{{item.minQty}}" class="form-control" required maxlength="256" style="max-width:160px;" />
                                    </td>
                                    <td>
                                        <label class="form-check form-check-custom form-check-solid">
                                            <input id="Edit_SalesTag_IsActive_{{item.isActive}}" type="checkbox" name="Edit_SalesTag_IsActive_{{item.isActive}}"
                                            [(ngModel)]="item.isActive" class="form-check-input" />                                        
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!stockItemForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>