<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="filter-row">
            <div class="align-items-center d-flex justify-content-between full-width-mob">
                <sub-header [title]="'StockItems' | localize" [count]="recordCount" [description]="'StockItemHeaderInfo' | localize"></sub-header>
                <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
            </div>
            <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                <div class="container-fluid">
                    <div role="actions" class="form-body filter-options">
                        <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                            <div class="me-3">
                                <button name="RefreshButton" class="refresh float-end" (click)="getStockItem()"></button>
                            </div>
                            <div class="me-3">
                                <div class="btn-group" dropdown placement="button right" [hidden]="!(['Pages.Tenant.DataVaults.StockItem.ExportToExcel','Pages.Tenant.DataVaults.StockItem.ImportToExcel'] | permissionAny)">
                                    <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                    <!-- <i class="las la-file-excel"></i>  -->Export
                                        <!-- {{ 'ExcelOperations' | localize }} -->
                                    </button>
                                    <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                        <li *ngIf="'Pages.Tenant.DataVaults.StockItem.ExportToExcel' | permission" role="menuitem">
                                            <a class="dropdown-item text-dark" id="ExportToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel me-2 mt-1 text-dark"></i> Excel
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="javascript:;" *ngIf="'Pages.Tenant.DataVaults.StockItem.ImportToExcel' | permission" role="menuitem" class="dropdown-item text-dark import-sheet">
                                                <span class="">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                        </li>
                                        <li role="menuitem">
                                            <span class="" href="# " *ngIf=" 'Pages.Tenant.DataVaults.StockItem.ImportToExcel' | permission ">
                                                <a href="/assets/sampleFiles/ImportStockItemSampleFile.xlsx"
                                                    class="dropdown-item text-dark ">
                                                    <i class="las la-file-excel "></i> {{l('Sample File')}}
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="me-3">
                                <button (click)="createStockItem()" *ngIf="'Pages.Tenant.DataVaults.StockItem.Create' | permission" class="btn btn-primary">
                                <span class="me-2">New</span><i class="las la-plus-circle"></i>
                                    <!-- {{ 'CreateNewStockItem' | localize }} -->
                                </button>
                            </div>

                            <div class="me-0">
                                <form class="form" autocomplete="new-password">
                                    <div>
                                        <div class="m-form__group align-items-center searchclearbox">
                                            <div class="input-group">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" />
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getStockItem()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getStockItem()" class="btn search-btn" type="submit">
                                                    <!-- <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i> -->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass">
            <div class="grid-container no-wrapData">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getStockItem($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="single" [selection]="true" [scrollHeight]="screenHeight - testHeight +'px'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center actionwidth" style="width: 90px;" [hidden]="
                                            !(
                                                [
                                                    'Pages.Tenant.DataVaults.StockItem.Edit',
                                                    'Pages.Tenant.DataVaults.StockIten.Delete'
                                                ] | permissionAny
                                            )
                                        ">
                                        {{ 'Actions' | localize }}
                                    </th>
                                    <th class="text-center" style="width:130px;">
                                        {{l('attachment')}}
                                    </th>
                                    <th style="width: 180px" pSortableColumn="CategoryId">
                                        {{ 'Category' | localize }}
                                        <p-sortIcon field="CategoryId"></p-sortIcon>
                                    </th>
                                    <th style="width: 250px" pSortableColumn="name">
                                        {{ 'Name' | localize }}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th style="width: 250px" pSortableColumn="model">
                                        {{ 'Model' | localize }}
                                        <p-sortIcon field="model"></p-sortIcon>
                                    </th>
                                    <th style="width: 180px" pSortableColumn="manufacturer">
                                        {{ 'Manufacturer' | localize }}
                                        <p-sortIcon field="manufacturer"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="series">
                                        {{ 'Series' | localize }}
                                        <p-sortIcon field="series"></p-sortIcon>
                                    </th>
                                    <th style="width: 120px" pSortableColumn="size">
                                        {{ 'Size' | localize }}
                                        <p-sortIcon field="size"></p-sortIcon>
                                    </th>
                                    <th style="width: 120px" pSortableColumn="Phase">
                                        {{ 'Phase' | localize }}
                                        <p-sortIcon field="phase"></p-sortIcon>
                                    </th>
                                    <th style="width: 425px" pSortableColumn="organization">
                                        {{ 'Organization' | localize }}
                                        <!-- <p-sortIcon field="name"></p-sortIcon> -->
                                    </th>
                                    <th style="width: 120px" pSortableColumn="seq">
                                        {{ 'Seq' | localize }}
                                        <p-sortIcon field="seq"></p-sortIcon>
                                    </th>
                                    <th style="width: 120px" pSortableColumn="UOM">
                                        {{ 'UOM' | localize }}
                                        <p-sortIcon field="UOM"></p-sortIcon>
                                    </th>
                                    <th style="width: 120px" class="justify-content-center" pSortableColumn="Active">
                                        {{ 'Active' | localize }}
                                        <p-sortIcon field="Active"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td class="text-center actionwidth" style="width: 90px;" [hidden]="!(
                                                [
                                                    'Pages.Tenant.DataVaults.StockItem.Edit',
                                                    'Pages.Tenant.DataVaults.StockItem.Delete'
                                                ] | permissionAny )">
                                        <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                            <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                <i class="las la-ellipsis-v"></i>
                                                    <!-- <span class="caret"></span>
                                                    {{ 'Actions' | localize }} -->
                                            </button>
                                            <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">
                                                <li *ngIf="'Pages.Tenant.DataVaults.StockItem.Edit' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="createOrEditStockItemModal.show(record.stockItem.id)">
                                                        <i class="las la-edit"></i>{{ 'Edit' | localize }}
                                                    </a>
                                                </li>

                                                <li *ngIf="'Pages.Tenant.DataVaults.StockItem.Delete' | permission" role="menuitem">
                                                    <a href="javascript:;" class="dropdown-item" (click)="deleteStockItem(record.stockItem)">
                                                        <i class="las la-trash"></i>{{ 'Delete' | localize }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="dropdown-item" (click)="addAttachmentModal.show(record.stockItem.id)">
                                                        <i class="las la-file-upload"></i> {{l('Upload')}}
                                                    </a>
                                                </li>
                                                <li *ngIf="record.stockItem.fileName">
                                                    <a href="javascript:;" class="dropdown-item" (click)="downloadfile(record.stockItem.filePath , record.stockItem.fileName)">
                                                        <i class="las la-file-download"></i> {{l('Download')}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:130px; text-align: center;">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.stockItem.fileName">
                                            {{ 'Yes' | localize }}
                                        </span>
                                        <span class="badge badge-dark" *ngIf="!record.stockItem.fileName">
                                            {{ 'No' | localize }}
                                        </span>
                                    </td>
                                    <td style="width: 180px">
                                        <span class="p-column-title">{{ 'Category' | localize }}</span> {{ record.stockItem.category }}
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Name' | localize }}</span> {{ record.stockItem.name }}
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ 'Model' | localize }}</span> {{ record.stockItem.model }}
                                    </td>
                                    <td style="width: 180px">
                                        <span class="p-column-title">{{ 'Manufacturer' | localize }}</span> {{ record.stockItem.manufacturer }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ 'Series' | localize }}</span> {{ record.stockItem.series }}
                                    </td>
                                    <td style="width: 120px">
                                        <span class="p-column-title">{{ 'Size' | localize }}</span>
                                        <span class="badge badge-primary blue">{{ record.stockItem.size }}</span>
                                    </td>
                                    <td style="width: 120px">
                                        <span class="p-column-title">{{ 'Phase' | localize }}</span> {{ record.stockItem.phase }}
                                    </td>
                                    <td style="width: 425px">
                                        <span class="p-column-title">{{ 'Organizaion' | localize }}</span>
                                        <div *ngFor="let items of record.stockItem.organizationUnitsName">
                                            <span class="badge badge-pill badge-secondary me-1">
                                                {{items}}
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width: 120px">
                                        <span class="p-column-title">{{ 'seq' | localize }}</span> {{ record.stockItem.sequence }}
                                    </td>
                                    <td style="width: 120px">
                                        <span class="p-column-title">{{ 'uom' | localize }}</span> {{ record.stockItem.uom }}
                                    </td>
                                    <td style="width: 120px" class="justify-content-center">
                                        <span class="p-column-title">{{ 'Active' | localize }}</span>
                                        <span class="badge badge-success" *ngIf="record.stockItem.isActive">
                                            {{ 'Yes' | localize }}
                                        </span>
                                        <span class="badge badge-dark" *ngIf="!record.stockItem.isActive">
                                            {{ 'No' | localize }}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ 'NoData' | localize }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getStockItem($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records"></p-paginator>

                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
        <createOrEditStockItemModal #createOrEditStockItemModal (modalSave)="getStockItem()"></createOrEditStockItemModal>
        <addAttachmentModal #addAttachmentModal (modalSave)="getStockItem()"></addAttachmentModal>
    </div>
</div>