<style>
    .lead-container {
        max-height: 63vh;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid">
    <div class="filter-row">

        <div class="align-items-center d-flex justify-content-between full-width-mob">
            <sub-header [title]="'Refund Tracker' | localize" [count]="recordCount" [description]="'RefundTracker' | localize"></sub-header>
            <a href="javascript:;" (click)="change()" class="d-mobile btn-outline me-4" style="text-align:center;"><i class="las la-filter"></i></a>
        </div>

        <div class="form mobile-filter" style="margin-left: auto;" role="actions" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
            <div class="container-fluid">
                <div class="form-body filter-options lead-filters">
                    <div class="align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between">
                        <div class="me-2">
                            <button name="RefreshButton" id="btnRefresh" class="float-end refresh" (click)="getRefundPaymentList()"></button>
                        </div>
                        <div class="me-2" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ExportToExcel')">
                            <div class="btn-group" dropdown placement="button right">
                                <button id="dropdownButtonExcelOperations" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownMenuExcelOperations">
                                    Export
                                </button>
                                <ul id="dropdownMenuExcelOperations" class="dropdown-menu dropdown-menu-right dropdown-excel-operations" role="menu" *dropdownMenu aria-labelledby="dropdownButtonExcelOperations">
                                    <li role="menuitem">
                                        <a class="dropdown-item text-dark" id="ExportCustomerToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="me-1">
                            <div class="form-group">
                                <div *ngIf="permission.isGranted('Pages.Tenant.Leads.ChangeOrganization')">
                                    <div class="me-2" *ngIf="organizationUnitlength > 0">
                                        <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getRefundPaymentList()">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="me-2">
                            <div class="form-group">
                                <select class="form-control" [(ngModel)]="refundPenddingFilter">
                                    <option value="0">Refund Pending?</option>
                                    <option value="2">Yes</option>
                                    <option value="1">No</option>                                                    
                                </select>
                            </div>
                        </div>
                        <div class="me-2">
                            <div class="form-group">
                                <select class="form-control" [(ngModel)]="refundVerifyFilter">
                                    <option value="0">Refund Verify?</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="me-2">
                            <select name="applicationstatusTrackerFilter" class="form-control" (change)="getApplicationList()" [(ngModel)]="applicationstatusTrackerFilter">
                                <option value="0">{{l("All")}}</option>
                                <option value="2">{{l("Pending")}}</option>
                                <option value="1">{{l("Complete")}}</option>
                               
                                <option value="4">{{l("Awaiting Document")}}</option>
                            </select>
                        </div> -->
                        <div class="me-2 searchclearbox" style="position: relative;">
                            <div class="input-group">
                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" (keydown.enter)="getRefundPaymentList()" [placeholder]="l('ProjectNo/CustomerName/Mobile/Email/ConsumerNo')" type="text" />
                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getRefundPaymentList()"><i class="fas fa-times-circle"></i></a>
                                <button (click)="getRefundPaymentList()" class="btn search-btn" type="submit">
                                </button>
                            </div>
                        </div>

                        <div class="kt-searchmainbox searchclearbox">
                            <div class="kt-advfilterbox me-2">
                                <button class="clickable-item btn btn-primary outline" (click)="shouldShow = !shouldShow">
                                    <i class="las la-filter"></i>
                                </button>
                            </div>
                            <div class="me-0">
                                <button class="clickable-item btn btn-primary outline" (click)="FiltersData = !FiltersData; testHeightSize();">
                                    <i class="las la-sliders-h"></i>
                                </button>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                <h3><i class="las la-filter me-3"></i> Advance Filter</h3>
                                <div class="content-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allapplicationStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Application Status" [(ngModel)]="leadApplicationStatusFilter" name="ApplicationStatusID" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ng-select [items]="allRefundReasonList" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All Refund Reason" [(ngModel)]="refundReasonFilter" name="RefundReasonIdFilter" class="form-control">
                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                        <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control me-2" bsDatepicker datePickerLuxonModifier [(date)]="StartDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <input id="SampleDatePicker" type="text" #SampleDatePicker name="SampleDatePicker" class="form-control" bsDatepicker datePickerLuxonModifier [(date)]="EndDate" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" />
                                                <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-3 justify-content-end">
                                            <button type="reset" class="btn btn-danger" (click)="clear()"><i class="fas fa-times-circle"></i>{{l( "Clear")}}</button>
                                            <button type="submit" class="btn btn-primary" ng-reflect-busy-text="Saving..." (click)="getRefundPaymentList()"><i class="fas fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" [hidden]="FiltersData">
        <div class="lead-data-box">
            <div class="box-item job-type">
                <h2>
                    Total<span>{{refundSummaryCount.total}}</span>
                </h2>
            </div>

            <div class="box-item job-type">
                <h2>
                    Pending<span>{{refundSummaryCount.pending}}</span>
                </h2>
            </div>
            <div class="box-item job-type">
                <h2>
                    Refunded<span>{{refundSummaryCount.refunded}}</span>
                </h2>
            </div>
        </div>
    </div>

    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt144_all'">
        <div class="kt-portlet kt-portlet--mobile customleadTable">
            <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                <div class="row">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container myleadtable leadtracker_table_scrool col-12 scroll-pull aaa" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone bbb': ExpandedView === true }">
                        <div class="leadmaindiv maindiv">
                            <div class="myleadtable leadcompanynamebar">
                                <div [hidden]="ExpandedView">
                                    <a class="icon_expan btnback" (click)="expandGrid()"><i
                                            class="las la-angle-double-right"></i></a>
                                </div>
                                <div class="grid-container no-wrapData">
                                    <p-table #dataTable sortMode="multiple" (onLazyLoad)="getRefundPaymentList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="false" [scrollable]="true"
                                        ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">

                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pFrozenColumn style="width:90px; border-right:0 !important;">Action</th>
                                                <th pFrozenColumn style="width: 165px" pSortableColumn="projectNumber">
                                                    {{ 'Project Number' | localize }}
                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                </th>
                                                <th style="width: 220px" [hidden]="!ExpandedView" pSortableColumn="customerName">
                                                    {{ 'Customer Name' | localize }}
                                                    <p-sortIcon field="firstName"></p-sortIcon>
                                                </th>
                                                <th style="width: 140px" [hidden]="!ExpandedView" pSortableColumn="request">
                                                    Refund Request
                                                </th>
                                                <th style="width: 120px" [hidden]="!ExpandedView" pSortableColumn="amount">
                                                    Amount
                                                </th>
                                                <th style="width: 140px" [hidden]="!ExpandedView" pSortableColumn="RefundPaidDate">
                                                    Refund Paid Date
                                                </th>
                                                <th style="width: 120px" [hidden]="!ExpandedView" pSortableColumn="RefNo">
                                                    RefferenceNo
                                                </th>
                                                <th style="width: 130px" [hidden]="!ExpandedView" pSortableColumn="reason">
                                                    Refund Reason
                                                </th>
                                                <th style="width: 180px" [hidden]="!ExpandedView" pSortableColumn="payment">
                                                    Payment Method
                                                    <p-sortIcon field="mobile"></p-sortIcon>
                                                </th>
                                                <th style="width: 240px" [hidden]="!ExpandedView" pSortableColumn="Remarks">
                                                    Remarks
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView" pSortableColumn="FollowDiscription">
                                                    Follow up Discription
                                                    <p-sortIcon field="leadsource"></p-sortIcon>
                                                </th>
                                                <th style="width: 185px; justify-content: center;" [hidden]="!ExpandedView" pSortableColumn="FollowDate">
                                                    Next follw up date
                                                    <p-sortIcon field="cityName"></p-sortIcon>
                                                </th>
                                                <th style="width: 235px" [hidden]="!ExpandedView" pSortableColumn="comment">
                                                    Comment
                                                    <p-sortIcon field="comment"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr id="selectcustomer" [pSelectableRow]="record">
                                                <td pFrozenColumn style="width:90px; border-right:0 !important;">
                                                    <div class="btn-group grid-actions" dropdown placement="bottom left" container="body">
                                                        <button id="dropdownButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdownToggle aria-controls="dropdownMenu">
                                                            <i class="las la-ellipsis-v"></i>
                                                        </button>
                                                        <ul id="dropdownMenu" class="dropdown-menu custom" role="menu" *dropdownMenu aria-labelledby="dropdownButton">

                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item" *ngIf="!record.refundTracker.isRefundVerify && record.refundTracker.LastModificationTime == null" (click)="RefundVerify(record.refundTracker)">
                                                                    <i class="las la-check-circle"></i> Verify
                                                                </a>
                                                                <a href="javascript:;" class="dropdown-item" *ngIf="record.refundTracker.isRefundVerify" (click)="createOrEditRefundVerifyModal.addRefundPayment(record.refundTracker)">
                                                                    <i class="las la-rupee-sign"></i> Refund
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item" *ngIf="record.refundTracker.isRefundVerify" (click)="RefundNotVerify(record.refundTracker)">
                                                                    <i class="las la-times-circle"></i> Not Verify
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Reminder')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.refundTracker.leaddata.id,3,0,sectionId)">
                                                                    <i class="las la-bell"></i> Reminder
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.SMS')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.refundTracker.leaddata.id,1,0,sectionId)">
                                                                    <i class="las la-comment"></i> SMS
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.ToDoList')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.refundTracker.leaddata.id,6,0,sectionId)">
                                                                    <i class="las la-tasks"></i>To Do List
                                                                </a>
                                                            </li>
                                                            <li role="menuitem" *ngIf="permission.isGranted('Pages.Tenant.Tracker.Application.Comment')">
                                                                <a href="javascript:;" class="dropdown-item" (click)="addActivityModal.show(record.refundTracker.leaddata.id,5,0,sectionId)">
                                                                    <i class="las la-comment"></i>Comment
                                                                </a>
                                                            </li>
                                                            <li role="menuitem">
                                                                <a href="javascript:;" class="dropdown-item" (click)="deleteRefundItem(record.refundTracker)">
                                                                    <i class="las la-trash"></i>Delete
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td pFrozenColumn style="width: 165px" class="gridleadimage" id="selectcustomer" (click)="navigateToLeadDetail(record);">
                                                    <span class="p-column-title">{{ 'ProjectNumber' | localize}}</span> {{ record.refundTracker.projectNumber }}
                                                </td>
                                                <td style="width: 220px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.refundTracker.customerName }}</span>
                                                </td>
                                                <td style="width: 140px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.refundTracker.creationTime | date: 'dd-MM-YYYY'
                                                    }}</span>
                                                </td>
                                                <td style="width: 120px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.refundTracker.refundPaidAmount }}</span>
                                                </td>
                                                <td style="width: 140px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.refundTracker.refundPaidDate  | date: 'dd-MM-YYYY'}}</span>
                                                </td>
                                                <td style="width: 120px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.refundTracker.receiptNo }}</span>
                                                </td>
                                                <td style="width: 130px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.refundTracker.refundReasonName }}</span>
                                                </td>
                                                <td style="width: 180px" [hidden]="!ExpandedView">
                                                    <span class="badge badge-secondary">{{ record.refundTracker.refundPaymentType }}</span>
                                                </td>
                                                <td style="width: 240px" [hidden]="!ExpandedView">
                                                    <span style="text-transform: capitalize;">{{record.refundTracker.refundPaidNotes }}</span>
                                                    <!-- this are change RefundPaidNotes -->
                                                </td>
                                                <td style="width: 235px" [hidden]="!ExpandedView" *ngIf="record.refundTracker.followDiscription != 0" class="tooltipcnt" tooltipPosition="top" pTooltip="{{ record.refundTracker.followDiscription }}">
                                                    {{record.refundTracker.followDiscription}}
                                                </td>
                                                <td style="width: 185px;" [hidden]="!ExpandedView">
                                                    <span class="badge badge-pill badge-secondary lg-font d-flex align-items-center" *ngIf="record.refundTracker.followDate > 0">
                                                        <i class="las la-calendar fs-2 me-1"></i> {{record.refundTracker.followDate | date: 'dd-MM-YYYY' }}
                                                    </span>
                                                </td>

                                                <td style="width: 235px" [hidden]="!ExpandedView" *ngIf="record.refundTracker.comment != 0">
                                                    {{record.refundTracker.comment}}
                                                    <span class="tooltipcnt" tooltipPosition="top" pTooltip="{{record.refundTracker.comment}}" style="text-transform: capitalize;">
                                                        {{record.refundTracker.comment}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ 'NoData' | localize }}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getRefundPaymentList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                            [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                                        </p-paginator>

                                    </div>
                                </div>
                            </div>

                            <div class="leadedetailleftpart right_side_scrool scrool_red" [hidden]="ExpandedView === true">
                                <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" SectionName="{{SectionName}}" (reloadLead)="reloadPage($event)">
                                </viewLeadDetail>
                            </div>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-Ends>-->
                </div>
            </div>
        </div>
    </div>

</div>
<addActivityModal #addActivityModal></addActivityModal>
<createOrEditRefundVerifyModal #createOrEditRefundVerifyModal></createOrEditRefundVerifyModal>